{% load can_edit %}
{% load helplink %}
{% load editor_controls %}

<section class="tab-pane" data-bind="css: {active: ko.unwrap($root.mainTabber.currentTab().id)=='display'}">
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        <div class="form-group">
            <label for="input-theme" class="col-sm-3 control-label">
                Interface theme 
                {% helplink 'exam/reference.html#term-Interface-theme' %}
            </label>
            <div class="col-sm-6">
                <select id="input-theme" {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: item_json.themes, value: theme, optionsText: 'name'"></select>
                <div class="help-block upload-theme"><a href="{% url 'theme_new' %}">Upload a new theme</a></div>
            </div>
        </div>

        <div class="form-group">
            <label for="input-locale" class="col-sm-3 control-label">
                Interface language {% helplink 'exam/reference.html#term-Interface-language' %}
            </label>
            <div class="col-sm-6">
                <select id="input-locale" {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: item_json.locales, value: locale, optionsValue: 'code', optionsText: 'name'"></select>
            </div>
        </div>

        {% booleanproperty 'allowPrinting' 'Allow students to print question content?' help_url='exam/reference.html#term-Allow-students-to-print-question-content' %}

        {% booleanproperty 'showstudentname' 'Show student\'s name?' help_url='exam/reference.html#term-Show-student-s-name' %}
    </form>

    {% if editable %}
    <editor-pager params="editor: $root, previousTab: 'questions', nextTab: 'navigation', task_group: 'display'"></editor-pager>
    {% endif %}
</section>
