{% load can_edit %}
{% load helplink %}
{% load editor_controls %}

<section class="tab-pane" data-bind="css: {active: ko.unwrap($root.mainTabber.currentTab().id)=='feedback'}">
    <form class="form-horizontal" data-bind="submit: Editor.noop">
    </form>

    <form class="form-horizontal" data-bind="submit: Editor.noop">
        {% with form_label_class='col-sm-3' form_control_class='col-sm-6' form_offset_class='col-sm-offset-3' %}

            {% booleanproperty 'enterreviewmodeimmediately' 'Enter review mode immediately on ending the exam?' help_url='exam/reference.html#term-Enter-feedback-mode-immediately-on-ending-the-exam' %}

            <table class="table feedback-settings-table">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col" id="radio-always">Always</th>
                        <th scope="col" data-bind="visible: !enterreviewmodeimmediately()" id="radio-inreview">In submitted mode</th>
                        <th scope="col" id="radio-inreview">Only in review mode</th>
                        <th scope="col" id="radio-never">Never</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Show answer correctness {% helplink 'exam/reference.html#term-Show-answer-state' %}</th>
                        <!-- ko foreach: feedback_timing_choices -->
                        <td><input type="radio" name="showanswerstate" data-bind="attr: {'aria-labelledby': 'radio-'+$data, value: $data}, checked: $parent.showanswerstate"></td>
                        <!-- /ko -->
                    </tr>
                    <tr>
                        <th scope="row">Show the student's score {% helplink 'exam/reference.html#term-Show-the-student-s-score' %}</th>
                        <!-- ko foreach: feedback_timing_choices -->
                        <td><input type="radio" name="showactualmark" data-bind="attr: {'aria-labelledby': 'radio-'+$data, value: $data}, checked: $parent.showactualmark"></td>
                        <!-- /ko -->
                    </tr>
                    <tr>
                        <th scope="row">Show the maximum score {% helplink 'exam/reference.html#term-Show-the-maximum-score' %}</th>
                        <!-- ko foreach: feedback_timing_choices -->
                        <td><input type="radio" name="showtotalmark" data-bind="attr: {'aria-labelledby': 'radio-'+$data, value: $data}, checked: $parent.showtotalmark"></td>
                        <!-- /ko -->
                    </tr>
                    <tr>
                        <th scope="row">Show part feedback messages {% helplink 'exam/reference.html#term-Show-part-feedback-messages' %}</th>
                        <!-- ko foreach: feedback_timing_choices -->
                        <td><input type="radio" name="showpartfeedbackmessages" data-bind="attr: {'aria-labelledby': 'radio-'+$data, value: $data}, checked: $parent.showpartfeedbackmessages"></td>
                        <!-- /ko -->
                    </tr>
                    <tr>
                        <th scope="row">Show expected answers {% helplink 'exam/reference.html#term-Show-expected-answers' %}</th>
                        <td data-bind="visible: !enterreviewmodeimmediately()"></td>
                        <td></td>
                        <!-- ko foreach: reveal_choices -->
                        <td><input type="radio" name="revealexpectedanswers" data-bind="attr: {'aria-labelledby': 'radio-'+$data, value: $data}, checked: $parent.revealexpectedanswers"></td>
                        <!-- /ko -->
                    </tr>
                    <tr>
                        <th scope="row">Show question advice {% helplink 'exam/reference.html#term-Show-question-advice' %}</th>
                        <td data-bind="visible: !enterreviewmodeimmediately()"></td>
                        <td></td>
                        <!-- ko foreach: reveal_choices -->
                        <td><input type="radio" name="revealadvice" data-bind="attr: {'aria-labelledby': 'radio-'+$data, value: $data}, checked: $parent.revealadvice"></td>
                        <!-- /ko -->
                    </tr>
                </tbody>
            </table>
        {% endwith %}
    </form>

    {% if editable %}
    <editor-pager params="editor: $root, previousTab: 'during-exam', nextTab: 'after-end', task_group: 'feedback'"></editor-pager>
    {% endif %}

</section>
