{% load can_edit %}
{% load helplink %}
{% load editor_controls %}

<section class="tab-pane" data-bind="css: {active: ko.unwrap($root.mainTabber.currentTab().id)=='navigation'}">
    <fieldset>
        <legend>Before the exam starts</legend>

        <form class="form-horizontal" data-bind="submit: Editor.noop">
            {% with form_label_class='col-sm-3' form_control_class='col-sm-6' %}

            {% booleanproperty 'showfrontpage' 'Show front page?' help_url='exam/reference.html#term-Show-front-page' %}

            {% property 'startpassword' 'Password to begin the exam' help_url='exam/reference.html#term-Password-to-begin-the-exam' %}

            {% booleanproperty 'autoSubmit' 'Automatically submit answers?' help_url='exam/reference.html#term-Automatically-submit-answers' %}

            <div class="form-group">
                <label class="{{form_label_class}} control-label">
                    Introduction
                    {% helplink 'exam/reference.html#term-Introduction' subject='the exam introduction' %}
                </label>
                <div class="{{form_control_class}}">
                    <div {% if not editable %}disabled{% endif %} data-bind="writemaths: intro"></div>
                    <p class="help-block">
                        Give any information applying to the whole exam, which the student will see before they begin.
                    </p>
                </div>
            </div>

            {% endwith %}
        </form>
    </fieldset>

    <fieldset>
        <legend>During the exam</legend>

        <form class="form-horizontal" data-bind="submit: Editor.noop">
            {% with form_label_class='col-sm-3' form_control_class='col-sm-6' %}

            {% booleanproperty 'preventleave' 'Confirm before leaving the exam while it\'s running?' help_url='exam/reference.html#term-Confirm-before-leaving-the-exam-while-it-s-running' %}

            <fieldset>
                <legend>Moving between questions</legend>

                {% selectproperty 'navigatemode' 'Question navigation mode' options='navigateModeOptions' options_text='niceName' help_url='exam/reference.html#term-Question-navigation-mode' %}

                <div data-bind="fadeVisible: navigatemode().name=='sequence'">
                    {% booleanproperty 'reverse' 'Allow move to previous question?' help_url='exam/reference.html#term-Allow-move-to-previous-question' %}
                    {% booleanproperty 'browse' 'Allow to jump to any question?' help_url='exam/reference.html#term-Allow-jump-to-any-question' %}
                </div>

                {% booleanproperty 'allowsteps' 'Enable steps?' help_url='exam/reference.html#term-Enable-steps' %}

                {% booleanproperty 'allowregen' 'Allow the student to regenerate questions?' help_url='exam/reference.html#term-Allow-the-student-to-regenerate-questions' %}

                {% booleanproperty 'allowrevealanswer' 'Allow revealing answers to a single question?' help_url='exam/reference.html#term-Allow-reveal-answer' %}

                <div data-bind="fadeVisible: navigatemode().name=='sequence' || navigatemode().name=='diagnostic'">
                    {% exam_event 'onleave' 'On leaving a question' help_url='exam/reference.html#term-On-leaving-a-question' %}
                </div>

            </fieldset>

            <fieldset>
                <legend>Ending the exam</legend>

                {% booleanproperty 'typeendtoleave' 'Require written confirmation before ending the exam?' help_url='exam/reference.html#term-Require-written-confirmation-before-ending-the-exam' %}
            </fieldset>

            <fieldset>
                <legend>Timing</legend>

                {% property 'duration' 'Exam duration (minutes)' min=0 help_url='exam/reference.html#term-Exam-duration' %}

                {% booleanproperty 'allowPause' 'Allow pausing?' help_url='exam/reference.html#term-Allow-pausing' %}

                {% exam_event 'timeout' 'On timeout' help_url='exam/reference.html#term-On-timeout-event' %}

                {% exam_event 'timedwarning' '5 minutes before timeout' help_url='exam/reference.html#term-5-minutes-before-timeout-event' %}
            </fieldset>

            {% endwith %}
        </form>
    </fieldset>

    <fieldset>
        <legend>After the exam ends</legend>
        <form class="form-horizontal" data-bind="submit: Editor.noop">
            {% with form_label_class='col-sm-3' form_control_class='col-sm-6' %}

            {% selectproperty 'activatereviewmode' 'Activate review mode when' options='activateReviewModeOptions' options_text='niceName' help_url='exam/reference.html#term-Activate-review-mode-when' %}

            {% booleanproperty 'resultsprintquestions' 'Show questions in printed results summary?' help_url='exam/reference.html#term-Show-questions-in-printed-results-summary' %}

            <div data-bind="fadeVisible: resultsprintquestions">
                {% booleanproperty 'resultsprintadvice' 'Show advice in printed results summary?' help_url='exam/reference.html#term-Show-advice-in-printed-results-summary' %}
            </div>

            {% percentproperty 'percentPass' 'Pass threshold' help_url='exam/reference.html#term-Pass-threshold' %}

            <div class="form-group">
                <label class="{{form_label_class}} control-label">
                    End message
                    {% helplink 'exam/reference.html#term-End-message' subject='the exam end message' %}
                </label>
                <div class="{{form_control_class}}">
                    <div {% if not editable %}disabled{% endif %} data-bind="writemaths: end_message"></div>
                    <p class="help-block">
                        This will be shown to the student once the exam is finished.
                    </p>
                </div>
            </div>

            <h4>
                Feedback messages
                {% helplink 'exam/reference.html#term-Feedback-messages' subject='feedback messages' %}
            </h4>
            <ul class="feedback-messages list-unstyled list-group" data-bind="foreach: feedbackMessages">
                <li class="feedback-message list-group-item clearfix">
                    <div class="form-group">
                        <label class="{{form_label_class}} control-label">
                            If the student's score is at least
                        </label>
                        <div class="{{form_control_class}} form-inline">
                            <input type="range" data-bind="inputValue: threshold" step="1" min="0" max="100"> <span class="percentproperty value" data-bind="text: ko.unwrap(threshold)+'%'"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="{{form_label_class}} control-label">
                            Show this message
                        </label>
                        <div class="{{form_control_class}}">
                            <div {% if not editable %}disabled{% endif %} data-bind="writemaths: message"></div>
                        </div>
                    </div>
                    <div class="{{form_control_class}} {{form_offset_class}}">
                        {% if editable %}<button type="button" type="button" class="delete btn btn-sm btn-danger" data-bind="click:remove"><span class="glyphicon glyphicon-remove"></span> Delete this feedback message</button>{% endif %}
                    </div>
                </li>
            </ul>
            {% if editable %}<button type="button" class="btn btn-primary" data-bind="click: addFeedbackMessage"><span class="glyphicon glyphicon-plus"></span> Add a feedback message</button>{% endif %}

            {% endwith %}
        </form>
    </fieldset>

    {% if editable %}
    <editor-pager params="editor: $root, previousTab: 'display', nextTab: 'timing', task_group: 'navigation'"></editor-pager>
    {% endif %}
</section>
