{% load can_edit %}
{% load helplink %}
{% load editor_controls %}

<section class="tab-pane" data-bind="css: {active: ko.unwrap($root.mainTabber.currentTab().id)=='timing'}">
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        {% with form_label_class='col-sm-3' form_control_class='col-sm-6' %}
        {% endwith %}
    </form>

    {% if editable %}
    <editor-pager params="editor: $root, previousTab: 'navigation', nextTab: 'feedback', task_group: 'timing'"></editor-pager>
    {% endif %}
</section>
