{% load django_tables2 %}
{% load render_table from django_tables2 %}
{% load can_edit %}
{% load sanitizer %}
{% load stamp %}
{% load user_link %}
{% load links %}
{% load explore_check %}

<!-- new -->
<div class="container-fluid">
    <div class="row results-header">
        <div class="col-md-9 col-sm-8">
            <p>{{ results.page.paginator.count}} result{{results.page.paginator.count|pluralize}}{% if search_query %} for "{{form.query.value}}"{% endif %}{% block widen_search %}{% endblock %}.</p>
        </div>
        <div class="col-md-3 col-sm-4">
            <form method="GET" action="" class="form-inline text-right" id="order_by-form">
                {% for field in form %}{% if field.name != 'order_by' %}{{field.as_hidden}}{% endif %}{% endfor %}
                <label>
                    Sort by
                    {{form.order_by}}
                </label>
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12" id="search-refine">
            <form method="GET" action="" id="search-panel-form">
                {{form.order_by.as_hidden}}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="visible-xs-inline" role="button" data-toggle="collapse" href="#collapse-refine" aria-expanded="true" aria-controls="collapse-refine">
                                Show results for <span class="caret"></span> 
                            </a>
                            <span class="hidden-xs">Show results for</span></span>
                        </h3>
                    </div>
                    <!-- List group -->
                    <div class="panel-collapse collapse-in" id="collapse-types">
                        <ul class="list-group">
                            <li class="list-group-item">
                                {{form.item_types}}
                            </li>
                        </ul>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="visible-xs-inline" role="button" data-toggle="collapse" href="#collapse-refine" aria-expanded="true" aria-controls="collapse-refine">
                                Refine by <span class="caret"></span> 
                            </a>
                            <span class="hidden-xs">Refine by</span></span>
                        </h3>
                    </div>
                    <!-- List group -->
                    <div class="panel-collapse collapse-in" id="collapse-refine">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h4><span class="glyphicon glyphicon-flag"></span> Status</h4>
                            {{ form.status }}
                        </li>
                        {% if not view_user %}
                        <li class="list-group-item">
                            <h4><span class="glyphicon glyphicon-user"></span> Author</h4>
                            {{form.author}}
                        </li>
                        {% endif %}
                        <li class="list-group-item">
                            <h4><span class="glyphicon glyphicon-tags"></span> Tags</h4>
                            {% if form.tags.value %}<div class="input-group">{% endif %}
                                <input type="text" class="form-control" id="{{form.tags.auto_id}}" name="tags" value="{{form.tags.value}}" placeholder="Tags separated by commas">
                                {% if form.tags.value %}
                                    <div class="input-group-btn">
                                        <a class="btn btn-default" href="{% querystring "tags"="" %}"><span class="glyphicon glyphicon-remove"></span></a>
                                    </div>
                                {% endif %}
                            {% if form.tags.value %}</div>{% endif %}
                        </li>
                        <li id="radio" class="list-group-item">
                            <h4><span class="glyphicon glyphicon-copyright-mark"></span> Usage rights</h4>
                            {{form.usage}}
                        </li>
                        <li class="list-group-item">
                            <h4><span class="glyphicon glyphicon-sort-by-attributes"></span> Ability Level</h4>
                            {{form.ability_framework}}
                            <div id="ability_levels">
                                {% for level,choice in ability_level_field %}
                                <div class="checkbox" data-framework="{{level.framework.pk}}" {% if level.framework.pk != form.ability_framework.value|add:"0" %}style="display: none;"{% endif %}>
                                    <label>
                                        {{choice.tag}}
                                        {{choice.choice_label}}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div id="taxonomies-form">
                                <h4><span class="glyphicon glyphicon-education"></span> Topics</h4>
                                <ul class="list-unstyled taxonomies" data-bind="foreach: taxonomies">
                                    <li>
                                        <button type="button" class="btn btn-link btn-block taxonomy-name" data-bind="click: toggleOpen">
                                            <span class="glyphicon" data-bind="css:{'glyphicon-triangle-right': !open(), 'glyphicon-triangle-bottom': open()}"></span>
                                            Taxonomy: <span data-bind="text: name"></span>
                                        </button>
                                        <div data-bind="fadeVisible: open">
                                            <div class="form-group">
                                                <input class="form-control" id="search_author" type="text" placeholder="Search for topics" size="30" data-bind="
                                                    autocomplete: search_nodes, 
                                                    autocompleteSelect: use_node
                                                    "
                                                />
                                            </div>

                                            <ul data-bind="foreach: trees"><taxonomy-node params="node: $data"></taxonomy-node></ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-block btn-primary">Update</button>
                    </div>
                </div>

                {{form.query.as_hidden}}
            </form>
        </div>

        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12" id="results">
            {% if object_list %}
            <ul class="list-unstyled">
                {% for row in results.page.object_list|default:results.rows %}
                {% with item=row.record edit_view=item.type|add:'_edit' %}
                <li class="result">
                    <div class="header">
                        <a class="item-link" href="{% url item.item_type|add:'_edit' item.rel_obj.pk item.slug %}">{{item.name}}</a>

                        <ul class="list-inline controls">
                            <li>
                                <a class="btn btn-link btn-sm test-run" target="_blank" href="{% url item.item_type|add:'_preview' item.rel_obj.pk item.slug %}"><span class="glyphicon glyphicon-play" title="Test run" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a class="btn btn-link btn-sm copy" href="{% url item.item_type|add:'_copy' item.rel_obj.pk item.slug %}"><span class="glyphicon glyphicon-duplicate" title="Make a copy of this {{item.item_type}}" aria-hidden="true"></span></a>
                            </li>
                            {% if item.item_type == 'question' %}
                            <li>
                                <a class="btn btn-link btn-sm basket add-to-basket" data-question-id="{{item.question.id}}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                            </li>
                            {% endif %}
                            <li>
                                <a class="btn btn-link btn-sm add-to-queue" title="Add this to a queue" data-item-id="{{item.id}}"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
                            </li>
                        </ul>

                        <span>{% stamp item.get_current_stamp.status %}</span>
                    </div>

                    <div class="details">

                        <span class="item-type">
                            {% if item.item_type == 'question' %}
                            <span class="glyphicon glyphicon-file"></span> Question
                            {% elif item.item_type == 'exam' %}
                            <span class="glyphicon glyphicon-book"></span> Exam (<span class="num-questions">{{item.exam.questions.count}}</span> question{{item.exam.questions.count|pluralize}})
                            {% endif %}
                        </span>

                        {% if not project %}
                        <span class="project">
                            <span class="text-muted">in</span>
                            {% project_link item.project %}
                        </span>
                        {% endif %}

                        <span class="author">
                            <span class="text-muted">by</span>
                            {% user_thumbnail item.author 20 15 link=True %} {% user_link item.author %}
                            {% with others=item.contributors.count|add:-1 %}
                            {% if others > 0 %}
                            and {{item.contributors.count|add:-1}} other{{others|pluralize}}
                            {% endif %}
                            {% endwith %}
                        </span>
                    </div>

                    <div class="description">
                        {% if item.metadata.description %}
                        {{item.metadata.description|strip_html|safe}}
                        {% else %}
                        <p class="nothing-here">No description given</p>
                        {% endif %}
                    </div>

                    <div class="explore-flag">
                        {%if item.content|is_explore %}
                            <p>Explore Mode : Yes</p>
                        {% else %}
                            <p>Explore Mode : No</p>
                        {% endif %}
                    </div>

                </li>
                {% endwith %}
                {% endfor %}
            </ul>
            {% include "pagination.html" %}
            {% else %}
            <div class="none">No items found matching your query.</div>
            {% endif %}
        </div>
    </div>
</div>

