.formfield {
    margin: 1.5em;
}

.formfield label {
    float: left;
    width: 10em;
}

#errorheader, .errorlist {
    padding: 4px;
    color: red;
}

.errorlist {
    display: inline-block;
    padding-left: 24px;
    margin: 0;
    line-height: 1.3em;
    list-style: none;
}

.errorlist:before {
    position: absolute;
    margin-left: -20px;
    width: 14px;
    height: 14px;
    content: url(../images/x_14x14.png) no-repeat 5px center;
}

