.big-name {
    margin-top: 0;
}

.bio :last-child {
    margin-bottom: 0;
}

#taglist {
    list-style: none;
    line-height: 2.5em;
    max-height: 18.5em;
    overflow-y: auto;
    background: #eee;
    margin-left: 0;
}
#taglist .tag {
    display: inline-block;
    margin: 0 0.5em;
    background: #fff;
    padding: 4px;
}

#edit-profile {
    font-style: italic;
}
