{% extends "layout.html" %}
{% load can_edit %}
{% load links %}
{% load sanitizer %}
{% load helplink %}
{% load editor_controls %}
{% load sstatic %}
{% load json_filter %}

{% block title %}{{object.name}} - {{block.super}}{% endblock %}

{% block javascripts %}
    {{block.super}}

    {% include 'numbas_runtime.html' %}

    <script type="text/javascript">
        $(document).ready(function() {
            Editor.custom_part_type = {};
        });
    </script>

    <script type="text/javascript">
        (function() {
            window.item_json = {{item_json|json|safe}};
        })();
    </script>

    <script src="{% sstatic 'js/custom_part_type/edit.js' %}"></script>
{% endblock %}

{% block content_container %}container-fluid{% endblock %}

{% block content %}
<div class="page-loading" data-bind="visible: false">
    <h1>Loading...</h1>
</div>

<div class="page-error">
    <div class="page-header text-danger">
        <h2>Error</h2>
    </div>
    <p class="text-lg">There was an error loading the page.</p>

    <pre class="trace"></pre>
</div>
<div class="loaded-content">
    <div class="page-header">
        {% block page_header %}
        <h1 class="name-header">
            <span class="glyphicon glyphicon-ok"></span> <span data-bind="text: name, click: edit_name">{{part_type.name}}</span>
        </h1>
        {% endblock page_header %}
    </div>
    <div class="row">
        <div class="col-sm-1 col-md-2 tabs">
            <div class="navbar navbar-blank">
                <ul class="nav nav-pills nav-stacked" data-bind="foreach: tabs">
                    <li data-bind="visible: visible, css: {active: $root.currentTab() == $data}">
                        <a href="#" data-bind="click: $root.currentTab">
                            <span data-bind="attr: {'class': 'glyphicon glyphicon-'+icon, title: title}"></span> 
                            <span class="hidden-sm" data-bind="text: title"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-11 col-md-10 editing">
            <div class="tab-content">
            {% block main_tab_content %}
                <!-- Description -->
                <section class="tab-pane" data-bind="css: {active: ko.unwrap($root.currentTab().id)=='description'}">
                    <div class="form-group name">
                        <label>Name</label>
                        <input id="name-input" {% if not editable %}disabled{% endif %} class="form-control input-lg" data-bind="textInput: name">
                    </div>

                    <div class="form-group description">
                        <label>Description</label>
                        <div id="description-input" {% if not editable %}disabled{% endif %} data-bind="writemaths: description"></div>
                        <p class="help-block">
                            {% helplink 'custom_part_type/reference.html#term-description' subject='the description field' %}
                            Describe how this part type works, and what kinds of questions it is appropriate for.
                        </p>
                    </div>

                    {% if editable %}
                    <editor-pager params="editor: $root, nextTab: 'settings', task_group: 'description'"></editor-pager>
                    {% endif %}
                </section>

                <!-- Part settings -->
                <section class="tab-pane" data-bind="css: {active: ko.unwrap($root.currentTab().id)=='settings'}">
                    <ul class="list-unstyled" data-bind="foreach: settings">
                        <li>
                            <div class="panel" data-bind="css: {'panel-default': valid(), 'panel-warning': !valid()}">
                                <div class="panel-heading">
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            {% if editable %}
                                            <button type="button" class="btn btn-link" data-bind="click: moveUp, visible: canMove('up')" title="Move this setting up one place"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                            <button type="button" class="btn btn-link" data-bind="click: moveDown, visible: canMove('down')" title="Move this setting down one place"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                            {% endif %}
                                        </div>
                                        {% if editable %}
                                        <button type="button" class="btn btn-link" data-bind="click: $parent.remove_setting" title="Remove this setting"><span class="glyphicon glyphicon-remove text-danger"></span></button>
                                        {% endif %}
                                    </div>

                                    <span data-bind="visible: label"><strong data-bind="text: label"></strong> (<span data-bind="text: input_type().niceName"></span>)</span>
                                    <span data-bind="visible: !label()"><span data-bind="text: input_type().niceName"></span></span>
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal" data-bind="submit: Editor.noop">
                                        {% property 'name' 'Name' monospace=True warning='nameError' %}
                                        {% property 'label' 'Label' warning='!label() ? \'A label is required\' : \'\'' %}
                                        {% property 'help_url' 'Help URL' monospace=True %}
                                        <!-- ko with: input_type -->

                                        <!-- ko if: $parent.input_type().name == 'string' -->
                                        {% property 'model.default_value' 'Default value' %}
                                        {% booleanproperty 'model.subvars' 'Substitute variables into value?' %}
                                        <!-- /ko -->

                                        <!-- ko if: $parent.input_type().name == 'mathematical_expression' -->
                                        {% jmeproperty 'model.default_value' 'Default value' %}
                                        {% booleanproperty 'model.subvars' 'Substitute variables into value?' %}
                                        <!-- /ko -->

                                        <!-- ko if: $parent.input_type().name == 'checkbox' -->
                                        {% booleanproperty 'model.default_value' 'Default value' %}
                                        <!-- /ko -->

                                        <!-- ko if: $parent.input_type().name == 'dropdown' -->
                                        <div class="form-group">
                                            <label class="label-block">
                                                <div class="{{form_label_class}} control-label">
                                                    Choices
                                                </div>
                                            </label>
                                            <div class="{{form_control_class}}">
                                                <ul class="list-unstyled" data-bind="foreach: model.choices">
                                                    <li>
                                                        <div class="form-group">
                                                            <label class="col-xs-12 col-sm-6" data-bind="css: {'has-error': !value()}">
                                                                Value
                                                                <input {% if not editable %}disabled{% endif %} type="text" data-bind="textInput: value" class="form-control monospace">
                                                            </label>
                                                            <label class="col-xs-12 col-sm-6" data-bind="css: {'has-error': !label()}">
                                                                Label
                                                                <input {% if not editable %}disabled{% endif %} type="text" data-bind="textInput: label" class="form-control">
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                                {% if editable %}
                                                <div data-bind="visible: !valid()" class="alert alert-danger">
                                                    <p data-bind="visible: model.choices().length==0">Add at least one choice.</p>
                                                    <p data-bind="visible: model.choices().length && model.valid_choices().length<model.choices().length">Complete every choice.</p>
                                                </div>
                                                <button type="button" class="btn btn-primary" data-bind="click: model.add_choice">
                                                    <span class="glyphicon glyphicon-plus"></span> <span data-bind="text: model.choices().length ? 'Add another choice' : 'Add a choice'"></span>
                                                </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- ko if: model.valid_choices().length>0 -->
                                        {% selectproperty 'model.default_value' 'Default value' options_text='label' options='model.valid_choices' %}
                                        <!-- /ko -->
                                        <!-- /ko -->

                                        <!-- ko if: $parent.input_type().name == 'choose_several' -->
                                        <div class="form-group">
                                            <label class="label-block">
                                                <div class="{{form_label_class}} control-label">
                                                    Choices
                                                </div>
                                            </label>
                                            <div class="{{form_control_class}}">
                                                <ul class="list-unstyled" data-bind="foreach: model.choices">
                                                    <li>
                                                        <div class="form-group">
                                                            <label class="col-xs-12 col-sm-4" data-bind="css: {'has-error': !value()}">
                                                                Value
                                                                <input {% if not editable %}disabled{% endif %} type="text" data-bind="textInput: value" class="form-control monospace">
                                                            </label>
                                                            <label class="col-xs-12 col-sm-6" data-bind="css: {'has-error': !label()}">
                                                                Label
                                                                <input {% if not editable %}disabled{% endif %} type="text" data-bind="textInput: label" class="form-control">
                                                            </label>
                                                            <label class="col-xs-12 col-sm-2">
                                                                Default on?
                                                                <input {% if not editable %}disabled{% endif %} type="checkbox" data-bind="checked: default_value">
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                                {% if editable %}
                                                <div data-bind="visible: !valid()" class="alert alert-danger">
                                                    <p data-bind="visible: model.choices().length==0">Add at least one choice.</p>
                                                    <p data-bind="visible: model.choices().length && model.valid_choices().length<model.choices().length">Complete every choice.</p>
                                                </div>
                                                <button type="button" class="btn btn-primary" data-bind="click: model.add_choice">
                                                    <span class="glyphicon glyphicon-plus"></span> <span data-bind="text: model.choices().length ? 'Add another choice' : 'Add a choice'"></span>
                                                </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- /ko -->

                                        <!-- ko if: $parent.input_type().name == 'code' -->
                                        <div class="form-group">
                                            <label class="label-block">
                                                <div class="{{form_label_class}} control-label">
                                                    Default value
                                                </div>
                                            </label>
                                            <div class="{{form_control_class}}">
                                                <textarea {% if not editable %}disabled{% endif %} class="def" data-bind="codemirror: model.default_value, codemirrorMode: 'jme'"></textarea>
                                            </div>
                                        </div>
                                        {% booleanproperty 'model.evaluate' 'Evaluate?' %}
                                        <!-- /ko -->

                                        <!-- ko if: $parent.input_type().name == 'percent' -->
                                        {% percentproperty 'model.default_value' 'Default value' %}
                                        <!-- /ko -->

                                        <!-- ko if: $parent.input_type().name == 'html' -->
                                        <div class="form-group">
                                            <label class="label-block">
                                                <div class="{{form_label_class}} control-label">
                                                    Default value
                                                </div>
                                            </label>
                                            <div class="{{form_control_class}}">
                                                <div {% if not editable %}disabled{% endif %} data-bind="writemaths: model.default_value"></div>
                                            </div>
                                        </div>
                                        {% booleanproperty 'model.subvars' 'Substitute variables into value?' %}
                                        <!-- /ko -->

                                        <!-- ko if: $parent.input_type().name == 'list_of_strings' -->
                                        <div class="form-group">
                                            <label class="label-block">
                                                <div class="{{form_label_class}} control-label">
                                                    Default value
                                                </div>
                                            </label>
                                            <div class="{{form_control_class}}">
                                                <listbox params="items: model.default_value{% if not editable %}, disabled: true{% endif %}"></listbox>
                                            </div>
                                        </div>
                                        {% booleanproperty 'model.subvars' 'Substitute variables into value?' %}
                                        <!-- /ko -->

                                        <!-- /ko -->

                                        <div class="form-group">
                                            <label class="label-block">
                                                <div class="{{form_label_class}} control-label">
                                                    Input hint for question author
                                                </div>
                                            </label>
                                            <div class="{{form_control_class}}">
                                                <div {% if not editable %}disabled{% endif %} data-bind="writemaths: hint"></div>
                                                <p class="help-block">
                                                    Describe how this setting should be used.
                                                </p>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                    {% if editable %}
                    <div class="btn-group">
                        <button id="add-setting-button" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bind="css: {'btn-lg': settings().length==0}">
                            <span class="glyphicon glyphicon-plus"></span> <span data-bind="text: settings().length ? 'Add another setting' : 'Add a setting'"></span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" data-bind="foreach: Editor.custom_part_type.setting_types">
                            <li><a href="#" data-bind="click: $parent.add_setting, text: niceName"></a></li>
                        </ul>
                    </div>
                    {% endif %}

                    {% if editable %}
                    <editor-pager params="editor: $root, previousTab: 'description', nextTab: 'input', task_group: 'settings'"></editor-pager>
                    {% endif %}
                </section>

                <!-- Answer input -->
                <section class="tab-pane" data-bind="css: {active: ko.unwrap($root.currentTab().id)=='input'}">
                    <form class="form-horizontal" data-bind="submit: Editor.noop">
                        {% selectproperty 'input_widget' 'Answer input method' options_text='niceName' options='input_widgets' help_url='custom_part_type.html#term-answer-input-method' %}

                        <div class="form-group">
                            <label class="{{form_label_class}} control-label">
                                Expected answer
                            </label>
                            <div class="{{form_control_class}}">
                                <textarea {% if not editable %}disabled{% endif %} data-bind="codemirror: input_options.correctAnswer, codemirrorMode: 'jme'"></textarea>
                                <undefined-variable-warning params="expr: input_options.correctAnswer"></undefined-variable-warning>
                                <p class="help-block">
                                    An expression which evaluates to the expected answer to the part. You can refer to any of the part's settings.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="{{form_label_class}} control-label">
                                Input hint
                            </label>
                            <div class="{{form_control_class}}">
                                <textarea {% if not editable %}disabled{% endif %} data-bind="codemirror: input_options.hint, codemirrorMode: 'jme'"></textarea>
                                <undefined-variable-warning params="expr: input_options.hint"></undefined-variable-warning>
                                <p class="help-block">
                                    An expression which evaluates to a string giving the student any necessary information about how to enter their answer.
                                </p>
                            </div>
                        </div>

                        <div data-bind="if: input_widget().name=='radios'">
                        <!-- ko with: input_widget().model -->
                            <div class="form-group">
                                <label class="{{form_label_class}} control-label">
                                    Choices
                                </label>
                                <div class="{{form_control_class}}">
                                    <textarea {% if not editable %}disabled{% endif %} data-bind="codemirror: choices, codemirrorMode: 'jme'"></textarea>
                                    <undefined-variable-warning params="expr: choices"></undefined-variable-warning>
                                    <p class="help-block">
                                        An expression which evaluates to a list of choices to present to the student.
                                    </p>
                                </div>
                            </div>
                        <!-- /ko -->
                        </div>

                        <div data-bind="if: input_widget().name=='checkboxes'">
                        <!-- ko with: input_widget().model -->
                            <div class="form-group">
                                <label class="{{form_label_class}} control-label">
                                    Choices
                                </label>
                                <div class="{{form_control_class}}">
                                    <textarea {% if not editable %}disabled{% endif %} data-bind="codemirror: choices, codemirrorMode: 'jme'"></textarea>
                                    <p class="help-block">
                                        An expression which evaluates to a list of choices to present to the student.
                                    </p>
                                </div>
                            </div>
                        <!-- /ko -->
                        </div>

                        <div data-bind="if: input_widget().name=='dropdown'">
                        <!-- ko with: input_widget().model -->
                            <div class="form-group">
                                <label class="{{form_label_class}} control-label">
                                    Choices
                                </label>
                                <div class="{{form_control_class}}">
                                    <textarea {% if not editable %}disabled{% endif %} data-bind="codemirror: choices, codemirrorMode: 'jme'"></textarea>
                                    <p class="help-block">
                                        An expression which evaluates to a list of choices to present to the student.
                                    </p>
                                </div>
                            </div>
                        <!-- /ko -->
                        </div>
                    </form>

                    {% if editable %}
                    <editor-pager params="editor: $root, previousTab: 'settings', nextTab: 'marking', task_group: 'input'"></editor-pager>
                    {% endif %}
                </section>

                <!-- Marking algorithm -->
                <section class="tab-pane" data-bind="css: {active: ko.unwrap($root.currentTab().id)=='marking'}">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-lg-9" data-bind="visible: marking_notes().length==0">
                                <p class="nothing-here">No marking notes have been defined.</p>
                            </div>
                            <div class="col-sm-12 col-md-8 col-lg-9 note-definition" data-bind="visible: marking_notes().length, with: current_marking_note">
                                <form data-bind="submit: Editor.noop">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input {% if not editable %}disabled{% endif %} type="text" placeholder="Name" class="form-control name monospace" data-bind="textInput: _name, disable: required"/>
                                        <p class="help-block" data-bind="visible: required">This note is required.</p>
                                        <span class="name-error text-danger" data-bind="text: nameError, visible: nameError"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Definition</label>
                                        <textarea {% if not editable %}disabled{% endif %} class="definition" data-bind="codemirror: definition"></textarea>
                                        <undefined-variable-warning params="expr: definition, vars: $parent.marking_note_names"></undefined-variable-warning>
                                        <div class="alert alert-danger" data-bind="visible: definitionError">
                                            <p data-bind="html: definitionError"></p>
                                        </div>
                                        <p class="help-block text-right">
                                            <a class="helplink text-info" href="{{DOCS_URL}}jme-reference.html" target="_blank">JME function reference <span class="glyphicon glyphicon-question-sign"></span></a>
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <div data-bind="visible: !required(), writemaths: description"></div>
                                        <div data-bind="visible: required, html: description"></div>
                                    </div>

                                </form>

                                <div data-bind="visible: dependencies().length>0" class="inline-names">
                                    <label>← Depends on:</label>
                                    <ul class="list-inline" data-bind="foreach: dependencies">
                                        <li><span class="btn btn-sm monospace" data-bind="click: go_to, text: name, css: {'btn-warning': !exists, 'btn-info': exists}, attr: {title: title}"></span></li>
                                    </ul>
                                </div>
                                <div data-bind="visible: used_by().length>0" class="inline-names">
                                    <label>→ Used by:</label>
                                    <ul class="list-inline" data-bind="foreach: used_by">
                                        <li><span class="btn btn-sm btn-info monospace" data-bind="click: $parents[1].current_marking_note, text: name"></span></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-4 col-lg-3">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Marking notes</h3>
                                    </div>
                                    <ul class="list-group list-group-hover" data-bind="foreach: marking_notes">
                                        <li class="list-group-item" data-bind="css: {active: $data == $parent.current_marking_note()}, click: $parent.current_marking_note">
                                            <button type="button" class="pull-right btn btn-link" data-bind="visible: !required(), click: $parent.remove_marking_note" title="Remove this marking note"><span class="glyphicon glyphicon-remove text-danger"></span></button>
                                            <span data-bind="css: {monospace: name()}, text: name() || 'Unnamed note'"></span>
                                        </li>
                                    </ul>
                                    <div class="panel-footer">
                                        {% if editable %}
                                        <button type="button" class="btn btn-default add-marking-note" data-bind="click: add_marking_note">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            Add a marking note
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if editable %}
                    <editor-pager params="editor: $root, previousTab: 'input', task_group: 'marking'"></editor-pager>
                    {% endif %}
                </section>
            {% endblock main_tab_content %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
