<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
        <title>{% block title %}Numbas editor setup{% endblock title %}</title>
        {% block head %}
        {% endblock head %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <header>
            <h1>Numbas editor setup</h1>
        </header>

        <main>
            {% block main %}
            {% endblock main %}
        </main>
    </body>
</html>

