{% extends "base.html" %}

{% block head %}
    <script src="/static/script.js" defer></script>
{% endblock head %}

{% block main %}
    <section id="intro">
        <p>This script will configure the Numbas editor up to a point where you can open it in a web browser, based on your answers to the following questions.</p>
        {% if not command.valid_input %} 
            <p>Error:
                {% for item in command.response %}
                 {{item}}
                {% endfor %}
            </p> {% endif %}
    </section>

    <form method="POST">
        {% for header, questions in command.questions %}
            <section>
                <h2>{{header}}</h2>
                <ul class="questions">
                    {% for q in questions %}
                    <label {% if q.hide.dev_overridden %} class="dev" {% endif %} {% if q.hide.superuser_question %} class="superuser" {% endif %} for="question-{{q.key}}">
                        {{q.question}}
                    </label>
                    {% if q.kind == 'dropdown' %}
                    <select {% if q.hide.dev_overridden %} class="dev" {% endif %} {% if q.hide.superuser_question %} class="superuser" {% endif %} id="question-{{q.key}}" name="{{q.key}}">
                        {% for value, text in q.options %}
                        <option value="{{value}}" {% if value == q.default %}selected{% endif %}>{{text}}</option>
                        {% endfor %}
                    </select>
                    {% elif q.kind == 'str' %}
                    <input {% if q.hide.dev_overridden %} class="dev" {% endif %} {% if q.hide.superuser_question %} class="superuser" {% endif %} id="question-{{q.key}}" type="text" name="{{q.key}}" value="{{q.default}}">
                    {% elif q.kind == 'bool' %}
                    <input {% if q.hide.dev_overridden %} class="dev" {% endif %} {% if q.hide.superuser_question %} class="superuser" {% endif %} id="question-{{q.key}}" type="checkbox" name="{{q.key}}" {% if q.default %}checked{% endif %} value=True>
                    {% endif %}
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}

        <button type="submit">Save</button>
    </form>
{% endblock main %}
