{% extends "numbas_editor_lti/base.html" %}
{% load sstatic %}

{% block title %}{{item.name}}{% endblock %}

{% block scripts %}
    {{block.super}}
    <script src="{% sstatic 'js/knockout.js' %}"></script>
    <script src="{% sstatic 'numbas_editor_lti/scorm.js' %}"></script>
    {{scorm_cmi|json_script:"scorm-cmi"}}
    {{js_data|json_script:"lti-data"}}
    <script src="{% sstatic 'numbas_editor_lti/attempt.js' %}"></script>
{% endblock scripts %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="{% sstatic 'numbas_editor_lti/attempt.css' %}"></link>
{% endblock stylesheets %}

{% block content %}
    <div id="choose-attempt" class="container container-fluid" data-bind="visible: !current_attempt()">
        <header>
            <h1>{{lti_context.exam.editoritem.name}}</h1>
        </header>
        <main>
            <p>Choose an attempt to resume, or start a new attempt.</p>
            <table class="table">
                <tbody data-bind="foreach: attempts">
                    <tr>
                        <td>Attempt begun at <span data-bind="text: start_time"></span></td>
                        <td><span data-bind="attempt.completion_status"></span></td>
                        <td>
                            <button class="btn btn-default" type="button" data-bind="click: begin">
                                <span data-bind="text: resume_label"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" type="button" data-bind="click: new_attempt">Start a new attempt</button>
        </main>
    </div>
    <div id="exam-container" data-bind="visible: current_attempt">
        <div id="exams">
        </div>
    </div>
{% endblock content %}
