{% load sstatic %}
<!doctype html>
<html>
    <head>
        <title>{{item.name}}</title>
        <script src="{% sstatic 'numbas_editor_lti/scorm.js' %}"></script>
        {{scorm_cmi|json_script:"scorm-cmi"}}
        <script>
            var scorm_cmi = JSON.parse(document.getElementById('scorm-cmi').textContent);
            var sc = new SCORM_API(scorm_cmi, {{lti_context.pk}});
            window.API_1484_11 = sc.API_1484_11;
            console.log(sc);
            var last_score = 0, current_score = 0;

            var csrf=document.cookie.split(';').map(x=>x.split('=')).find(x=>x[0]=='csrftoken')[1]

            function send_score(score) {
                var formData = new FormData(); 
                formData.append('score',score);
                fetch('post_result',{
                    method:'POST',
                    credentials:'same-origin',
                    headers:{'X-CSRFToken':csrf},
                    body:formData
                }).then(function(r) {
                    console.log('score saved');
                    r.text().then(function(t) { console.log(t); });
                });
            }

            sc.callbacks.on('SetValue',function(key,value,changed) {
                if(key!='cmi.score.scaled') {
                    return;
                }
                current_score = value;
            });
            sc.callbacks.on('Commit',function() {
                console.log("COMMIT");
                if(current_score != last_score) {
                    console.log('score',current_score);
                    send_score(current_score);
                    last_score = current_score;
                }
            });
        </script>
    </head>
    <body style="margin: 0; overflow: hidden;">
        <iframe src="{{exam_url}}" style="width: 100vw;height:100vh; border: none;"></iframe>
    </body>
</html>

