{% extends "layout.html" %}

{% block title %}Delete theme "{{object.name}}" - {{block.super}}{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>Delete theme <em>"{{object.name}}"</em></h1>
</div>

<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete this theme?</p>
    {% with object.used_in_newexams.all as used_in_exams %}
    <p>It's used in {{used_in_exams|length}} exam{{used_in_exams|pluralize}}.</p>
    {% endwith %}

    <p><button type="submit" class="btn btn-danger" title="Delete this theme">Yes</button> <a class="btn btn-default" title="Don't delete this theme" href="{% url 'theme_list_profile' request.user.pk %}">No</a></p>
</form>
{% endblock content %}
