{% load humanize %}
{% load notifications_tags %}
{% notifications_unread as unread_notifications %}

    <li class="text-right">
        <a href="{% url 'notifications:all' %}">
            All your notifications
            <span class="glyphicon glyphicon-envelope"></span>
        </a>
    </li>
    <li role="separator" class="divider"></li>
{% for notification in page_obj %}
    <li class="notification">
        <a tabindex="-1" href="{% url 'open_notification' notification.pk %}">
            <div class="description">
                <span class="glyphicon glyphicon-{{notification.target.icon}}"></span>
                {{notification.actor.get_full_name}} {{notification.verb}} <span class="target">{{notification.target}}</span>
            </div>
            <div class="time">{{notification.timestamp|naturaltime}}</div>
        </a>
    </li>
{% endfor %}
{% if unread_notifications %}
    <li role="separator" class="divider"></li>
    <li>
        <a tabindex="-1" class="mark-all-as-read action" href="{% url 'notifications:mark_all_as_read' %}">
            <span class="glyphicon glyphicon-eye-open"></span>
            Mark all as read
        </a>
    </li>
{% else %}
    <li>No unread notifications</li>
{% endif %}
