.nothing-here {
	font-style: italic;
}

#editor-controls-collapse.navbar-collapse {
    padding: 0;
}

.share-link {
    font-family: monospace;
}

.CodeMirror {
	border: 1px solid #ccc;
	height: auto;
	min-height: 2.8em;
    margin-bottom: 1em;
}
.CodeMirror-scroll {
	height: auto;
	max-height: 90vh;
}

.writemathsContainer {
    margin-bottom: 1em;
}

.writemathsContainer textarea.wmTextArea {
	display: none;
}

.writemathsContainer .CodeMirror {
	display: inherit;
	width: 100%;
}
.writemathsContainer.on .CodeMirror {
	display: none;
}

.writemathsContainer .wmToggle {
	border: none;
	background: none;
	padding: 0;
}

.writemathsContainer .wmToggle:before {
	content: url(../images/x_14x14.png);
	padding-left: 4px;
}

.writemathsContainer.on .wmToggle:before {
	content: url(../images/check_16x13.png);
}

body.mce-fullscreen .mce-fullscreen {
    z-index: 1000;
}

/*
.mce-tinymce:not(.wm-focus) .mce-toolbar,
.mce-tinymce:not(.wm-focus) .mce-toolbar-grp 
{
    display: none;
}
.mce-tinymce:not(.wm-focus) .mce-edit-area {
    border: none !important;
}
    */

.mce-container .mce-preview-footer {
    bottom: 0em;
    background: hsl(0,100%,90%);
    width: 100%;
    padding: 0.2em;
    border-top: 1px solid hsl(0,100%,80%);
    font-style: italic;
}
.mce-container .mce-preview-content {
    width: 100%;
    height: 100%;
    padding: 1em;
}

.transparent-input:not(:focus):not(:hover), .transparent-input[readonly] {
    background: none;
    border: none;
    padding: 3px 2px;
}

.timeline-write-comment {
    margin-bottom: 2em;
}

.jme-var {
	color: olive;
}

.jme-simplify {
	color: blue;
}

.jme-subvar {
	color: gray;
}

.jme-error {
    color: red;
}

gapfill {
	border: 1px solid #888;
	padding: 0.1em 0.3em;
	color: #888;
	border-radius: 2px;
	display: inline-block;
}

.help-block {
    font-weight: normal;
}
.help-block.help-block-inline {
    display: inline;
}

editor-pager .still-to-do {
    cursor: pointer;
}
editor-pager nav {
    border-top: 1px solid #eee;
    margin-top: 4rem;
}

.pager li.ready a {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.pager li.ready:focus a {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.pager li.ready:hover a {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

@media (min-width: 768px) and (max-width: 992px) {
    .nav-pills.nav-stacked > li > a {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
}

/*
#name-header {
    padding: 0;
    min-height: 1.2em;
    font-size: 2em;
    margin-top: 0;
}

#admin {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 24px;
    list-style: none;
    margin: 0;
	line-height: 1.5em;
}
#admin > li {
    display: inline-block;
    margin-right: 2em;
    vertical-align: top;
}

.row-fluid.section:not(:last-child) {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
}
#controls {
	margin-bottom: 1em;
}

.controlbox a:before {
	margin-right: 4px;
}

.icon-button {
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 0 0.5em 0;
    background: none;
	vertical-align: baseline;
}
.icon-button:focus, .icon-button:hover {
	background-color: transparent;
}

.star {
    background: url(../images/star_24x24_grey.png);
}

.star.starred, .star:hover {
    background: url(../images/star_24x24_yellow.png);
}

.controlbox .preview-li {
    width: 10em;
	position: relative;
}

.controlbox .stamp-of-approval-dropdown {
	margin-left: 6px;
}

.stamp-buttons .stamp-yes {
    float: left;
}

.stamp-buttons .stamp-no {
    float: right;
}

form.licence {
    margin-bottom: 0;
}

#preview-error {
	max-height: 15em;
	overflow-y:scroll;
}

body .wm_preview {
	padding: 1.5em;
}

button.delete {
	background: transparent url(../images/x_alt_16x16.png) no-repeat;
	width: 16px;
	height: 16px;
	border:none;
	margin-left: .3em;
	padding: 0;
}
button.delete:hover {
	cursor:pointer;
	background-color: #f90;
    border-radius: 50%;
}
button.delete-grey {
	background: transparent url(../images/x_14x14.png) no-repeat center;
	width: 14px;
	height: 14px;
    padding: 9px;
}
button.delete-grey:hover {
    border-radius: 0;
}



.listbox ul {
	display:inline-block;
	padding: 0;
	margin: 0;
	background: white;
}

.listbox li {
	display:inline-block;
	margin-right:.2em;
	background: #ddd;
	padding:0 .3em;
	font-family:monospace;
    float: left
}
.listbox li:hover {
	background: #bbb;
	cursor:default;
}

.handle {
	cursor: move;
	width: 6px;
	height: 2.5em;
	display: inline-block;
	background: transparent url(../images/move_vertical_6x16.png) no-repeat;
	padding: 2px 8px;
	padding-left: 30px;
	background-position: center center;
	vertical-align: middle;
}
.handle:hover {
	background-color: #f90;
}


.ui-effects-wrapper {
	display: inline-block;
}

.nav-list {
	margin-bottom: 1em;
}

.access-search {
    margin-top: 2em;
}
.access-search:first-child {
    margin-top: 0;
}

.form-inline .control-label .helplink.small {
    vertical-align: middle;
}

.helplink.small {
    background: #ddd;
    width: 14px;
    height: 14px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    border-radius: 50%;
    font-size: 10px;
    font-weight: normal;
    line-height: 14px;
    margin-left: 5px;
	border: 1px solid #08c;
	opacity: 0.5;
}
.helplink.small:hover {
    text-decoration: none;
    background: #fc0;
	opacity: 1;
	border-color: #005580;
}

.helplink.big {
    margin-bottom: 0.5em;
    display: inline-block;
}

.control-label {
    position: relative;
    padding-right: 30px;
}
.form-horizontal .control-label .helplink {
    position: absolute;
    top: 7px;
    right: 10px;
}

.span4 select, .span4 input {
	max-width: 170px;
}

.timeline-write-comment {
    margin: 1em 0;
}
.timeline-write-comment h4 {
    margin: 0;
}

.timeline-write-comment form {
    padding: 0 1em;
}
.timeline-write-comment form .buttons {
    margin-top: 0.5em;
}

.timeline-event td {
    padding: 0.5em 0.3em 0.8em 0.3em;
	vertical-align: top;
}
.timeline-event .action {
    border-right: 1px solid  #eee;
    /* border-left: 1px solid #eee; */
}
.timeline-event:not(:last-child) td {
	border-bottom: 1px solid #eee;
}

.timeline-event td:not(:last-child) {
	white-space: nowrap;
}
.timeline-event td:last-child {
	width: 95%;
}

.timeline-event.deleting {
    opacity: 0.5;
}

.timeline-event.version .comment {
	padding: 4px 6px;
	margin: 0;
}
.timeline-event.version .comment .edit-comment {
    margin: 0;
    border: 0;
    box-shadow: none;
    font-size: 1em;
    min-width: 10em;
	color: black;
	padding: 3px;
}
.timeline-event.version .comment .edit-comment:hover {
    background: #acdeff;
}
.timeline-event.version .comment .edit-comment:focus {
    background: #eee;
}

#edit-history {
	text-align: right;
}
#edit-history button {
	border: none;
	background: none;
	font-size: 1.3em;
	padding: 0.5em;
	margin: 0;
    cursor: default;
}
#edit-history button:hover:enabled {
	background: #f90;
	color: white;
    cursor: pointer;
}

.add-to-basket {
    transition: transform 0.1s;
}

.add-to-basket:active {
    transform: scale(1.2);
}

*/
