.nothing-here {
    font-style: italic;
}

#editor-controls-collapse.navbar-collapse {
    padding: 0;
}

.share-link {
    font-family: monospace;
}

.note-editor.form-control {
    height: auto;
    min-height: 5em;
}

.well.not-editing {
    background: none;
    font-weight: normal;
    cursor: default;
}

.well.not-editing .click-to-edit {
    text-align: right;
    margin-bottom: -1em;
    font-size: 0.9em;
    font-weight: bold;
}

.CodeMirror {
    border: 1px solid #ccc;
    height: auto;
    min-height: 2.8em;
    margin-bottom: 1em;
}
.CodeMirror-scroll {
    height: auto;
    max-height: 90vh;
}

.CodeMirror-hints {
    background: #a2d1f0;
}

.CodeMirror-hint.with-link {
    display: grid;
    max-width: 40em;
    grid-gap: 0 0.5em;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "name signatures kind help"
        "desc desc desc desc";
}
.CodeMirror-hint:not(.CodeMirror-hint-active) {
    background: white;    
}
.CodeMirror-hint.with-link:not(:last-child) {
    margin-bottom: 2px;
}
.CodeMirror-hint.with-link .name {
    grid-area: name;
}
.CodeMirror-hint.function .signatures,
.CodeMirror-hint.operator .signatures {
    grid-area: signatures;
    padding: 0;
    list-style: none;
    font-size: 0.8em;
    color: #666;
    flex-grow: 1;
    margin-right: 2em;
}
.CodeMirror-hint.with-link .kind {
    grid-area: kind;
    font-style: italic;
    font-size: 0.8em;
    color: #666;
}
.CodeMirror-hint-active.with-link .signatures,
.CodeMirror-hint-active.with-link .kind { 
    color: #eee;
}
.CodeMirror-hint.with-link .help {
    grid-area: help;
}
.CodeMirror-hint-active.with-link .help {
    color: white;
}
.CodeMirror-hint.with-link .description {
    grid-area: desc;
    font-family: sans-serif;
    font-style: italic;
    font-size: 0.8em;
    margin: 0;
    max-width: 100%;
    white-space: initial;
}
.CodeMirror-hint-active.with-link .description {
    display: block;
}
.CodeMirror-hint.with-link .description code {
    background: none;
    color: inherit;
    padding: 0;
    font-size: 1em;
}

.writemathsContainer {
    margin-bottom: 1em;
}

.writemathsContainer textarea.wmTextArea {
    display: none;
}

.writemathsContainer .CodeMirror {
    display: inherit;
    width: 100%;
}
.writemathsContainer.on .CodeMirror {
    display: none;
}

.writemathsContainer .wmToggle {
    border: none;
    background: none;
    padding: 0;
}

.writemathsContainer .wmToggle:before {
    content: url(../images/x_14x14.png);
    padding-left: 4px;
}

.writemathsContainer.on .wmToggle:before {
    content: url(../images/check_16x13.png);
}

body.mce-fullscreen .mce-fullscreen {
    z-index: 1000;
}

.mce-container .mce-preview-footer {
    bottom: 0em;
    background: hsl(0,100%,90%);
    width: 100%;
    padding: 0.2em;
    border-top: 1px solid hsl(0,100%,80%);
    font-style: italic;
}
.mce-container .mce-preview-content {
    width: 100%;
    height: 100%;
    padding: 1em;
}

.transparent-input:not(:focus):not(:hover), .transparent-input[readonly] {
    background: none;
    border: none;
    padding: 3px 2px;
}

section.editing-history .contributors {
    margin-bottom: 3em;
}

section.editing-history .individual-feedback {
    margin: 1em 0;
}
section.editing-history .individual-feedback td {
    padding: 0.5em;
}

.timeline-write-comment {
    margin-bottom: 2em;
}

.jme-property > input {
    display: inline-block;
}

.jme-preview {
    display: inline-block;
    padding: 5px;
}

.jme-var {
    color: olive;
}

.jme-simplify {
    color: blue;
}

.jme-subvar {
    color: gray;
}

.jme-error {
    color: red;
}

gapfill {
    border: 1px solid #888;
    padding: 0.1em 0.3em;
    color: #888;
    border-radius: 2px;
    display: inline-block;
}

.help-block {
    font-weight: normal;
}
.help-block.help-block-inline {
    display: inline;
}

editor-pager .still-to-do {
    cursor: pointer;
}
editor-pager nav {
    border-top: 1px solid #eee;
    margin-top: 4rem;
}

.pager li.ready a {
  color: black;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.pager li.ready:focus a {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.pager li.ready:hover a {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.nav-pills.nav-stacked > li.in-use:not(.active) > a {
    color: hsl(121, 32.6%, 34.9%);
}

.nav-pills.nav-stacked > li.warning:not(.active) > a {
    font-weight: bold;
    color: hsl(1.2, 43.8%, 46.1%);
}

@media (min-width: 768px) and (max-width: 992px) {
    .nav-pills.nav-stacked > li > a {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
}

.project-header {
  font-size: 1.2em;
}
.project-header .list-inline {
    display: flex;
    align-items: first baseline;
}

.project-header li ~ li::before {
  content: '/';
  margin: 0 0.2em;
  color: #555;
}
.project-header .list-inline > li {
    padding: 0;
}
.project-header .project {
    font-size: 1.2em;
}

.name-header {
    display: flex;
}
.name-header > .name {
    flex-grow: 1;
    margin: 0 0.2em;
}

.taxonomy .panel-heading {
    cursor: ns-resize;
}

.taxonomy-node > .description {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    text-align: left;
    font-weight: normal;
}
.taxonomy-node.used > .description {
    font-weight: bold;
    color: inherit;
}
.taxonomy-node ul {
    padding-left: 1em;
}

.list-group-hover .list-group-item:hover {
    cursor: pointer;
}
.list-group-hover .list-group-item:not(.active):hover {
    background-color: #d6efff;
}

static-dynamic-setting {
    display: flex;
    align-items: start;
    border-top: 1px dashed #ccc;
}

static-dynamic-setting .control {
    flex-grow: 1;
}


static-dynamic-setting .static-switch {
    font-size: 0.8em;
    background: #eee;
    padding: 0em 0.3em;
    border-radius: 0 0 0.2em 0.2em;
    float: right;
    flex: 0 0 5em;
    margin-left: 1em;

}

.label-block .checkbox input[type="checkbox"] {
    position: initial;
    margin-left: 0;
}
