@layer theme {

body[data-loaded] #page-loading {
    display: none;
}

body.editor {
    & #loaded-content {
        & > header {
            display: flex;
            gap: var(--spacing);
            align-items: baseline;
            flex-wrap: wrap;
            padding-block: var(--half-space);
            
            & > * {
                margin-block: 0;
            }

            & h1 {
                font-size: larger;
            }

            & > hr {
                visibility: hidden;
            }

            & > #saving {
                flex-basis: 16ch;
                text-align: center;
            }
        }

        & #tabs {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing);
        }
    }


    & section.part > header {
        display: flex;
        gap: var(--half-space) var(--spacing);
        align-items: baseline;
        flex-wrap: wrap;
        margin-bottom: var(--spacing);
        
        & > * {
            margin-block: 0;
        }
    }
}

.tabbed-sidebar {
    display: grid;
    grid-template-columns: 20em 1fr;
    gap: var(--spacing);
    padding-right: var(--spacing);
}

jme-preview {
    display: inline-block;
}


.multi-select {
    display: grid;
    grid-template-columns: min-content max-content 1fr;
    
    align-content: start;
    gap: var(--half-space) var(--spacing);
    & > li {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: span 3;
        align-items: baseline;
    }
    & input {
        margin: 0;
    }
    & .help-block {
        margin-block: 0;
    }
}

body.editor {
    & .part-controls {
        display: flex;
        gap: var(--spacing);
        justify-content: end;
        flex-grow: 1;
    }
}

}
