.extensions .download:after {
    display: inline-block;
	background-image: url(../images/download_12x16.png);
	width: 12px;
	height: 16px;
    content: ' ';
    margin-left: 0.3em;
}
.extensions .delete {
    color: red;
}
.extensions .delete:after {
    display: inline-block;
	background-image: url(../images/x_alt_16x16.png);
	width: 16px;
	height: 16px;
    content: ' ';
    margin-left: 0.3em;
}
.extensions td {
    padding: 0.3em 1em;
}
.extensions {
    margin: 1em 0;
}
