#newExamForm, #newQuestionForm {
    display: none;
}

.upload {
    visibility: hidden;
    position: absolute;
    top: 0;
}

#uploadForm {
    display: inline-block;
}

#uploadForm.over button {
    border: red;
}



.controlbox {
}

.controlbox#admin a {
    font-size: 18px;
    text-decoration: none;
    margin-right: 0.5em;
}
.controlbox#admin a:before {
    padding-right: 4px;
}
.controlbox#admin a:visited {
    color: #00e;
}

.controlbox #upload:before {
    content: url(../images/upload_12x16.png);
}

.controlbox #new:before {
    content: url(../images/plus_alt_16x16.png);
}

.controlbox:first-child {
    margin-top: 0;
}

.search {
    text-align: center;
}

.search label {
    font-size: 18px;
}
.search div.input-append {
    display: inline-block;
    vertical-align: middle;
}
#search_query {
    width: 40em;
}

