#newExamForm, #newQuestionForm {
	display: none;
}

.question .admin {
	display: inline-block;
	margin-right: 0.5em;
}

.question .delete {
	background: transparent url(../images/x_alt_16x16.png);
	width: 16px;
	height: 16px;
	margin-left: 0.5em;
}

.question .copy {
	background: transparent url(../images/plus_alt_16x16.png);
	width: 16px;
	height: 16px;
}

.question .preview {
	background: transparent url(../images/play_alt_16x16.png);
	width: 16px;
	height: 16px;
}

.upload {
	visibility: hidden;
	position: absolute;
	top: 0;
}

#uploadForm {
	display: inline-block;
}

#uploadForm.over button {
	border: red;
}
