a {
    color: hsl(204, 50.2%, 39.9%);
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: hsl(204, 50.2%, 39.9%);
}

.badge {
    background-color: #333;
}

.text-muted {
    color: #555;
}

.btn-link {
    color: #2e658a;
}

.btn-info {
    background-color: hsl(193.7, 66.5%, 36.4%);
    border-color: hsl(193.8, 66.7%, 31.5%);
}

.btn-primary {
    background-color: hsl(204, 50.2%, 30.9%);
    border-color: hsl(204, 50.2%, 40.9%);
}

.btn-warning, .btn-success {
    color: black;
}

.panel-primary {
    border-color: hsl(204, 50.2%, 34.9%);
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: hsl(204, 50.2%, 34.9%);
    border-color: hsl(204, 50.2%, 34.9%);
}

#top-nav, #top-nav .nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1em;
    justify-content: flex-end;
}

#top-nav .dropdown-menu {
  max-width: 90vw;
  right: 0.5rem;
}
#top-nav .dropdown-menu > li > a {
    white-space: initial;
}

@media screen and (max-width: 768px) {
    #top-nav .nav {
        flex-direction: column;
    }
}
#top-nav .nav > li {
    position: initial;
}

#top-nav > * ~ * {
    margin-left: 0.5em;
}

#notifications .dropdown-menu {
  max-height: 80vh;
  overflow-y: auto;
}

.dropdown-menu > li.indent {
    margin-left: 1em;
}

body > footer {
    margin-top: 5em;
    padding: 1em 0;
}

@media screen and (max-width:768px) {
    #top-nav > * ~ * {
        flex-basis: 100%;
    }
    #top-nav .space {
        display: none;
    }
}

@media screen and (max-width:992px) {
    #top-nav .space {
        display: none;
    }
}

#top-nav .navbar-header {
    flex-grow: 0;
}

#top-nav .navbar-form {
    padding: 0;
    border: none;
    flex-grow: 1;
}

#top-nav .navbar-form .input-group .input-group-btn {
    width: 1px;
}
#top-nav .navbar-form .form-group, #top-nav .navbar-form .input-group {
    width: 100%;
}


.navbar-default .navbar-nav > li > a {
    color: #333;
}
..navbar-default navbar-nav > li > a .text-info {
    color: #34444f;
}
..navbar-default navbar-nav > li > a:focus,
..navbar-default navbar-nav > li > a:hover {
    background-color: hsl(203.9, 100%, 73.7%);
}

.navbar-brand img {
    max-height: 100%;
}

#top-nav > .space {
    flex-grow: 2;
}

.monospace {
    font-family: monospace;
}

.page-error {
    display: none;
}
body:not(.loaded) .loaded-content {
    display: none;
}

.label-block {
    display: block;
    margin-bottom: 0;
}
.label-block > .label-text {
    margin-bottom: 5px;
}

.timeline-header {
    margin-bottom: 3rem;
}

.timeline-item + .timeline-item {
    border-top: 1px solid #eee;
    padding-top: 1em;
}
.timeline-item.less-important .media-heading {
    font-size: 1em;
    color: #555;
}

.btn.timeline-more {
    margin-top: 1em;
}

.user-thumbnail .glyphicon {
    color: black !important;
    vertical-align: middle;
}
.user-thumbnail.deactivated .glyphicon {
    color: #777 !important;
}

.stamp {
    font-weight: bold;
}

.stamp[data-stamp="draft"]{
    background-color: #eee;
    color: #000;
}

.stamp[data-stamp="ok"]{
    background-color: green;
    color: white;
}

.stamp[data-stamp="problem"]{
    background-color: #555;
    color: white;
}

.stamp[data-stamp="broken"]{
    background-color: red;
    color: white;
}

.stamp[data-stamp="dontuse"]{
    background-color: black;
    color: yellow;
}

.stamp[data-stamp="pleasetest"]{
    background-color: #ffbf00;
}

.ui-autocomplete {
    z-index: 2000;
}

.add-to-basket.in-basket .glyphicon {
    padding: 0.2em;
    margin: -0.2em;
    border-radius: 30%;
    background: #3c763d;
    color: white;
}
