html { 
    height: 100%;

}

body { 
    font: normal 1em arial, sans-serif;
    background: #acdeff;
    margin: 0;
}

.left {
    float: left;
    width: auto;

}

.right { 
    float: right; 
    width: auto;

}

.center {
    display: block;
    text-align: center;
    margin: 0 auto;

}

#main {
	width: 940px;
	margin: 0 auto;
}

#main, #logo, #menu, #content_header, #site_content, #content_footer, #footer {
    margin-left: auto; 
    margin-right: auto;

}

#header {
	padding-top: 1em;
	padding-bottom: 1em;
}

#header a {
	color: black;
}

#menu a:hover {
	color: #999;
}

#logo a {
	text-decoration: none;
}

#logo h1, #logo h2 {
    margin: 0;
	display: inline;
}

#session {
	float: right;
}

#session a {
	text-decoration: underline;
}

#session #logout {
	font-size: 0.8em;
	margin-left: 2em;
}

ul#menu {
	margin: 0;
	padding-left: 0;
	padding-bottom: 1em;
	overflow: hidden;
}

ul#menu li {
    list-style: none;
    margin: 0 0.2em 0 0;
	font-size: 1.2em;
    display: inline-block;
}

ul#menu li a {
    display: block; 
    text-decoration: none; 
    margin-right: 0.8em;
	color: #2f6990;
    font-size: 120%;
} 

#site_content {
    
    
	overflow: hidden;
    
    
	padding: 1em 20px 20px 40px;
    background: #FFF;
	border-radius: 0.5em;
} 

#content {
    text-align: left;
    padding: 0;
}

#footer {
    font: 75% sans-serif;
    text-align: center; 
    background: transparent;
    color: #333;
}

#footer a, #footer a:hover {
    color: #888;
    text-decoration: none;
}

#footer a:hover {
    color: #333;
}

input.search {
	background: white url(../images/search.png) no-repeat right;
	padding-right: 18px;
	width: 200px;
}

input.search.entered {
	padding-right: 34px;
	width:184px
}
span.search {
	position: relative;
}

.search .clear {
	display: none;
}

.search.entered .clear {
	display: block;
	position: absolute;
	right: 20px;
	top: 4px;
	width: 14px;
	height: 14px;
	background: white url(../images/grey_x_14x14.png) no-repeat;
}

input.search.loading {
	background-image: url(../images/busy.gif);
}
