html { 
    height: 100%;

}

body { 
    font: normal 1em 'trebuchet ms', arial, sans-serif;
    background: #F4F4EE;
    margin: 0;
}

.left {
    float: left;
    width: auto;

}

.right { 
    float: right; 
    width: auto;

}

.center {
    display: block;
    text-align: center;
    margin: 0 auto;

}

#menu { 
    margin: 11px 0 22px 17px;
}

#main, #logo, #menubar, #content_header, #site_content, #content_footer, #footer {
    margin-left: auto; 
    margin-right: auto;

}

#header {
    background: #3A332D;
    margin-bottom: 0.5em;
}

#logo { 
	width: 878px;
    position: relative;
}


#logo h1, #logo h2 {
    margin: 0 0 0 9px;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover  {
    color: #FFF;
}

#menubar {
    height: 44px;
    width: 940px;
}

ul#menu {
    float: right;
}

ul#menu li {
    float: left;
    padding: 0 0 0 6px;
    list-style: none;
    margin: 2px 2px 0 0;
    background: #635B53 url(../images/tab.png) no-repeat 0 0;
}

ul#menu li a {
    font: normal 100% 'trebuchet ms', sans-serif;
    display: block; 
    float: left; 
    height: 20px;
    padding: 6px 28px 5px 22px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    background: #635B53 url(../images/tab.png) no-repeat 100% 0;} 

ul#menu li.tab_selected a {
    height: 20px;
    padding: 6px 28px 5px 22px;
}

ul#menu li.selected {
    margin: 2px 2px 0 0;
    background: #635B53 url(../images/tab_selected.png) no-repeat 0 0;
}

ul#menu li.selected a, ul#menu li.selected a:hover {
    background: #635B53 url(../images/tab_selected.png) no-repeat 100% 0;
    color: #111;
}

ul#menu li a:hover {
    color: #ECEF01;
}

#content_header, #content_footer {
    width: 940px;
    background: url(../images/content_header.png) no-repeat;
    height: 14px;
}

#content_footer {
    background: url(../images/content_footer.png) no-repeat;
}

#site_content {
    width: 878px;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 0 20px 20px 40px;
    background: #FFF;
    border-left: 1px solid #ECECE0;
    border-right: 1px solid #ECECE0;} 

.sidebar {
    float: right;
    max-width: 190px;
    padding: 0 15px 20px 15px;
}

.sidebar ul {
    width: 178px; 
    padding: 4px 0 0 0; 
    margin: 4px 0 30px 0;
}

.sidebar li {
    list-style: none; 
    padding: 0 0 7px 0; 
}

.sidebar li a, .sidebar li a:hover {
    padding: 0 0 0 25px;
    display: block;
    background: transparent url(../images/link.png) no-repeat left center;} 

.sidebar li a.selected {
    color: #444;
    text-decoration: none;} 

#content {
    text-align: left;
    padding: 0;
}

#footer {
    width: 916px;
    font: normal 90% sans-serif;
    text-align: center; 
    background: transparent;
    color: #333;
    text-transform: uppercase;
}

#footer a, #footer a:hover {
    color: #888;
    text-decoration: none;
}

#footer a:hover {
    color: #333;
}

