.contents .folder {
    font-weight: bold;
}

.contents .folder > td {
    background: hsl(0,0%,96%);
}

.members {
  max-height: 30em;
  overflow-y: auto;
}

.status-breakdown a {
    color: inherit;
    display: block;
}

.status-breakdown .count {
    text-align: right;
}

#queues-summary .queue {
    padding: 1em;
}
