.results-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
  vertical-align: bottom;
}

.result {
  border-bottom: 2px solid #eee;
  margin-bottom: 0.5em;
  max-width: 50em;
}

.result .header {
    font-size: 1.1em;
    margin: 0 0 0rem 0;
    display: flex;
    flex-wrap: wrap;
}

.result .header .item-link {
    flex-grow: 1;
}

.result .details, .result .description, .result .explore-flag {
    margin-left: 2em;
}

@media screen and (max-width:768px) {
    .result {
        max-width: none;
    }
    .result .header {
        flex-direction: column;
        margin-bottom: 0.5em;
    }
    .result .details, .result .description, .result .explore-flag {
        margin-left: 0em;
    }
}

.result .details {
    margin-bottom: 0.5rem;
}

.result .controls {
    display: inline-block;
}

.result .item-type, .result .author, .result .project {
    display: inline-block;
}

.result .description {
    max-width: 50em;
    margin-bottom: 0.5em;
}

.result .explore-flag{
    max-width: 50em;
    margin-bottom: 0.5em;
}

.result .description > :last-child {
    margin-bottom: 0;
}

.result .explore-flag > :last-child {
    margin-bottom: 0;
}

.initial-list > li:last-child {
  margin-bottom: 5px;
}
.initial-list {
}
.show-more ul > li:first-child {
  margin-top: 0px;
}

.num-hits {
  color: #888;
}

.result .info .list-inline {
    margin-left: 0;
}

.info p > * ~ .glyphicon {
    margin-left: 0.5em;
}

#taxonomies-form ul {
    padding-left: 0;
    list-style: none;
}

#taxonomies-form taxonomy-node:last-child > .taxonomy-node {
    margin-bottom: 0.5em;
}

#taxonomies-form button.taxonomy-name {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}
