.writemathsContainer .preview {
	z-index: 1;
	position: absolute;
	display: none;
	border: 1px solid;
	padding: 0.2em;
	width: auto;
	margin: 0 auto;
	background: white;
	display: none;
}


.writemaths .wm_maths {
	color: blue;
}
