Django==2.1.11
Pillow==6.2.0
Unidecode==1.0.23
bleach==3.1.0
django-analytical==2.5.0
django-el-pagination==3.2.4
django-html-sanitizer==0.1.5
django-notifications-hq==1.5.0
django-registration-redux==2.5
django-reversion==3.0.3
django-tables2==2.0.5
django-taggit==1.0.0
django-uuslug==1.1.8
git+git://github.com/numbas/django-thumbs
python-slugify==3.0.0
six==1.12.0
mistune==0.8.4
