body {
	font-size: 16px;
	line-height: 1.5em;
	max-width: 900px;
	margin-left: 2em;
}
h1,h2,h3,h4,h5,h6 {
    line-height: 1em;
}

.index-link {
	margin-left: -1em;
	font-size: 0.75em;
}

h2 {
	border-bottom: 2px solid #ccc;
}

code {
	padding: 0 2px;
	margin: 2px 0;
	display:inline-block;
	color: #050;
}
a code {
	color: inherit;
}

code.shell {
	padding: 0 4px;
	background: #eee;
	border: 1px solid #bbb;
	border-radius: 2px;
	display: block;
	margin: 0.5em 0;
	color: black;
}

code.shell:before {
	content: '> ';
	color: green;
}
code.shell.mysql:before {
	content: 'mysql> ';
}
code.shell .shell-variable {
    text-decoration: underline;
    font-family: sans-serif;
    font-weight: bold;
}
footer {
    margin-top:4em;
    border-top: 2px solid #ccc;
}
section ~ section {
    margin-top: 3em;
}

dl {
  padding-left: 1em;
}
dt {
  font-style: italic;
}
