{% extends "layout.html" %}

{% load humanize %}
{% load user_link %}
{% load sanitizer %}
{% load sstatic %}

{% block title %}Feature survey results - {{block.super}}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% sstatic 'feature_survey/css/list.css' %}"/>
{% endblock stylesheets %}

{% block content %}
<form id="feature-form" method="GET" action="{% url 'intersect_features' %}">
    <button id="submit" type="submit">Show objects with these features</button>
    <ul id="features">
        {% for kind, features in groups %}
            <h2>{{kind|capfirst}}</h2>
            <ul>
                {% for f in features %}
                    <li>
                        <label><input type="checkbox" name="features" value="{{f.feature}}"> {{f.feature}} ({{f.freq}})</label>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</form>
{% endblock content %}
