{% extends "layout.html" %}

{% load humanize %}
{% load user_link %}
{% load sanitizer %}
{% load sstatic %}

{% block title %}Feature survey results - {{block.super}}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% sstatic 'css/explore.css' %}"/>
{% endblock stylesheets %}

{% block content %}
<ul>
    {% for kind, features in groups %}
        <h2>{{kind|capfirst}}</h2>
        <ul>
            {% for f in features %}
                <li>
                    <a href="{% url 'view_feature' %}?feature={{f.feature|urlencode}}">{{f.feature}}</a> ({{f.freq}})
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
{% endblock content %}
