{% extends "layout.html" %}
{% load links %}

{% block content %}
<div class="page-header">
    <h1><span class="glyphicon glyphicon-duplicate"></span> Copy {% editoritem_link object %}</h1>
</div>

<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% for field in form.hidden_fields %}{{field}}{% endfor %}

    {% for field in form.visible_fields %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label class="col-sm-2 control-label">{{field.label}}</label>
        <div class="col-sm-10">
            {{field.as_widget}}
            {% if field.errors %}
            <ul class="errorlist list-unstyled">
                {% for error in field.errors %}
                <li>{{error}}</li>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Create a copy</button></p>
    </div>
</form>

{% endblock content %}
