{% extends "layout.html" %}
{% load i18n %}
{% load user_link %}
{% load can_edit %}
{% load icons %}
{% load links %}
{% load json_filter %}

{% block title %}{{object.editoritem.name}} - {{block.super}}{% endblock title %}

{% block skipMathJaxStartup %}true{% endblock %}

{% block search_url %}{% url 'project_search' object.editoritem.project.pk %}{% endblock search_url %}

{% block head %}
{% if object.editoritem.published %}
    {% include 'editoritem/oembed.html' with item=object.editoritem %}
{% endif %}
{% endblock head %}

{% block body_classes %}editor {{block.super}}{% endblock %}


{% block javascripts %}
    {{ block.super }}

    {% include 'numbas_runtime.html' %}

    <script type="text/javascript">
        (function() {
            window.item_json = {{item_json|jsonscript|safe}};
        })();
    </script>
{% endblock javascripts %}

{% block content_container %}{% endblock %}


{% block content %}

<div id="page-loading" v-if="!question">
    <h1>Loading...</h1>
</div>

<div id="page-error" v-if="loading_error">
    <div class="page-header text-danger">
        <h2>Error</h2>
    </div>
    <p class="text-lg">There was an error loading the page.</p>

    <pre class="trace"></pre>
</div>

<div id="loaded-content" v-if="question != null">
    <header>
        <ol id="location" class="list-inline">
            <li class="project">
                {% icon 'project' %}
                <a href="{% url 'project_index' object.editoritem.project.pk %}">{{object.editoritem.project.name}}</a>
            </li>
            {% for folder in breadcrumbs %}
            <li class="folder">
                <a href="{{folder.get_absolute_url}}">{{folder.name}}</a>
            </li>
            {% endfor %}
        </ol>
        <h1>
            {% icon object.icon %} 
            <span class="name" v-mathjax-html="question.name"></span>
        </h1>
    </header>
    <nav id="tabs">
        <a class="btn success" :href="preview_url" :target="preview_window" title="Run this {{item_type}} in a new window">
            {% icon 'play' %}
            &nbsp;
            Run
        </a>

        <button type="button" class="btn" id="organisation-dropdown" popovertarget="organisation-menu">
            Organisation
        </button>
        <menu id="organisation-menu" popover="auto">
            {% block admin_controls %}
            {% with can_copy=object.editoritem|can_be_copied_by:request.user %}
            <li class="{% if not can_copy %}disabled{% endif %}">
                <a class="warning" {% if can_copy %}href="{% editoritem_url 'copy' object %}" target="_blank"{% endif %} title="{% if can_copy %}Create your own copy of this {{item_type}}{% else %}This item's licence doesn't allow you to modify it.{% endif %}">
                    {% icon 'duplicate' %}
                    &nbsp;
                    Make a copy
                </a>
            </li>
            {% endwith %}

            {% if editable %}
            <li>
                <a class="danger" href="{% editoritem_url 'delete' object %}" title="Delete this {{item_type}} permanently">
                    {% icon 'remove' %}
                    &nbsp;
                    Delete
                </a>
            </li>
            {% endif %}

            <hr/>

            <li>
                <a href="#" class="add-to-queue" title="Add this to a queue" data-item-id="{{object.editoritem.pk}}">
                    {% icon 'list' %}
                    &nbsp;
                    Add to a queue
                </a>
            </li>

            {% endblock admin_controls %}
        </menu>

        <button type="button" class="btn" id="download-dropdown" popovertarget="download-menu">
            {% icon 'download' %}
            &nbsp;
            Download
        </button>
        <menu id="download-menu" popover="auto">
            <li v-if="question.ready_to_download" class="alert success">
                {% icon 'ok' %}
                This {{item_type}} is ready to download.
            </li>
            <li v-else class="alert danger">
                {% icon 'danger' %}
                This {{item_type}} might need some attention: [[question.ready_to_download_reason]]
            </li>

            <li><a href="{% editoritem_url 'download' object %}{% querystring scorm="true" token=object.editoritem.share_uuid_view %}">SCORM package</a></li>
            <li><a href="{% editoritem_url 'download' object %}{% querystring token=object.editoritem.share_uuid_view %}">standalone .zip (no SCORM)</a></li>
            <li><a href="{% editoritem_url 'source' object %}{% querystring token=object.editoritem.share_uuid_view %}">source</a></li>
        </menu>
        <tab-list :tabs="tabs" v-model="current_tab" name="main"></tab-list>
    </nav>

    {% block main_tab_content %}{% endblock %}
</div>
{% endblock content %}
