{% load sstatic %}
{% load user_link %}
{% load links %}

<!doctype html>
<html lang="en">
    <head>
        <title>{{item.name}} - preview - {{SITE_TITLE}}</title>

        <link rel="icon" href="{% sstatic 'icon.png' %}"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        {% if item.published %}
            {% include 'editoritem/oembed.html' %}
        {% endif %}

        <link rel="stylesheet" href="{% sstatic 'css/preview.css' %}"/>
        {% include "mathjax.html" %}
    </head>
    <body>
        <header role="banner">
            <h1 class="description">
                <a href="{{item.get_absolute_url}}">{{item.name}}</a>
                <span class="text-muted">in</span>
                <a href="{{item.project.get_absolute_url}}">{{item.project.name}}</a>
            </h1>

            <span class="licence text-muted">
            {% if item.licence %}
                &copy;
                <abbr title="{{item.licence.name}}">
                    {% if item.licence.url %}
                        <a target="_blank" href="{{item.licence.url}}">{{item.licence.short_name}}</a>
                    {% else %}
                        {{item.licence.short_name}}
                    {% endif %}
                </abbr>
            {% endif %}
            </span>

            <a class="action" href="{{item.get_absolute_url}}">Edit</a>

            <a class="action" href="{% editoritem_url 'download' item.rel_obj %}?scorm">Download</a>

            <button class="like-link action" id="share">Share</button>

            <span id="embed-url">
                <code class="url text-muted" tabindex="0">{{SITE_ROOT}}{{embed_url}}</code>
                <button id="link-label"><span class="" id="copy-text" aria-live="polite">
                    <span class="not-copied">Copy this link</span>
                    <span class="copied">Link copied!</span>
                </button>
            </span>

        </header>
        <main role="main">
        <iframe title="{{item.name}}" src="{{exam_url}}"></iframe>
        </main>


        <script>
            var share_button = document.getElementById('share');
            var embed_display = document.getElementById('embed-url');
            var copy_text = document.getElementById('copy-text');

            /* To toggle the embedded URL area */
            share_button.addEventListener('click',function() {
                embed_display.classList.toggle('shown'); 
                embed_display.focus();
            });

            if(!(navigator.clipboard && navigator.clipboard.writeText)) {
                copy_text.style['display'] = 'none';
            } else {
                copy_text.addEventListener('click',function() {
                    var url = document.querySelector('#embed-url .url').textContent;
                    navigator.clipboard.writeText(url);
                    embed_display.classList.add('copied');
                });
            }

            var get_numbas_interval = setInterval(function() {
                var w = window.frames[0];
                if(w && w.Numbas) {
                    window.Numbas = w.Numbas;
                    clearInterval(get_numbas_interval);
                }
            },100);
        </script>
    </body>
</html>
