{% load sstatic %}
{% load user_link %}
{% load links %}

<!doctype html>
<html lang="en">
    <head>
        <title>{{item.name}} - preview - {{SITE_TITLE}}</title>

        <link rel="icon" href="{% sstatic 'icon.png' %}"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        {% if item.published %}
            {% include 'editoritem/oembed.html' %}
        {% endif %}

        <link rel="stylesheet" href="{% sstatic 'css/preview.css' %}"/>
        {% include "mathjax.html" %}
    </head>
    <body>
        <header role="banner">
            <h1 class="description">
                <a href="{{item.get_absolute_url}}">{{item.name}}</a>
                <span class="text-muted">in</span>
                <a href="{{item.project.get_absolute_url}}">{{item.project.name}}</a>
            </h1>

            <span class="licence text-muted">
            {% if item.licence %}
                &copy;
                <abbr title="{{item.licence.name}}">
                    {% if item.licence.url %}
                        <a target="_blank" href="{{item.licence.url}}">{{item.licence.short_name}}</a>
                    {% else %}
                        {{item.licence.short_name}}
                    {% endif %}
                </abbr>
            {% endif %}
            </span>

            <a class="action" href="{{item.get_absolute_url}}">Edit</a>

            <a class="action" href="{% editoritem_url 'download' item.rel_obj %}?scorm">Download</a>

            <button class="like-link action" id="share">Share</button>

            <span id="embed-url">
                <fieldset>
                    <legend>Link to this {{item.item_type}}</legend>
                    <a id="embed-link" class="text-muted" href="{{SITE_ROOT}}{{embed_url}}"><code>{{SITE_ROOT}}{{embed_url}}</code></a>
                    <button for="embed-link" class="copy-link" type="button">
                        <span class="not-copied">Copy this link</span>
                        <span class="copied">Link copied!</span>
                    </button>
                </fieldset>
                <form id="make-lockdown-link-form" method="GET" action="{% url 'item_make_lockdown_link' item.pk %}">
                    <fieldset>
                        <legend>Make a link to launch in the Numbas lockdown app:</legend>
                        <label for="lockdown-password">Password:</label>
                        <input type="text" id="lockdown-password" name="password">
                        <output for="lockdown-password">
                            <a href="" id="lockdown-link">Launch in Numbas lockdown app</a>
                            <button type="button" class="copy-link" for="lockdown-link">
                                <span class="not-copied">Copy this link</span>
                                <span class="copied">Link copied!</span>
                            </button>
                        </output>
                    </fieldset>
                </form>
            </span>

        </header>
        <main role="main">
        <iframe title="{{item.name}}" src="{{exam_url}}"></iframe>
        </main>


        <script>
            var share_button = document.getElementById('share');
            var embed_display = document.getElementById('embed-url');

            /* To toggle the embedded URL area */
            share_button.addEventListener('click',function() {
                embed_display.classList.toggle('shown'); 
                embed_display.focus();
            });

            Array.from(document.querySelectorAll('button.copy-link')).forEach(copy_link_button => {
                if(!(navigator.clipboard && navigator.clipboard.writeText)) {
                    copy_link_button.style['display'] = 'none';
                    return;
                } 
                copy_link_button.addEventListener('click',function() {
                    const a = document.getElementById(copy_link_button.getAttribute('for'));
                    const url = a.href;
                    navigator.clipboard.writeText(url);
                    copy_link_button.classList.add('copied');
                });
            });

            var get_numbas_interval = setInterval(function() {
                var w = window.frames[0];
                if(w && w.Numbas) {
                    window.Numbas = w.Numbas;
                    clearInterval(get_numbas_interval);
                }
            },100);

            const make_lockdown_link_form = document.getElementById('make-lockdown-link-form');
            async function update_lockdown_link(e) {
                e.preventDefault();
                const password = make_lockdown_link_form.elements['password'].value;
                const res = await fetch(make_lockdown_link_form.action+'?password='+password);
                const data = await res.json();
                console.log(data);
                if(data.password != password) {
                    return;
                }
                make_lockdown_link_form.classList.add('generated');
                make_lockdown_link_form.querySelector('output[for="lockdown-password"] a').href = data.launch_url;
            }
            make_lockdown_link_form.querySelector('input').addEventListener('input', update_lockdown_link);
            make_lockdown_link_form.addEventListener('submit', update_lockdown_link);
        </script>
    </body>
</html>
