{% extends "layout.html" %}

{% block title %}Transfer owneship of "{{item.name}}" - {{block.super}}{% endblock title %}

{% block javascripts %}
{{block.super}}
<script type="text/javascript">
    $(document).ready(function() {
        Editor.user_search_autocomplete($('#{{form.user_search.auto_id}}'));
    });
</script>
{% endblock %}


{% block content %}
<div class="page-header">
    <h1><span class="glyphicon glyphicon-{{item.icon}}"></span> Transfer ownership of <a href="{{item.get_absolute_url}}">{{item.name}}</a></h1>
</div>


<div class="alert alert-danger">
    <p><strong>Warning</strong></p>
    <p>You are about to transfer ownership of the {{item.item_type}} <em>{{item.name}}</em> to another user.</p>
    <p>Only do this if you're absolutely sure it needs to be done.</p>
</div>

<form method="post">
    <div class="form-group">
        {% for field in form.hidden_fields %}{{field}}{% endfor %}
        {{form.errors}}
        <label for="{{form.user_search.auto_id}}">Transfer ownership of {{item.name}} to</label>
        <input type="text" class="form-control" id="{{form.user_search.auto_id}}" name="user_search" placeholder="Username or full name">
    </div>

    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Transfer ownership</button>
</form>

{% endblock content %}
