{% load links %}
{% load sanitizer %}
{% load helplink %}

<!-- ko if: addingPart -->
<!-- ko with: addingPart -->
<h3>
    <span class="glyphicon glyphicon-plus"></span> <span data-bind="text: parentList().length ? 'Add another '+kind : 'Add a '+kind"></span>
    <span data-bind="if: $data.parent">to <span data-bind="text: $data.parent.levelName()+' '+$data.parent.indexLabel()"></span>
</h3>

<p class="help-block">Choose a type for this new <span data-bind="text: kind"></span>.</p>

<!-- /ko -->

<div class="form-group part-type-search">
    <label for="part-type-search">Enter keywords to search for</label>
    <input id="part-type-search" type="text" class="form-control" data-bind="textInput: part_search">
</div>

<table class="table table-condensed part-types">
    <tbody data-bind="foreach: filtered_part_types">
        <tr class="part-type">
            <td>
                <button class="btn btn-block btn-default use" title="Use this part type" data-bind="click: $root.addPart, css: { 'btn-default': $data.is_custom_part_type, 'btn-primary': !$data.is_custom_part_type }">
                    <span class="glyphicon glyphicon-plus"></span> <span class="name" data-bind="html: niceName"></span>
                </button>
                <!-- ko if: source.author -->
                <small>by <span class="author" data-bind="text: source.author.name"></span></small>
                <!-- /ko -->
            </td>
            <td class="details">
                <div data-bind="html: description"></div>
                <a target="_blank" data-bind="attr: {href: help_url}"><span class="glyphicon glyphicon-question-sign"></span> More information</a>
            </td>
        </tr>
    </tbody>
</table>
<!-- /ko -->
