{% extends "layout.html" %}
{% load icon %}
{% load sstatic %}
{% load links %}
{% load user_link %}

{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% sstatic 'css/question/compare.css' %}"/>
{% endblock stylesheets %}

{% block content %}
<p>You are comparing 
<table class="comparison-table">
    <thead>
        <tr>
            <td></td>
            <th>Your Version</th>
            <th>Other Version</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Name</th>
            <td>
                {% question_link q1 %}
            </td>
            <td>
                {% question_link q2 %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a class="preview" href="{% url 'question_preview' q1.pk q1.slug %}" target="_blank" title="Test run">{% icon "media-play" 10 %} Test Run</a>
            </td>
            <td>
                <a class="preview" href="{% url 'question_preview' q2.pk q2.slug %}" target="_blank" title="Test run">{% icon "media-play" 10 %} Test Run</a>
            </td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{% user_link q1.author %}</td>
            <td>{% user_link q2.author %}</td>
        </tr>
        <tr>
            <th>Last modified</th>
            <td>{{q1.last_modified|date:"d/m/Y H:i"}}</td>
            <td>{{q2.last_modified|date:"d/m/Y H:i"}}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% if not pr1_exists %}
                <a class="btn" href="{% url 'question_pullrequest' q1.pk q2.pk %}">Offer to merge your version into the other</a>
                {% else %}
                Request outstanding
                {% endif %}
            </td>
            <td>
                {% if not pr2_exists %}
                <a class="btn" href="{% url 'question_pullrequest' q2.pk q1.pk %}">Merge this version into yours</a>
                {% else %}
                Request outstanding
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
{% endblock content %}
