{% extends "editor.html" %}
{% load verbatim %}
{% load json %}

{% block javascripts %}
    {{ block.super }}

	<!-- numbas -->
	<script src="{{ STATIC_URL }}js/numbas/R/R.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/numbas/R/en-gb.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/numbas/numbas.js" type="text/javascript"></script>

	<!-- question editor -->
    <script src="{{ STATIC_URL }}js/question/edit.js" type="text/javascript"></script>

    <script type="text/javascript">
        (function() {
            if (!window.Editor) {
                window.Editor = {};
            }
            var Editor = window.Editor;
			Editor.questionJSON = {{question.as_json|safe}};
			Editor.editable = {% if editable %}true{% else %}false{% endif %};

			Editor.progresses = {{object.PROGRESS_CHOICES|json|safe}};

			Editor.numbasExtensions = {{extensions|safe}};

			Editor.previewURL = '{% url 'question_preview' object.pk object.slug %}';
			Editor.previewWindow = '{% now "U" %}';
        })();
    </script>
{% endblock javascripts %}

{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/question/edit.css"/>
{% endblock stylesheets %}
	
{% block content %}
	{{block.super }}

    {% block property_templates %}{% endblock %}

	<div id="question" class="{% if not editable %}nonedit{% endif %}">
		<div class="row-fluid">
			<h1 id="name-header" data-bind="text: name"></h1>
		</div>
		<div id="controls">
			<div class="row-fluid">
			{% block controls %}
    			<div class="span4" id="editable_message">{% block editable_message %}{% endblock %}</div>
				<div class="span3 controlbox" id="author">
					Author: {{object.author.get_full_name}} ({{ object.author.username }})
				</div>
				<div class="offset1 span4" id="progress">
					{% block progress %}{% endblock progress %}
				</div>
			{% endblock controls %}
			</div>
			<div class="controlbox row-fluid" id="admin">
				<div class="span2">
					<a id="preview" data-bind="attr: {href: Editor.previewURL, target: Editor.previewWindow}" title="Run this question in a new window (Ctrl+B)">Test Run</a>
				</div>			
				{% if editable %}
				<div class="span2">
					<a id="delete" data-bind="click: deleteQuestion" href="{% url 'question_delete' object.pk object.slug %}" title="Delete this question permanently">Delete
						<form action="{% url 'question_delete' object.pk object.slug %}" method="post">{% csrf_token %}
							<input type="submit" value="Submit" />
						</form>
					</a>
				</div>
				{% endif %}

				{% if user.is_authenticated %}
				<div class="span2">
				<a id="copy" href="{% url 'question_copy' object.pk object.slug %}" title="Create your own copy of this exam">Make a Copy</a>
				</div>
				{% endif %}

				<div class="span6">
					<span id="download">
						Download: 
						<a href="{% url 'question_download' object.pk object.slug %}">standalone .zip</a>,
						<a href="{% url 'question_download' object.pk object.slug %}?scorm">SCORM package</a>,
						<a href="{% url 'question_source' object.pk object.slug %}">source</a>
					</span>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<ul class="nav nav-tabs" data-bind="foreach: mainTabs">
				<li data-bind="css: {active: $root.currentTab() == $data}">
					<a href="#" data-bind="click: $root.currentTab, text: title"></a>
				</li>
			</ul>
		</div>

		{% block editor %}
		{% endblock %}
	</div>

{% endblock content %}
