{% extends "question/edit.html" %}
{% load user_link %}


{% block editor %}
	{% include "editable.html" %}
	<div class="tab-content">
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='general'}">
			<div class="row-fluid section">
				<label>
					<h4>Question Name <span data-bind="template: {name: 'helplink', data: {topic: 'question name', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-question-name'}}"></span></h4>
					<input class="input-block-level" id="question-name" data-bind="value: name, valueUpdate: 'afterkeydown'" type="text"/>
				</label>
			</div>
			<div class="row-fluid section">
				<div class="span8">
					<p><span class="question-author">Question Author:</span> {% user_link object.author %}</p>
                    <p class="editable-message">You can edit this question.</p>
                    <form class="form-inline">
                        <div class="control-group">
                            <label>
                                <span class="control-label">
                                    Licence: 
                                    <span data-bind="template: {name: 'helplink', data: {topic: 'licence', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-licence'}}"></span>
                                </span>
                                <span class="controls">
                                    <select data-bind="options: Editor.licences, value: licence, optionsText: 'short_name', optionsCaption: 'None specified'"></select>
                                    <span data-bind="visible: licence, with: licence">
                                        <a target="_blank" data-bind="visible: url, attr:{href:url}">Licence information</a>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </form>
                    {% if object.copy_of %}
                    <p>This question is based on <a href="{% url 'question_edit' object.copy_of.pk object.copy_of.slug %}">{{object.copy_of.name}}</a> by <a href="{% url 'view_profile' object.copy_of.author.pk %}">{{object.copy_of.author.get_full_name}}</a>.</p>
                    {% endif %}
				</div>
				<div class="span4">
					{% if perms.editor.question_highlight %}
					<a href="{% url 'highlight_question' object.pk object.slug %}">Highlight this question on the front page.</a>
					{% endif %}
				</div>
			</div>
			<div class="row-fluid section">
				<div class="span8">
					<label for="description"><h4>Description <span data-bind="template: {name: 'helplink', data: {topic: 'description', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-description'}}"></span></h4></label>
					<div id="description" data-bind="writemaths: description"></div>
					<div data-bind="if: !description()" class="nothing-here">The author has not written a description.</div>
					<label for="authors-notes"><h4>Author's Notes <span data-bind="template: {name: 'helplink', data: {topic: 'author\'s notes', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-author-s-notes'}}"></span></h4></label>
					<div id="authors-notes" data-bind="writemaths: notes"></div>
					<div data-bind="if:!notes()" class="nothing-here">The author has not made any notes.</div>
				</div>
				<div class="span4">
					<h4>Extensions <span data-bind="template: {name: 'helplink', data: {topic: 'extensions', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-extensions'}}"></span></h4>
					<ul class="extensions" data-bind="foreach: extensions">
						<li class="extension">
							<label>
								<input type="checkbox" data-bind="checked: used">
								<span data-bind="text:name"></span> <a data-bind="if: url, attr: {href:url}" target="_blank">(documentation)</a>
							</label>
						</li>
                    </ul>
                    <div class="upload-extension"><a href="{% url 'extension_new' %}">Upload a new extension</a></div>
					<div class="tags">
						<h4>Tags <span data-bind="template: {name: 'helplink', data: {topic: 'tags', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-tags'}}"></span></h4>
						<form data-bind="submit: function(form) {var input = $(form).find('input');$data.tags.push(input.val());input.val('').focus();}">
							<input type="text"></input>
						</form>
						<ul class="tags" data-bind="foreach: tags">
							<li class="tag well">
							<a data-bind="attr: {href: '{% url 'question_search' %}?tags='+encodeURIComponent($data), title:'Questions with the tag \''+$data+'\''}, text: $data" target="_blank"></a>
								<button type="button" class="delete" data-bind="click: $root.tags.remove" title="Remove this tag"></button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row-fluid section">
				<div class="span8">
				</div>
				<div class="span4 tags">
				</div>
			</div>
		</section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='statement'}">
			<span data-bind="template: {name: 'helplink', data: {topic: 'the question statement', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#statement', big: true}}"></span>
			<div id="statement" data-bind="writemaths: statement, preambleCSS: $root.preamble.css"></div>
			<div class="nothing-here" data-bind="if:!statement()">No statement.</div>
		</section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='variables'}">
			<span data-bind="template: {name: 'helplink', data: {topic: 'variables', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#variables', big: true}}"></span>
			<div class="row-fluid">
				<ul class="nav nav-tabs" data-bind="foreach: variableTabs">
					<li data-bind="css: {active: ko.utils.unwrapObservable($parent.currentVariableTab().id) == $data.id}">
						<a href="#" data-bind="click: $parent.currentVariableTab, text: title"></a>
					</li>
				</ul>
			</div>
			<div class="tab-content">
				<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable(currentVariableTab().id)=='definitions'}">
					<div class="row-fluid">
						<div class="span4">
							<div>
								<div class="variable-groups" data-bind="foreach: allVariableGroups">
									<div class="variable-group" data-bind="css: {editable: !fixed}">
										<div class="group-name">
											<button type="button" title="Sort variables by name" class="sort" data-bind="click: sort"></button>
											<button type="button" title="Remove this group" class="delete" data-bind="visible: !fixed, click:remove"></button>
											<h4 data-bind="text: displayName,visible: fixed || $root.editVariableGroup()!=$data, event: {focus: fixed ? null : $root.editVariableGroup}, attr: {tabindex: fixed ? undefined : 0}"></h4>
											<form data-bind="submit: endEdit">
												<input data-bind="value:name, visible: $root.editVariableGroup()==$data, hasfocus: isEditing, event: {blur: endEdit}"/>
											</form>
										</div>
										<table class="variable-list">
											<thead>
												<tr>
													<th class="name">Name</th>
													<th class="value">Generated Value</th>
												</tr>
											</thead>
											<tbody data-bind="css: {empty: variables().length==0}, sortable: {
												template: 'variable-template',
												data: $data.variables,
												options: {
													forcePlaceholderSize: true,
													placeholder: 'placeholder'
												}
											}">
											</tbody>
										</table>

										<button type="button" class="add-variable" data-bind="click: addVariable, attr: {title: (variables().length ? 'Add another variable' : 'Add a variable')+' to '+name()}">
											<span class="icon"></span>
											Add a variable
										</button>
									</div>
								</div>
								<script type="text/html" id="variable-template">
									<tr data-bind="click: $root.currentVariable, css: {noname: !name(), current: $data==$root.currentVariable(), dependency: isDependency}" class="variable-selector">
										<td class="name" data-bind="text: name() ? name() : 'Unnamed'"></td>
										<td class="value-cell">
											<div class="value" data-bind="css: {error: error().length>0}, html: display"></div>
										</td>
										<td class="delete-cell">
											<button type="button" title="Remove this variable" class="delete" data-bind="click:remove"></button>
										</td>
									</tr>
								</script>
								<p>
									<label><input class="recalculate-checkbox" type="checkbox" data-bind="checked: autoCalculateVariables"/> Automatically regenerate variables when changes are made.</label>
								</p>
							</div>
							<button type="button" data-bind="click: addVariableGroup">New variable group</button>
							<button type="button" data-bind="click: generateVariablePreview, visible: variables().length>0">Regenerate values</button>
						</div>
						<div class="span8 variable" data-bind="with: currentVariable">
							<form class="form-horizontal">
								<div class="control-group">
									<label>
										<span class="control-label">
											Name
											<span data-bind="template: {name: 'helplink', data: {url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-name'}}"></span>
										</span>
										<div class="controls">
											<input type="text" placeholder="Name" class="name" data-bind="value:name, valueUpdate: 'afterkeydown', autosize: name"/>
											<span class="name-error" data-bind="text: nameError, visible: nameError"></span>
										</div>
									</label>
								</div>
								<div>
									<div class="control-group" data-bind="template: {
										name: 'selectproperty',
										data: {label:'Data type',property: templateType, options: templateTypes, optionsText: 'name', helpURL: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-data-type'}
									}"></div>
								</div>
								<div class="control-group">
									<label class="control-label">
										Value
										<span data-bind="template: {name: 'helplink', data: {url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-value'}}"></span>
									</label>

									<div class="controls">
										<div data-bind="visible: templateType().id=='anything'">
											<textarea class="def" data-bind="valueUpdate: 'afterkeydown', codemirror: templateTypeValues.anything.definition, codemirrorMode: 'jme'"></textarea>
										</div>
										<div data-bind="visible: templateType().id=='number'">
											<input type="text" data-bind="value: templateTypeValues.number.value, valueUpdate: 'afterkeydown', autosize: {max: 500, min: 30, padding: 30, value: templateTypeValues.number.value}"/> (a number)
										</div>
										<div data-bind="visible: templateType().id=='range'">
											Numbers between 
											<input type="text" data-bind="value: templateTypeValues.range.min, valueUpdate: 'afterkeydown', autosize: {max: 500, min: 30, padding: 10, value: templateTypeValues.range.min}"/>
											and
											<input type="text" data-bind="value: templateTypeValues.range.max, valueUpdate: 'afterkeydown', autosize: {max: 500, min: 30, padding: 10, value: templateTypeValues.range.max}"/>
											(inclusive) with step size
											<input type="text" data-bind="value: templateTypeValues.range.step, valueUpdate: 'afterkeydown', autosize: {max: 500, min: 30, padding: 10, value: templateTypeValues.range.step}"/>
										</div>
										<div data-bind="visible: templateType().id=='randrange'">
											A random number between 
											<input type="text" data-bind="value: templateTypeValues.randrange.min, valueUpdate: 'afterkeydown', autosize: {max: 500, min: 30, padding: 10, value: templateTypeValues.randrange.min}"/>
											and
											<input type="text" data-bind="value: templateTypeValues.randrange.max, valueUpdate: 'afterkeydown', autosize: {max: 500, min: 30, padding: 10, value: templateTypeValues.randrange.max}"/>
											(inclusive) with step size
											<input type="text" data-bind="value: templateTypeValues.randrange.step, valueUpdate: 'afterkeydown', autosize: {max: 500, min: 30, padding: 10, value: templateTypeValues.randrange.step}"/>
										</div>
										<div data-bind="visible: templateType().id=='string'">
											<input type="text" data-bind="value: templateTypeValues.string.value, valueUpdate: 'afterkeydown', autosize: {max: 500, min: 30, padding: 10, value: templateTypeValues.string.value}"/> (text string)
										</div>
										<div data-bind="visible: templateType().id=='long string'">
											<div data-bind="writemaths: templateTypeValues['long string'].value"></div>
										</div>
										<div data-bind="visible: templateType().id=='list of numbers', with: templateTypeValues['list of numbers']">
											<input type="text" data-bind="value: commaValue, valueUpdate: 'afterkeydown', autosize: {max: 500, min: 30, padding: 10, value: commaValue}"/>
											(comma-separated list of numbers)
										</div>
										<div data-bind="visible: templateType().id=='list of strings', with: templateTypeValues['list of strings']">
											<ul class="no-bullets" data-bind="foreach: values.edit">
												<li>
												<input type="text" data-bind="value: value, valueUpdate: 'afterkeydown', event: {blur: onBlur}, autosize: {max: 500, min: 30, padding: 10, value: value}"/>
												</li>
											</ul>
											(text strings)
										</div>
									</div>
								</div>
								<div class="control-group">
									<label>
										<span class="control-label">
											Description
											<span data-bind="template: {name: 'helplink', data: {url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-12'}}"></span>
										</span>
										<div class="controls" data-bind="writemaths: description"></div>
									</label>
								</div>
							</form>
							<div data-bind="visible: dependencies().length>0" class="inline-names">
								<strong>Depends on:</strong>
								<ul data-bind="foreach: dependenciesObjects">
									<li><!-- ko if: $index()>0 -->, <!-- /ko --><span class="variable" data-bind="click: $root.currentVariable, text: name"></span></li>
								</ul>.
							</div>
							<div data-bind="visible: usedIn().length>0" class="inline-names">
								<strong>Used by:</strong>
								<ul data-bind="foreach: usedIn">
									<li><!-- ko if: $index()>0 -->, <!-- /ko --><span class="variable" data-bind="click: $root.currentVariable, text: name"></span></li>
								</ul>.
							</div>
						</div>
					</div>
				</section>
				<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable(currentVariableTab().id)=='test'}">
					<form class="form-horizontal">
						<div class="control-group">
							<label class="control-label">
								Condition to satisfy
								<span data-bind="template: {name: 'helplink', data: {url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-condition-to-satisfy'}}"></span>
							</label>

							<div class="controls">
								<textarea class="def" data-bind="valueUpdate: 'afterkeydown', codemirror: variablesTest.condition, codemirrorMode: 'jme'"></textarea>
								<div class="variables-test">
									<div class="error" data-bind="visible: variablesTest.conditionError">Error: <span data-bind="html: variablesTest.conditionError"></span></div>
									<p data-bind="visible: !variablesTest.running()"><button type="button" data-bind="click: testVariables">Test condition</button> for <input type="number" data-bind="value: variablesTest.running_time, autosize: {value:variablesTest.running_time, max:100, min: 20}"/> seconds</p>
									<p class="variable-test-running" data-bind="visible: variablesTest.running">Running for <span data-bind="text: variablesTest.time_remaining_display"></span>... <button type="button" data-bind="click: cancelVariablesTest">Cancel</button></p>
									<div class="variable-test-advice" data-bind="visible: !variablesTest.running(), html: variablesTest.advice"></div>
								</div>
							</div>
						</div>
						<div class="control-group" data-bind="template: {
							name: 'property',
							data: {label:'Maximum number of runs',property:variablesTest.maxRuns, min:1, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-maximum-number-of-runs'}
						}"></div>
					</form>
				</section>
			</div>
		</section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='functions'}">
			<div id="functions">
				<h4>Functions <span data-bind="template: {name: 'helplink', data: {topic: 'functions', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#functions-rulesets'}}"></span></h4>
				<!-- ko foreach: {data: functions, afterAdd: Editor.afterAdd} -->
				<div class="function row-fluid">
					<div class="span1">
						<button type="button" class="delete" data-bind="click:remove" title="Delete this function"></button>
					</div>
					<div class="span8">
						<div class="row-fluid">
							<div class="span4">
								<label>
									Name <span data-bind="template: {name: 'helplink', data: {topic: 'function names', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-name'}}"></span>
									<div>
										<input placeholder="Name" type="text" data-bind="value: name, valueUpdate: 'afterkeydown', autosize: {value: name, max: 220}">
									</div>
								</label>
							</div>
							<div class="span4">
								<label>
									Language <span data-bind="template: {name: 'helplink', data: {topic: 'languages', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-language'}}"></span>
									<select data-bind="options: languages, value: language"></select>
								</label>
							</div>
							<div class="span4">
								<label>
									Output type <span data-bind="template: {name: 'helplink', data: {topic: 'output data types', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-output-type'}}"></span>
									<select data-bind="options: types, value:type"></select>
								</label>
							</div>
							<div>
								<label>
									Definition:
									<textarea data-bind="codemirror: definition, codemirrorMode: language, valueUpdate: 'afterkeydown'"></textarea>
								</label>
								<div class="error" data-bind="visible: error().length>0">
									Error: <span class="errortext" data-bind="html: error"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="span3">
						<label>Parameters</label>
						<!-- ko foreach: {data: parameters, afterAdd: Editor.afterAdd} -->
						<div class="row-fluid parameter">
							<form class="form-inline">
								<input class="name" type="text" placeholder="Name" data-bind="value: name, valueUpdate: 'afterkeydown'"/>
								<select class="type" data-bind="options: $parent.types, value: type"></select>
								<button type="button" class="delete" data-bind="click: remove" title="Remove this parameter"></button>
							</form>
						</div>
						<!-- /ko -->
						<button type="button" class="addparameter" data-bind="click:addParameter, text: parameters().length ? 'Add another parameter' : 'Add a parameter'"></button>
					</div>
				</div>
				<!-- /ko -->
				<button type="button" data-bind="click:addFunction, text: functions().length ? 'Add another function' : 'Add a function'"></button>
			</div>
			<div id="rulesets">
				<h4>Rulesets <span data-bind="template: {name: 'helplink', data: {topic: 'rulesets', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#rulesets'}}"></span></h4>
				<form class="form-horizontal">
					<!-- ko foreach: {data: rulesets, afterAdd: Editor.afterAdd} -->
						<div class="ruleset control-group">
							<span class="control-label">
								<input type="text" placeholder="Name" class="name control-label" data-bind="value:name, valueUpdate: 'afterkeydown'"/>
							</span>
							<div class="controls">:
								<div class="rules" data-bind="listbox:sets, rulesetcomplete: allsets"></div>
								<button type="button" class="delete" data-bind="click:remove" title="Delete this ruleset"></button>
							</div>
						</div>
					<!-- /ko -->
					<button type="button" data-bind="click:addRuleset, text: rulesets().length ? 'Add another ruleset' : 'Add a ruleset'"></button>
				</form>
			</div>
			<div id="preamble">
				<h4>
					Preamble
					<span data-bind="template: {name: 'helplink', data: {url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#preamble'}}"></span>
				</h4>
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label">
							Javascript
						</label>
						<div class="controls">
							<textarea data-bind="valueUpdate: 'afterkeydown', codemirror: preamble.js, codemirrorMode: 'javascript'"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">
							CSS
						</label>
						<div class="controls">
							<textarea data-bind="valueUpdate: 'afterkeydown', codemirror: preamble.css, codemirrorMode: 'css'"></textarea>
						</div>
					</div>
				</form>
			</div>
		</section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='parts'}">
			<div class="row-fluid">
				<div class="span3">
					<ol class="parts nav nav-list" data-bind="visible: parts().length>0, foreach: {data: parts, afterAdd: Editor.afterAdd}">
						<li class="part clearfix" data-bind="css: {active: $root.currentPart()==$data}">
							<div class="reorder" data-bind="visible: $root.currentPart()==$data && parentList().length>1">
								<button type="button" class="up" data-bind="click: moveUp, visible: canMove('up')" title="Move this part up one place"></button>
								<br/>
								<button type="button" class="down" data-bind="click: moveDown, visible: canMove('down')" title="Move this part down one place"></button>
							</div>
							<button type="button" class="delete" data-bind="click: remove" title="Delete this part"></button>
							<a data-bind="click: $root.showPart" href="#"><strong data-bind="text: header"></strong> <span data-bind="text: type().niceName"></span></a>
							<div class="subparts" data-bind="fadeVisible: meOrChildSelected() || gaps().length || steps().length">
								<div class="gaps" data-bind="if: type().name=='gapfill'">
									<h6>Gaps</h6>
									<ol class="gaps nav nav-list" data-bind="foreach: {data: gaps, afterAdd: Editor.afterAdd}">
										<li class="part clearfix" data-bind="css: {active: $root.currentPart()==$data}">
											<div class="reorder" data-bind="visible: $root.currentPart()==$data && parentList().length>1">
												<button type="button" class="up" data-bind="click: moveUp, visible: canMove('up')" title="Move this part up one place"></button>
												<br/>
												<button type="button" class="down" data-bind="click: moveDown, visible: canMove('down')" title="Move this part down one place"></button>
											</div>
											<button type="button" class="delete" data-bind="click: remove" title="Delete this gap"></button>
											<a data-bind="click: $root.showPart" href="#"><strong data-bind="text: header"></strong> <span data-bind="text: type().niceName"></span></a>
										</li>
									</ol>
									<div class="addgap"><button type="button" data-bind="click:addGap, text: gaps().length ? 'Add another gap' : 'Add a gap'"></button></div>
								</div>
								<div class="steps clearfix">
									<h6>Steps <span data-bind="template: {name: 'helplink', data: {topic: 'steps', url: 'http://numbas-editor.readthedocs.org/en/latest/question-parts.html#term-steps'}}"></span></h6>
									<ol class="steps nav nav-list" data-bind="foreach: {data: steps, afterAdd: Editor.afterAdd}">
										<li class="part clearfix" data-bind="css: {active: $root.currentPart()==$data}">
										<div class="reorder" data-bind="visible: $root.currentPart()==$data && parentList().length>1">
												<button type="button" class="up" data-bind="click: moveUp, visible: canMove('up')" title="Move this part up one place"></button>
												<br/>
												<button type="button" class="down" data-bind="click: moveDown, visible: canMove('down')" title="Move this part down one place"></button>
											</div>
											<button type="button" class="delete" data-bind="click: remove" title="Delete this step"></button>
											<a data-bind="click: $root.showPart" href="#"><strong data-bind="text: header"></strong> <span data-bind="text: type().niceName"></span></a>
										</li>
									</ol>
									<div class="addstep"><button type="button" data-bind="click:addStep, text: steps().length ? 'Add another step' : 'Add a step'"></button></div>
								</div>
							</div>
						</li>
					</ol>
					<button type="button" data-bind="click:addPart, text: parts().length ? 'Add another part' : 'Add a part'"></button>
				</div>
				<div class="span9 part-edit" data-bind="with: currentPart">
					<h4 class="header">
						Type: <select class="type" data-bind="options: availableTypes, value:type, optionsText: 'niceName'"></select> <span data-bind="template: {name: 'helplink', data: {topic: 'part types', url: 'http://numbas-editor.readthedocs.org/en/latest/question-parts.html'}}"></span>
						<button class="copy-part" data-bind="click: copy">Copy this part</button>
						<button class="copy-part" data-bind="visible: canBeReplacedWithGap, click: replaceWithGapfill">Replace with a gap-fill</button>
					</h4>
					<div class="row-fluid">
						<ul class="nav nav-tabs" data-bind="foreach: tabs">
							<li data-bind="css: {active: ko.utils.unwrapObservable($parent.currentTab().id) == $data.id}">
								<a href="#" data-bind="click: $parent.currentTab, text: title"></a>
							</li>
						</ul>
					</div>
					<div class="row-fluid">
						<div class="tab-content">
							<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable(currentTab().id)=='prompt'}">
								<span data-bind="template: {
									name: 'helplink', 
									data: {topic: 'part prompt', url: 'http://numbas-editor.readthedocs.org/en/latest/question-parts.html#term-prompt', big: true}
								}"></span>
							<div data-bind="writemaths: prompt, preambleCSS: $root.preamble.css, tinymce_plugins: ['gapfill'], showButtons: {gapfill: function(){return $data.type().name=='gapfill'}}"></div>
							</section>
							{% for name,template in partNames %}
                                <!-- ko if: type().name=='{{name}}' -->
                                    <!-- ko with: type().model -->
                                    {% include template %}
                                    <!-- /ko -->
								<!-- /ko -->
							{% endfor %}
							<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable(currentTab().id)=='scripts'}">
								<form class="form-horizontal" data-bind="foreach: scripts">
									<div class="control-group">
										<label class="control-label">
											<span data-bind="text: displayName"></span><span data-bind="if: active"> (active)</span>
											<span data-bind="template: {name: 'helplink', data: {topic: 'the advice section', url: helpURL}}"></span>
										</label>
										<div class="controls">
											<textarea data-bind="valueUpdate: 'afterkeydown', codemirror: script, codemirrorMode: 'javascript'"></textarea>
										</div>
									</div>
								</form>
							</section>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='advice'}">
			<span data-bind="template: {name: 'helplink', data: {topic: 'the advice section', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#advice', big: true}}"></span>
			<div data-bind="writemaths:advice, preambleCSS: $root.preamble.css"></div>
		</section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='resources'}">
			<span data-bind="template: {name: 'helplink', data: {url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#resources', big: true}}"></span>
			<form data-bind="fileupload: resources" data-url="{% url 'upload_resource' object.pk object.slug %}">
				{% csrf_token %}
                <div class="control-group">
                    <label>
                        <h4 class="control-label">Upload an image</h4>
                        <div class="controls">
                            <input id="fileupload" type="file" name="files[]">
                        </div>
                    </label>
                </div>
			</form>
			<h4>Uploaded images</h4>
			<ul class="unstyled resources-list" data-bind="foreach: resources">
				<li class="resource clearfix">
					<div data-bind="visible: progress()<1" class="progress progress-striped active">
						<div class="bar" data-bind="style: {width: progress()+'%'}"></div>
					</div>
					<div data-bind="visible: progress()==1">
						<a data-bind="attr: {href: url}" target="_blank"><img class="thumbnail" data-bind="visible: filetype()=='img', attr: {src: url, title: name}"/></a>
						<span class="path" data-bind="text: 'resources/'+name()"></span>
						<button type="button" class="delete" data-bind="click: $root.deleteResource" title="Delete this image"></button>
					</div>
				</li>
			</ul>
		</section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='exams'}">
			{% if object.exam_set.count %}
				<ul class="exams-list">
				{% for exam in object.exam_set.all %}
					<li class="exam">
						<a href="{% url 'exam_edit' exam.pk exam.slug %}">{{exam.name}}</a> ({{ exam.author.get_full_name }})
					</li>
				{% endfor %}
				</ul>
			{% else %}
				This question is not used in any exams.
			{% endif %}
		</section>
        <section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='versions'}">
			<p>Click on a version to restore it.</p>
			<p><label><input type="checkbox" data-bind="checked: onlyShowCommentedVersions"/> Only show versions with comments</label></p>
			<table class="versions">
				<thead>
					<th>Version</th>
					<th>Comment</th>
				</thead>
				<tbody data-bind="foreach: versionsToDisplay">
					<tr class="version">
						<td>
							<a data-bind="attr: {href: 'revert/'+version_pk}" title="Restore this version">
								<span data-bind="text: date_created"></span> by <span data-bind="text: user.name"></span>
							</a> 
						</td>
						<td class="comment">
							<div class="edit-comment" data-bind="editableHTML: comment"></div>
							<span data-bind="visible: !editable, text: comment"></span>
						</td>
					</tr>
				</tbody>
			</table>
        </section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='access'}">
			<span data-bind="template: {name: 'helplink', data: {url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#access', big: true}}"></span>
			<form class="form-horizontal">
				<div class="control-group">
					<label>
						<span class="control-label">Public visibility:</span>
						<div class="controls">
							<select data-bind="value: public_access, options: access_options, optionsText:'text',optionsValue:'value'"></select>
						</div>
					</label>
				</div>
			</form>
			<h4>Individual access rights</h4>
			<form class="form-horizontal" data-bind="submit: function(){}">
				<!-- ko foreach: {data: access_rights, afterAdd: Editor.afterAdd} -->
				<div class=control-group">
					<label>
						<span class="control-label" data-bind="text:name"></span>
						<div class="controls">
							<select data-bind="hasfocus: true, value: access_level, options: access_options, optionsText:'text',optionsValue:'value'"></select>
							<button type="button" class="delete" data-bind="click: remove" title="Remove this user's access"></button>
						</div>
					</label>
				</div>
				<!-- /ko -->
				<div class="control-group access-search">
					<label>
						<span class="control-label">Search for a user to give access to:</span>
						<div class="controls">
							<input id="search_author" type="text" size="30" data-bind="
								value: userAccessSearch,
								autocomplete: '{% url 'user_search' %}', 
								autocompleteCallback: function(user) { return {label: user.name, value: user.name} },
								autocompleteSelect: addUserAccess
								"/>
						</div>
					</label>
				</div>
			</form>
		</section>
	</div>

    <div class="modal hide fade" id="imagePickModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Insert image</h3>
        </div>
        <div class="modal-body">
			<form data-bind="fileupload: resources, afterupload: $root.insertImage" data-url="{% url 'upload_resource' object.pk object.slug %}">
				{% csrf_token %}
                <div class="control-group">
                    <label>
                        <span class="control-label">Upload an image</span>
                        <div class="controls">
                            <input id="fileupload" type="file" name="files[]">
                        </div>
                    </label>
                </div>
			</form>
            <ul class="unstyled resources-list" data-bind="foreach: resources">
				<li class="resource clearfix" data-bind="click: $root.insertImage">
					<img class="thumbnail" data-bind="visible: filetype()=='img', attr: {src: url, title: name}"/>
					<span data-bind="text: name"></span><span data-bind="visible: filetype()=='html'"> (will be embedded as an iframe)</span>
				</li>
            </ul>
        </div>
    </div>
    <div class="modal hide fade" id="imageAttributeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Image attributes</h3>
        </div>
		<div class="modal-body">
			<form class="form-horizontal">
				<div class="control-group">
					<label>
						<span class="control-label">Width</span>
						<div class="controls">
							<input type="text" class="span1" data-bind="value: imageModal.width"> px
						</div>
					</label>
				</div>
				<div class="control-group">
					<label>
						<span class="control-label">Height</span>
						<div class="controls">
							<input type="text" class="span1" data-bind="value: imageModal.height"> px
						</div>
					</label>
				</div>
				<div class="control-group">
					<label>
						<span class="control-label">Title text</span>
						<div class="controls">
							<input type="text" data-bind="value: imageModal.title">
						</div>
					</label>
				</div>
				<div class="control-group">
					<label>
						<span class="control-label">Alt text</span>
						<div class="controls">
							<input type="text" data-bind="value: imageModal.alt">
						</div>
					</label>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn" data-bind="click: function(){$('#imageAttributeModal').modal('hide');}">Cancel</button>
			<button type="button" class="btn btn-primary" data-bind="click: $root.changeImageAttributes">Apply</button>
		</div>
	</div>
    <div class="modal hide fade" id="iframeAttributeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Embedded page attributes</h3>
        </div>
		<div class="modal-body">
			<form class="form-horizontal">
				<div class="control-group">
					<label>
						<span class="control-label">Width</span>
						<div class="controls">
							<input type="text" class="span1" data-bind="value: iframeModal.width"> px
						</div>
					</label>
				</div>
				<div class="control-group">
					<label>
						<span class="control-label">Height</span>
						<div class="controls">
							<input type="text" class="span1" data-bind="value: iframeModal.height"> px
						</div>
					</label>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn" data-bind="click: function(){$('#iframeAttributeModal').modal('hide');}">Cancel</button>
			<button type="button" class="btn btn-primary" data-bind="click: $root.changeIframeAttributes">Apply</button>
		</div>
	</div>
{% endblock editor %}
