{% extends "editoritem/edit.html" %}
{% load user_link %}
{% load can_edit %}
{% load links %}
{% load sanitizer %}
{% load helplink %}
{% load editor_controls %}
{% load sstatic %}
{% load json_filter %}

{% block javascripts %}
    {{ block.super }}

    <!-- question editor -->
    <script src="{% sstatic 'js/question/edit_elm.js' %}" type="application/javascript"></script>
    <script src="{% sstatic 'js/question/edit.mjs' %}" type="module"></script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% sstatic 'css/question/edit.css' %}"/>
{% endblock stylesheets %}

{% block content %}
{{block.super}}
{% endblock content %}

{% block settings %}
{{ block.super }}
{% if editable %}
    <editor-pager params="visible: !$root.published(), editor: $root, previousTab: 'advice', nextTab: 'access', task_group: 'settings'"></editor-pager>
{% endif %}
{% endblock settings %}

{% block settings_main %}
{{ block.super }}

{% endblock %}

{% block admin_controls %}
{{block.super}}
<li id="add-to-basket">
<a class="basket add-to-basket" href="#" data-question-id="{{object.pk}}">
    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;
    Add to your basket
</a>
</li>
{% endblock admin_controls %}

{% block main_tab_content %}
{{ block.super }}
    <tab-panel :current_tab="current_tab" tabid="statement" group="main">
        <p><label for="statement">Statement</label></p>

        <textarea id="statement" v-model="question.statement"></textarea>
    </tab-panel>

    <tab-panel :current_tab="current_tab" tabid="parts" class="tabbed-sidebar" group="main">
        <tab-list :tabs="part_tabs" v-model="current_part" class="vertical" name="parts"></tab-list>

        <tab-panel v-for="part_tab in part_tabs" :current_tab="current_part" :tabid="part_tab.id" group="parts">
            <part-editor v-model="part_tab.part"></part-editor>
        </tab-panel>
    </tab-panel>


{% endblock main_tab_content %}

{% block access_tab_nav %}
    <editor-pager params="visible: !$root.published(), editor: $root, previousTab: 'settings', task_group: 'access'"></editor-pager>
{% endblock access_tab_nav %}

{% block templates %}
{{block.super}}

<template id="part-editor-template">
    <h2>[[part_label]]</h2>

    <tab-list :tabs="part.tabs" v-model="current_tab" :name="tab_group"></tab-list>

    <tab-panel :current_tab="current_tab" tabid="prompt" :group="tab_group">
        <p><label for="prompt">Prompt</label></p>
        <textarea id="prompt" v-model="part.prompt"></textarea>
    </tab-panel>

    <template v-if="part.type == 'numberentry'">
        <tab-panel :current_tab="current_tab" tabid="marking-settings" :group="tab_group">
            <form>
                <fieldset>
                    <editor-property id="marks" label="Marks" help="parts/reference.html#term-Marks">
                        <input id="marks" v-model="part.marks">
                    </editor-property>

                    <editor-property id="show-correct-answer" label="Show correct answer on reveal?" help="parts/reference.html#term-Show-correct-answer-on-reveal">
                        <input id="show-correct-answer" type="checkbox" v-model="part.showCorrectAnswer">
                    </editor-property>
                </fieldset>

                <fieldset>
                    <legend>Answer</legend>
                    
                    <editor-property id="minvalue" label="Minimum accepted value" help="parts/numberentry.html#term-Minumum-accepted-value">
                       <input id="minvalue" class="monospace" v-model="part.minvalue">
                    </editor-property>
                    
                    <editor-property id="maxvalue" label="Maximum accepted value" help="parts/numberentry.html#term-Minumum-accepted-value">
                       <input id="maxvalue" class="monospace" v-model="part.maxvalue">
                    </editor-property>
                </fieldset>

                <fieldset>
                    <legend>Advanced settings</legend>

                    <editor-property id="displayAnswer" label="Display answer" help="parts/numberentry.html#term-Display-answer">
                        <input id="displayAnswer" class="monospace" v-model="part.displayAnswer">
                        <div class="help-block" v-if="part.displayAnswer == ''">(The midpoint of the minimum and maximum accepted values)</div>
                    </editor-property>

                    <editor-property id="precisionType" label="Precision restriction" help="parts/numberentry.html#term-Display-answer">
                    </editor-property>
                </fieldset>
            </form>
        </tab-panel>
    </template>
</template>
{% endblock %}
