{% extends "question/edit.html" %}
{% load verbatim %}

{% block controls %}
	{{block.super}}
	<div class="editlevels span2">
		<button data-bind="click: changeEditLevel, text: isadvanced() ? 'Switch to simplified editing mode' : 'Switch to full editing mode'">Switch to simplified editing mode</button>
	</div>
{% endblock controls %}

{% block editable_message %}You can edit this question.{% endblock %}

{% block editor %}
	<div class="tab-content">
		<section class="tab-pane" data-bind="css: {active: $root.currentTab().id()=='general'}">
			<div class="row-fluid">
				<input class="input-block-level" id="question-name" data-bind="value: name, valueUpdate: 'afterkeydown'" type="text"/>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<label for="description"><h4>Description</h4></label>
					<div id="description" data-bind="writemaths: description"></div>
				</div>
				<div class="span6">
					<label for="authors-notes"><h4>Author's Notes</h4></label>
					<div id="authors-notes" data-bind="writemaths: notes"></div>
				</div>
			</div>
		</section>
		<section class="tab-pane" data-bind="css: {active: $root.currentTab().id()=='statement'}">
			<div id="statement" data-bind="writemaths: statement"></div>
		</section>
		<section class="tab-pane" data-bind="css: {active: $root.currentTab().id()=='variables'}">
			<div class="row-fluid">
				<!-- ko foreach: variables -->
				<div class="row-fluid variable">
					<div class="span1"><span class="handle"></span></div>
					<div class="span8">
						<form>
							<button class="delete" data-bind="click:remove"></button>
							<input type="text" placeholder="Name" class="name" data-bind="value:name, valueUpdate: 'afterkeydown', attr: {disabled: !$parent.isadvanced()}, autosize: name"/> 
							<label class="control-label">Definition</label>
							<textarea class="def" data-bind="valueUpdate: 'afterkeydown', codemirror: definition, codemirrorMode: 'jme'"></textarea>
						</form>
					</div>
					<div class="span3">
						<div class="value" data-bind="css: {error: error().length>0}, html: display, mathjax: display"></div>
					</div>
				</div>
				<!-- /ko -->

				<div class="row-fluid">
					<div class="span3">
						<button data-bind="click:addVariable, text: variables().length ? 'Add another variable' : 'Add a variable'"></button>
						Automatically recalculate variables: <input type="checkbox" data-bind="checked: autoCalculateVariables"/>
					</div>
					<div class="span3 offset 6">
						<button data-bind="click: computeVariables, visible: variables().length>0">Regenerate values</button>
					</div>
				</div>
			</div>
		</section>
		<section class="tab-pane" data-bind="css: {active: $root.currentTab().id()=='functions'}">
			<div id="functions">
				<h4>Functions</h4>
				<!-- ko foreach: functions -->
				<div class="function">
					<div class="row-fluid">
						<div class="span1">
							<button class="delete" data-bind="click:remove" value="Delete"></button>
						</div>
						<div class="span8">
							<div class="row-fluid">
								<div class="span8">
									<label>Name</label>
									<input placeholder="Name" class="input-block-level" type="text" data-bind="value: name">
								</div>
								<div class="span4">
									<label>Output type</label>
									<select data-bind="options: types, value:type"></select>
								</div>
								<div class="span12">
									<label>Definition:</label>
									<textarea data-bind="codemirror: definition, codemirrorMode: language, valueUpdate: 'afterkeydown'"></textarea>
								</div>
							</div>
						</div>
						<div class="span3">
							<label>Parameters</label>
							<!-- ko foreach: parameters -->
							<div class="row-fluid">
								<form class="form-inline">
									<input type="text" placholder="Name" data-bind="value: name"/>
									<select data-bind="options: $parent.types, value: type"></select>
									<button class="delete" data-bind="click: remove"></button>
								</form>
							</div>
							<!-- /ko -->
							<button class="addparameter" data-bind="click:addParameter, text: parameters().length ? 'Add another parameter' : 'Add a parameter'"></button>
						</div>
					</div>
				</div>
				<!-- /ko -->
				<button data-bind="click:addFunction, text: functions().length ? 'Add another function' : 'Add a function'"></button>
			</div>
			<div id="rulesets">
				<h4>Rulesets</h4>
				<!-- ko foreach: rulesets -->
					<div class="ruleset">
						<input type="text" placeholder="Name" class="name" data-bind="value:name, valueUpdate: 'afterkeydown'"/>:
						<div data-bind="listbox:sets, rulesetcomplete: allsets"></div>
						<button class="delete" data-bind="click:remove"></button>
					</div>
				<!-- /ko -->
				<button data-bind="click:addRuleset, text: rulesets().length ? 'Add another ruleset' : 'Add a ruleset'"></button>
			</div>
		</section>
		<section class="tab-pane" data-bind="css: {active: $root.currentTab().id()=='parts'}">
			<div class="row-fluid">
				<div class="span3">
					<ol class="parts nav nav-list" data-bind="foreach: parts">
						<li data-bind="css: {active: $root.currentPart()==$data}"><button class="delete" data-bind="click: remove"></button><a data-bind="text: header, click: $root.showPart" href="#"></a></li>
					</ol>
					<button data-bind="visible: $root.isadvanced, click:addPart, text: parts().length ? 'Add another part' : 'Add a part'"></button>
				</div>
				<div class="span9 part" data-bind="with: currentPart">
					<h4 class="header">
						<span data-bind="text: $index()+'. '"></span>
						<select class="type" data-bind="options: availableTypes, value:type, optionsText: 'niceName'"></select>
					</h4>
					<div class="row-fluid">
						<ul class="nav nav-tabs" data-bind="foreach: tabs">
							<li data-bind="css: {active: $parent.currentTab() == $data}">
								<a href="#" data-bind="click: $parent.currentTab, text: title"></a>
							</li>
						</ul>
					</div>
					<div class="row-fluid">
						<div class="tab-content">
							<section class="tab-pane" data-bind="css: {active: currentTab().id()=='prompt'}">
								<div data-bind="writemaths: prompt"></div>
							</section>
							<!-- ko if: type().name=='jme' -->
							<section class="tab-pane" data-bind="css: {active: currentTab().id()=='marking'}">
								<form class="form-horizontal">
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Marks',property:marks,min:0}
									}"></div>
									<div class="control-group">
										<label class="control-label">Correct answer</label>
										<div class="controls">
											<input type="text" data-bind="value: jme.answer, valueUpdate: 'input', autosize: {max: 500, min: 30, padding: 10, value: jme.answer}"/>
											<span data-bind="JME: jme.answer" class="jme-answer"></span>
										</div>
									</div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Answer simplification rules',property:jme.answerSimplification}
									}"></div>
								</form>
							</section>
							<section class="tab-pane" data-bind="css: {active: currentTab().id()=='restrictions'}">
								<form class="form-horizontal">
									<h4>Checking accuracy</h4>
									<div class="control-group">
										<label class="control-label">Checking type</label>
										<div class="controls">
											<select data-bind="options: jme.checkingTypes, value: jme.checkingType, optionsText:'niceName'"></select>
										</div>
									</div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Checking accuracy',property:jme.checkingType().accuracy,min:0}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Points to check',property:jme.vset.points,min:0}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Maximum no. of failures',property:jme.failureRate,min:0, max:jme.vset.points}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Checking range start',property:jme.vset.start,max:jme.vset.end}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Checking range end',property:jme.vset.end,min:jme.vset.start}
									}"></div>
								</form>
								<h4>Length restriction</h4>
								<form class="form-horizontal">
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Maximum length',property:jme.maxlength.length,min:0}
									}"></div>
									<div data-bind="fadeVisible: jme.maxlength.length()>0">
										<div class="control-group" data-bind="template: {
											name:'percentproperty',
											data: {label:'Partial credit for long answer',property:jme.maxlength.partialCredit}
										}"></div>
										<div class="control-group">
											<label clas="control-label">Warning message</label>
											<div class="controls" data-bind="writemaths: jme.maxlength.message"></div>
										</div>
									</div>
								</form>
								<form class="form-horizontal">
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Minimum length',property:jme.minlength.length,min:0}
									}"></div>
									<div data-bind="fadeVisible: jme.minlength.length()>0">
										<div class="control-group" data-bind="template: {
											name:'percentproperty',
											data: {label:'Partial credit for short answer',property:jme.minlength.partialCredit}
										}"></div>
										<div class="control-group">
											<label class="control-label">Warning message</label>
											<div class="controls" data-bind="writemaths: jme.minlength.message"></div>
										</div>
									</div>
								</form>
								<h4>String restriction</h4>
								<form class="form-horizontal">
									<div class="control-group">
										<label class="control-label">Required strings:</label>
										<div class="controls" data-bind="listbox:jme.musthave.strings"></div>
									</div>
									<div data-bind="fadeVisible: jme.musthave.strings().length>0">
										<div class="control-group" data-bind="template: {
											name:'percentproperty',
											data: {label:'Partial credit for not using all required strings:',property:jme.musthave.partialCredit}
										}"></div>
										<div class="control-group" data-bind="template: {
											name: 'booleanproperty',
											data: {label:'Show required strings in warning?', property:jme.musthave.showStrings}
										}"></div>
										<div class="control-group">
											<label class="control-label">Warning message</label>
											<div class="controls" data-bind="writemaths: jme.musthave.message"></div>
										</div>
									</div>
								</form>

								<form class="form-horizontal">
									<div class="control-group">
										<label class="control-label">Forbidden strings:</label>
										<div class="controls" data-bind="listbox:jme.notallowed.strings"></div>
									</div>
									<div data-bind="fadeVisible: jme.notallowed.strings().length>0">
										<div class="control-group" data-bind="template: {
											name:'percentproperty',
											data: {label:'Partial credit for not using all required strings:',property:jme.notallowed.partialCredit}
										}"></div>
										<div class="control-group" data-bind="template: {
											name: 'booleanproperty',
											data: {label:'Show required strings in warning?', property:jme.notallowed.showStrings}
										}"></div>
										<div class="control-group">
											<label class="control-label">Warning message</label>
											<div class="controls" data-bind="writemaths: jme.notallowed.message"></div>
										</div>
									</div>
								</form>
							</section>
							<!-- /ko -->
							<!-- ko if: type().name=='numberentry' -->
							<section class="tab-pane" data-bind="css: {active: currentTab().id()=='marking'}">
								<form class="form-horizontal">
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Marks',property:marks,min:0}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Minimum accepted value',property:numberentry.minValue}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Maximum accepted value',property:numberentry.maxValue}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'booleanproperty',
										data: {label:'Must the answer be an integer?', property:numberentry.integerAnswer}
									}"></div>
									<div class="control-group" data-bind="fadeVisible: numberentry.integerAnswer,
									template: {
										name:'percentproperty',
										data: {label:'Partial credit for non-integer answer',property:numberentry.integerPartialCredit}
									}"></div>
									<div class="control-group">
										<label class="control-label">Precision restriction</label>
										<div class="controls">
											<select data-bind="options: numberentry.precisionTypes, value: numberentry.precisionType, optionsText: 'niceName'"></select>
										</div>
									</div>
									<div class="control-group" data-bind="fadeVisible: numberentry.precisionType().name!='none',
									template: {
										name:'property',
										data: {label:numberentry.precisionWord,property:numberentry.precision}
									}"></div>
									<div class="control-group" data-bind="fadeVisible: numberentry.precisionType().name!='none',
									template: {
										name:'percentproperty',
										data: {label:'Partial credit for wrong precision',property:numberentry.precisionPartialCredit}
									}"></div>
									<div class="control-group" data-bind="fadeVisible: numberentry.precisionType().name!='none'">
										<label class="control-label">Message if wrong precision</label>
										<div class="controls" data-bind="writemaths: numberentry.precisionMessage"></div>
									</div>
								</form>
							</section>
							<!-- /ko -->
							<!-- ko if: type().name=='patternmatch' -->
							<section class="tab-pane" data-bind="css: {active: currentTab().id()=='marking'}">
								<form class="form-horizontal">
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Marks',property:marks,min:0}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Answer pattern',property:patternmatch.answer}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Display answer',property:patternmatch.displayAnswer}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'booleanproperty',
										data: {label:'Must the answer be in the correct case?', property:patternmatch.caseSensitive}
									}"></div>
									<div class="control-group" data-bind="
									fadeVisible:patternmatch.caseSensitive,
									template: {
										name:'percentproperty',
										data: {label:'Partial credit for answer not matching case',property:patternmatch.partialCredit}
									}"></div>
								</form>
							</section>
							<!-- /ko -->
							<!-- ko if: type().name=='1_n_2' -->
							<section class="tab-pane" data-bind="css: {active: currentTab().id()=='marking'}">
								<form class="form-horizontal">
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Minimum marks',property:multiplechoice.minMarks, max:multiplechoice.maxMarks }
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Maximum marks',property:multiplechoice.maxMarks, min:multiplechoice.minMarks}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'booleanproperty',
										data: {label:'Shuffle order of choices?', property:multiplechoice.shuffleChoices}
									}"></div>
									<div class="control-group" data-bind="fadeVisible: multiplechoice.displayType().name!='dropdown',
									template: {
										name: 'property',
										data: {label:'Number of display columns',property:multiplechoice.displayColumns}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'booleanproperty',
										data: {label: 'Custom marking matrix?', property: multiplechoice.customMarking}
									}"></div>
									<div class="control-group" data-bind="fadeVisible: multiplechoice.customMarking, template: {
										name: 'property',
										data: {label: 'Custom matrix expression', property: multiplechoice.customMatrix}
									}"></div>
								</form>
							</section>
							<section class="tab-pane" data-bind="css: {active: currentTab().id()=='choices'}">
								<ul class="choices">
									<!-- ko foreach: {data: multiplechoice.choices, beforeRemove: Editor.beforeRemove, afterAdd: Editor.afterAdd} -->
									<li class="choice">
										<form class="form-inline">
											<button class="delete" data-bind="click:remove"></button>
											<label>
												Marks:
												<input class="marks" type="text" data-bind="value:marks, valueUpdate:'input', autosize: {max: 500, min: 30, padding: 10, value: marks}"/>
											</label>
											<label>
												Distractor Message:
												<input type="text" data-bind="value:distractor, valueUpdate:'input', autosize: {max: 500, min: 100, padding: 10, value: distractor}"/>
											</label>
											<div id="description" data-bind="writemaths: content, wmHeight: 100, wmWidth: 500"></div>
										</form>
									</li>
									<!-- /ko -->
									<li><button data-bind="visible: $root.isadvanced, click:addChoice">Add a choice</button></li>
								</ul>
							</section>
							<!-- /ko -->
							<!-- ko if: type().name=='m_n_2' -->
							<section class="tab-pane" data-bind="css: {active: currentTab().id()=='marking'}">
								<form class="form-horizontal">
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Minimum marks',property:multiplechoice.minMarks, max:multiplechoice.maxMarks }
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Maximum marks',property:multiplechoice.maxMarks, min:multiplechoice.minMarks}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Minimum answers:',property:multiplechoice.minAnswers, max:multiplechoice.maxAnswers}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Maximum answers:',property:multiplechoice.maxAnswers, min:multiplechoice.minAnswers}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'booleanproperty',
										data: {label:'Shuffle order of choices?', property:multiplechoice.shuffleChoices}
									}"></div>
									<div class="control-group" data-bind="fadeVisible: multiplechoice.displayType().name!='dropdown',
									template: {
										name: 'property',
										data: {label:'Number of display columns',property:multiplechoice.displayColumns}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'booleanproperty',
										data: {label: 'Custom marking matrix?', property: multiplechoice.customMarking}
									}"></div>
									<div class="control-group" data-bind="fadeVisible: multiplechoice.customMarking, template: {
										name: 'property',
										data: {label: 'Custom matrix expression', property: multiplechoice.customMatrix}
									}"></div>
								</form>
							</section>
							<section class="tab-pane" data-bind="css: {active: currentTab().id()=='choices'}">
								<ul class="choices">
									<!-- ko foreach: {data: multiplechoice.choices, beforeRemove: Editor.beforeRemove, afterAdd: Editor.afterAdd} -->
									<li class="choice">
										<form class="form-inline">
											<button class="delete" data-bind="click:remove"></button>
											<label>
												Marks:
												<input class="marks" type="text" data-bind="value:marks, valueUpdate:'input', autosize: {max: 500, min: 30, padding: 10, value: marks}"/>
											</label>
											<label>
												Distractor Message:
												<input type="text" data-bind="value:distractor, valueUpdate:'input', autosize: {max: 500, min: 100, padding: 10, value: distractor}"/>
											</label>
											<div id="description" data-bind="writemaths: content, wmHeight: 100, wmWidth: 500"></div>
										</form>
									</li>
									<!-- /ko -->
									<li><button data-bind="visible: $root.isadvanced, click:addChoice">Add a choice</button></li>
								</ul>
							</section>
							<!-- /ko -->
							<!-- ko if: type().name=='m_n_x' -->
							<section class="tab-pane" data-bind="css: {active: currentTab().id()=='marking'}">
								<form class="form-horizontal">
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Minimum marks',property:multiplechoice.minMarks, max:multiplechoice.maxMarks }
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Maximum marks',property:multiplechoice.maxMarks, min:multiplechoice.minMarks}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Minimum answers:',property:multiplechoice.minAnswers, max:multiplechoice.maxAnswers}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'property',
										data: {label:'Maximum answers:',property:multiplechoice.maxAnswers, min:multiplechoice.minAnswers}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'booleanproperty',
										data: {label:'Shuffle order of choices?', property:multiplechoice.shuffleChoices}
									}"></div>
									<div class="control-group" data-bind="template: {
										name: 'booleanproperty',
										data: {label:'Shuffle order of answers?', property:multiplechoice.shuffleAnswers}
									}"></div>
									<div class="control-group">
										<label>
											<span class="control-label">Selection type:</span>
											<div class="controls">
												<select data-bind="options: multiplechoice.displayTypes.m_n_x, value: multiplechoice.displayType, optionsText: 'niceName'"></select>
											</div>
										</label>
									</div>
									<div class="control-group" data-bind="template: {
										name: 'booleanproperty',
										data: {label: 'Custom marking matrix?', property: multiplechoice.customMarking}
									}"></div>
									<div class="control-group" data-bind="fadeVisible: multiplechoice.customMarking, template: {
										name: 'property',
										data: {label: 'Custom matrix expression', property: multiplechoice.customMatrix}
									}"></div>
								</form>
							</section>
							<section class="tab-pane" data-bind="css: {active: currentTab().id()=='choices'}">
								<div class="matrix">
									<label>Marking matrix:</label>
									<table class="multiplechoice">
										<thead>
											<tr>
												<td></td>
												<!-- ko foreach: {data: multiplechoice.answers, beforeRemove: Editor.beforeRemove, afterAdd: Editor.afterAdd} -->
													<th>
														<input type="text" data-bind="value:content, valueUpdate:'input'">
														<button class="delete" data-bind="click:function(){this.remove()}"></button>
													</th>
												<!-- /ko -->
												<td>
													<button data-bind="visible: $root.isadvanced, click:addAnswer">Add Answer</button>
												</td>
											</tr>
										</thead>
										<tbody>
											<!-- ko foreach: {data: multiplechoice.choices, beforeRemove: Editor.beforeRemove, afterAdd: Editor.afterAdd} -->
												<tr>
													<th>
														<input type="text" data-bind="value:content, valueUpdate:'input'"/>
														<button class="delete" data-bind="click:remove"></button>
													</th>
													<!-- ko foreach: answers -->
														<td>
															<input class="marks" data-bind="visible: !$parents[1].multiplechoice.customMarking(), value: marks, valueUpdate:'input'"/>
														</td>
													<!-- /ko -->
												</tr>
											<!-- /ko -->
											<tr><td><button data-bind="visible: $root.isadvanced, click:addChoice">Add Choice</button></td></tr>
										</tbody>
									</table>
								</div>
							</section>
							<!-- /ko -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="tab-pane" data-bind="css: {active: $root.currentTab().id()=='advice'}">
			<div data-bind="writemaths:advice"></div>
		</section>
	</div>
{% endblock editor %}

{% block content %}
    {{ block.super }}
	{% include "editable.html" %}

	{% verbatim %}
		<script type="text/html" id="questionTemplate">
		<div class="properties">
			<div data-bind="template: {
				name: 'property',
				data: {property:name,label:'Question name:'}
			}"></div>
		</div>

		<div data-bind="folder: {label:'Metadata',show:true}">
			<div class="properties">
				<div data-bind="fadeVisible: isadvanced">
					<label>Tags:</label>
					<div data-bind="listbox:tags"></div>
				</div>
			</div>

			<div data-bind="folder: 'Extensions', fadeVisible: isadvanced() && extensions().length>0">
				<div>
					<ul data-bind="foreach: extensions">
						<li>
							<input type="checkbox" data-bind="checked: used">
							<a data-bind="attr: {href:url}, text:name" target="_blank"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>



		<div data-bind="folder: 'Rulesets ('+rulesets().length+')', fadeVisible: isadvanced">
			<div class="rulesets">
				<ul class="editlist" data-bind="
					visible: rulesets().length>0,
					foreach: {
						data: rulesets,
						afterAdd: Editor.afterAdd,
						beforeRemove: Editor.beforeRemove
					}
				">
					<li class="ruleset">
						<input type="text" data-bind="value:name, valueUpdate: 'afterkeydown'"/>: <div data-bind="listbox:sets, rulesetcomplete: allsets"></div>
						<button class="delete" data-bind="click:remove"></button>
					</li>
				</ul>
				<button data-bind="click:addRuleset, text: rulesets().length ? 'Add another ruleset' : 'Add a ruleset'"></button>
			</div>
		</div>

		<div data-bind="folder: 'Functions ('+functions().length+')', fadeVisible: isadvanced">
			<div>
				<ol class="editlist" data-bind="
					visible: functions().length>0,
					foreach: {
						data: functions,
						beforeRemove: Editor.beforeRemove,
						afterAdd: Editor.afterAdd
					}
				">
					<li class="function">
						<div data-bind="folder:{label: name(), show:true}, foldlist: true">
							<div class="properties">
								<div data-bind="template: {
									name: 'property',
									data: {property:name,label: 'Name:'}
								}"></div>
								<div class="parameters">
									<label>Parameters:</label>
									<table class="list">
										<thead data-bind="visible: parameters().length>0">
											<th>Name</th>
											<th>Type</th>
											<th></th>
										</thead>
										<tbody data-bind="foreach: {
											data: parameters,
											beforeRemove: function(elem) { $(elem).find('td>div').slideUp(150,function() {$(this).remove()}) },
											afterAdd: function(elem) { $(elem).find('td>div').hide().slideDown(150).end().find('.name').focus(); },
										}">
											<tr>
												<td><div><input data-bind="value: name"/></div></td>
												<td><div><select data-bind="options: $parent.types, value: type"></select></div></td>
												<td><div><button class="delete" data-bind="click: remove"></div></button></td>
											</tr>
										</tbody>
									</table>
									<button class="addparameter" data-bind="click:addParameter, text: parameters().length ? 'Add another parameter' : 'Add a parameter'"></button>
								</div>
								<div>
									<label>Output type: </label>
									<select data-bind="options: types, value:type"></select>
								</div>
								<div>
									<label>Language:</label>
									<select data-bind="options: languages, value: language"></select>
								</div>
								<div class="definition">
									<label>Definition:</label>
									<textarea data-bind="codemirror: definition, codemirrorMode: language, valueUpdate: 'afterkeydown'"></textarea>
								</div>
								<div class="error" data-bind="visible: error().length>0">
									Error: <span class="errortext" data-bind="html: error"></span>
								</div>
							</div>
						</div>
					</li>
				</ol>
				<button data-bind="click:addFunction, text: functions().length ? 'Add another function' : 'Add a function'"></button>
			</div>
		</div>

		<div data-bind="folder: {label:'Parts ('+parts().length+')',show:true}">
			<div>
				<ol class="editlist" data-bind="
					visible: parts().length>0,
					template:{
						name: 'part',
						foreach: parts,
						beforeRemove: Editor.beforeRemove,
						afterAdd: Editor.afterAdd
					}
				"></ol>
				<button data-bind="visible: $root.isadvanced, click:addPart, text: parts().length ? 'Add another part' : 'Add a part'"></button>
			</div>
		</div>

		<div data-bind="folder:'Advice'">
			<div style="padding-top:0.7em;">
				<div data-bind="writemaths:advice"></div>
			</div>
		</div>
	</script>

	<script type="text/html" id="part">
		<li class="part" data-bind="addClass: type().name">
			<div class="reorder">
				<button class="up" data-bind="click: moveUp"></button>
				<br/>
				<button class="down" data-bind="click: moveDown"></button>
			</div>
			<div data-bind="folder:{label: $index()+'. '+type().niceName, show:true}, foldlist: true">
				<div class="properties">
					<div data-bind="visible: $root.isadvanced">
						<label>Part type: </label>
						<select data-bind="options: availableTypes, value:type, optionsText: 'niceName'"></select>
					</div>
					<div data-bind="fadeVisible: type().has_marks===true, template: {
						name: 'property',
						data: {label:'Marks:',property:marks}
					}"></div>
				</div>
				<div data-bind="visible: $data.parent==null || $data.parent.type().name!='gapfill' || $data.parent.steps().contains($data)">
					Prompt:
					<div data-bind="writemaths: prompt"></div>
				</div>
				<div style="margin-top:1em;" data-bind="template: type"></div>

				<div class="steps" data-bind="folder: 'Steps: ('+steps().length+')', visible: parent==null">
					<div>
						<div class="properties">
							<div data-bind="fadeVisible: steps().length>0, template: {
								name: 'property',
								data: {label:'Penalty for revealing steps (marks):',property:stepsPenalty}
							}"></div>
						</div>
						<ol class="editlist" data-bind="
							visible: steps().length>0,
							template:{
								name: 'part',
								foreach: steps,
								beforeRemove: Editor.beforeRemove,
								afterAdd: Editor.afterAdd
							}
						"></ol>
						<button data-bind="visible: $root.isadvanced, click:addStep, text: steps().length ? 'Add another step' : 'Add a step'"></button>
					</div>
				</div>
			</div>
		</li>
	</script>
		
	<script type="text/html" id="information">	
	</script>

	<script type="text/html" id="gapfill">
		<div class="gaps" data-bind="folder: {label:'Gaps', show:true}">
			<div>
				<ol class="editlist" data-bind="
					visible: gapfill.gaps().length>0,
					template:{
						name: 'part',
						foreach: gapfill.gaps,
						beforeRemove: Editor.beforeRemove,
						afterAdd: Editor.afterAdd
					}
				"></ol>
				<button data-bind="visible: $root.isadvanced, click:addGap, text: gapfill.gaps().length ? 'Add another gap' : 'Add a gap'"></button>
			</div>
		</div>
	</script>

	<script type="text/html" id="jme">
		<div class="properties">
			<div data-bind="template: {
				name: 'property',
				data: {label:'Correct answer:',property:jme.answer}
			}"></div>
			<span data-bind="JME: jme.answer" class="jme-answer value"></span>

			<div data-bind="visible: $root.isadvanced, template: {
				name: 'property',
				data: {label:'Answer simplification rules:',property:jme.answerSimplification}
			}"></div>
		</div>
		<div data-bind="folder: 'Checking accuracy', visible: $root.isadvanced">
			<div class="properties">
				<div>
					<label>Checking type: </label>
					<select data-bind="options: jme.checkingTypes, value: jme.checkingType, optionsText:'niceName'"></select>
				</div>
				<div data-bind="template: {
					name: 'property',
					data: {label:'Checking accuracy:',property:jme.checkingType().accuracy,min:0}
				}"></div>
				<div data-bind="template: {
					name: 'property',
					data: {label:'Points to check:',property:jme.vset.points,min:0}
				}"></div>
				<div data-bind="template: {
					name: 'property',
					data: {label:'Maximum no. of failures:',property:jme.failureRate,min:0, max:jme.vset.points}
				}"></div>
				<div data-bind="template: {
					name: 'property',
					data: {label:'Checking range start:',property:jme.vset.start,max:jme.vset.end}
				}"></div>
				<div data-bind="template: {
					name: 'property',
					data: {label:'Checking range end:',property:jme.vset.end,min:jme.vset.start}
				}"></div>
			</div>
		</div>

		<div data-bind="folder: 'Maximum length restriction', visible: $root.isadvanced">
			<div class="properties">
				<div data-bind="template: {
					name: 'property',
					data: {label:'Maximum length:',property:jme.maxlength.length,min:0}
				}"></div>
				<div data-bind="fadeVisible: jme.maxlength.length()>0">
					<div data-bind="template: {
						name:'percentproperty',
						data: {label:'Partial credit for long answer:',property:jme.maxlength.partialCredit}
					}"></div>
					<div>
						Warning message:
						<div data-bind="writemaths: jme.maxlength.message"></div>
					</div>
				</div>
			</div>
		</div>

		<div data-bind="visible: $root.isadvanced, folder: 'Minimum length restriction'">
			<div class="properties">
				<div data-bind="template: {
					name: 'property',
					data: {label:'Minimum length:',property:jme.minlength.length,min:0}
				}"></div>
				<div data-bind="fadeVisible: jme.minlength.length()>0">
					<div data-bind="template: {
						name:'percentproperty',
						data: {label:'Partial credit for short answer:',property:jme.minlength.partialCredit}
					}"></div>
					<div>
						Warning message:
						<div data-bind="writemaths: jme.minlength.message"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div data-bind="visible: $root.isadvanced, folder: 'Required strings'">
			<div class="properties">
				<div>
					<label>Required strings:</label>
					<div data-bind="listbox:jme.musthave.strings"></div>
				</div>
				<div data-bind="fadeVisible: jme.musthave.strings().length>0">
					<div data-bind="template: {
						name:'percentproperty',
						data: {label:'Partial credit for not using all required strings:',property:jme.musthave.partialCredit}
					}"></div>
					<div data-bind="template: {
						name: 'booleanproperty',
						data: {label:'Show required strings in warning?', property:jme.musthave.showStrings}
					}"></div>
					<div>
						Warning message:
						<div data-bind="writemaths: jme.musthave.message"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div data-bind="visible: $root.isadvanced, folder: 'Forbidden strings'">
			<div class="properties">
				<div>
					<label>Forbidden strings:</label>
					<div data-bind="listbox:jme.notallowed.strings"></div>
				</div>
				<div data-bind="fadeVisible: jme.notallowed.strings().length>0">
					<div data-bind="template: {
						name:'percentproperty',
						data: {label:'Partial credit for using forbidden strings:',property:jme.notallowed.partialCredit}
					}"></div>
					<div data-bind="template: {
						name: 'booleanproperty',
						data: {label:'Show forbidden strings in warning?', property:jme.notallowed.showStrings}
					}"></div>
					<div>
						Warning message:
						<div data-bind="writemaths: jme.notallowed.message"></div>
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/html" id="numberentry">
		<div class="properties">
			<div data-bind="template: {
				name: 'property',
				data: {label:'Minimum value:',property:numberentry.minValue}
			}"></div>
			<div data-bind="template: {
				name: 'property',
				data: {label:'Maximum value:',property:numberentry.maxValue}
			}"></div>
			<div data-bind="template: {
				name: 'booleanproperty',
				data: {label:'Must answer be an integer?', property:numberentry.integerAnswer}
			}"></div>
			<div data-bind="fadeVisible: numberentry.integerAnswer,
			template: {
				name:'percentproperty',
				data: {label:'Partial credit for non-integer answer:',property:numberentry.integerPartialCredit}
			}"></div>
			<div>
				<label>Precision restriction:</label>
				<select data-bind="options: numberentry.precisionTypes, value: numberentry.precisionType, optionsText: 'niceName'"></select>
			</div>
			<div data-bind="fadeVisible: numberentry.precisionType().name!='none',
			template: {
				name:'property',
				data: {label:numberentry.precisionWord,property:numberentry.precision}
			}"></div>
			<div data-bind="fadeVisible: numberentry.precisionType().name!='none',
			template: {
				name:'percentproperty',
				data: {label:'Partial credit for wrong precision:',property:numberentry.precisionPartialCredit}
			}"></div>
			<div data-bind="fadeVisible: numberentry.precisionType().name!='none'">
				Message if wrong precision:
				<div data-bind="writemaths: numberentry.precisionMessage"></div>
			</div>
		</div>
	</script>

	<script type="text/html" id="patternmatch">
		<div class="properties">
			<div data-bind="template: {
				name: 'property',
				data: {label:'Answer pattern:',property:patternmatch.answer}
			}"></div>
			<div data-bind="template: {
				name: 'property',
				data: {label:'Correct answer:',property:patternmatch.displayAnswer}
			}"></div>
			<div data-bind="template: {
				name: 'booleanproperty',
				data: {label:'Must answer be in the correct case?', property:patternmatch.caseSensitive}
			}"></div>
			<div data-bind="
			fadeVisible:patternmatch.caseSensitive,
			template: {
				name:'percentproperty',
				data: {label:'Partial credit for answer not matching case:',property:patternmatch.partialCredit}
			}"></div>
		</div>
	</script>


	<script type="text/html" id="1_n_2">
		<div class="properties">
			<div data-bind="template: {
				name: 'property',
				data: {label:'Minimum marks:',property:multiplechoice.minMarks, max:multiplechoice.maxMarks }
			}"></div>
			<div data-bind="template: {
				name: 'property',
				data: {label:'Maximum marks:',property:multiplechoice.maxMarks, min:multiplechoice.minMarks}
			}"></div>
			<div data-bind="template: {
				name: 'booleanproperty',
				data: {label:'Shuffle order of choices?', property:multiplechoice.shuffleChoices}
			}"></div>
			<div data-bind="fadeVisible: multiplechoice.displayType().name!='dropdown',
			template: {
				name: 'property',
				data: {label:'Number of display columns:',property:multiplechoice.displayColumns}
			}"></div>
			<div data-bind="template: {
				name: 'booleanproperty',
				data: {label: 'Custom marking matrix?', property: multiplechoice.customMarking}
			}"></div>
			<div data-bind="fadeVisible: multiplechoice.customMarking, template: {
				name: 'property',
				data: {label: 'Custom matrix expression:', property: multiplechoice.customMatrix}
			}"></div>
		</div>
		<div>
			Choices:
			<ul class="choices">
				<!-- ko foreach: {data: multiplechoice.choices, beforeRemove: Editor.beforeRemove, afterAdd: Editor.afterAdd} -->
				<li class="choice">
					<button class="delete" data-bind="click:remove"></button>
					<span>
						<input type="text" data-bind="value:content, valueUpdate:'input'"/>
					</span>
					<span data-bind="visible: !$parent.multiplechoice.customMarking()">
						<label>Marks:</label>
						<input class="marks" data-bind="value:marks, valueUpdate:'input', autosize: {max: 500, min: 30, padding: 10, value: marks}"/>
					</span>
					<span>
						<label>Distractor Message:</label>
						<input type="text" data-bind="value:distractor, valueUpdate:'input'"/>
					</span>
				</li>
				<!-- /ko -->
				<li><button data-bind="visible: $root.isadvanced, click:addChoice">Add a choice</button></li>
			</ul>
		</div>
	</script>

	<script type="text/html" id="m_n_2">
		<div class="properties">
			<div data-bind="template: {
				name: 'property',
				data: {label:'Minimum marks:',property:multiplechoice.minMarks, max:multiplechoice.maxMarks }
			}"></div>
			<div data-bind="template: {
				name: 'property',
				data: {label:'Maximum marks:',property:multiplechoice.maxMarks, min:multiplechoice.minMarks}
			}"></div>
			<div data-bind="template: {
				name: 'property',
				data: {label:'Minimum answers:',property:multiplechoice.minAnswers, max:multiplechoice.maxAnswers}
			}"></div>
			<div data-bind="template: {
				name: 'property',
				data: {label:'Maximum answers:',property:multiplechoice.maxAnswers, min:multiplechoice.minAnswers}
			}"></div>
			<div data-bind="template: {
				name: 'booleanproperty',
				data: {label:'Shuffle order of choices?', property:multiplechoice.shuffleChoices}
			}"></div>
			<div data-bind="fadeVisible: multiplechoice.displayType().name!='dropdown',
			template: {
				name: 'property',
				data: {label:'Number of display columns:',property:multiplechoice.displayColumns}
			}"></div>
			<div data-bind="template: {
				name: 'booleanproperty',
				data: {label: 'Custom marking matrix?', property: multiplechoice.customMarking}
			}"></div>
			<div data-bind="fadeVisible: multiplechoice.customMarking, template: {
				name: 'property',
				data: {label: 'Custom matrix expression:', property: multiplechoice.customMatrix}
			}"></div>
		</div>
		<div>
			Choices:
			<ul class="choices">
				<!-- ko foreach: {data: multiplechoice.choices, beforeRemove: Editor.beforeRemove, afterAdd: Editor.afterAdd} -->
				<li class="choice">
					<button class="delete" data-bind="click:remove"></button>
					<span>
						<input type="text" data-bind="value:content, valueUpdate:'input'"/>
					</span>
					<span data-bind="visible: !$parent.multiplechoice.customMarking()">
						<label>Marks:</label>
						<input class="marks" data-bind="value:marks, valueUpdate:'input', autosize: {max: 500, min: 30, padding: 10, value: marks}"/>
					</span>
					<span>
						<label>Distractor Message:</label>
						<input type="text" data-bind="value:distractor, valueUpdate:'input'"/>
					</span>
				</li>
				<!-- /ko -->
				<li><button data-bind="click:addChoice">Add a choice</button></li>
			</ul>
		</div>
	</script>

	<script type="text/html" id="m_n_x">
		<div class="properties">
			<div data-bind="template: {
				name: 'property',
				data: {label:'Minimum marks:',property:multiplechoice.minMarks, max:multiplechoice.maxMarks }
			}"></div>
			<div data-bind="template: {
				name: 'property',
				data: {label:'Maximum marks:',property:multiplechoice.maxMarks, min:multiplechoice.minMarks}
			}"></div>
			<div data-bind="template: {
				name: 'property',
				data: {label:'Minimum answers:',property:multiplechoice.minAnswers, max:multiplechoice.maxAnswers}
			}"></div>
			<div data-bind="template: {
				name: 'property',
				data: {label:'Maximum answers:',property:multiplechoice.maxAnswers, min:multiplechoice.minAnswers}
			}"></div>
			<div data-bind="template: {
				name: 'booleanproperty',
				data: {label:'Shuffle order of choices?', property:multiplechoice.shuffleChoices}
			}"></div>
			<div data-bind="template: {
				name: 'booleanproperty',
				data: {label:'Shuffle order of answers?', property:multiplechoice.shuffleAnswers}
			}"></div>
			<div>
				<label>Selection type:</label>
				<select data-bind="options: multiplechoice.displayTypes.m_n_x, value: multiplechoice.displayType, optionsText: 'niceName'"></select>
			</div>
			<div data-bind="template: {
				name: 'booleanproperty',
				data: {label: 'Custom marking matrix?', property: multiplechoice.customMarking}
			}"></div>
			<div data-bind="fadeVisible: multiplechoice.customMarking, template: {
				name: 'property',
				data: {label: 'Custom matrix expression:', property: multiplechoice.customMatrix}
			}"></div>
		</div>
		<div class="matrix">
			<label>Marking matrix:</label>
			<table class="multiplechoice">
				<thead>
					<tr>
						<td/>
						<!-- ko foreach: {data: multiplechoice.answers, beforeRemove: Editor.beforeRemove, afterAdd: Editor.afterAdd} -->
							<th>
								<input type="text" data-bind="value:content, valueUpdate:'input'">
								<button class="delete" data-bind="click:function(){this.remove()}"></button>
							</th>
						<!-- /ko -->
						<td>
							<button data-bind="visible: $root.isadvanced, click:addAnswer">Add Answer</button>
						</td>
					</tr>
				</thead>
				<tbody>
					<!-- ko foreach: {data: multiplechoice.choices, beforeRemove: Editor.beforeRemove, afterAdd: Editor.afterAdd} -->
						<tr>
							<th>
								<input type="text" data-bind="value:content, valueUpdate:'input'"/>
								<button class="delete" data-bind="click:remove"></button>
							</th>
							<!-- ko foreach: answers -->
								<td>
									<input class="marks" data-bind="visible: !$parents[1].multiplechoice.customMarking(), value: marks, valueUpdate:'input'"/>
								</td>
							<!-- /ko -->
						</tr>
					<!-- /ko -->
					<tr><td><button data-bind="visible: $root.isadvanced, click:addChoice">Add Choice</button></td></tr>
				</tbody>
			</table>
		</div>
	</script>

	{% endverbatim %}

{% endblock content %}

