{% load editor_controls %}
{% load helplink %}

<!-- ko with: $parent -->
<div data-bind="visible: steps().length">
    {% property 'stepsPenalty' 'Penalty for revealing steps' min=0 help_url='question/parts/reference.html#term-penalty-for-revealing-steps' %}
</div>
<div data-bind="visible: type().has_correct_answer">
    {% booleanproperty 'showCorrectAnswer' 'Show correct answer on reveal?' help_url='question/parts/reference.html#term-show-correct-answer-on-reveal' %}
</div>
<div data-bind="visible: type().has_feedback_icon">
    {% booleanproperty 'showFeedbackIcon' 'Show score feedback icon?' help_url='question/parts/reference.html#term-show-score-feedback-icon' %}    
</div>
<div data-bind="visible: type().has_marks && q.partsMode().value=='explore'">
    {% selectproperty 'exploreObjective' 'Score counts towards objective' options_text='name' options='q.objectives' allow_blank=True help_url='question/parts/reference.html#term-score-counts-toward-objective' %}
</div>
<!-- /ko -->
