{% extends "layout.html" %}
{% load sstatic %}
{% load can_edit %}
{% load user_link %}

{% block content %}

	{% if user.is_authenticated %}
        <div class="controlbox" id="admin">
            <a id="new" href="{% url 'question_new' %}">Create a new question</a>
            <form action="{% url 'question_upload' %}" method="post" id="uploadForm" enctype="multipart/form-data">
                {% csrf_token %}
				<a href="{% url 'question_upload' %}" id="upload">Upload a question</a>
                <div class="upload">
                    <input type="file" name="file" value="yo"/>
                </div>
            </form>
		</div>
	{% else %}
		<p class="hint"><a href="{% url "login" %}">Log in</a> to create your own questions.</a></p>
    {% endif %}

	<form class="search" action="{% url 'question_search' %}">
        <label for="search_query">
			Search the public question bank: 
            <div class="input-append">
                <input role="search" id="search_query" type="text" name="query" value="{{ data.query }}" placeholder="Keyword or title"/>
                <span class="add-on"><button type="submit" class="search" title="Search"></button></span>
            </div>
        </label>
	</form>

	<div class="row-fluid popular-topics">
		<h3>Popular Topics</h3>
		<p class="hint">Find questions on a particular topic by following one of the links below.</p>
		<ul class="inline tagcloud">
			{% for tag,quartile in officialtags %}
			<li class="tag quartile-{{quartile}}"><a href="{% url 'question_search' %}?tags={{tag|urlencode}}">{{tag|capfirst}}</a></li>
			{% endfor %}
		</ul>
	</div>

	<hr/>

	<div class="row-fluid">
		<div class="span6">
			{% if user.is_authenticated %}
				<div class="recents question-list">
					<h3><a href="{% url 'question_search' %}?author={{user.get_full_name|urlencode}}">Your recent questions</a></h3>
					{% if recents.count > 0 %}
                        <ol>
                        {% for question in recents|slice:":3" %}
                            <li class="question">
                                {% include "question/index_question_entry.html" %}
                            </li>
                        {% endfor %}
                        </ol>

                        {% if recents.count > 3 %}
                        <p style="font-style: italic;"><a href="{% url 'question_search' %}?author={{user.get_full_name|urlencode}}">Browse all your questions</a>.</p>
						{% endif %}
					{% endif %}
				</div>
			{% endif %}
			<div class="favourites question-list">
				<h3><a href="{% url 'favourite_questions' %}">Your starred questions</a></h3>
				{% if user.is_authenticated %}

                    {% if favourites.count > 0 %}
                        <ol>
                        {% for question in favourites|slice:":3" %}
                            <li class="question">
                                {% include "question/index_question_entry.html" %}
                            </li>
                        {% endfor %}
                        </ol>

                        {% if favourites.count > 3 %}
                        <p style="font-style: italic;"><a href="{% url 'favourite_questions' %}">Browse all starred questions</a>.</p>
                        {% endif %}
                    {% else %}
                        <p style="font-style:italic">When looking at a question, you can click on the star icon next to its name to save it for later. The list of questions you've starred will appear here.</p>
                    {% endif %}
				{% else %}
					<p class="hint"><a href="{% url "login" %}">Log in</a> to star questions. They'll appear here every time you come back.</p>
				{% endif %}
			</div>
        </div>
		<div class="span6">
			{% if highlights.count > 0 %}
				<div class="highlights question-list">
					<h3>Editors' picks</h3>
					<ol>
					{% for highlight in highlights|slice:":5" %}
						{% with question=highlight.question %}
                            <li class="question">
                                {% include "question/index_question_entry.html" %}
                                <blockquote class="note well well-small">
                                    <cite class="picked-by">Picked by {% user_link highlight.picked_by %}</cite>
                                    {{highlight.note|safe}}
                                </blockquote>
                            </li>
						{% endwith %}
					{% endfor %}
					</ol>
					{% if highlights.count > 5 %}
					<p style="font-style: italic;"><a href="{% url 'highlighted_questions' %}">Browse all highlighted questions</a>.</p>
					{% endif %}
				</div>
			{% endif %}
        </div>
	</div>
    
{% endblock content %}

{% block javascripts %}
	{{block.super}}
	<script type="text/javascript" src="{% sstatic 'js/question/index.js' %}"></script>
{% endblock javascripts %}

{% block stylesheets %}
	{{ block.super }}
    <link href="{% sstatic 'css/index.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% sstatic 'css/question/index.css' %}" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}
