{% extends "layout.html" %}

{% block content %}

	{% if user.is_authenticated %}
        <div class="controlbox" id="admin">
            <a id="new" href="{% url 'question_new' %}">Create a new question</a>
            <form action="{% url 'question_upload' %}" method="post" id="uploadForm" enctype="multipart/form-data">
                {% csrf_token %}
                <a href="" id="upload">Upload a question</a>
                <div class="upload">
                    <input type="file" name="file" value="yo"/>
                </div>
            </form>
        </div>
	{% endif %}

    <div class="row-fluid">
        <form class="searchBox form-inline" data-bind="with: search, submit: search.submit">
			<label for="search_query">
				Search for questions called:
				<div class="input-append">
					<input role="search" id="search_query" type="text" name="questionSearch" data-bind="value: query, valueUpdate: 'afterkeydown'"/>
					<span class="add-on"><button type="submit" class="search" data-bind="css: {loading: searching}"></button></span>
				</div>
            </label>
            <button class="toggle-advanced-search" type="button" data-bind="click: toggleAdvancedSearch, visible: !advancedSearch()">Filter results</button>
            <div data-bind="fadeVisible: advancedSearch">
                <strong>Filter results</strong> 
                <label for="search_author">
                    by author: 	
                    <input id="search_author" type="text" size="30" data-bind="
                        value: author,
                        valueUpdate: 'afterkeydown',
                        autocomplete: '{% url 'user_search' %}', 
                        autocompleteCallback: function(user) { return {label: user.username+' ('+user.name+')', value: user.username} },
                        click: clearMine
                    "/>
                </label>
                <label for="search_progress">
                    by progress:
                    <select data-bind="value: progress">
                        <option selected></option>
                        {% for code,text in progresses %}
                        <option value="{{code}}">{{text}}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
		</form>
	</div>

	<div>
		<div class="pagination">
			Page:
			<button type="button" class="move previous" data-bind="click: prevPage"></button><span class="pagenumber" data-bind="text: pageText"></span><button type="button" class="move next" data-bind="click: nextPage"></button>
		</div>
		<div class="results">
			{% if object_list %}
			<table class="search-results" id="question-list">
				<col span="1" class="name"/>
				<col span="1" class="author"/>
				<col span="1" class="col-progress"/>
				<col span="1" class="last_modified"/>
				<col span="1" class="admin"/>
                <thead data-bind="with: $root.search">
                    <th data-bind="css: {sorted: orderBy()=='name', descending: descending}, click: setOrder('name')">Name</th>
                    <th data-bind="css: {sorted: orderBy()=='author', descending: descending}, click: setOrder('author')">Author</th>
                    <th data-bind="css: {sorted: orderBy()=='progress', descending: descending}, click: setOrder('progress')">Progress</th>
					<th data-bind="css: {sorted: orderBy()=='last_modified', descending: descending}, click: setOrder('last_modified',true)">Last Modified</th>
				</thead>
				<tbody class="results editlist big">
				{% for question in object_list %}
					<tr class="result question">
						<td>
							<a href="{% url 'question_edit' question.pk question.slug %}">{{question.name}}</a>
							{% if question.metadata.description %}
							<div class="description">
								{{question.metadata.description|safe}}
							</div>
							{% endif %}
						</td>
						<td>{{question.author}}</td>
						<td class="progress-display {{question.progress}}">{{question.get_progress_display}}</td>
						<td>{{question.last_modified|date:"m/d/Y H:m"}}</td>
						<td class="admin">
							<a class="preview" href="{% url 'question_preview' question.pk question.slug %}" target="_blank" title="Test run"></a>
							{% if user.is_authenticated %}
							<a class="copy" href="{% url 'question_copy' question.pk question.slug %}" title="Make a copy"></a>
							{% endif %}
							<a class="delete" data-bind="visible: canEdit, attr: {href: url+'delete/'}, click: function() {$parent.deleteQuestion(this) }" title="Delete"></a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% else %}
			<div class="none">No questions found.</div>
			{% endif %}
		</div>
		<div class="pagination" data-bind="visible: pages().length>0">
			Page:
			<button type="button" class="move previous" data-bind="click: prevPage"></button><span class="pagenumber" data-bind="text: pageText"></span><button type="button" class="move next" data-bind="click: nextPage"></button>
		</div>
	</div>
    
    <script type="text/html" id="question">
    </script>

{% endblock content %}

{% block javascripts %}
    {{block.super}}
{% endblock javascripts %}

{% block stylesheets %}
	{{ block.super }}
    <link href="{{ STATIC_URL }}css/index.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/question/index.css" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}
