{% extends "layout.html" %}
{% load sstatic %}
{% load django_tables2 %}
{% load render_table from django_tables2 %}
{% load can_edit %}

{% block content %}
	<div>
		<div class="list-total">{{ results.page.paginator.count }} questions found.</div>
		{% include "pagination.html" %}
		<div class="results">
			{% if object_list.exists %}
			<table class="search-results" id="question-list">
                <col span="1" class="name"/>
                <col span="1" class="licence"/>
				<col span="1" class="author"/>
				<col span="1" class="last_modified"/>
				<col span="1" class="admin"/>
				<thead>
					<tr>
					{% for column in results.columns %}
						<th {{ column.attrs.th.as_html }}>
							{% if column.orderable %}
								<a href="{% querystring results.prefixed_order_by_field=column.order_by_alias.next "page"=1 %}">{{ column.header }}</a>
							{% else %}
								{{ column.header }}
							{% endif %}
						</th>
					{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for row in results.page.object_list|default:results.rows %}
					{% with row.record as question %}
					{% block results.tbody.row %}
					<tr class="result question">
                        <td class="name">{{row.name}}</td>
                        <td class="licence">{{row.licence}}</td>
						<td class="author">{{row.author}}</td>
						<td class="last_modified">{{row.last_modified}}</td>
						<td class="admin">
							<a class="preview" href="{% url 'question_preview' question.pk question.slug %}" target="_blank" title="Test run"></a>
							{% if user.is_authenticated and question|can_be_copied_by:user %}
							<a class="copy" href="{% url 'question_copy' question.pk question.slug %}" title="Make a copy"></a>
							{% endif %}
							{% if question|can_be_deleted_by:user %}<a class="delete" href="{% url 'question_delete' question.pk question.slug %}" title="Delete"></a>{% endif %}
						</td>
					</tr>
					{% endblock results.tbody.row %}
					{% endwith %}
					{% empty %}
					{% if results.empty_text %}
					{% block results.tbody.empty_text %}
					<tr><td colspan="{{ results.columns|length }}">{{ results.empty_text }}</td></tr>
					{% endblock results.tbody.empty_text %}
					{% endif %}
					{% endfor %}
				</tbody>
			</table>

			{% else %}
			<div class="none">No questions found.</div>
			{% endif %}
		</div>
		{% include "pagination.html" %}
		<p class="small-help">
			<strong>Keyboard shortcuts:</strong>
			You can use <code>j</code>/<code>k</code> to move through pages, and <code>?</code> or <code>/</code> to search.
		</p>
	</div>
{% endblock content %}

{% block javascripts %}
	{{block.super}}
	<script type="text/javascript" src="{% sstatic 'js/question/index.js' %}"></script>
{% endblock javascripts %}

{% block stylesheets %}
	{{ block.super }}
    <link href="{% sstatic 'css/search.css' %}" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}
