{% extends "layout.html" %}
{% load links %}
{% load user_link %}

{% block javascripts %}
{{block.super}}
<script type="text/javascript">
tinymce.init({
    selector: "#comment",
    theme: 'modern',
	skin: 'light',
	statusbar: false,
	autoresize_bottom_margin: 0,
	relative_urls: false,
    theme_advanced_resizing: true,
    theme_advanced_resize_horizontal: false
 });
</script>
{% endblock javascripts %}

{% block content %}
<form action="{% url 'question_pullrequest' source.pk destination.pk %}" method="POST">
    {% csrf_token %}
    {{ form.errors}}

    <p>You're about to create a request to replace {% question_link destination %} with {% question_link source %}.</p>
    <p>What's changed in this version?</p>

    <textarea name="comment" id="comment"></textarea>

    <input type="hidden" name="source" value="{{source.pk}}">
    <input type="hidden" name="destination" value="{{destination.pk}}">
    <button type="submit">Submit</button>
{% endblock content %}
