{% extends "question/list.html" %}
{% load human_list %}
{% load django_tables2 %}

{% block content %}

	{% if user.is_authenticated %}
        <div class="controlbox" id="admin">
            <a id="new" href="{% url 'question_new' %}">Create a new question</a>
            <form action="{% url 'question_upload' %}" method="post" id="uploadForm" enctype="multipart/form-data">
                {% csrf_token %}
				<a href="{% url 'question_upload' %}" id="upload">Upload a question</a>
                <div class="upload">
                    <input type="file" name="file" value="yo"/>
                </div>
            </form>
        </div>
	{% endif %}

    <div class="row-fluid">
		<form class="searchBox form-inline">
			{% with form.cleaned_data as data %}
			<div>
				{% if data.tags %}
				<h3>
					Questions tagged 
					{% for tag in data.tags %}
						{% if forloop.first %}{% else %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}<span class="tag-filter">{{tag}}</span>
					{% endfor %} 
				<a class="remove-tag-filter" href="{% querystring "tags"="" %}" title="Remove tag filter"></a>
				</h3>
				{% endif %}
				<strong>Search</strong>
				<label for="search_query">
					for questions called:
					<div class="input-append">
						<input role="search" id="search_query" type="text" name="query" value="{{ data.query }}" placeholder="Topic or question name"/>
						<input type="hidden" name="tags" value="{{ data.tags|join:"," }}"/>
						<span class="add-on"><button type="submit" class="search" title="Search"></button></span>
					</div>
				</label>
			</div>
			<div class="search-filter">
				<strong>Filter results</strong> 
				<label for="id_author">
					by author: 	
					<input id="search_author" data-autocomplete-url="{% url 'user_search' %}" name="author" type="text" size="30" value="{{ data.author }}" placeholder="User name"/>
                </label>
                <label for="id_usage">
                    by usage rights:
                    {{form.usage}}
                </label>
                <label for="id_filter_copies">
                    filter out copied questions: 
                    {{form.filter_copies}}
                </label>
			</div>
			{% endwith %}
		</form>
	</div>

	{{block.super}}
    
{% endblock content %}

