{% load sstatic %}
{% load analytical %}
{% load notifications_tags %}
{% load django_tables2 %}
{% notifications_unread as unread_notifications %}
{% load user_link %}

<!DOCTYPE html>
<html>
    <head>
        {% analytical_head_top %}

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{{SITE_TITLE}}{% endblock %}</title>

        {% block head %}{% endblock %}

        {% block stylesheets %}
            <link href="{% sstatic 'source-sans-pro/source-sans-pro.css' %}" rel="stylesheet">

            <link href="{% sstatic 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
            <!-- <link href="{% sstatic 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen"> -->

            <link href="{% sstatic 'css/jquery.noty.css' %}" rel="stylesheet" type="text/css" />
            <link href="{% sstatic 'css/noty_theme_twitter.css' %}" rel="stylesheet" type="text/css" />
            <link href="{% sstatic 'css/jquery-ui.css' %}" rel="stylesheet" type="text/css" />

			<link href="{% sstatic 'css/main.css' %}" type="text/css" rel="stylesheet" />
        {% endblock stylesheets %}

        {% analytical_head_bottom %}

    </head>
    <body>
        {% analytical_body_top %}

        <!-- main body -->
        {% block body %}
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<a class="navbar-brand" href="{% url 'editor_index' %}"><img id="numbas-logo" src="{% sstatic 'images/numbas_logo.png' %}"></a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">

					<form id="search-bar" class="navbar-form navbar-left" role="search" method="get" action="{% block search_url %}{% url 'search' %}{% endblock search_url %}">
                        <div class="form-group">
                            <div class="input-group">
								<input name="query" type="text" class="form-control" id="top-search-bar" placeholder="Search by name or keyword{% if in_project %} in this project{% endif %}" value="{{search_query}}"/>
                                <div class="input-group-btn">
								{% if search_query %}
									<a class="btn btn-default" href="{% querystring "query"="" %}">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
								{% endif %}
                                    <button type="submit" class="btn btn-default" aria-label="Search">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <ul id="session" class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li id="create-new-dropdown">
                                <a role="button" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-plus"></span> New <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'question_new' %}{% if project %}?project={{project.pk}}{% endif %}"><span class="glyphicon glyphicon-file"></span> Question</a></li>
                                    <li><a href="{% url 'exam_new' %}{% if project %}?project={{project.pk}}{% endif %}"><span class="glyphicon glyphicon-book"></span> Exam</a></li>
									<li role="separator" class="divider"></li>
                                    <li><a href="{% url 'project_new' %}"><span class="glyphicon glyphicon-briefcase"></span> Project</a></li>
                                </ul>
                            </li>
                            <li id="notifications" class="{% if unread_notifications %}unread{% endif %}">
                                <a role="button" class="dropdown-toggle {% if not unread_notifications %}disabled{% endif %}" data-toggle="dropdown" title="{{unread_notifications}} unread notification{{unread_notifications|pluralize}}">
                                    <span class="glyphicon glyphicon-bell"></span>
                                    <span class="badge noselect">{% if unread_notifications %}{{unread_notifications}}{% endif %}</span>
                                    <span class="visible-xs-inline">Notifications</span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% include "notifications/list.html" %}
                                </ul>
                            </li>
                            {% with basket_size=user.userprofile.question_basket.count %}
                            <li id="question_basket" class="counter-icon {% if basket_size %}nonempty{% endif %}">
                                    <a role="button" class="dropdown-toggle {% if not basket_size %}disabled{% endif %}" data-toggle="dropdown" title="{{basket_size}} question{{basket_size|pluralize}} in your basket">
                                        <span class="glyphicon glyphicon-shopping-cart"></span>
                                        <span class="badge noselect">{% if basket_size %}{{basket_size}}{% endif %}</span>
                                        <span class="visible-xs-inline">Question Basket</span>
                                    </a>
                                    <ul class="dropdown-menu basket">
                                        {% include "basket/list.html" %}
                                    </ul>
                                </li>
                            {% endwith %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% user_thumbnail user 20 15 %} <span class="visible-xs-inline">Logged in as <strong>{{user.get_full_name}}</strong></span> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                <li class="readonly hidden-xs"><a tabindex="2">Logged in as <strong>{{user.get_full_name}}</strong></a></li>
                                <li role="separator" class="divider hidden-xs"></li>
                                <li><a tabindex="2" href="{% url 'view_profile' user.pk %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                                <li><a tabindex="2" href="{% url 'theme_list' %}"><span class="glyphicon glyphicon-sunglasses"></span> Themes</a></li>
                                <li><a tabindex="2" href="{% url 'extension_list' %}"><span class="glyphicon glyphicon-edit"></span> Extensions</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a tabindex="2" href="{% url 'edit_profile' %}"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                                {% if CAN_LOGOUT %}
                                <li><a tabindex="2" href="{% url 'logout' %}?next={{request.path|escape}}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                                {% endif %}
                                </ul>
                            </li>
                            <li>
                                <a href="http://numbas-editor.readthedocs.org/" target="_blank">
                                    <span class="text-info">
                                        <span class="glyphicon glyphicon-question-sign"></span> <strong>Help</strong>
                                    </span>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a tabindex="2" href="{% url 'login' %}?next={{request.path|escape}}">Log in</a>
                            </li>
                            {% if ALLOW_REGISTRATION %}
                            <li>
                                <a tabindex="2" href="{% url 'registration_register' %}">Create an account</a>
                            </li>
                            {%endif%}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

		<div id="content" role="main" class="{% block content_container %}container{% endblock content_container %}">
            {% if messages %}
            <ul class="messages alert">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% block content %}
            {% endblock content %}
        </div>
        {% endblock body %}

        {% block javascripts %}
            <!-- jQuery -->
            <script src="{% sstatic 'js/jquery.js' %}"></script>
            <script src="{% sstatic 'js/jquery-ui.min.js' %}" type="text/javascript"></script>

            <!-- bootstrap -->
            <script src="{% sstatic 'bootstrap/js/bootstrap.min.js' %}"></script>

            <!-- jQuery.oembed all -->
            <script type="text/javascript" src="{% sstatic 'js/jquery.oembed.js' %}"></script>

            <!-- knockout -->
            <script type="text/javascript" src="{% sstatic 'js/knockout.js' %}"></script>
            
            <!-- noty -->
            <script type="text/javascript" src="{% sstatic 'js/jquery.noty.js' %}"></script>

            <!-- moment.js - formats dates -->
            <script type="text/javascript" src="{% sstatic 'js/moment.js' %}"></script>

            <!-- mousetrap.js - handles keyboard shortcuts -->
            <script type="text/javascript" src="{% sstatic 'js/mousetrap.min.js' %}"></script>

            <!-- MathJax -->
            <script type="text/x-mathjax-config">
                MathJax.Hub.Config({
                    tex2jax: {
                        inlineMath: [['$','$'], ['\\(','\\)']],
                        displayMath: [['\\[','\\]'], ['$$','$$']],
                        processEscapes: true
                    },
                    "HTML-CSS": {
                        mtextFontInherit: true
                    },
                    skipStartupTypeset: {% block skipMathJaxStartup %}false{% endblock %}
                });
                MathJax.Hub.processSectionDelay = 0;
            </script>
            <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

            <script src="{% sstatic 'js/es5-shim.js' %}" type="text/javascript"></script>

            <!-- editor -->
            <script src="{% sstatic 'js/main.js' %}" type="text/javascript"></script>
            <script src="{% sstatic 'js/editor.js' %}" type="text/javascript"></script>
        {% endblock %}

        {% analytical_body_bottom %}
    </body>
</html>
