{% load sstatic %}
{% load analytical %}
<!DOCTYPE html>
<html>
    <head>
		{% analytical_head_top %}

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% block title %}{{SITE_TITLE}}{% endblock %}</title>
		<!--[if lt IE 9]>
		<script>
		document.createElement('header');
		document.createElement('nav');
		document.createElement('section');
		document.createElement('article');
		document.createElement('aside');
		document.createElement('footer');
		document.createElement('hgroup');
		</script>
		<![endif]-->

		{% block head %}{% endblock %}

		{% block stylesheets %}
			<link href="{% sstatic 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
			<link href="{% sstatic 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet" media="screen">

			<link href="{% sstatic 'css/jquery.noty.css' %}" rel="stylesheet" type="text/css" />
			<link href="{% sstatic 'css/noty_theme_twitter.css' %}" rel="stylesheet" type="text/css" />
			<link href="{% sstatic 'css/jquery-ui.css' %}" rel="stylesheet" type="text/css" />

			<link href="{% sstatic 'css/main.css' %}" type="text/css" rel="stylesheet" />
		{% endblock stylesheets %}

		{% analytical_head_bottom %}

    </head>
	<body>
		{% analytical_body_top %}

		<div id="getsat-widget-4240"></div>
		<script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
		<script type="text/javascript">
		if (typeof GSFN !== "undefined") { GSFN.loadWidget(4240,{"containerId":"getsat-widget-4240"}); }
		</script>

		<div id="container-fluid">
        {% block body %}
			<div id="main">
				<div id="header" class="row-fluid">
                    <div id="logo" role="banner" class="span7">
						<!-- logo -->
                        <div id="logo_text">
                            {% block logo_text %}
                            <a tabindex="1" alt="Numbas" href="/">
                                <img src="{% sstatic 'images/numbas_logo.png' %}"/>
                            </a>
                            {% endblock logo_text %}
                        </div>
                    </div>
                    <div id="session" class="span5">
						<!-- login message or profile link -->
                        {% if user.is_authenticated %}
                        Hi, {{ user.get_short_name }}! <span class="account-links"><a tabindex="2" href="{% url 'view_profile' user.pk %}">Your profile</a> ⋅ <a tabindex="2" href="{% url 'exam_search' %}?author={{user.get_full_name|urlencode}}">Your exams</a> ⋅ <a tabindex="2" href="{% url 'question_search' %}?author={{user.get_full_name|urlencode}}">Your questions</a>{% if CAN_LOGOUT %} ⋅ <a tabindex="2" id="logout" href="{% url 'logout' %}?next={{request.path|escape}}">Log out</a>{% endif %}</span>
                        {% else %}
						<a tabindex="2" href="{% url 'login' %}?next={{request.path|escape}}">Log in</a>{% if ALLOW_REGISTRATION %} or <a tabindex="2" href="{% url 'registration_register' %}">create an account</a>{%endif%}.
                        {% endif %}
					</div>
				</div>

                <div id="site_content">
                    {% block menubar %}
                        <ul id="menu" role="navigation" class="nav nav-tabs">
                            <li class="{% if navtab == "exams" %}active{% endif %}"><a href="{% url 'exam_index' %}">Exams</a></li>
							<li class="{% if navtab == "questions" %}active{% endif %}"><a href="{% url 'question_index' %}">Questions</a></li>   
							<li class="divider"></li>
							<li class="help"><a href="http://numbas-editor.readthedocs.org/" target="_blank">Documentation</a></li>
							<li class="help"><a href="http://numbas-editor.readthedocs.org/en/latest/#tutorials" target="_blank">Tutorials</a></li>
							<li class="{% if navtab == "home" %}active{% endif %}"><a href="{% url 'editor_index' %}">News</a></li>
                        </ul>
                        <!-- end #menubar -->
                    {% endblock menubar %}
                    <div id="content" role="main" class="container-fluid">
						{% if messages %}
						<ul class="messages alert">
							{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							{% endfor %}
						</ul>
						{% endif %}
                        {% block content %}
                        {% endblock content %}
                    </div>
                    <!-- end #content -->
                </div>
                <!-- end #site_content -->
                <div id="footer" class="row-fluid">
					<div class="span3 offset3">
                        <a href="http://www.ncl.ac.uk/maths/">&copy; 2012 School of Mathematics &amp; Statistics, Newcastle University</a>
					</div>
					<div class="span3">
						Some icons from <a href="http://somerandomdude.com/work/iconic/">Iconic Icon Set</a> &copy; P.J. Onori, Licensed under Creative Commons Attribution-ShareAlike 3.0 Unported.
					</div>
                </div>
                <!-- end #footer -->
            </div>
            <!-- end #main -->
		{% endblock body %}
		</div>

		{% block javascripts %}
			<!-- jQuery -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" type="text/javascript"></script>

			<!-- bootstrap -->
			<script src="{% sstatic 'bootstrap/js/bootstrap.min.js' %}"></script>

			<!-- jQuery.oembed all -->
			<script type="text/javascript" src="{% sstatic 'js/jquery.oembed.js' %}"></script>

			<!-- knockout -->
			<script type="text/javascript" src="{% sstatic 'js/knockout.js' %}"></script>
			
			<!-- noty -->
			<script type="text/javascript" src="{% sstatic 'js/jquery.noty.js' %}"></script>

			<!-- moment.js - formats dates -->
			<script type="text/javascript" src="{% sstatic 'js/moment.js' %}"></script>

			<!-- mousetrap.js - handles keyboard shortcuts -->
			<script type="text/javascript" src="{% sstatic 'js/mousetrap.min.js' %}"></script>

			<!-- MathJax -->
			<script type="text/x-mathjax-config">
				MathJax.Hub.Config({
					tex2jax: {
						inlineMath: [['$','$'], ['\\(','\\)']],
						displayMath: [['\\[','\\]'], ['$$','$$']],
						processEscapes: true
					},
					"HTML-CSS": {
						mtextFontInherit: true
					},
                    skipStartupTypeset: {% block skipMathJaxStartup %}false{% endblock %}
				});
				MathJax.Hub.processSectionDelay = 0;
			</script>
			<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

			<script src="{% sstatic 'js/es5-shim.js' %}" type="text/javascript"></script>

		{% endblock %}

		{% analytical_body_bottom %}
    </body>
</html>
