{% load sstatic %}
{% load json_filter %}
{% load analytical %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% analytical_head_top %}

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{{SITE_TITLE}}{% endblock %}</title>

        <link rel="icon" href="{% sstatic 'icon.png' %}"/>

        {% block head %}{% endblock %}

        {% block stylesheets %}
            <link href="{% sstatic 'source-sans-pro/source-sans-pro.css' %}" rel="stylesheet">

            <link href="{% sstatic 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
            <!-- <link href="{% sstatic 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen"> -->

            <link href="{% sstatic 'css/jquery.noty.css' %}" rel="stylesheet" type="text/css" />
            <link href="{% sstatic 'css/noty_theme_twitter.css' %}" rel="stylesheet" type="text/css" />
            <link href="{% sstatic 'css/jquery-ui.css' %}" rel="stylesheet" type="text/css" />

            <link href="{% sstatic 'css/main.css' %}" type="text/css" rel="stylesheet" />
        {% endblock stylesheets %}

        {% analytical_head_bottom %}

    </head>
    <body>
        {% analytical_body_top %}

        <!-- main body -->
        {% block body %}
        
        {% include "top-nav.html" %}

        <main id="content" class="{% block content_container %}container{% endblock content_container %}">
            {% if messages %}
            <ul class="messages list-unstyled">
                {% for message in messages %}
                <li class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">{{ message|safe }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% block content %}
            {% endblock content %}
        </main>

        {% include "footer.html" %}
        {% endblock body %}

        {% block modals %}
        {% if user.is_authenticated %}
        <div class="modal fade" tabindex="-1" role="dialog" id="add-to-queue-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add <em class="item-name"></em> to a queue</h4>
                    </div>
                    <div class="modal-body">
                        <p>Choose a queue to add this item to.</p>
                        <table class="queues table">
                            {% for queue in user.userprofile.available_queues %}
                            <tr>
                                <td class="queue-info">
                                    <p><a target="_blank" href="{% url 'queue_view' queue.pk %}"><span class="glyphicon glyphicon-list"></span> {{queue.name}}</a></p>
                                    <p class="text-muted"><a class="text-muted" target="_blank" href="{{queue.project.get_absolute_url}}"><span class="glyphicon glyphicon-briefcase"></span> {{queue.project.name}}</a></p>
                                </td>
                                <td>
                                    <a class="pick btn btn-primary" href="{% url 'queue_add' queue.pk %}"><span class="glyphicon glyphicon-plus"></span> Add to this queue</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endblock modals %}


        {% block javascripts %}
            <script>
                var is_logged_in = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
            </script>

            <!-- jQuery -->
            <script src="{% sstatic 'js/jquery.js' %}"></script>
            <script src="{% sstatic 'js/jquery-ui.min.js' %}" type="text/javascript"></script>

            <!-- bootstrap -->
            <script src="{% sstatic 'bootstrap/js/bootstrap.min.js' %}"></script>

            <!-- jQuery.oembed all -->
            <script type="text/javascript" src="{% sstatic 'js/jquery.oembed.js' %}"></script>

            <!-- knockout -->
            <script type="text/javascript" src="{% sstatic 'js/knockout.js' %}"></script>
            
            <!-- noty -->
            <script type="text/javascript" src="{% sstatic 'js/jquery.noty.js' %}"></script>

            <!-- moment.js - formats dates -->
            <script type="text/javascript" src="{% sstatic 'js/moment.js' %}"></script>

            <!-- mousetrap.js - handles keyboard shortcuts -->
            <script type="text/javascript" src="{% sstatic 'js/mousetrap.min.js' %}"></script>

            {% include "mathjax.html" %}

            <script src="{% sstatic 'js/es5-shim.js' %}" type="text/javascript"></script>
            <script src="{% sstatic 'js/es6-shim.js' %}" type="text/javascript"></script>

            <!-- editor -->
            <script src="{% sstatic 'js/main.js' %}" type="text/javascript"></script>
            <script src="{% sstatic 'js/editor.js' %}" type="text/javascript"></script>
            <script>
                Editor.wrapLines = {% if not user.is_anonymous and user.userprofile.wrap_lines %}true{% else %}false{% endif %};
                Editor.SITE_TITLE = {{SITE_TITLE|jsonscript|safe}};
            </script>
        {% endblock %}

        {% analytical_body_bottom %}
    </body>
</html>
