{% extends "layout.html" %}
{% load verbatim %}

{% block javascripts %}
    {{ block.super }}

    <!-- write maths, see maths -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/rangy-core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/rangy-position.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/writemaths.js"></script>

    <!-- HTML parser -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/htmlparser.js"></script>

    <!-- exam parser -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/examparser.js"></script>

    <!-- editor -->
    <script src="{{ STATIC_URL }}js/editor.js" type="text/javascript"></script>
    
{% endblock javascripts %}

{% block stylesheets %}
    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/writemaths.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/editor.css">

{% endblock stylesheets %}

{% block content %}
    {{block.super }}
    {% verbatim %}

		<!-- Property Inputs -->

		<script type="text/x-jquery-tmpl" id="percentproperty">
			<label>${$item.label}</label>
			<span class="percentproperty display" data-bind="text: $item.property()+'%'"></span>
			<input data-bind="
					value: $item.property, 
					valueUpdate: 'afterkeydown'" 
				type="range"
				step="5"
				min="0"
				max="100"
			/>
		</script>

		<script type="text/x-jquery-tmpl" id="viewPercentproperty">
			<label>${$item.label}</label>
			<span class="percentproperty display" data-bind="text: $item.property()+'%'"></span>
		</script>

		<script type="text/x-jquery-tmpl" id="booleanproperty">
			<label>${$item.label}</label>
			<input data-bind="checked: $item.property" type="checkbox"/>
		</script>

		<script type="text/x-jquery-tmpl" id="property">
			<label>${$item.label}</label>
			{{if $item.type=='checkbox'}}
				<input data-bind="checked: $item.property" type="checkbox"/>
			{{else}}
				<input data-bind="
						value: $item.property, 
						valueUpdate: 'afterkeydown'" 
					type="${$item.type || 'text'}" 
					{{if $item.min!==undefined}} min="${$item.min}" {{/if}}
					{{if $item.max!==undefined}} max="${$item.max}" {{/if}}
				/>
			{{/if}}
		</script>

		<script type="text/x-jquery-tmpl" id="viewProperty">
			<label>${$item.label}</label>
			{{if $item.type=='checkbox'}}
				<input data-bind="checked: $item.property" type="checkbox" disabled/>
			{{else}}
				<span data-bind="
						text: $item.property" 
				/>
			{{/if}}
		</script>

		<script type="text/x-jquery-tmpl" id="folder">
			<div class="fold {{if !$item.show}}folded{{/if}}">
				<div id="folder-header" data-bind="unselectable: true">${$item.label}</div>
				<div id="folder">{{html $item.html}}</div>
			</div>
        </script>
    {% endverbatim %}
{% endblock content %}
