{% load verbatim %}
{% verbatim %}

	<script type="text/html" id="property">
		<label data-bind="html: label"/>
		<input data-bind="value: property, valueUpdate: 'afterkeydown', attr: {type: $data.type || 'text', min: $data.min, max: $data.max}"/>
	</script>

	<script type="text/html" id="percentproperty">
		<label data-bind="html: label"/>
		<span class="percentproperty value" data-bind="text: property()+'%'"></span>
		<input data-bind="
				value: property, 
				valueUpdate: 'afterkeydown'" 
			type="range"
			step="5"
			min="0"
			max="100"
		/>
	</script>

	<script type="text/html" id="booleanproperty">
		<label data-bind="html: label"/>
		<input data-bind="checked: property" type="checkbox"/>
	</script>

{% endverbatim %}

