{% load verbatim %}
{% verbatim %}
    <script type="text/html" id="property">
		<label>
			<span class="control-label" data-bind="html: label"></span>
			<div class="controls">
				<input data-bind="
					value: property, 
					valueUpdate: 'afterkeydown', 
					attr: {
						type: $data.type || 'text', 
						min: $data.min, 
						max: $data.max
					}, 
					css: {monospace: 'monospace' in $data ? monospace : false},
					autosize: {max: 500, min: 30, padding: 10, value: property}
				"/>
			</div>
		</label>
	</script>

    <script type="text/html" id="numberproperty">
		<label>
			<span class="control-label" data-bind="html: label"></span>
			<div class="controls">
				<input type="number" data-bind="
					value: property, 
					valueUpdate: 'afterkeydown', 
					attr: {
						min: $data.min, 
						max: $data.max
					}, 
					css: {monospace: 'monospace' in $data ? monospace : false},
					autosize: {max: 500, min: 30, padding: 25, value: property}
				"/>
			</div>
		</label>
	</script>

	<script type="text/html" id="percentproperty">
		<label>
			<span class="control-label" data-bind="html: label"></span>
			<div class="controls">
				<input 
					data-bind="
						value: property, 
						valueUpdate: 'afterkeydown'
					"
					type="range"
					step="5"
					min="0"
					max="100"
					/>
				<span class="percentproperty value" data-bind="text: property()+'%'"></span>
			</div>
		</label>
	</script>

	<script type="text/html" id="selectproperty">
		<label>
			<span class="control-label" data-bind="html: label"></span>
			<div class="controls">
				<select data-bind="options: options, value: property"></select>
			</div>
		</label>
	</script>

	<script type="text/html" id="booleanproperty">
		<label>
			<span class="control-label" data-bind="html: label"></span>
			<div class="controls">
				<input data-bind="checked: property" type="checkbox"/>
			</div>
		</label>
	</script>
{% endverbatim %}

