{% load verbatim %}
{% verbatim %}
	<script type="text/html" id="helplink">
		<a tabindex="2" class="helplink" data-bind="visible: $data.url, attr: {href: $data.url, title: $data.topic ? 'Help on '+$data.topic : 'Help'}, css: {big: $data.big, small: !$data.big}, text: $data.big ? 'Help' : '?'" target="numbasquickhelp">?</a>
	</script>

    <script type="text/html" id="property">
		<label class="col-sm-3 control-label">
				<span data-bind="html: label"></span>
				<span data-bind="template: {name: 'helplink', data: {url: $data.helpURL}}"></span>
		</label>
		<div class="col-sm-9">
			<input class="form-control" data-bind="
				textInput: property, 
				attr: {
					type: $data.type || 'text', 
					min: $data.min, 
					max: $data.max
				}, 
				css: {monospace: 'monospace' in $data ? monospace : false},
				autosize: {max: 500, min: 30, padding: 10, value: property}
			"/>
		</div>
	</script>

    <script type="text/html" id="numberproperty">
		<label class="col-sm-3 control-label">
			<span data-bind="html: label"></span>
			<span data-bind="template: {name: 'helplink', data: {url: $data.helpURL}}"></span>
		</label>
		<div class="col-sm-9">
			<input class="form-control" type="number" data-bind="
				textInput: property, 
				attr: {
					min: $data.min, 
					max: $data.max
				}, 
				css: {monospace: 'monospace' in $data ? monospace : false},
				autosize: {max: 500, min: 30, padding: 25, value: property}
			"/>
		</div>
	</script>

	<script type="text/html" id="percentproperty">
		<label class="col-sm-3 control-label">
			<span data-bind="html: label"></span>
			<span data-bind="template: {name: 'helplink', data: {url: $data.helpURL}}"></span>
		</label>
		<div class="col-sm-9">
			<input
				data-bind="
					value: property, 
				"
				type="range"
				step="5"
				min="0"
				max="100"
				/>
			<span class="percentproperty value" data-bind="text: property()+'%'"></span>
		</div>
	</script>

	<script type="text/html" id="selectproperty">
		<label class="col-sm-3 control-label">
			<span data-bind="html: label"></span>
			<span data-bind="template: {name: 'helplink', data: {url: $data.helpURL}}"></span>
		</label>
		<div class="col-sm-3">
			<select class="form-control" data-bind="options: options, value: property, optionsText: ko.utils.unwrapObservable($data.optionsText===undefined ? options : optionsText)"></select>
		</div>
	</script>

	<script type="text/html" id="booleanproperty">
		<label class="col-sm-3 control-label">
			<span data-bind="html: label"></span>
			<span data-bind="template: {name: 'helplink', data: {url: $data.helpURL}}"></span>
		</label>
		<div class="col-sm-9">
			<div class="checkbox">
				<label>
					<input data-bind="checked: property, disable: $data.disable" type="checkbox"/>
				</label>
			</div>
		</div>
	</script>
{% endverbatim %}

