{% extends "base.html" %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/es5-shim.js" type="text/javascript"></script>
{% endblock javascripts %}

{% block stylesheets %}
    <link href="{{ STATIC_URL }}css/normalize.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/main.css" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}

{% block body %}
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    {% block logo_text %}
                        <h1>Numbas</h1>
                    {% endblock logo_text %}
                </div>
                <!-- end #logo_text -->
            </div>
            <!-- end #logo -->
            <div id="menubar">
                {% block menubar %}
                    <ul id="menu">
                    	<li><a href="{% url editor_index %}">Home</a></li>
	                    <li><a href="{% url exam_index %}">Exams</a></li>
	                    <li><a href="{% url question_index %}">Questions</a></li>   
                    </ul>
                {% endblock menubar %}
            </div>
            <!-- end #menubar -->
        </div>
        <!-- end #header -->
        <div id="content_header"></div>
        <div id="site_content">
            <div class="sidebar">
                {% block sidebar %}
                {% endblock sidebar %}
            </div>
            <!-- end .sidebar -->
            <div id="content">
                {% block content %}
                {% endblock content %}
            </div>
            <!-- end #content -->
        </div>
        <!-- end #site_content -->
        <div id="content_footer"></div>
        <div id="footer">
                    <p>
                <a href="http://www.ncl.ac.uk/math/">&copy; 2011 School of Mathematics &amp; Statistics</a>
            </p>
        </div>
        <!-- end #footer -->
    </div>
    <!-- end #main -->
{% endblock body %}


                    
