{% extends "base.html" %}
{% load sstatic%}

{% block javascripts %}
    {{block.super}}
    <script>
        var HELP_URL = '{{HELP_URL}}';
    </script>

    <script src="{% sstatic 'js/Sortable.min.js' %}"></script>

    <script>
      var tinymceConfig = {
        license_key: 'gpl',
        promotion: false,
        onboarding: false,
        branding: false
      }
      function setupTinyMCE(editor) {
          editor.on('input', e => {
              const el = editor.container.getRootNode().host;
              el.dispatchEvent(new CustomEvent('input', {detail: editor.getContent()}));
          })
      }
    </script>
    <script src="{% sstatic 'tiny_mce/tinymce.min.js' %}"></script>
    <script src="{% sstatic 'tiny_mce/tinymce-webcomponent.js' %}"></script>

    <!-- write maths, see maths -->
    <script type="text/javascript" src="{% sstatic 'js/rangy-core.js' %}"></script>
    <script type="text/javascript" src="{% sstatic 'js/writemaths.js' %}"></script>
{% endblock javascripts %}

{% block stylesheets %}
    {{block.super}}

    <link rel="stylesheet" type="text/css" href="{% sstatic 'css/writemaths.css' %}">
    <link rel="stylesheet" type="text/css" href="{% sstatic 'css/editor.css' %}">
{% endblock %}
