{% load django_tables2 %}
<div class="pagination">
	
	<a class="move previous" {% if results.page.has_previous %}href="{% querystring results.prefixed_page_field=results.page.previous_page_number %}" title="Previous page"{% endif %}></a></li>
    

    {% if results.page.has_previous or results.page.has_next %}
	<span class="current">Page {{ results.page.number }} of {{ results.paginator.num_pages }}</span>
    {% endif %}

    {% if results.page.has_next %}
	<a title="Next page" class="move next" href="{% querystring results.prefixed_page_field=results.page.next_page_number %}"></a></li>
    {% endif %}
</div>

