{% extends "base.html" %}

{% block content %}

	<header>
		<h1>Privacy policy</h1>
	</header>
    
	<p>The site administrator needs to put the privacy policy here.</p>
	<p>For sites based in the UK, <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/privacy-notices-transparency-and-control/">the ICO provides good advice</a> on writing a privacy notice.</p>

{% endblock content %}

