{% load django_tables2 %}
{% load notifications_tags %}
{% load sstatic %}
{% load user_link %}
{% load icons %}
{% notifications_unread as unread_notifications %}

<nav id="top-nav" class="navbar navbar-default navbar-static-top">
    <a href="{% url 'editor_index' %}"><img class="logo" alt="Numbas" id="numbas-logo" src="{% sstatic 'images/numbas-logo.svg' %}"></a>

    <search>
        <form id="search-bar" method="get" action="{% if in_project %}{% url 'project_search' project.pk %}{% else %}{% url 'search' %}{% endif %}">
            {% if search_params %}
                {% for key,value in search_params %}{% if value is not None %}<input type="hidden" name="{{key}}" value="{{value}}">{% endif %}{% endfor %}
            {% endif %}
            <input name="query" type="search" id="top-search-bar" placeholder="Name or keyword{% if in_project %} in this project{% endif %}" value="{{search_query}}"/>
            <button class="btn" type="submit">
                Search
            </button>
        </form>
    </search>

    <a href="{% url 'explore' %}">
        {% icon 'explore' %}
        <span class="label">Explore</span>
    </a>

    <button class="btn" id="create-new-dropdown" popovertarget="create-new-menu">
        {% icon "+" %}
        <span class="label">New</span>
    </button>
    <menu id="create-new-menu" popover="auto">
        <li>
            <a href="{% url 'question_new' %}{% if project %}?project={{project.pk}}{% endif %}">
                {% icon 'question' %}
                <span>Question</span>
            </a>
        </li>
        <li>
            <a href="{% url 'exam_new' %}{% if project %}?project={{project.pk}}{% endif %}">
                {% icon 'exam' %}
                <span>Exam</span>
            </a>
        </li>
        <hr>
        <li>
            <a href="{% url 'project_new' %}">
                {% icon 'project' %}
                Project
            </a>
        </li>
        <hr>
        <li>
            <a href="{% url 'exam_upload' %}{% if project %}?project={{project.pk}}{% endif %}">
                {% icon 'upload' %}
                Upload
            </a>
        </li>
    </menu>

    <button class="btn" id="notifications-dropdown" popovertarget="notifications-menu">
        {% icon 'notification' %}
        <span class="label" aria-live="polite">
            {% if unread_notifications %}{{unread_notifications}}{% endif %}
            Notifications
        </span>
    </button>
    <menu popover="auto" id="notifications-menu">
        {% include "notifications/list_dropdown.html" %}
    </menu>

    <button class="btn" id="question-basket-dropdown" popovertarget="question-basket-menu">
        {% icon 'basket' %}
        <span class="label">
            Question basket
        </span>
    </button>

    <menu popover="auto" id="question-basket-menu">
        {% include "basket/list.html" %}
    </menu>

    {% if user.is_authenticated %}
        <button class="btn" id="account-dropdown" popovertarget="account-menu">
            {% user_thumbnail user 20 15 %}
            <span class="label">
                Logged in as <strong>{{user.get_full_name}}</strong>
            </span>
        </button>

        <menu popover="auto" id="account-menu">
            <li>
                <a href="{% url 'editor_index' %}">
                    {% icon 'home' %}
                    Home
                </a>
            </li>
            <li>
                <a href="{% url 'view_profile' user.pk %}">
                    {% icon 'profile' %}
                    Profile
                </a>
            </li>
            <li>
                <a href="{% url 'profile_projects' user.pk %}">
                    {% icon 'project' %}
                    Projects
                </a>
            </li>
            <hr/>
            <li>
                <a href="{% url 'edit_profile' %}">
                    {% icon 'settings' %}
                    Settings
                </a>
            </li>
            {% if request.user.is_superuser %}
            <li>
                <a href="{% url 'admin:index' %}">
                    {% icon 'admin' %}
                    Admin
                </a>
            </li>
            {% endif %}
            <hr/>
            {% if CAN_LOGOUT %}
            <li>
                <form class="logout" action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button class="btn" class="btn danger small">
                        {% icon 'logout' %}
                        Log out
                    </button>
                </form>
            </li>
            {% endif %}
        </menu>
    {% else %}
        <a class="btn primary" href="{% url 'login' %}?next={{request.path|escape}}">
            Log in
        </a>
        {% if ALLOW_REGISTRATION %}
        <a class="btn primary" href="{% url 'registration_register' %}">
            Create an account
        </a>
        {% endif %}
    {% endif %}

    <a href="{{HELP_URL}}" target="_blank">
        {% icon 'help' %}
        Help
    </a>
</nav>

