{% load humanize %}
{% load timeline %}
<div class="media timeline-item {% block timelineitem_class %}{% endblock %}">
    <div class="media-left">
        {% block thumbnail %}{% endblock %}
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            {% block heading %}{% endblock %} 
            {% if include_object_link %}{% block on_object %}on <a href="{{item.timeline.get_absolute_url}}"><span class="glyphicon glyphicon-{{item.timeline.icon}}"></span> {{item.timeline.name}}</a>{% endblock on_object %}{% endif %}
            <small>{{item.date|naturaltime}}</small>
        </h4>
        {% if request.user|can_delete_timeline_item:item %}<a class="btn btn-link text-danger delete pull-left" href="{% block delete_url %}{% url 'timelineitem_delete' item.pk %}{% endblock %}" title="Delete this item"><span class="glyphicon glyphicon-remove"></span></a>{% endif %}
        {% block content %}{% endblock %}
    </div>
</div>
