{% extends "profile/base.html" %}
{% load sstatic %}
{% load sanitizer %}
{% load can_edit %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% sstatic 'css/custom_part_types.css' %}" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}

{% block profile_header %}{{view_user.get_full_name}}'s part types{% endblock %}

{% block title %}Part types - {{block.super}}{% endblock %}

{% block profile_content %}

{% if view_user.own_custom_part_types.exists %}
<table class="custom_part_types table">
    <colgroup>
        <col class="name"></col>
        <col class="ready-to-use"></col>
        <col class="public-availability"></col>
        <col class="description"></col>
        <col class="controls"></col>
    </colgroup>
    <thead>
        <th>Name</th>
        <th>Ready to use?</th>
        <th>Published?</th>
        <th>What's it used for?</th>
        {% if is_me %}<th></th><!-- control links -->{% endif %}
    </thead>
    <tbody>
    {% for custom_part_type in view_user.own_custom_part_types.all %}
    {% if custom_part_type|can_be_viewed_by:request.user %}
    <tr>
        <td><a href="{% url 'custom_part_type_edit' custom_part_type.pk %}">{{custom_part_type.name}}</a></a></td>
        <td>
            {% if custom_part_type.ready_to_use %}
                <span class="glyphicon glyphicon-ok-sign text-success" title="Ready to use"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove-sign text-danger" title="Not ready to use"></span>
            {% endif %}
        </td>
        <td>
            {% if custom_part_type.published %}
                <span class="glyphicon glyphicon-ok-sign text-success" title="Ready to use"></span>
            {% else %}
                <span class="glyphicon glyphicon-remove-sign text-danger" title="Not ready to use"></span>
            {% endif %}
        </td>
        <td>{{custom_part_type.description|strip_html|safe}}</td>
        {% if is_me %}
        <td class="text-center">
            <a class="btn btn-link" href="{% url 'custom_part_type_edit' custom_part_type.pk %}" title="Edit this part type"><span class="glyphicon glyphicon-pencil text-success"></span></a>
            <a class="btn btn-link" href="{% url 'custom_part_type_delete' custom_part_type.pk %}" title="Delete this part type"><span class="glyphicon glyphicon-remove text-danger"></span></a>
        </td>
        {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
    {% if is_me %}
    <tfoot>
        <tr>
            <td colspan="4">
                <a class="btn btn-primary" href="{% url 'custom_part_type_new' %}"><span class="glyphicon glyphicon-plus"></span> Create a new part type</a>
                <a class="btn btn-primary" href="{% url 'custom_part_type_upload' %}"><span class="glyphicon glyphicon-upload"></span> Upload a part type</a>
            </td>
        </tr>
    </tfoot>
    {% endif %}
</table>
{% else %}
{% if is_me %}
<p><a class="btn btn-primary" href="{% url 'custom_part_type_new' %}"><span class="glyphicon glyphicon-upload"></span> Create a new part type</a></p>
{% else %}
<p class="nothing-here">{{view_user.first_name}} hasn't created any part types yet.</p>
{% endif %}
{% endif %}

<p><a target="numbasquickhelp" href="{{HELP_URL}}custom-part-types/reference.html"><span class="glyphicon glyphicon-question-sign"></span> Help with custom part types</a></p>

{% endblock profile_content %}
