{% extends "profile/base.html" %}
{% load sstatic %}

{% block profile_header %}Your data exports{% endblock %}

{% block title %}Data exports - {{block.super}}{% endblock %}

{% block javascripts %}
    {{block.super}}
    
    <script src="{% sstatic 'js/data-exports.js' %}"></script>
{% endblock javascripts %}

{% block profile_content %}

<form action="{% url 'user_backup' %}" method="POST">
    {% csrf_token %}
    <p><button class="btn btn-warning"><span class="glyphicon glyphicon-cloud-download"></span> Export all of your data</button></p>
</form>

{% include "profile/data_exports_table.html" %}
{% endblock profile_content %}
