{% extends "layout.html" %}

{% block title %}Deactivate your account - {{block.super}}{% endblock %}

{% block javascripts %}
{{block.super}}
{{form.media}}
{% endblock javascripts %}

{% block content %}

<header class="page-header">
    <h1 class="big-name">
        Deactivate your account
    </h1>
</header>

<main>
    <form method="POST">
        {% csrf_token %}
        <p>{{user.first_name}}, are you sure you want to deactivate your account?</p>
        <p class="text-danger">This is <strong>IRREVERSIBLE</strong>.</p>
        <p>All personally identifying information will be removed from your account, and you will not be able to log back in. Any content you have created will remain on the site, and any access privileges you have granted to other users will remain.</p>
        <p>If you want to delete anything or revoke access, do that before deactivating your account.</p>

        <p>You may optionally reassign all of your content to another user:</p>
        <div class="form-group">
            <label for="{{form.reassign_content.id_for_label}}">Reassign your content to</label>
            {{form.reassign_to_user}}
        </div>

        <p>Type <strong>{{form.magic_word}}</strong> in the box below to confirm you want to deactivate your account.</p>
        <p>{{form.confirm_text}}</p>
        {% if form.confirm_text.errors %}
        <ol class="list-unstyled">
            {% for error in form.confirm_text.errors %}
            <li class="text-warning">{{error}}</li>
            {% endfor %}
        </ol>
        {% endif %}
        {% if mailing_list_active %}
        <p><label>{{form.unsubscribe}} Unsubscribe from the Numbas newsletter?</label></p>
        {% endif %}
        <button class="btn btn-danger btn-lg" type="submit">Deactivate my account</button> <a class="btn btn-link" href="{% url 'editor_index' %}">Cancel</a>
    </form>
</main>

{% endblock content %}

