{% extends "profile/base.html" %}
{% load sstatic %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% sstatic 'css/theme.css' %}" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}

{% block title %}Themes - {{block.super}}{% endblock %}

{% block profile_header %}{{view_user.get_full_name}}'s themes{% endblock %}

{% block profile_content %}

{% if view_user.own_themes.exists %}
<table class="themes table">
    <thead>
        <th>Name</th>
        {% if is_me %}<th></th><!-- control links -->{% endif %}
        <th>Last modified</th>
    </thead>
    <tbody>
    {% for theme in view_user.own_themes.all %}
    <tr>
        <td>{{theme.name}}</td>
        {% if is_me %}
        <td class="text-center">
            <a class="btn btn-link" href="{% url 'theme_edit' theme.pk %}" title="Edit this theme"><span class="glyphicon glyphicon-pencil text-warning"></span></a>
            <a class="btn btn-link" href="{% url 'theme_download' theme.pk %}" title="Download this theme"><span class="glyphicon glyphicon-download text-info"></span></a>
            <a class="btn btn-link" href="{% url 'theme_delete' theme.pk %}" title="Delete this theme"><span class="glyphicon glyphicon-remove text-danger"></span></a>
        </td>
        {% endif %}
        <td>{{theme.last_modified}}</td>
    </tr>
    {% endfor %}
    </tbody>
    {% if is_me %}
    <tfoot>
        <tr>
            <td colspan="3">
                <a class="btn btn-primary" href="{% url 'theme_new' %}"><span class="glyphicon glyphicon-plus"></span> Create a new theme from scratch</a>
                <a class="btn btn-primary" href="{% url 'theme_upload' %}"><span class="glyphicon glyphicon-upload"></span> Upload a theme</a>
            </td>
        </tr>
    </tfoot>
    {% endif %}
</table>
{% else %}
{% if is_me %}
<p>
    <a class="btn btn-primary" href="{% url 'theme_new' %}"><span class="glyphicon glyphicon-plus"></span> Create a new theme from scratch</a>
    <a class="btn btn-primary" href="{% url 'theme_new' %}"><span class="glyphicon glyphicon-upload"></span> Upload a new theme</a>
</p>
{% else %}
<p class="nothing-here">{{view_user.first_name}} hasn't uploaded any themes yet.</p>
{% endif %}
{% endif %}

{% if is_me and given_access_themes.exists %}
<h2>Themes you've been given access to</h2>
<table class="themes table">
    <thead>
        <th>Name</th>
        <th>Last modified</th>
    </thead>
    <tbody>
    {% for theme in given_access_themes %}
    <tr>
        <td>
            <a href="{% url 'theme_edit_source' theme.pk %}" >{{theme.name}}</a>
        </td>
        <td>{{theme.last_modified}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<p><a target="numbasquickhelp" href="{{HELP_URL}}themes.html"><span class="glyphicon glyphicon-question-sign"></span> Help with themes</a></p>

{% endblock profile_content %}
