{% extends "profile/base.html" %}
{% load escape_html from sanitizer %}
{% load user_link %}

{% block profile_content %}
{% with object.userprofile as profile %}

<div class="bio jumbotron">
    {% if profile.bio %}
    {{profile.bio|escape_html|safe }}
    {% else %}
    <p><em>This user hasn't written a bio yet.</em></p>
    {% endif %}
</div>

{% if is_me %}
<div class="text-right" id="edit-profile">
    <a class="btn btn-link" href="{% url 'edit_profile' %}"><span class="glyphicon glyphicon-pencil"></span> Edit your profile</a>
</div>
{% endif %}

{% endwith %}
{% endblock profile_content %}
