{% extends "layout.html" %}
{% load escape_html from sanitizer %}

{% block stylesheets %}
{{block.super}}
<link href="{{ STATIC_URL }}css/profile-view.css" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
{% with object.userprofile as profile %}
{% if is_me %}<div class="pull-right" id="edit-profile"><a href="{% url 'edit_profile' %}">Edit your profile</a></div>{% endif %}

<h2 class="big-name">{{object.get_full_name}}</h2>

{% if profile.bio %}
<div class="bio well">{{profile.bio|escape_html|safe }}</div>
{% endif %}

<ul>
    <li>
        {% if object.own_exams.count %}
			<p><a href="{% url 'exam_search' %}?author={{object.get_full_name|urlencode}}">{% if is_me %}Your{% else %}{{object.first_name}}'s{% endif %}  exams</a>.</p>
			<p>{% if is_me %}(Download a backup .zip file of <a href="{% url 'all_exams_download' %}">all your exams</a>){% endif %}</p>
        {% else %}
            {% if is_me %}
                You haven't created any exams.
            {% else %}
                {{object.first_name}} hasn't created any exams.
            {% endif %}
        {% endif %}
    </li>

    <li>
        {% if object.own_questions.count %}
			<p><a href="{% url 'question_search' %}?author={{object.get_full_name|urlencode}}">{% if is_me %}Your{% else %}{{object.first_name}}'s{% endif %}  questions</a>.</p>
			<p>{% if is_me %}(Download a backup .zip file of <a href="{% url 'all_questions_download' %}">all your questions</a>){% endif %}</p>
        {% else %}
            {% if is_me %}
                You haven't created any questions.
            {% else %}
                {{object.first_name}} hasn't created any questions.
            {% endif %}
        {% endif %}
    </li>

    {% if is_me %}
    <li><a href="{% url 'theme_list' %}">Your themes</a>.</li>
    <li><a href="{% url 'extension_list' %}">Your extensions</a>.</li>
    {% endif %}
</ul>


{% endwith %}
{% endblock content %}
