{% extends "layout.html" %}

{% block content %}
<h2>Upload extension</h2>

{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}

<form action="{% url 'extension_new' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% for formset in inlines %}
    {{ formset.as_p }}
    {% endfor %}
    <input type="submit" value="Submit" />
</form>
{#{{ formset.management_form }}#}
{{ formset.errors }}
{#{{ formset.non_form_errors }}#}
<p><a href="{% url 'extension_list' %}">Cancel</a></p>
{% endblock content %}

