{% extends "layout.html" %}
{% load sstatic %}

{% block content %}
<h2>Your extensions</h2>

{% if object_list %}
<table class="extensions">
    <thead>
		<th>Name</th>
		<th>Short name</th>
        <th>Last modified</th>
    </thead>
    <tbody>
    {% for extension in object_list %}
    <tr>
		<td>{{extension.name}}</td>
		<td>{{extension.location}}</td>
		<td>{{extension.last_modified}}</td>
		<td><a href="{% url 'extension_edit' extension.pk %}">Edit</a></td>
        <td><a href="{{extension.zipfile.url}}" class="download">Download</a></td>
        <td><a href="{% url 'extension_delete' extension.pk %}" class="delete" title="Delete">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<p><a href="{% url 'extension_new' %}">Upload a new extension</a></p>
<p><a class="helplink" href="http://numbas-editor.readthedocs.org/en/latest/extensions.html">Help with extensions</a></p>
{% endblock content %}

{% block stylesheets %}
	{{ block.super }}
    <link href="{% sstatic 'css/extension.css' %}" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}

