{% extends "layout.html" %}

{% block title %}Upload an extension - {{block.super}}{% endblock title %}

{% block content %}
<div class="page-header">
    <h1>Upload an extension</h1>
</div>

<form class="form-horizontal" action="{% url 'extension_upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label class="col-sm-3 control-label">{{field.label}}</label>
            <div class="col-sm-9">
                {{field}}
                {% if field.errors %}
                    <ul class="help-block list-unstyled">
                        {% for error in field.errors %}
                        <li class="alert alert-danger">{{error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="help-block">{{field.help_text}}</div>
            </div>
        </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-link" href="{% url 'profile_extensions' request.user.pk %}">Cancel</a>
        </div>
    </div>
</form>
{#{{ formset.management_form }}#}
{{ formset.errors }}
{#{{ formset.non_form_errors }}#}
<p></p>
{% endblock content %}

