{% extends "notifications/email/base.html" %}
{% load sanitizer %}

{% block content %}
<p><a href="{{domain}}{% url 'view_profile' comment.user.pk %}">{{comment.user.get_full_name}}</a> {{notification.verb}} "<a href="{{domain}}{{editoritem.get_absolute_url}}">{{editoritem.name}}</a>":

<blockquote>
    {{comment.text|strip_html|safe}}
</blockquote>

<p>View this {{editoritem.item_type}}: <a href="{{domain}}{{editoritem.get_absolute_url}}#editing-history">{{site.domain}}{{editoritem.get_absolute_url}}</a></p>
{% endblock content %}
