{% extends "layout.html" %}
{% load can_edit %}

{% block content %}
{% with editoritem=object.editoritem %}
<h2>{{ editoritem.name }}</h2>

{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}

{% if editoritem|can_be_deleted_by:user %}
	<form action="{% url 'exam_delete' object.pk editoritem.slug %}" method="post">
	{% csrf_token %}
    <p>Confirm you'd like to delete this exam.</p>
    <p><input type="submit" value="Delete" /> <a href="{% url 'exam_index' %}"/>Cancel</a></p>
	</form>
{% else %}
	<p>You are not permitted to delete this exam.</p>
{% endif %}

{% endwith %}
{% endblock content %}
