{% extends "exam/edit.html" %}
{% load verbatim %}
{% load user_link %}

{% block editable_message %}You can edit this question.{% endblock %}

{% block editor %}
	{{ block.super }}
	{% include "editable.html" %}

	<div class="tab-content">
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='general'}">
			<div class="row-fluid section">
				<label>
					<h4>Exam Name <span data-bind="template: {name: 'helplink', data: {url: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-exam-name', topic: 'exam name'}}"></span></h4>
					<input class="input-block-level" id="exam-name" data-bind="value: name, valueUpdate: 'afterkeydown'" type="text"/>
				</label>
			</div>
			<div class="row-fluid section">
				<div class="span8">
					<p><span class="exam-author">Exam Author:</span> {% user_link object.author %}</p>
					<p class="editable-message">You can edit this exam.</p>
                    <form class="form-inline">
                        <div class="control-group">
                            <label>
                                <span class="control-label">
                                    Licence: 
                                    <span data-bind="template: {name: 'helplink', data: {topic: 'licence', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-licence'}}"></span>
                                </span>
                                <span class="controls">
                                    <select data-bind="options: Editor.licences, value: licence, optionsText: 'short_name', optionsCaption: 'None specified'"></select>
                                    <span data-bind="visible: licence, with: licence">
                                        <a target="_blank" data-bind="visible: url, attr:{href:url}">Licence information</a>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </form>
				</div>
				<div class="span4">
					{% if perms.editor.exam_highlight %}
					<a href="{% url 'highlight_exam' object.pk object.slug %}">Highlight this exam on the front page.</a>
					{% endif %}
				</div>
			</div>
            <div class="row-fluid section">
                <div class="span7">
                    <label for="description"><h4>Description  <span data-bind="template: {name: 'helplink', data: {url: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-description', topic: 'description'}}"></span></h4></label>
                    <div id="description" data-bind="writemaths: description"></div>
                    <label for="authors-notes"><h4>Author's Notes  <span data-bind="template: {name: 'helplink', data: {url: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-author-s-notes', topic: 'author\'s notes'}}"></span></h4></label>
                    <div id="authors-notes" data-bind="writemaths: notes"></div>
                </div>
				<div class="span4">
					<h4>Options</h4>
                    <form class="form-horizontal">
						<div class="control-group">
							<label>
								<span class="control-label">
									Interface theme
									<span data-bind="template: {name: 'helplink', data: {url: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-theme'}}"></span>
								</span>
								<div class="controls">
                                    <select data-bind="options: Editor.themes, value: theme, optionsText: 'name'"></select>
                                    <div class="upload-theme"><a href="{% url 'theme_new' %}">Upload a new theme</a></div>
								</div>
							</label>
						</div>
						<div class="control-group">
							<label>
								<span class="control-label">
									Interface language
									<span data-bind="template: {name: 'helplink', data: {url: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-interface-language'}}"></span>
								</span>
								<div class="controls">
									<select data-bind="options: Editor.locales, value: locale, optionsValue: 'code', optionsText: 'name'"></select>
								</div>
							</label>
						</div>
                        <div class="control-group" data-bind="template: {
                            name: 'percentproperty',
                            data: {label:'Pass threshold (percent):',property:percentPass, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-pass-threshold'}
                        }"></div>
                    </form>
                </div>
			</div>
		</section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='navigation'}">
			<form class="form-horizontal">
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: {label:'Allow user to regenerate questions?', property:allowregen, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-allow-user-to-regenerate-questions'}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: {label:'Allow move to previous question?', property:reverse, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-allow-move-to-previous-question'}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: {label:'Allow jump to any question?', property:browse, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-allow-jump-to-any-question'}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: {label: 'Show front page?',property:showfrontpage, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-show-front-page'}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: {label: 'Confirm before leaving the exam while it\'s running?',property:preventleave, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-confirm-before-leaving-the-exam-while-it-s-running'}
				}"></div>
				<div data-bind="template: {
					name: 'event',
					data: onleave
				}"></div>
			</form>
		</section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='timing'}">
			<form class="form-horizontal">
				<div class="control-group" data-bind="template: {
					name: 'numberproperty',
					data: {label:'Exam duration (minutes):',property:duration, type:'number',min:0, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-exam-duration'}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: {label:'Allow pausing?',property:allowPause, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-allow-pausing'}
				}"></div>
				<div data-bind="template: {
					name: 'event',
					data: timeout
				}"></div>
				<div data-bind="template: {
					name: 'event',
					data: timedwarning
				}"></div>
			</form>
		</section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='feedback'}">
			<form class="form-horizontal">
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: { label:'Show current score?', property:showactualmark, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-show-current-score'}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: { label:'Show maximum score?', property:showtotalmark, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-show-maximum-score'}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: { label:'Show answer state?', property:showanswerstate, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-show-answer-state'}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: { label:'Allow reveal answer?', property:allowrevealanswer, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-allow-reveal-answer'}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'percentproperty',
					data: { label:'Advice threshold (percent)', property:advicethreshold, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-advice-threshold'}
				}"></div>
			</form>
		</section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='questions'}">
			<div class="row-fluid">
			</div>
            <div class="questions row-fluid">
                <div class="span6">
                    <form class="form-horizontal">
                        <div class="control-group" data-bind="template: {
                            name: 'booleanproperty',
                            data: {label: 'Shuffle questions?',property:shuffleQuestions, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-shuffle-questions'}
                        }"></div>
                        <div class="control-group" data-bind="fadeVisible: shuffleQuestions, template: {
                            name: 'booleanproperty',
                            data: {label: 'Use all questions?',property: allQuestions, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-use-all-questions'}
                        }"></div>
                        <div class="control-group" data-bind="fadeVisible: !allQuestions(), template: {
                            name: 'numberproperty',
                            data: {label: 'Number of questions to display',property:pickQuestions, min: 0, max: questions().length, helpURL: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#term-number-of-questions-to-display'}
                        }"></div>
                    </form>
                    <ul class="questionList" data-bind="
                        sortable: {
                            template: 'question', 
                            data: questions, 
                            afterMove: dropQuestion,
                            options: {handle: '.handle', placeholder: 'placeholder'}
                        }
                        "></ul>
                </div>
                <div class="span6">
                    <ul class="nav nav-tabs" data-bind="foreach: questionTabs">
                        <li data-bind="css: {active: $root.currentQuestionTab() == $data}">
                            <a href="#" data-bind="click: $root.currentQuestionTab, text: title"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentQuestionTab().id)=='mine'}">
                            <ul class="results editlist big" data-bind="
                                template: {
                                    name: 'questionResult',
                                    foreach: recentQuestions,
                                }
                            "></ul>
                        </div>
                        <div class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentQuestionTab().id)=='search'}">
                            <form class="form-horizontal" data-bind="submit: search.submit">
                                <div class="control-group">
                                    <label for="questionsearch">
                                        <span class="control-label">Search for questions:</span>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="text" id="questionsearch" class="search" placeholder="Topic or question name" data-bind="
                                                    value: search.query, 
                                                    valueUpdate: 'afterkeydown'
                                                "/>
                                                <span class="add-on"><button type="submit" class="search" data-bind="css: {loading: search.searching}"></button></span>
                                            </div>
                                        </div>
                                    </label>
                                    <label for="questionsearchtags">
                                        <span class="control-label">Filter by tags:</span>
                                        <div class="controls">
                                            <input type="text" id="questionsearchtags" class="search" placeholder="Tags separated by commas" data-bind="
                                                value: search.tags, 
                                                valueUpdate: 'afterkeydown'
                                            "/>
                                        </div>
                                    </label>
                                </div>
                            </form>
                            <div class="searchBox">
                                <ul class="results editlist big" data-bind="
                                    template: {
                                        name: 'questionResult',
                                        foreach: search.results.all,
                                    }
                                "></ul>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</section>
        <section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='versions'}">
            <h4>Editing history</h4>
            <p><label><input type="checkbox" data-bind="checked: showCondensedTimeline"/> Show condensed editing history</label></p>
            <div class="timeline-write-comment">
                <button data-bind="visible: !writingComment(), click: writingComment" type="button">Write a comment</button>
                <form data-bind="fadeVisible: writingComment, submit: submitComment">
                    <h4>Comment</h4>
                    <div data-bind="writemaths: commentText"></div>
                    <div class="buttons">
                        <button type="Submit" data-bind="attr: {disabled: commentIsEmpty}">Submit</button>
                        <button type="button" data-bind="click: cancelComment">Cancel</button>
                    </div>
                </form>
            </div>
            <table class="timeline">
                <tbody data-bind="foreach: timelineToDisplay">
                    <tr class="timeline-event" data-bind="addClass: type, css: {deleting: deleting}">
                        <td>
                            <a data-bind="attr: {href: user.profile_url}" target="_blank"><span data-bind="text: user.name"></span></a>
                        </td>
                        <td>
                            <span data-bind="fromNow: date, attr: {title: date}"></span>
                            <button type="button" class="delete" title="Delete this item" data-bind="visible: delete_url, click: $root.deleteTimelineItem"></button>
                        </td>
                        <!-- ko template: {name: 'timeline-'+type+'-template', data: data} --><!-- /ko -->
                    </tr>
                    <script type="text/html" id="timeline-version-template">
                        <td class="action">
                            Made some changes 
                            <br/>
                            (<a data-bind="attr: {href: 'revert/'+version_pk}" title="Restore this version">Restore</a>)
                        </td>
                        <td>
                            <div class="comment">
                                <div class="edit-comment" data-bind="visible: editable, editableHTML: comment, placeholder: 'Write a comment'"></div>
                                <span data-bind="visible: !editable, text: comment"></span>
                            </div>
                        </td>
                    </td>
                    </script>
                    <script type="text/html" id="timeline-stamp-template">
                        <td class="action">Gave some feedback</td>
                        <td>
                            <span class="stamp-status" data-bind="text: status_display, addClass: status"></span>.
                        </td>
                    </script>
                    <script type="text/html" id="timeline-comment-template">
                        <td class="action">Commented</td>
                        <td>
                            <div data-bind="mathjaxHTML: text"></div>
                        </td>
                    </script>
                </tbody>
            </table>
        </section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='access'}">
			<div data-bind="template: {name: 'helplink', data: {url: 'http://numbas-editor.readthedocs.org/en/latest/exam-reference.html#access', topic: 'access rights', big: true}}"></div>
			<form class="form-horizontal">
				<div class="control-group">
					<label>
						<span class="control-label">Public visibility:</span>
						<div class="controls">
							<select data-bind="value: public_access, options: access_options, optionsText:'text',optionsValue:'value'"></select>
						</div>
					</label>
				</div>
			</form>
			<h4>Individual access rights</h4>
			<form class="form-horizontal" data-bind="submit: function(){}">
				<!-- ko foreach: {data: access_rights, afterAdd: Editor.afterAdd} -->
				<div class=control-group">
					<label>
						<span class="control-label" data-bind="text:name"></span>
						<div class="controls">
							<select data-bind="hasfocus: true, value: access_level, options: access_options, optionsText:'text',optionsValue:'value'"></select>
							<button type="button" class="delete" data-bind="click: remove" title="Remove this user's access"></button>
						</div>
					</label>
				</div>
				<!-- /ko -->
				<div class="control-group access-search">
					<label>
						<span class="control-label">Search for a user to give access to:</span>
						<div class="controls">
							<input id="search_author" type="text" size="30" data-bind="
								value: userAccessSearch,
								autocomplete: '{% url 'user_search' %}', 
								autocompleteCallback: function(user) { return {label: user.name, value: user.name} },
								autocompleteSelect: addUserAccess
								"/>
						</div>
					</label>
				</div>
			</form>
		</section>
	</div>

	{% verbatim %}

	<script type="text/html" id="event">
		<h4><span data-bind="html:niceName"></span> <span data-bind="template: {name: 'helplink', data: {url: helpURL}}"></span></h4>
		<div class="control-group">
			<label>
				<span class="control-label">Action:</span>
				<div class="controls">
					<select data-bind="options: actions, value: action, optionsText: 'niceName'"></select>
				</div>
			</label>
		</div>
		<div class="control-group">
			<label data-bind="fadeVisible:action().name!='none'">
				<span class="control-label">Message:</span>
				<div class="controls" data-bind="writemaths: message, wmHeight: 100, wmWidth: 500"/>
			</label>
		</div>
	</script>

	<script type="text/html" id="question">
		<li class="question clearAfter">
			<span class="handle"></span>
			<div class="controls">
				<a class="preview" data-bind="attr: {href: previewURL()}" target="_blank" title="Test run this question"></a>
				<button type="button" class="copy" data-bind="click:replaceWithCopy" title="Replace this question with a copy"></button>
				<button type="button" class="delete delete-grey" data-bind="click:remove" title="Delete this question"></button>
			</div>
			<div class="title">
				<span class="number" data-bind="text: ($index()+1)+'.'"/>
				<a data-bind="attr:{href: url}, text: name" target="_blank"></a>
			</div>
			<div class="description" data-bind="visible: description.length>0, html: description, mathjax: true"></div>
		</li>
	</script>

	<script type="text/html" id="questionResult">
		<li class="question questionResult">
			<span class="handle" data-bind="click: add"></span>
			<div class="controls">
				<a class="preview" data-bind="attr: {href: previewURL()}" target="_blank" title="Test run this question"></a>
			</div>
			<div class="details">
				<div class="title">
					<a data-bind="attr:{href: url}, text: name" target="_blank"></a>
				</div>
				<div class="author">
					(<span data-bind="text: author"></span>) - <span data-bind="text: moment(last_modified()).fromNow()"></span>
				</div>
			</div>
			<div class="description" data-bind="visible: description.length>0, html: description, mathjax: true"></div>
		</li>
	</script>
	{% endverbatim %}

{% endblock editor %}
