{% extends "layout.html" %}

{% block content %}
<h2>{{ object.name }}</h2>

{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}

<form action="{% url exam_edit object.slug %}" method="post" id="exam-edit-form">
{% csrf_token %}
{{ form.as_p }}
{% for formset in inlines %}
	{{ formset.as_p }}
{% endfor %}
<input type="submit" value="Submit" />
</form>

{% endblock content %}

{% block sidebar %}
<button id="exam-preview" type="button">Exam preview</button>
<div id="exam-preview-message"></div>
{% endblock sidebar %}

{% block javascripts %}
{{ block.super }}
    <script type="text/javascript">
	    (function() {
	   	  if (!window.Editor) {
    	    window.Editor = {exam_preview_url: '{% url exam_preview object.slug %}'};
    	  }
    	})();
    </script>
    <script src="{{ STATIC_URL }}js/editor.js" type="text/javascript"></script>
{% endblock javascripts %}