{% extends "editoritem/edit.html" %}
{% load helplink %}
{% load editor_controls %}
{% load links %}
{% load sanitizer %}
{% load sstatic %}
{% load json_filter %}
{% load user_link %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% sstatic 'css/exam/edit.css' %}" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}

{% block javascripts %}
    {{ block.super }}

    <!-- exam editor -->
    <script src="{% sstatic 'js/exam/edit.js' %}" type="text/javascript"></script>
{% endblock javascripts %}

{% block main_tab_content %}
{{ block.super }}
    <!-- Display -->
    {% include "exam/tabs/display.html" %}

    <!-- Questions -->
    {% include "exam/tabs/questions.html" %}

    <!-- Knowledge graph -->
    {% include "exam/tabs/knowledge_graph.html" %}

    <!-- Navigation -->
    {% include "exam/tabs/navigation.html" %}

    <!-- Timing -->
    {% include "exam/tabs/timing.html" %}

    <!-- Feedback -->
    {% include "exam/tabs/feedback.html" %}

{% endblock main_tab_content %}

{% block content %}
{{ block.super }}
    {% verbatim %}

    <!-- question result templates -->

    <script type="text/html" id="question">
    </script>

    <script type="text/html" id="questionResult">
        <li class="question question-result">
            <button type="button" tabindex="0" class="handle btn btn-link" data-bind="click: add, visible: item_json.editable"><span class="glyphicon glyphicon-plus"></span></button>
            <div class="details">
                <div class="title">
                    <a data-bind="attr:{href: url}, latex: name" target="_blank"></a>
                    <span class="label label-default stamp" data-bind="visible: current_stamp, text: current_stamp_display, attr: {'data-stamp':current_stamp}"></span>
                </div>
                <div class="author">
                    (<span data-bind="text: author"></span>)
                </div>
            </div>
            <div class="controls">
                <a class="preview btn btn-link" data-bind="attr: {href: previewURL}" target="_blank"><span class="text-success"><span class="glyphicon glyphicon-play"></span> Preview this question</span></a>
            </div>
            <div class="description" data-bind="visible: description.length>0, latex: description"></div>
        </li>
    </script>
    {% endverbatim %}
{% endblock content %}

{% block access_tab_nav %}
    <editor-pager params="editor: $root, previousTab: 'settings', task_group: 'access'"></editor-pager>
{% endblock %}

{% block settings %}
{{ block.super }}
    {% if editable %}
    <editor-pager params="editor: $root, previousTab: 'feedback', nextTab: 'access', task_group: 'settings'"></editor-pager>
    {% endif %}
{%endblock settings %}

{% block published_body %}
{{ block.super }}
<div class="alert alert-warning" data-bind="visible: any_unpublished_questions">
    <p><span class="glyphicon glyphicon-warning-sign"></span> One or more of the questions in this exam have not been published. Users without access to those questions will not be able to see this exam.</p>
</div>
{% endblock %}

{% block admin_controls %}
{{ block.super }}
<!-- ko if: allowAttemptDownload -->
<li role="separator" class="divider"></li>

<li>
    <a href="{% url 'exam_offline_analysis' object.pk object.editoritem.slug %}" target="analysis" title="Analyse attempt data">
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span> 
        Analyse attempt data
    </a>
</li>

<!-- /ko -->
{% endblock admin_controls %}
