{% extends "editor.html" %}
{% load verbatim %}

{% block javascripts %}
    {{ block.super }}

    <!-- exam editor -->
    <script src="{{ STATIC_URL }}js/exam/edit.js" type="text/javascript"></script>

    <script type="text/javascript">
        {% autoescape off %}
        var examJSON = {{ exam_JSON }};
        {% endautoescape %}
        (function() {
            if (!window.Editor) {
            	window.Editor = {};
            }
            window.Editor['preview_url'] = '{% url exam_preview object.pk object.slug %}';
            window.Editor['download_url'] = '{% url exam_download object.pk object.slug %}';
        })();
    </script>
{% endblock javascripts %}

{% block content %}
    {{ block.super }}


	{% if user.username == object.author.username or user.is_superuser %}
	    {% verbatim %}
	
			<script type="text/x-jquery-tmpl" id="examTemplate">
			<div class="properties">
				<div data-bind="template: {
					name: 'property',
					templateOptions: {label:'Exam name:',property:name}
				}"></div>

				<div data-bind="template: {
					name: 'property',
					templateOptions: {label:'Duration (minutes):',property:duration, type:'number',min:0}
				}"></div>
				<div data-bind="template: {
					name: 'percentproperty',
					templateOptions: {label:'Pass threshold (percent):',property:percentPass}
				}"></div>
				<div data-bind="template: {
					name: 'booleanproperty',
					templateOptions: {label: 'Shuffle questions?',property:shuffleQuestions}
				}"></div>
			</div>
			{{wrap(this,{label:"Navigation"}) "#folder"}}
				<div>
					<div class="properties">
						<div data-bind="template: {
							name: 'booleanproperty',
							templateOptions: {label:'Allow user to regenerate questions?', property:allowregen}
						}"></div>
						<div data-bind="template: {
							name: 'booleanproperty',
							templateOptions: {label:'Allow move to previous question?', property:reverse}
						}"></div>
						<div data-bind="template: {
							name: 'booleanproperty',
							templateOptions: {label:'Allow jump to any question?', property:browse}
						}"></div>
						<div data-bind="template: {
							name: 'booleanproperty',
							templateOptions: {label: 'Show front page?',property:showfrontpage}
						}"></div>
					</div>
					<div data-bind="template: {
						name: 'event',
						data: onadvance
					}"></div>
					<div data-bind="template: {
						name: 'event',
						data: onreverse
					}"></div>
					<div data-bind="template: {
						name: 'event',
						data: onmove
					}"></div>
				</div>
			{{/wrap}}
			{{wrap(this,{label:"Timing"}) "#folder"}}
				<div>
					<div data-bind="template: {
						name: 'event',
						data: timeout
					}"></div>
					<div data-bind="template: {
						name: 'event',
						data: timedwarning
					}"></div>
				</div>
			{{/wrap}}
			{{wrap(this,{label:"Feedback"}) "#folder"}}
				<div class="properties">
					<div data-bind="template: {
						name: 'booleanproperty',
						templateOptions: { label:'Show actual mark?', property:showactualmark}
					}"></div>
					<div data-bind="template: {
						name: 'booleanproperty',
						templateOptions: { label:'Show total mark?', property:showtotalmark}
					}"></div>
					<div data-bind="template: {
						name: 'booleanproperty',
						templateOptions: { label:'Show answer state?', property:showanswerstate}
					}"></div>
					<div data-bind="template: {
						name: 'booleanproperty',
						templateOptions: { label:'Allow reveal answer?', property:allowrevealanswer}
					}"></div>
					<div data-bind="template: {
						name: 'percentproperty',
						templateOptions: { label:'Advice threshold (percent)', property:advicethreshold}
					}"></div>
				</div>
			{{/wrap}}
			{{wrap(this,{label:"Questions", show: true}) "#folder"}}
			<div class="questions">
				<ul class="editlist" data-bind="
					template:{
						name:'question',
						foreach: questions,
						beforeRemove: function(elem) { $(elem).slideUp(150,function(){$(this).remove()}); },
						afterAdd: function(elem) { $(elem).hide().slideDown(150) }
					},
					sortableList: questions
				"></ul>
				<button data-bind="click: addQuestion, text: questions().length ? 'Add another question' : 'Add a question'"></button>
			</div>
			{{/wrap}}
		</script>
	
			<script type="text/x-jquery-tmpl" id="event">
			{{wrap(this,{label:niceName}) "#folder"}}
				<div>
				<div class="properties">
					<div>
						<label>Action: </label>
						<select data-bind="options: actions, value: action, optionsText: 'niceName'"></select>
					</div>
				</div>
				<div data-bind="fadeVisible:action().value!='none'">
					Message: 
					<div data-bind="writemaths: message"/>
				</div>
				</div>
			{{/wrap}}
		</script>
	
		<script type="text/x-jquery-tmpl" id="question">
			<li class="question">
				<span class="handle"></span>
				<div data-bind="searchClick: {value: name, options: exam.allQuestions, hasfocus: isNew}"></div>
				<button class="remove" data-bind="click:remove"></button>
			</li>
		</script>
	    {% endverbatim %}
	
	    <div>
	        <div id="controls">
	            <div class="controlbox" id="author">
	                Author: {{ object.author.first_name }} {{ object.author.last_name }} ({{ object.author.username }})
	            </div>
	            <div class="controlbox" id="buttons">
	                Download: 
	                <a href="{% url exam_download object.pk object.slug %}">standalone .zip</a>,
	                <a href="{% url exam_download object.pk object.slug %}?scorm">SCORM package</a>,
	                <a href="{% url exam_source object.pk object.slug %}">source</a>
	            </div>
	            <div class="controlbox" id="admin">
	                <button id="preview" data-bind="click: showPreview">Test Run</button>
	                <a id="delete" href="{% url exam_delete object.pk object.slug %}"><img src="{{STATIC_URL}}images/delete.png"/> Delete</a>
	                <a id="copy" href="{% url exam_copy object.pk object.slug %}">Make a Copy</a>
	            </div>
	        </div>
	        <div id="editor" data-bind="template: 'examTemplate'"></div>
	    </div>
    {% else %}
	    <div>You are not permitted to view this exam.</div>
    {% endif %}
{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}

