{% extends "editor.html" %}

{% block content %}
    <h2>Highlighting <em>{{exam.name}}</em></h2>
    <form method="POST">
        {% csrf_token %}
        <label for="id_note">{{form.note.label}}</label>
        <p>{{form.note}}</p>
        <button>Submit</button> <a href="{% url 'exam_edit' exam.pk exam.slug %}">Cancel</a>
    </form>

    <script type="text/javascript">
        $('textarea').each(function(){
            var t = this;
            $(t)
                .tinymce({
                    theme: 'numbas',
                    plugins: 'media',
                    media_strict: false,
                    init_instance_callback: function(ed) { 
                        $(t).parent().writemaths({iFrame: true, position: 'center top', previewPosition: 'center bottom'}); 
                    },
                    theme_advanced_resizing: true,
                    theme_advanced_resize_horizontal: false
                })
            ;
        });
    </script>
{% endblock %}



