{% extends "layout.html" %}

{% block content %}
	{% if exam_list %}
        <table id="exam-list">
        <thead>
            <th>Name</th>
            <th>Author</th>
            <th></th>
        </thead>
        <tbody>
		{% for exam in exam_list %}
            <tr class="exam">
                <td><a href="{% url exam_edit exam.pk exam.slug %}">{{ exam.name }}</a></td>
                <td class="author {% if user == exam.author %}me{% endif %}">
                    {% if user == exam.author %}You{% else %}{{ exam.author.get_full_name }}{% endif %}
                </td>
                <td class="delete">
    				{% if user == exam.author or user.is_superuser %}
	    				<a class="delete" href="{% url exam_delete exam.pk exam.slug %}"></a>
		    		{% endif %}
                </td>
			</tr>
        {% endfor %}
        </tbody>
		</table>
	{% else %}
		<p>No exams are available.</p>
    {% endif %}
    
    {% if user.is_authenticated %}
        <button id="newExam">New exam</button>
        <form action="{% url exam_new %}" method="post" id="newExamForm">
            {% csrf_token %}
            Name: <input type="text" name="name" maxlength="200" />
            <input type="submit" value="Create" />
            <input type="hidden" name="author" value="{{user.id}}"/>
        </form>
        <form action="{% url exam_upload %}" method="post" id="uploadForm" enctype="multipart/form-data">
            {% csrf_token %}
            <button id="uploadButton">Upload an exam</button>
            <div class="upload">
                <input type="file" name="file" value="yo"/>
            </div>
        </form>
    {% endif %}
{% endblock content %}

{% block sidebar %}
<a href="{% url exam_search %}">Search exams</a>
{% endblock sidebar %}

{% block javascripts %}
	{{block.super}}
	<script type="text/javascript" src="{{ STATIC_URL }}js/exam/index.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
{% endblock javascripts %}

{% block stylesheets %}
	{{ block.super }}
    <link href="{{ STATIC_URL }}css/index.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/exam/index.css" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}
