{% extends "layout.html" %}
{% load can_edit %}
{% load user_link %}

{% block content %}

	{% if user.is_authenticated %}
        <div class="controlbox" id="admin">
            <a id="new" href="{% url 'exam_new' %}">Create a new exam</a>
            <form action="{% url 'exam_upload' %}" method="post" id="uploadForm" enctype="multipart/form-data">
                {% csrf_token %}
				<a href="{% url 'exam_upload' %}" id="upload">Upload a exam</a>
                <div class="upload">
                    <input type="file" name="file" value="yo"/>
                </div>
            </form>
        </div>
    {% endif %}

	<form class="search" action="{% url 'exam_search' %}">
        <label for="search_query">
            <div class="input-append">
                <input role="search" id="search_query" type="text" name="query" value="{{ data.query }}" placeholder="Search the public exam bank by keyword or title."/>
                <span class="add-on"><button type="submit" class="search" title="Search"></button></span>
            </div>
        </label>
	</form>

	<div class="row-fluid">
		<div class="span6">

			{% if user.is_authenticated %}
				<div class="favourites exam-list">
                    <h3><a href="{% url 'favourite_exams' %}">Your starred exams</a></h3>

                    {% if favourites.count > 0 %}
                        <ol>
                        {% for exam in favourites|slice:":5" %}
                            <li class="exam">
                                <div class="header">
                                    <span class="name"><a href="{% url 'exam_edit' exam.pk exam.slug %}">{{ exam.name }}</a></span>
                                    <span class="admin">
                                        <a class="preview" href="{% url 'exam_preview' exam.pk exam.slug %}" target="_blank" title="Test run"></a>
                                        {% if user.is_authenticated %}
                                        <a class="copy" href="{% url 'exam_copy' exam.pk exam.slug %}" title="Make a copy"></a>
                                        {% endif %}
                                        {% if exam|can_be_edited_by:user %}<a class="delete" href="{% url 'exam_delete' exam.pk exam.slug %}" title="Delete"></a>{% endif %}
                                    </span>
                                </div>
                                <div class="description">{{ exam.metadata.description|safe }}</div>
                            </li>
                        {% endfor %}s
                        </ol>

                        {% if favourites.count > 5 %}
                        <p style="font-style: italic;"><a href="{% url 'favourite_exams' %}">All starred exams</a>.</p>
                        {% endif %}
                    {% else %}
                        <p style="font-style:italic">When looking at an exam, you can click on the star icon next to its name to save it for later. The list of exams you've starred will appear here.</p>
                    {% endif %}
				</div>
			{% endif %}

			{% if highlights.count > 0 %}
				<div class="highlights exam-list">
					<h3><a href="{% url 'highlighted_exams' %}">Editors' picks</a></h3>
					<ol>
					{% for highlight in highlights|slice:":5" %}
						{% with exam=highlight.exam %}
						<li class="exam">
							<div class="header">
								<span class="name"><a href="{% url 'exam_edit' exam.pk exam.slug %}">{{ exam.name }}</a></span>
								<span class="admin">
									<a class="preview" href="{% url 'exam_preview' exam.pk exam.slug %}" target="_blank" title="Test run"></a>
									{% if user.is_authenticated %}
									<a class="copy" href="{% url 'exam_copy' exam.pk exam.slug %}" title="Make a copy"></a>
									{% endif %}
									{% if exam|can_be_edited_by:user %}<a class="delete" href="{% url 'exam_delete' exam.pk exam.slug %}" title="Delete"></a>{% endif %}
								</span>
							</div>
							<div class="description">
								{{ exam.metadata.description|safe }}
							</div>
							<blockquote class="note well well-small">
								<cite class="picked-by">Picked by {% user_link highlight.picked_by %}.</cite>
								{{highlight.note|safe}}
							</blockquote>
						</li>
						{% endwith %}
					{% endfor %}
					</ol>
					{% if highlights.count > 5 %}
					<p style="font-style: italic;"><a href="{% url 'highlighted_exams' %}">All highlighted exams</a>.</p>
					{% endif %}
				</div>
			{% endif %}
        </div>
        <div class="span5 offset1">
        </div>
	</div>
    
{% endblock content %}

{% block javascripts %}
	{{block.super}}
	<script type="text/javascript" src="{{STATIC_URL}}js/exam/index.js"></script>
{% endblock javascripts %}

{% block stylesheets %}
	{{ block.super }}
    <link href="{{ STATIC_URL }}css/index.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/exam/index.css" type="text/css" rel="stylesheet" />
{% endblock stylesheets %}

