{% extends "exam/edit.html" %}
{% load sstatic %}
{% load verbatim %}
{% load user_link %}

{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% sstatic 'css/exam/noneditable.css' %}">
{% endblock stylesheets %}

{% block editable_message %}You may only view this exam. {% if user.is_authenticated %}If you want to change something, make a copy.{% endif %}{% endblock editable_message %}

{% block editor %}
	{{ block.super }}

	{% include "noneditable.html" %}

	<div class="tab-content">
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='general'}">
			<div class="row-fluid section">
				<div class="span8">
					<p><span class="exam-author">Exam Author:</span> {% user_link object.author %}</p>
					<p class="editable-message">
						You may only view this exam. {% if user.is_authenticated %}If you want to change something, make a copy.{% endif %}
					</p>
                    <form class="form-inline licence">
                        <div class="control-group">
                            <label>
                                <span class="control-label">
                                    Licence: 
                                    <span data-bind="template: {name: 'helplink', data: {topic: 'licence', url: 'http://numbas-editor.readthedocs.org/en/latest/question-reference.html#term-licence'}}"></span>
                                </span>
								<span class="controls">
                                    <span data-bind="visible: licence, with: licence">
										<a target="_blank" data-bind="visible: url, attr:{href:url}"><abbr data-bind="text: short_name, attr: {title: name}"></abbr></a>
										<abbr data-bind="visible: !url, text: short_name, attr: {title: name}"></abbr>
									</span>
									<span data-bind="visible: !licence()">
										None specified
									</span>
                                </span>
                            </label>
                        </div>
                    </form>
				</div>
				<div class="span4">

					{% if perms.editor.exam_highlight %}
					<a href="{% url 'highlight_exam' object.pk object.slug %}">Highlight this exam on the front page.</a>
					{% endif %}
				</div>
			</div>
			<div class="row-fluid section">
				<h4>Options</h4>
				<form class="form-horizontal">
					<div class="control-group" data-bind="template: {
						name: 'selectproperty',
						data: {label: 'Theme:', property: theme, options: Editor.themes, optionsText: 'name'}
					}"></div>

					<div class="control-group" data-bind="visible: Editor.locales.length>1, template: {
						name: 'selectproperty',
						data: {label: 'Interface language:', property: locale, options: Editor.locales}
					}"></div>

					<div class="control-group" data-bind="template: {
						name: 'percentproperty',
						data: {label:'Pass threshold:',property:percentPass}
					}"></div>
				</form>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<label for="description"><h4>Description</h4></label>
					<div id="description" data-bind="mathjaxHTML: description"></div>
					<div data-bind="if: !description()" class="nothing-here">The author has not written a description.</div>
				</div>
				<div class="span6">
					<label for="authors-notes"><h4>Author's Notes</h4></label>
					<div id="authors-notes" data-bind="mathjaxHTML: notes"></div>
					<div data-bind="if:!notes()" class="nothing-here">The author has not made any notes.</div>
				</div>
			</div>
		</section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='navigation'}">
			<form class="form-horizontal">
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: {label:'Allow user to regenerate questions?', property:allowregen}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: {label:'Allow move to previous question?', property:reverse}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: {label:'Allow jump to any question?', property:browse}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: {label: 'Show front page?',property:showfrontpage}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: {label: 'Confirm before leaving the exam while it\'s running?',property:preventleave}
				}"></div>
				<div data-bind="template: {
					name: 'event',
					data: onleave
				}"></div>
			</form>
		</section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='timing'}">
			<form class="form-horizontal">
				<div class="control-group" data-bind="template: {
					name: 'numberproperty',
					data: {label:'Exam duration (minutes):',property:duration, type:'number',min:0}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: {label:'Allow pausing?',property:allowPause}
				}"></div>
				<div data-bind="template: {
					name: 'event',
					data: timeout
				}"></div>
				<div data-bind="template: {
					name: 'event',
					data: timedwarning
				}"></div>
			</form>
		</section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='feedback'}">
			<form class="form-horizontal">
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: { label:'Show current score?', property:showactualmark}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: { label:'Show maximum score?', property:showtotalmark}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: { label:'Show answer state?', property:showanswerstate}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'booleanproperty',
					data: { label:'Allow reveal answer?', property:allowrevealanswer}
				}"></div>
				<div class="control-group" data-bind="template: {
					name: 'percentproperty',
					data: { label:'Advice threshold (percent)', property:advicethreshold}
				}"></div>
			</form>
		</section>
		<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.currentTab().id)=='questions'}">
			<div class="row-fluid">
				<form class="span6 form-horizontal">
					<div class="control-group" data-bind="template: {
						name: 'booleanproperty',
						data: {label: 'Shuffle questions?',property:shuffleQuestions}
					}"></div>
				</form>
			</div>
			<div class="questions row-fluid">
				<ul class="questionList span6" data-bind="visible: questions().length, foreach: questions">
					<li class="question clearAfter">
						<div class="controls">
							<a class="preview" data-bind="attr: {href: previewURL()}" target="_blank" title="Test run this question"></a>
						</div>
						<div class="title">
							<span class="number" data-bind="text: ($index()+1)+'.'"></span>
							<a data-bind="attr:{href: url}, text: name" target="_blank"></a>
						</div>
						<div class="description" data-bind="visible: description.length>0, html: description, mathjax: true"></div>
					</li>
                </ul>
				<div data-bind="if: questions().length==0" class="nothing-here">The author hasn't added any questions to this exam yet.</div>
			</div>
		</section>
	</div>

	{% verbatim %}

	<script type="text/html" id="event">
		<h4 data-bind="html:niceName"></h4>
		<div class="control-group">
			<label>
				<span class="control-label">Action:</span>
				<div class="controls">
					<span data-bind="text: action().niceName"></span>
				</div>
			</label>
		</div>
		<div class="control-group">
			<label data-bind="fadeVisible:action().name!='none'">
				<span class="control-label">Message:</span>
				<div class="controls" data-bind="mathjaxHTML: message, wmHeight: 100, wmWidth: 500"/>
			</label>
		</div>
	</script>

	<script type="text/html" id="question">
	</script>

	{% endverbatim %}

{% endblock editor %}
