{% extends "layout.html" %}
{% load links %}
{% load user_link %}

{% block javascripts %}
{{block.super}}
<script type="text/javascript">
    $(document).ready(function() {
        Editor.tinymce({selector:'#comment'});
    });
</script>
{% endblock javascripts %}

{% block content %}
<form action="{% url 'pullrequest_new' %}" method="POST">
    {% csrf_token %}
    {{ form.errors}}

    <p>You're about to create a request to replace {% editoritem_link destination.rel_obj %} with {% editoritem_link source.rel_obj %}.</p>
    <p>What's changed in this version?</p>

    <div class="form-group">
        <textarea name="comment" id="comment"></textarea>
    </div>

    <input type="hidden" name="source" value="{{source.pk}}">
    <input type="hidden" name="destination" value="{{destination.pk}}">
    <button class="btn btn-primary" type="submit">Submit</button>
{% endblock content %}
