{% extends "queue/queue_base.html" %}
{% load sstatic %}

{% block queue_content %}
<form method="post">
    <div class="alert alert-danger">
        <h4>Are you sure you want to delete this queue?</h4>
        <p>If you delete this queue, all entries currently in it will be lost.</p>
        <p><strong>This can not be undone.</strong></p>
    </div>
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete this queue</button>
    <a class="btn btn-link" href="{% url 'queue_settings_options' queue.pk %}">Cancel</a>
</form>
{% endblock queue_content %}

