{% extends "queue/queue_base.html" %}
{% load sstatic %}
{% load user_link %}
{% load sanitizer %}
{% load links %}
{% load can_edit %}
{% load extra_sanitize %}

{% block title %}Review {{entry.item.name}} - {{entry.queue.name}} - {{block.super}}{% endblock title %}

{% block javascripts %}
    {{block.super}}

    <script src="{% sstatic 'js/queue/review_entry.js' %}" type="text/javascript"></script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% sstatic 'css/queue/review.css' %}"/>
{% endblock stylesheets %}

{% block queue_content %}
{% with can_edit=entry|can_be_edited_by:user %}
<section id="item">
    <div class="lead text-center">
    {% if can_edit %}
        {% if not entry.complete %}
            {% if not entry.assigned_user %}
                <p>Please review <em>{% editoritem_link entry.item.rel_obj show_icon=True new_tab=True %}</em></p>
                <form method="POST" action="{% url 'queue_entry_assign_user' entry.pk %}">{% csrf_token %}<button type="submit" class="btn btn-primary">I'll review it!</button></form></p>
            {% elif entry.assigned_user == request.user %}
                <p>You're reviewing <em>{% editoritem_link entry.item.rel_obj show_icon=True new_tab=True %}</em></p>
                <form method="POST" action="{% url 'queue_entry_unassign_user' entry.pk %}">{% csrf_token %}<button type="submit" class="btn btn-warning">Let someone else take over</button></form></p>
            {% else %}
                <p><em>{% editoritem_link entry.item.rel_obj show_icon=True new_tab=True %}</em> has been submitted for review</p>
                <p>
                    Under review by 
                    {% user_thumbnail entry.assigned_user 40 36 link=True %}
                    {% user_link entry.assigned_user %}
                </p>
            {% endif %}
        {% else %}
        <p><em>{% editoritem_link entry.item.rel_obj show_icon=True new_tab=True %}</em></p>
        {% endif %}
    {% else %}
        <p><em>{% editoritem_link entry.item.rel_obj show_icon=True new_tab=True %}</em> has been submitted for review</p>
        {% if entry.assigned_user %}
            <p>
                Under review by 
                {% user_thumbnail entry.assigned_user 40 36 link=True %}
                {% user_link entry.assigned_user %}
            </p>
        {% endif %}
    {% endif %}
    {% with status=entry.status %}
    {% if status %}
        <span class="label label-default">{{status}}</span>
    {% endif %}
    {% endwith %}
    </div>
</section>

<section id="note">
    <h2>Submission note</h2>
    <p class="text-muted">
        Submitted by 
        {% user_thumbnail entry.created_by 40 36 link=True %}
        {% user_link entry.created_by %}
    </p>
    <div class="text">
        {{entry.note|strip_html|safe}}
    </div>
    {% if can_edit %}
    <p>
        <a href="{% url 'queue_entry_edit' entry.pk %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit this note</a>
    </p>
    {% endif %}
</section>

<hr/>

<section id="checklist">
    <h2>Checklist</h2>
    {% if can_edit %}
    <div class="row">
        <div id="reviewer-instructions" class="instructions col-md-6">
            {{entry.queue.instructions_reviewer|strip_html_shift_headings|safe}}
        </div>
        <form method="POST" action="" class="form-horizontal col-md-6">
            {% csrf_token %}

            <ul class="list-unstyled checklist">
            {% for item in entry.checklist_items %}
            <li>
                <input id="item-{{item.pk}}" type="checkbox" {% if item.ticked %}checked{% endif %} name="ticked-items" value="{{item.pk}}">
                <label for="item-{{item.pk}}">
                    {{item.label|strip_html|safe}}
                </label>
                <button data-bind="click: comment_on_checklist_item" title="Comment on this item" class="btn btn-xs btn-link" type="button"><span class="glyphicon glyphicon-comment"></span></button>
            </li>
            {% endfor %}
            </ul>

            <hr>

            <div class="form-group">
                <label for="status" class="col-sm-2">Status</label>

                <div class="col-sm-10">
                    {% with current_status=entry.status %}
                    <select id="status" name="status" class="form-control">
                        <option value="" {% if current_status is None %}selected{% endif %}></option>
                        {% for tag in entry.queue.statuses.all %}
                        <option value="{{tag.name}}" {% if current_status == tag.name %}selected{% endif %}>{{tag.name}}</option>
                        {% endfor %}
                    </select>
                    {% endwith %}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="checkbox">
                        <label for="remove">
                            <input type="checkbox" name="remove" id="remove" {% if entry.complete %}checked{% endif %}>
                            This entry is complete - remove it from the queue
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Save</button>
                </div>
            </div>
        </form>
    </div>
    {% else %}
    <ul class="list-unstyled checklist">
        {% for item in entry.checklist_items %}
        <li>
            <input disabled id="item-{{item.pk}}" type="checkbox" {% if item.ticked %}checked{% endif %} name="ticked-items" value="{{item.pk}}">
            <label for="item-{{item.pk}}">
                {{item.label|strip_html|safe}}
            </label>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

</section>

<hr/>

<section id="timeline">
    <h2>Comments</h2>
    <div data-bind="visible: !commentwriter.writingComment()">
        <button class="btn btn-primary" data-bind="click: commentwriter.writingComment" type="button"><span class="glyphicon glyphicon-comment"></span> Write a comment</button>
    </div>
    <div class="timeline-write-comment" data-bind="with: commentwriter">
        <form action="{% url 'queue_entry_comment' entry.pk %}" data-bind="fadeVisible: writingComment, submit: submitComment">
            <h3>Comment</h3>
            <div data-bind="writemaths: commentText, editImmediately: true"></div>
            <div class="buttons">
                <button type="Submit" class="btn btn-primary" data-bind="attr: {disabled: commentIsEmpty}">Submit</button>
                <button type="button" class="btn btn-default" data-bind="click: cancelComment">Cancel</button>
            </div>
        </form>
    </div>

    <div class="timeline">
        {% with current_timeline=entry %}
        {% for item in entry.timeline.all %}
            {% include item.object.timelineitem_template %}
        {% endfor %}
        {% endwith %}
    </div>
</section>

{% endwith %}
{% endblock queue_content %}
