{% extends "queue/queue_base.html" %}

{% block queue_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 tabs">
            <ul class="nav nav-pills nav-stacked">
                <li class="{% if settings_page == "options" %}active{% endif %}"><a href="{% url 'queue_settings_options' queue.pk %}"><span class="glyphicon glyphicon-cog"></span> Options</a></li>
                <li class="{% if settings_page == "members" %}active{% endif %}"><a href="{% url 'queue_settings_members' queue.pk %}"><span class="glyphicon glyphicon-user"></span> Members</a></li>
            </ul>
        </div>
        <div class="col-sm-10 content">{% block settings_content %}{% endblock settings_content %}</div>
    </div>
</div>
{% endblock queue_content %}

