{% extends "queue/queue_base.html" %}
{% load user_link %}
{% load sanitizer %}
{% load links %}
{% load sstatic %}
{% load percentage %}

{% block title %}{{queue.name}} - {{block.super}}{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% sstatic 'css/queue/view.css' %}"/>
{% endblock stylesheets %}

{% block queue_content %}
<div id="queue-description">
    {{queue.description|strip_html|safe}}
</div>

<hr>

<p><a href="{% url 'queue_add' queue.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add an item to this queue</a></p>

<p><a href="{% url 'queue_view_complete' queue.pk %}">View completed items</a></p>

<h2>Items to review</h2>

<ul class="list-unstyled entries">
    {% for row in results.page.object_list|default:results.rows %}
    {% with entry=row.record %}
    <li>
        <article>
            <header>
                <h3><a href="{% url 'queue_entry_review' entry.pk %}"><span class="glyphicon glyphicon-{{entry.item.icon}}"></span> {{entry.item.name}}</a></h3>
                {% with status=entry.status %}
                {% if status %}
                <p>
                    <span class="label label-default">{{status}}</span>
                </p>
                {% endif %}
                {% endwith %}
                <p class="text-muted">
                    Submitted by 
                    {% user_thumbnail entry.created_by 20 18 link=True %}
                    {% user_link entry.created_by %}
                    {% if entry.assigned_user %}
                        · Under review by
                        {% user_thumbnail entry.assigned_user 20 18 link=True %}
                        {% user_link entry.assigned_user %}
                    {% endif %}
                </p>
            </header>
            <main>
                {% if entry.checklist_items.exists %}
                    <label>Progress: <progress max="1" value="{{entry.progress}}">{{entry.progress|percentage}}</progress></label>
                {% endif %}
            </main>
        </article>
    </li>
    {% endwith %}
    {% endfor %}
</ul>
{% include "pagination.html" %}

{% endblock queue_content %}
