{% extends "queue/queue_base.html" %}
{% load user_link %}
{% load sanitizer %}
{% load links %}
{% load percentage %}

{% block title %}{{queue.name}} - {{block.super}}{% endblock title %}

{% block queue_content %}
<div id="queue-description">
    {{queue.description|strip_html|safe}}
</div>

<h2>Complete items</h2>

<ul>
    {% for row in results.page.object_list|default:results.rows %}
    {% with entry=row.record %}
    <li>
        <article>
            <header>
                <h3><a href="{% url 'queue_entry_review' entry.pk %}"><span class="glyphicon glyphicon-{{entry.item.icon}}"></span> {{entry.item.name}}</a></h3>
                <p class="text-muted">
                    Submitted by 
                    {% user_thumbnail entry.created_by 20 18 link=True %}
                    {% user_link entry.created_by %}
                </p>
            </header>
            <main>
                <label>Progress: <progress max="1" value="{{entry.progress}}">{{entry.progress|percentage}}</progress></label>
            </main>
        </article>
    </li>
    {% endwith %}
    {% endfor %}
</ul>
{% include "pagination.html" %}

<a href="{% url 'queue_view' queue.pk %}" class="btn btn-link">Back to incomplete items</a>

{% endblock queue_content %}
