{% load user_link %}
{% load can_edit %}
{% load helplink %}
{% load editor_controls %}

<section class="tab-pane" data-bind="css: {active: ko.unwrap($root.mainTabber.currentTab().id)=='access'}">
    <div class="panel panel-warning" data-bind="visible: !published() && !task_list.all_sections_completed()">
        <div class="panel-heading">
            <h3 class="panel-title">Publish</h3>
        </div>
        <div class="panel-body">
            <p>At the moment, access to this {{item_type}} is restricted to members of the project this {{item_type}} belongs to and any other users you've explicitly granted access to.</p>
            <p>Complete each of the following tasks before you publish this {{item_type}}:</p>
            <ul class="list-unstyled" data-bind="foreach: mainTabber.tabs">
                <li data-bind="visible: $root.task_list.section_completed[id]!==undefined">
                <h4><a href="#" data-bind="text: title, click: $root.mainTabber.setTab(id), css: {'text-success': $root.task_list.section_completed[id], 'text-danger': !ko.unwrap($root.task_list.section_completed[id])}"></a></h4>
                    <ul data-bind="foreach: $root.task_list.section_tasks[id]">
                        <li data-bind="css: {'text-success': done, 'text-danger': !done()}">
                            <span class="glyphicon" data-bind="css:{'glyphicon-ok':done, 'glyphicon-alert':!done()}"></span>
                            <span data-bind="text: text"></span> 
                        </li>
                    </ul>
                </li>
            </ul>
            <button type="button" class="btn btn-danger" data-bind="click: set_ignored_publishing_criteria, visible: !ignored_publishing_criteria()">
                <span class="glyphicon glyphicon-warning-sign"></span> 
                Ignore these tasks and publish
            </button>
            <form method="POST" id="publish-form" action="{% url 'item_publish' object.editoritem.pk %}" data-bind="visible: ignored_publishing_criteria">
                <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-warning-sign"></span> Click again to ignore these tasks and publish</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <div class="panel panel-warning" data-bind="visible: canPublish">
        <div class="panel-heading">
            <h3 class="panel-title">Publish</h3>
        </div>
        <div class="panel-body">
            <p>At the moment, this {{item_type}} is restricted to members of the project this {{item_type}} belongs to and any other users you've explicitly granted access to.</p>
            <p>Publish your {{item_type}} so that others can see it.</p>
            <form method="POST" id="publish-form" action="{% url 'item_publish' object.editoritem.pk %}">
                <button class="btn btn-danger" type="submit">Publish</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <div class="panel panel-success" data-bind="visible: published">
        <div class="panel-heading">
            <h3 class="panel-title">Publish</h3>
        </div>
        <div class="panel-body">
            {% block published_body %}
            <p>This {{item_type}} has been published to the public {{item_type}} database.</p>
            {% endblock %}
            <form method="POST" action="{% url 'item_unpublish' object.editoritem.pk %}">
                <button class="btn btn-danger" type="submit">Unpublish</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Who has access to this content?</h3>
        </div>
        <table class="table">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>{% user_thumbnail object.editoritem.author 20 15 %} {% user_link object.editoritem.author new_window=True%} (Owner)</td>
                    <td>
                        Can edit this.
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-briefcase"></span> Members of <a href="{% url 'project_index' object.editoritem.project.pk %}">{{object.editoritem.project.name}}</a></td>
                    <td>
                        Access granted by project owner.
                    </td>
                    <td></td>
                </tr>
                <!-- ko foreach: {data: access_rights, afterAdd: Editor.afterAdd} -->
                <tr>
                    <td data-bind="html: link"></td>
                    <td>
                        <select class="form-control" data-bind="hasfocus: true, value: access_level, options: access_options, optionsText:'text',optionsValue:'value'"></select>
                    </td>
                    <td>
                        <button type="button" class="btn btn-link" data-bind="click: remove" title="Remove this user's access"><span class="glyphicon glyphicon-remove text-danger"></span></button>
                    </td>
                </tr>
                <!-- /ko -->
                <tr>
                    <td><span class="glyphicon glyphicon-globe"></span> Anybody else</td>
                    <td>
                        <span data-bind="visible: ko.unwrap(published)">Can view this.</span>
                        <span data-bind="visible: !ko.unwrap(published)">Can not view this.</span>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="panel-body">
            <label for="search_author">Give access to</label>
            <input class="form-control" id="search_author" type="text" placeholder="Full name or username" size="30" data-bind="
                textInput: userAccessSearch,
                autocomplete: '{% url 'user_search' %}', 
                autocompleteCallback: function(user) { return {label: user.name, value: user.name} },
                autocompleteSelect: addUserAccess
                "
            />
            <!-- ko if: add_user_access_error -->
            <div class="alert alert-warning" data-bind="fadeVisible: add_user_access_error">
                <p><strong data-bind="text: add_user_access_error().name"></strong> is already in the access list.</p>
            </div>
            <!-- /ko -->
        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Access Links</h3>
        </div>
        <div class="panel-body">
            <p>Share these links to give automatic access to this {{item_type}}. Be careful about who you share these with - whoever clicks on the link will be given access.</p>
            <div class="alert alert-warning">
                <p><span class="glyphicon glyphicon-warning-sign"></span> You should <strong>not</strong> give these links to students. To make a test available to students, <a href="{{HELP_URL}}tutorials/deliver-to-students.html" target="_blank">see the documentation on delivering an exam to students</a>.</p>
            </div>
            <dl class="share-links list-group">
                <dt>View</dt>
                <dd><pre class="share-link form-control">{{SITE_ROOT}}{% url 'share_'|add:item_type 'view' object.editoritem.share_uuid_view %}</pre></dd>
                
                <dt>Edit</dt>
                <dd><pre class="share-link form-control">{{SITE_ROOT}}{% url 'share_'|add:item_type 'edit' object.editoritem.share_uuid_edit %}</pre></dd>
            </dl>
        </div>
    </div>

    {% block access_tab_nav %}
    {% endblock access_tab_nav %}

</section>

