{% load user_link %}
{% load can_edit %}
{% load links %}
{% load helplink %}
{% load editor_controls %}

<section class="tab-pane" data-bind="css: {active: ko.unwrap($root.mainTabber.currentTab().id)=='settings'}">
    <div class="container-fluid">
        {% block settings %}
        <div class="row">
            <div class="col-sm-8">
                {% block settings_main %}
                <div class="form-group name">
                    <label for="input-name">Name</label>
                    <input id="input-name" {% if not editable %}disabled{% endif %} class="form-control input-lg" data-bind="textInput: name">
                </div>

                <div class="form-group description">
                    <label for="input-description">Description</label>
                    <div id="input-description" {% if not editable %}disabled{% endif %} data-bind="writemaths: description"></div>
                    <div class="help-block">
                        <p>
                            {% helplink 'question/reference.html#term-Description' subject='the description field' %}
                            Try to answer the following questions here:
                        </p>
                        <ul>
                            <li>What is this {{item_type}} used for?</li>
                            <li>What does this {{item_type}} assess?</li>
                            <li>What does the student have to do?</li>
                            <li>How is the {{item_type}} randomised?</li>
                            <li>Are there any implementation details that editors should be aware of?</li>
                        </ul>
                    </div>
                </div>

                <div class="form-group tags">
                    <label for="input-tags">Tags</label>
                    <ul class="list-inline" data-bind="foreach: sorted_tags">
                        <li class="btn btn-default btn-sm">
                            <a target="_blank" data-bind="attr: {href: '/search/?tags='+encodeURIComponent($data), title:'Items with the tag \''+$data+'\''}, text: $data"></a>
                            <button class="btn btn-xs btn-link" data-bind="click: $root.remove_tag" title="Remove this tag"><span class="glyphicon glyphicon-remove text-danger"></span></button>
                        </li>
                    </ul>
                    <form data-bind="submit: add_tag">
                        <input id="input-tags" type="text" class="form-control" data-bind="textInput: tag_input">
                    </form>
                </div>

                {% endblock settings_main %}
            </div>
            <div class="col-sm-4">
                <div class="panel-group">
                <div class="panel panel-info">
                    {% block settings_metadata %}
                    <div class="panel-heading">
                        <h3 class="panel-title">Metadata</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label><span class="glyphicon glyphicon-user"></span> Author</label>
                            <div class="media" style="margin-bottom:1em">
                                <div class="media-left">
                                    {% user_thumbnail object.editoritem.author 40 36 %}
                                </div>
                                <div class="media-body">
                                    <p class="form-control-static">{% user_link object.editoritem.author %}</p>
                                </div>
                            </div>
                            {% if request.user == object.editoritem.author or request.user == object.editoritem.project.owner %}<a class="btn btn-warning btn-sm" href="{% url 'item_transfer_ownership' object.editoritem.pk %}">Transfer ownership</a>{% endif %}
                        </div>
                        {% if object.editoritem.copy_of %}
                        <div class="form-group">
                            <label><span class="glyphicon glyphicon-duplicate"></span> Copy of</label>
                            <p class="form-control-static">{% editoritem_link object.editoritem.copy_of.rel_obj %} by {% user_thumbnail object.editoritem.copy_of.author 20 15 %} {% user_link object.editoritem.copy_of.author %}</p>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label><span class="glyphicon glyphicon-briefcase"></span> Project</label>
                            <p class="form-control-static"><a target="_blank" href="{% url 'project_index' object.editoritem.project.pk %}">{{object.editoritem.project.name}}</a></p>
                            {% if request.user == object.editoritem.author %}<a class="btn btn-warning btn-sm" href="{% url 'item_move_project' object.editoritem.pk %}">Move to another project</a>{% endif %}
                        </div>
                        <div class="form-group">
                            <label for="licence-select"><span class="glyphicon glyphicon-copyright-mark"></span> Licence</label>
                            <select id="licence-select" {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: item_json.licences, value: licence, optionsText: 'short_name', optionsCaption: 'None specified'"></select>
                            <p class="help-block">
                                <small data-bind="visible: licence, with: licence"><a target="_blank" data-bind="visible: url, attr:{href:url}">Licence information</a></small>
                            </p>
                        </div>

                        <div class="form-group ability-levels">
                            <label><span class="glyphicon glyphicon-sort-by-attributes"></span> Ability levels</label>
                            <ul data-bind="foreach: ability_frameworks">
                                <li>
                                    <span data-bind="text: name"></span>
                                    <ul class="list-inline" data-bind="foreach: levels">
                                        <li><label data-bind="attr: {title: description}"><input {% if not editable %}disabled{% endif %} type="checkbox" data-bind="checked: used"> <span data-bind="text: name"></span></label></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>


                    </div>
                    {% endblock settings_metadata %}
                </div>
                <!-- ko foreach: taxonomies -->
                <div class="panel panel-info taxonomy" data-bind="
                    css: {'open': open}
                ">
                    <div class="panel-heading" data-bind="restrictedClick: toggleOpen" clickable>
                        <h3 class="panel-title" clickable>
                            <span class="glyphicon glyphicon-education" clickable></span>
                            Taxonomy:
                            <span data-bind="text: name" clickable></span>
                        </h3>
                    </div>

                    <div data-bind="fadeVisible: open">
                        <div class="panel-body">
                            <div class="description" data-bind="html: description"></div>

                            <div class="form-group">
                                <input class="form-control" id="search_author" type="text" placeholder="Search for topics" size="30" data-bind="
                                    autocomplete: search_nodes, 
                                    autocompleteSelect: use_node
                                    "
                                />
                            </div>

                            <ul data-bind="visible: open, foreach: trees"><taxonomy-node params="node: $data{% if not editable %}, disable: true{% endif %}"></ul>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            </div>
        </div>
        {% endblock settings %}
    </div>
</section>
