{% extends "base.html" %}
{% load user_link %}
{% load links %}

{% block content %}
<div class="page-header">
    <h1>Welcome</h1>
</div>

<p>Now that you've created an account, it would be a good idea to work through <a href="http://numbas-editor.readthedocs.org/en/latest/#tutorials" target="_blank">the tutorials</a>. They'll introduce you to the basics of using Numbas to create your own exams and questions.</p>

{% if invitations.exists %}
{% for invitation in invitations %}
<p>Because {% user_link invitation.invited_by %} invited you to join their project {% project_link invitation.project %}, you've automatically been given access.</p>
{% endfor %}
{% endif %}
{% endblock content %}
