{% extends "base.html" %}

{% block content %}
	<h1>Change your password</h1>

	<form method="post" action="">
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <span class="pull-left glyphicon glyphicon-exclamation-sign"></span>
    			<ul class="errorlist list-unstyled">
	    		{% for error in form.non_field_errors %}
		    		<li>{{error}}</li>
			    {% endfor %}
    			</ul>
            </div>
		{% endif %}

		{% csrf_token %} 
		{% for field in form %}
        <div class="form-group">
			<label>
				{{field.label}}
			</label>
            {{ field }}
            {{ field.errors }}
		</div>
		{% endfor %}
		<div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
		</div>
    </form>
{% endblock content %}

