{% extends "base.html" %}

{% block content %}
	<h1>Change your password</h1>

	<form method="post" action="" class="form-horizontal">
		{% if form.non_field_errors %}
			<ul class="errorlist alert alert-error">
			{% for error in form.non_field_errors %}
				<li>{{error}}</li>
			{% endfor %}
			</ul>
		{% endif %}

		{% csrf_token %} 
		{% for field in form %}
        <div class="control-group">
			<label>
				<span class="control-label">{{field.label}}:</span>
				<div class="controls">
					{{ field }}
        		    {{ field.errors }}
				</div>
			</label>
		</div>
		{% endfor %}
		<div class="control-group">
			<div class="controls">
				<button type="submit">Submit</button>
			</div>
		</div>
    </form>
{% endblock content %}

