{% load i18n %}{% autoescape off %}
{% trans "You're receiving this email because you requested a password reset" %}
{% blocktrans %}for your Numbas account at {{ site_name }}{% endblocktrans %}.

{% trans "To complete this process, please follow the link below and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
{% trans "As a reminder, your username is " %}{{ user.username }}

{% trans "Thanks, " %}

{% blocktrans %}The {{site_name}} team{% endblocktrans %}

{% endautoescape %}
