{% extends "base.html" %}

{% block stylesheets %}
        {{ block.super }}
        <link href="{{ STATIC_URL }}css/accounts.css" type="text/css" rel="stylesheet" >
{% endblock stylesheets %}

{% block title %}Sign up{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Create an account</h1>
    </div>

        {% if form.errors %}
            <p id="errorheader">There were errors with the details you provided. Please correct them and resubmit. {{ form.non_field_errors }}</p>
        {% endif %}

        <form method="post" action="" class="form-horizontal">
            {% csrf_token %} 
            <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                <label class="col-sm-3 control-label">
                    <span>{{form.username.label}}</span>
                </label>
                <div class="controls col-sm-9">
                    <input class="form-control" type="text" name="{{form.username.html_name}}" id="{{form.username.auto_id}}">
                    {% if form.username.errors %}
                    <div class="help-block with-errors">
                        <ul class="list-unstyled">
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
                <label class="col-sm-3 control-label">
                    <span>{{form.first_name.label}}</span>
                </label>
                <div class="controls col-sm-9">
                    <input class="form-control" type="text" name="{{form.first_name.html_name}}" id="{{form.first_name.auto_id}}">
                    {% if form.first_name.errors %}
                    <div class="help-block with-errors">
                        <ul class="list-unstyled">
                        {% for error in form.first_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
                <label class="col-sm-3 control-label">
                    <span>{{form.last_name.label}}</span>
                </label>
                <div class="controls col-sm-9">
                    <input class="form-control" type="text" name="{{form.last_name.html_name}}" id="{{form.last_name.auto_id}}">
                    {% if form.last_name.errors %}
                    <div class="help-block with-errors">
                        <ul class="list-unstyled">
                        {% for error in form.last_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                <label class="col-sm-3 control-label">
                    <span>{{form.email.label}}</span>
                </label>
                <div class="controls col-sm-9">
                    <input class="form-control" type="text" name="{{form.email.html_name}}" id="{{form.email.auto_id}}">
                    {% if form.email.errors %}
                    <div class="help-block with-errors">
                        <ul class="list-unstyled">
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
                <label class="col-sm-3 control-label">
                    <span>{{form.password1.label}}</span>
                </label>
                <div class="controls col-sm-9">
                    <input class="form-control" type="password" name="{{form.password1.html_name}}" id="{{form.password1.auto_id}}">
                    {% if form.password1.errors %}
                    <div class="help-block with-errors">
                        <ul class="list-unstyled">
                        {% for error in form.password1.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
                <label class="col-sm-3 control-label">
                    <span>{{form.password2.label}}</span>
                </label>
                <div class="controls col-sm-9">
                    <input class="form-control" type="password" name="{{form.password2.html_name}}" id="{{form.password2.auto_id}}">
                    {% if form.password2.errors %}
                    <div class="help-block with-errors">
                        <ul class="list-unstyled">
                        {% for error in form.password2.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if form.subscribe %}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label>
                            {{form.subscribe}} {{form.subscribe.label}} (3-4 emails a year, your address won't be passed on for any other purpose)
                        </label>
                    </div>
                </div>
            </div>
            <p class="col-sm-offset-3 col-sm-9"><strong>By creating an account, you are accepting the <a href="{% url 'terms_of_use' %}" target="_blank">terms of use</a> and <a href="{% url 'privacy_policy' %}" target="_blank">privacy policy</a>.</strong></p>
            {% endif %}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary btn-lg">{{ form.register_button }}</button>
                </div>
            </div>
        </form>
{% endblock %}

{% block content-related %}
<p>Fill out the form to the left (all fields are required), and your
account will be created; you will be sent an email with instructions on how
to finish your registration.</p>

<p>We will only use your email to send you signup instructions.</p>

{% endblock %}
