{% extends "base.html" %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/accounts.css" type="text/css" rel="stylesheet" >
{% endblock stylesheets %}

{% block title %}Sign up{% endblock %}

{% block content %}


  <h1>Create an account</h1>
  
  {% if form.errors %}
  <p class="errorsmain">Please correct the errors. {{ form.non_field_errors }}</p>
  {% endif %}

  <form method="post" action="" class="wide">
 {% csrf_token %} 
    <div class="formfield">
      <label for="id_username">Username:</label>
      {{ form.username }}
      {% if form.username.errors %}
        <span class="errors">{{ form.username.errors.as_text }}</span>
      {% endif %}
    </div>
    <div class="formfield">
      <label for="id_email">Email address:</label>
      {{ form.email }}
      {% if form.email.errors %}
        <span class="errors">{{ form.email.errors.as_text }}</span>
      {% endif %}
    </div>
    <div class="formfield">
      <label for="id_password1">Password:</label>
      {{ form.password1 }}
      {% if form.password1.errors %}
        <span class="errors">{{ form.password1.errors.as_text }}</span>
      {% endif %}
    </div>
    <div class="formfield">
      <label for="id_password2">Re-enter Password:</label>
      {{ form.password2 }}
      {% if form.password2.errors %}
        <span class="errors">{{ form.password2.errors.as_text }}</span>
      {% endif %}
    </div>
    <p class="submit"><input type="submit" value="Register &rarr;"></p>
  </form>
  
{% endblock %}

{% block content-related %}
<p>Fill out the form to the left (all fields are required), and your
account will be created; you will be sent an email with instructions on how
to finish your registration.</p>

<p>We will only use your email to send you signup instructions.</p>

{% endblock %}
