{% extends "profile/base.html" %}
{% load json_filter %}


{% block javascripts %}
{{block.super}}
<script type="text/javascript">
    $(document).ready(function() {
        Editor.tinymce({selector:'#id_bio'});
    });
</script>
{% endblock javascripts %}

{% block profile_header %}Update your profile{% endblock %}

{% block profile_content %}
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %} 
        {{form.non_field_errors}}
        <div class="row form-group">
            <div class="col-xs-6">
                <label for="{{form.first_name.auto_id}}">{{form.first_name.label}}</label>
                {{form.first_name}}
            </div>
            <div class="col-xs-6">
                <label for="{{form.last_name.auto_id}}">{{form.last_name.label}}</label>
                {{form.last_name}}
            </div>
        </div>
        <div class="form-group">
            <label for="{{form.email.auto_id}}">{{form.email.label}}</label>
            {{form.email}}
            {{form.email.errors}}
        </div>
        {% if CAN_CHANGE_PASSWORD %}
        <div class="form-group">
            <a class="btn btn-warning" href="{% url 'change_password' %}"><span class="glyphicon glyphicon-pencil"></span> Change your password</a>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="{{form.bio.auto_id}}">{{form.bio.label}}</label>
            <p>{{form.bio}}</p>
        </div>
        <div class="form-group">
            <label for="{{form.language.auto_id}}">{{form.language.label}}</label>
            {{form.language}}
        </div>
        <div class="form-group">
            <label>{{form.wrap_lines.label}} {{form.wrap_lines}}</label>
            {{form.wrap_lines.errors}}
        </div>
        <div class="form-group">
            <label for="{{form.avatar.auto_id}}">{{form.avatar.label}}</label>
            {{form.avatar}}
        </div>
        {% if mailing_list_active and unsubscribe_url %}
        <div class="form-group mailing-list">
            <label>Mailing list subscription</label>
            <p><a href="{{unsubscribe_url}}">Click here to unsubscribe from the Numbas newsletter mailing list</a></p>
        </section>
        {% endif %}

        <div class="form-group {% if form.mathjax_url.errors %}has-error{% endif %}">
            <label for="{{form.mathjax_url.auto_id}}">{{form.mathjax_url.label}}</label>
            {{form.mathjax_url}}
            {% if form.mathjax_url.errors %}
            <ul class="help-block list-unstyled">
                {% for error in form.mathjax_url.errors %}
                <li class="alert alert-danger">{{error}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="help-block">{{form.mathjax_url.help_text}}</div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>

{% endblock profile_content %}
