{% extends "base.html" %}

{% block content %}
	<h1>Your user profile</h1>

    <form method="post" action="" class="form-horizontal">
		{% csrf_token %} 
		{{form.non_field_errors}}
		{% for field in form %}
        <div class="control-group">
			<label>
				<span class="control-label">{{field.label}}:</span>
				<div class="controls">
					{{ field }}
        		    {{ field.errors }}
				</div>
			</label>
		</div>
		{% endfor %}
		<div class="control-group">
			<div class="controls">
				<button type="submit">Update</button>
			</div>
		</div>
		<div><a href="{% url 'change_password' %}">Change your password</a></div>
    </form>
{% endblock content %}
