{% extends "layout.html" %}

{% block javascripts %}
{{block.super}}
<script type="text/javascript">
tinymce.init({
    selector: "#id_bio",
    theme: 'modern',
	skin: 'light',
	statusbar: false,
	autoresize_bottom_margin: 0,
	relative_urls: false,
    theme_advanced_resizing: true,
    theme_advanced_resize_horizontal: false
 });
</script>
{% endblock javascripts %}

{% block content %}
	<h1>Your user profile</h1>

    <form method="post" action="" class="form-horizontal">
		{% csrf_token %} 
		{{form.non_field_errors}}
		{% for field in form %}
        <div class="control-group">
			<label>
				<span class="control-label">{{field.label}}:</span>
				<div class="controls">
					{{ field }}
        		    {{ field.errors }}
				</div>
			</label>
		</div>
		{% endfor %}
		<div class="control-group">
			<div class="controls">
				<button type="submit">Update</button>
			</div>
		</div>
		{% if CAN_CHANGE_PASSWORD %}<div><a href="{% url 'change_password' %}">Change your password</a></div>{% endif %}
    </form>
{% endblock content %}
