th.orderable:not(.asc) .glyphicon-sort-by-attributes,
th.orderable:not(.desc) .glyphicon-sort-by-attributes-alt {
    display: none;
}

.breadcrumb .drag-target {
    padding: 0.2em;
}

#controls {
    margin: 1em 0;
}

#contents-container.empty #contents { 
    display: none;
}
#contents-container:not(.empty) #nothing-here {
    display: none;
}

.contents .folder {
    font-weight: bold;
}

.contents .folder > td {
    background: hsl(0,0%,96%);
}

.dragover {
    outline: 1px dashed black;
}

.drag-handle.dragging {
    opacity: 0.6;
}
.drag-handle.moving {
    opacity: 0.3;
}
