{% extends "project/project_base.html" %}
{% load links %}
{% load sstatic %}
{% load stamp %}

{% block title %}{% if folder %}{{folder}}{% else %}Browse{% endif %} - {{block.super}}{% endblock title %}

{% block stylesheets %}
{{block.super}}
<link rel="stylesheet" href="{% sstatic 'css/project/browse.css' %}"/>
{% endblock stylesheets %}

{% block javascripts %}
{{block.super}}
<script src="{% sstatic 'js/project/browse.js' %}" defer></script>
{% endblock javascripts %}

{% block project_content %}
<nav>
    <ol class="breadcrumb folders">
        <li class="{% if folder %}drag-target{% endif %}{% if not folder %} active"{% endif %} data-folder="">
            <span class="glyphicon glyphicon-briefcase"></span>
            <a href="{% url 'project_browse' project.pk "" %}">{{project.name}}</a>
        </li>
        {% for folder in breadcrumbs %}
        <li>
            <a class="drag-target" data-folder="{{folder.pk}}" href="{{folder.get_absolute_url}}">{{folder.name}}</a></li>
        {% endfor %}
        {% if folder %}
        <li class="active">{{folder.name}}</li>
        {% endif %}
    </ol>
</nav>

<div id="controls">
    <span class="glyphicon glyphicon-plus"></span>
    New:
    <a class="btn btn-default" href="{% url 'project_new_folder' project.pk %}?path={{path|urlencode}}"><span class="glyphicon glyphicon-folder-close"></span> Folder</a>
    <a class="btn btn-default" href="{% url 'question_new' %}?project={{project.pk}}{% if folder %}&folder={{folder.pk}}{% endif %}"><span class="glyphicon glyphicon-file"></span> Question</a> 
    <a class="btn btn-default" href="{% url 'exam_new' %}?project={{project.pk}}{% if folder %}&folder={{folder.pk}}{% endif %}"><span class="glyphicon glyphicon-book"></span> Exam</a> 
</div>

<p>{{ items.page.paginator.count}} item{{items.page.paginator.count|pluralize}} in this folder.</p>

<table class="table contents">
    <thead>
        <tr>
            <th></th>
            <th>Status</th>
            <th>Name</th>
            <th>Last modified</th>
        </tr>
    </thead>
    <tbody>
        {% for folder in subfolders %}
        <tr class="folder drag-target drag-handle" data-folder="{{folder.pk}}">
            <td><input class="include-checkbox" type="checkbox" name="folders[]" value="{{folder.pk}}"></td>
            <td></td>
            <td colspan="2" class="name">
                <a href="{{folder.get_absolute_url}}">
                    <span class="glyphicon glyphicon-folder-close"></span> 
                    {{folder.name}}
                </a>
            </td>
        </tr>
        {% endfor %}

        {% for row in items.page.object_list|default:items.rows %}
        {% with item=row.record %}
        <tr class="item drag-handle" draggable="true" data-pk="{{item.pk}}">
            <td><input class="include-checkbox" type="checkbox" name="items[]" value="{{folder.pk}}"></td>
            <td>
                {% stamp item.current_stamp.status %}
            </td>
            <td class="name">
                <span class="glyphicon glyphicon-{{item.icon}}"></span>
                {% editoritem_link item.rel_obj %}
            </td>
            <td>
                {{item.last_modified}}
            </td>
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
</table>

{% include "pagination.html" %}

{% endblock project_content %}

