{% extends "project/project_base.html" %}
{% load user_link %}
{% load sstatic %}
{% load sanitizer %}
{% load timeline %}
{% load stamp %}

{% block javascripts %}
{{ block.super }}
<script src="{% sstatic 'js/project/index.js' %}"></script>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
    <link href="{% sstatic 'css/project.css' %}" rel="stylesheet">
{% endblock %}

{% block project_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div class="well well-lg description">
                {% if project.description %}
                {{project.description|escape_html|safe}}
                {% else %}
                <div class="nothing-here">
                    <p>This project doesn't have a description.</p>
                    {% if project_editable %}<p>Go to the <a href="{% url 'project_settings_options' project.pk %}">project settings page</a> to write one.</p>{% endif %}
                </div>
                {% endif %}
            </div>

            <div id="queues-summary">
                <h2><span class="glyphicon glyphicon-list"></span> Queues</h2>

                <ul class="list-inline">
                    {% for queue in project.queues.all %}
                    <li class="queue"><a href="{% url 'queue_view' queue.pk %}">{{queue.name}}</a> ({% with num_entries=queue.entries.incomplete.count %}{{num_entries}} entr{{num_entries|pluralize:"y,ies"}}{% endwith %})</li>
                    {% endfor %}
                    {% if project_editable %}
                        <li><a href="{% url 'queue_new' %}?project={{project.pk}}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Create a new queue</a></li>
                    {% endif %}
                </ul>
            </div>

            <div id="project-timeline">
                <h2><span class="glyphicon glyphicon-time"></span> Project activity</h2>
                {% if member_of_project %}
                <div class="timeline-write-comment" data-bind="with: commentwriter">
                    <button class="btn btn-primary" data-bind="visible: !writingComment(), click: writingComment" type="button"><span class="glyphicon glyphicon-comment"></span> Write a comment</button>
                    <form action="{% url 'comment_on_project' project.pk %}" data-bind="fadeVisible: writingComment, submit: submitComment">
                        <h4>Comment</h4>
                        <div data-bind="writemaths: commentText, editImmediately: true"></div>
                        <div class="buttons">
                            <button type="Submit" class="btn btn-primary" data-bind="attr: {disabled: commentIsEmpty}">Submit</button>
                            <button type="button" class="btn btn-default" data-bind="click: cancelComment">Cancel</button>
                        </div>
                    </form>
                </div>
                {% endif %}
                <div class="timeline">
                    {% with include_object_link=True timeline=project.all_timeline %}
                    {% if timeline.exists %}
                        {% timeline timeline per_page=20 %}
                    {% else %} 
                        <p class="nothing-here">No activity yet!</p>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title"><span class="glyphicon glyphicon-plus"></span> Create</h2>
                </div>
                <div class="panel-body create">
                    <a href="{% url 'question_new' %}?project={{project.pk}}" class="btn btn-lg btn-link"><span class="glyphicon glyphicon-file"></span> Question</a> 
                    <a href="{% url 'exam_new' %}?project={{project.pk}}" class="btn btn-lg btn-link"><span class="glyphicon glyphicon-book"></span> Exam</a> 
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title"><a href="{% url 'project_search' project.pk %}"><span class="glyphicon glyphicon-search"></span> Content</a></h2>
                </div>
                <div class="panel-body browse">
                    <a href="{% url 'project_browse' project.pk %}" class="btn btn-lg btn-block btn-link"><span class="glyphicon glyphicon-folder-close"></span> Browse this project's content</a>
                </div>
                <table class="table table-condensed status-breakdown">
                    <tbody>
                        {% for status,label,count in status_counts %}
                        <tr data-stamp="{{status}}" class="stamp">
                            <td>
                                <a href="{% url 'project_search' project.pk %}?status={{status}}">
                                {% stamp status %}
                                </a>
                            </td>
                            <td class="count">
                                <a href="{% url 'project_search' project.pk %}?status={{status}}">
                                {{count}}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Members {% if project_editable %}<span class="pull-right"><a href="{% url 'project_settings_members' project.pk %}"><span class="glyphicon glyphicon-cog"></span></a></span>{% endif %}</h2>
                </div>
                <ul class="members list-group">
                    {% for user in project.members %}
                    <li class="list-group-item member">
                    {% user_thumbnail user 40 36 link=True %} {% user_link user %} 
                    {% if user == project.owner %}<span class="owner">(owner)</span>{% endif %}
                    {% if user == request.user %}(you){% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% if member_of_project %}
                    {% if request.user != project.owner %}
                    <div class="panel-footer">
                        <a class="btn btn-danger btn-block" href="{% url 'project_leave' project.pk %}"><span class="glyphicon glyphicon-log-out"></span> Leave this project</a>
                    </div>
                    {% endif %}
                {% endif %}
                {% if not user.is_anonymous %}
                    <div class="panel-footer">
                        {% if watching_project %}
                        <form method="POST" action="{% url 'project_unwatch' project.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-warning btn-block"><span class="glyphicon glyphicon-eye-close"></span> Stop watching this project</button>
                        </form>
                        {% else %}
                        <form method="POST" action="{% url 'project_watch' project.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-primary btn-block"><span class="glyphicon glyphicon-eye-open"></span> Watch this project</button>
                        </form>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock project_content %}
