{% extends "project/settings_base.html" %}

{% block title %}Project settings - {{block.super}}{% endblock title %}

{% block javascripts %}
{{block.super}}
<script type="text/javascript">
    $(document).ready(function() {
        Editor.tinymce({selector:'#id_description'});
    });
</script>
{% endblock javascripts %}

{% block settings_content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Settings</h3>
    </div>
    <div class="panel-body">
        <form method="post">
            {{form.errors}}
            <div class="form-group">
                <label for="{{form.name.auto_id}}">Name</label>
                <ul class="error-list list-unstyled">
                    {% for error in form.name.errors %}
                        <li class="alert alert-danger">{{error}}</li>
                    {% endfor %}
                </ul>
                <input type="text" id="{{form.name.auto_id}}" name="name" class="form-control" value="{{form.name.value}}">
            </div>

            <div class="form-group">
                <label for="{{form.description.auto_id}}">Description</label>
                <ul class="error-list list-unstyled">
                    {% for error in form.description.errors %}
                        <li class="alert alert-danger">{{error}}</li>
                    {% endfor %}
                </ul>
                <textarea id="{{form.description.auto_id}}" name="description" class="form-control">{{form.description.value}}</textarea>
            </div>

            <div class="form-group">
                <label for="{{form.default_locale.auto_id}}">Default language</label>
                <ul class="error-list list-unstyled">
                    {% for error in form.default_locale.errors %}
                        <li class="alert alert-danger">{{error}}</li>
                    {% endfor %}
                </ul>
                {{form.default_locale}}
            </div>

            <div class="form-group">
                <label for="{{form.default_licence.auto_id}}">Default licence</label>
                <ul class="error-list list-unstyled">
                    {% for error in form.default_licence.errors %}
                        <li class="alert alert-danger">{{error}}</li>
                    {% endfor %}
                </ul>
                <select id="{{form.default_licence.auto_id}}" name="default_licence" class="form-control">
                    {% for value,name in form.default_licence.field.choices %}
                    <option value="{{value}}" {% if form.default_licence.value == value %}selected{% endif %}>{{name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="checkbox">
                <label>{{form.public_view}} Visible to non-members?</label>
            </div>

            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
    </div>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Admin actions</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <form action="{% url 'export_project' project.pk %}" method="POST">
                {% csrf_token %}
                <p>
                    Export all content in this project.
                    <button class="btn btn-warning pull-right"><span class="glyphicon glyphicon-cloud-download"></span> Export project data</button>
                </p>
            </form>
        </li>
        {% if request.user == project.owner and project != project.owner.userprofile.personal_project %}
        <li class="list-group-item">
            <a class="btn btn-danger pull-right" href="{% url 'project_delete' project.pk %}">Delete this project</a>
            <p>Deleting this project will reassign each of its questions and exams to its author's personal workspace.</p>
            <p><strong>This can not be undone.</strong></p>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock settings_content %}

