{% extends "project/settings_base.html" %}

{% block javascripts %}
{{block.super}}
<script type="text/javascript">
    $(document).ready(function() {
        Editor.user_search_autocomplete($('#{{form.user_search.auto_id}}'));
    });
</script>
{% endblock %}

{% block settings_content %}

<div class="alert alert-danger">
    <p><strong>Warning</strong></p>
    <p>You are about to transfer ownership of the project <em>{{project.name}}</em> to another user. Once this is done, you will have editing access to this project but will not have admin rights.</p>
    <p>Only do this if you're absolutely sure it needs to be done.</p>
</div>

<form method="post">
    {% for field in form.hidden_fields %}{{field}}{% endfor %}
    <div class="form-group">
        {{form.errors}}
        <label for="{{form.user_search.auto_id}}">Transfer ownership of {{project.name}} to</label>
        <input type="text" class="form-control" id="{{form.user_search.auto_id}}" name="user_search" placeholder="Username or full name">
    </div>

    {% csrf_token %}
    <button class="btn btn-danger" type="submit">Transfer ownership</button>
</form>

{% endblock settings_content %}

