{% load helplink %}
<div class="form-group">
    <label class="label-block">
        <div class="{{form_label_class}} control-label">
            {{label}}
            {% if help_url %}{% helplink help_url %}{% endif %}
        </div>
        <div class="{{form_control_class}}">
            <div class="checkbox">
                <label>
                    <input {% if not editable %}disabled{% endif%} type="checkbox" data-bind="checked: {{property}}{% if disable %}, disable: {{disable}}{% endif %}"/>
                </label>
            </div>
        </div>
    </label>
</div>
