{% load helplink %}
<div class="form-group">
    <label class="label-block">
        <div class="{{form_label_class}} control-label">
            {% if dynamic_label %}<span data-bind="text: {{label}}"></span>{% else %}{{label}}{% endif %}
            {% if help_url %}{% helplink help_url %}{% endif %}
        </div>
        <div class="{{form_control_class}}">
            <input {% if not editable %}disabled{% endif%} class="form-control {% if monospace %}monospace{% endif %}" type="{{type}}" data-bind="
                textInput: {{property}}, 
                attr: {
                    {% if min %}min: {{min}},{% endif %}
                    {% if max %}max: {{max}},{% endif %}
                },
                autosize: {max: 500, min: 30, padding: 10, value: {{property}} }
            "/>
        </div>
    </label>
</div>
