{% load can_edit %}
{% load helplink %}
{% load editor_controls %}

<section class="tab-pane" data-bind="css: {active: ko.unwrap($root.mainTabber.currentTab().id)=='parts'}">
    <div class="panel-group parts" role="tablist" aria-multiselectable="true">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="panel panel-info parts-tree">
                        <div class="panel-heading">
                            <h3 class="panel-title">Parts</h3>
                        </div>
                        <div class="panel-body" data-bind="visible: partsMode().value=='explore'">
                            <a href="#" data-bind="click: showPartOptions"><span class="glyphicon glyphicon-cog"></span> Explore mode options</a>
                        </div>
                        <div class="list-group">
                            <div data-bind="sortable: {
                                foreach: parts,
                                options: {
                                    group: 'parts',
                                    handle: '.root'
                                }
                            }">
                                <div class="part-container" data-bind="css: {open: showChildren()}">
                                    <a role="button" class="list-group-item part root" data-bind="
                                        click: $parent.currentPart, 
                                        css: {
                                            active: $data==$parent.currentPart() || ($parent.addingPart() && $data==$parent.addingPart().parent)
                                        }
                                    ">
                                        <span data-bind="visible: !reachable()" class="glyphicon glyphicon-exclamation-sign text-warning" title="This part can't be reached"></span>
                                        <strong data-bind="text: header"></strong>
                                        <span class="type-name" data-bind="text: type().niceName"></span>
                                        <small class="children-description text-muted" data-bind="text: childrenDescription"></small>
                                    </a>
                                    <!-- ko if: showChildren -->
                                    <div class="children">
                                        <h4 class="children-header" data-bind="visible: canAddAlternative">Alternative answers</h4>
                                        <div class="alternatives" data-bind="visible: alternatives().length, sortable: { foreach: alternatives, options: {group: path()+'alternatives', handle: '.alternative'} }">
                                            <a role="button" class="list-group-item part alternative" data-bind="
                                                click: $root.currentPart, 
                                                css: {active: $data==$root.currentPart()}
                                            ">
                                                <strong data-bind="text: name"></strong>
                                            </a>
                                        </div>
                                        <span class="list-group-item add alternative" data-bind="visible: canAddAlternative() && $data==$root.currentPart() || ($root.currentPart() && $root.currentPart().isAlternative() && $data==$root.currentPart().parent())">
                                            <button type="button" data-bind="click: addAlternative" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-plus"></span> Add an alternative answer</button>
                                        </span>
                                        <h4 class="children-header" data-bind="visible: canAddGap">Gaps</h4>
                                        <div class="gaps" data-bind="visible: gaps().length, sortable: { foreach: gaps, options: {group: path()+'gaps', handle: '.gap'} }">
                                            <div class="part-container" data-bind="css: {open: showChildren()}">
                                                <a role="button" class="list-group-item part gap" data-bind="
                                                    click: $parents[1].currentPart, 
                                                    css: {active: $data==$parents[1].currentPart()}
                                                ">
                                                    <span class="unused-gap text-warning" data-bind="if: unusedGap"><span class="glyphicon glyphicon-exclamation-sign"></span><span class="sr-only">This gap is not used in the parent part's prompt.</span></span>
                                                    <strong data-bind="text: header"></strong>
                                                    <span class="type-name" data-bind="text: type().niceName"></span>
                                                    <small class="children-description text-muted" data-bind="text: childrenDescription"></small>
                                                </a>
                                                <!-- ko if: showChildren -->
                                                <div class="children">
                                                    <h4 class="children-header" data-bind="visible: canAddAlternative">Alternative answers</h4>
                                                    <div class="alternatives" data-bind="visible: alternatives().length, sortable: { foreach: alternatives, options: {group: path()+'alternatives', handle: '.alternative'} }">
                                                        <a role="button" class="list-group-item part alternative" data-bind="
                                                            click: $root.currentPart, 
                                                            css: {active: $data==$root.currentPart()}
                                                        ">
                                                            <strong data-bind="text: name"></strong>
                                                        </a>
                                                    </div>
                                                    <span class="list-group-item add alternative" data-bind="visible: canAddAlternative">
                                                        <button type="button" data-bind="click: addAlternative" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-plus"></span> Add an alternative answer</button>
                                                    </span>
                                                </div>
                                                <!-- /ko -->
                                            </div>
                                        </div>
                                        <span class="list-group-item add gap" data-bind="visible: canAddGap">
                                            <button type="button" data-bind="click: startAddingGap" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span> Add a gap</button>
                                        </span>
                                        <h4 class="children-header" data-bind="visible: canAddStep">Steps</h4>
                                        <div class="steps" data-bind="visible: steps().length, sortable: { foreach: steps, options: {group: path()+'steps', handle: '.step'} }">
                                            <div class="part-container" data-bind="css: {open: showChildren()}">
                                                <a role="button" class="list-group-item part step" data-bind="
                                                    click: $parents[1].currentPart, 
                                                    css: {active: $data==$parents[1].currentPart()}
                                                ">
                                                    <strong data-bind="text: header"></strong>
                                                    <span class="type-name" data-bind="text: type().niceName"></span>
                                                </a>
                                                <!-- ko if: showChildren -->
                                                <div class="children">
                                                    <h4 class="children-header" data-bind="visible: canAddAlternative">Alternative answers</h4>
                                                    <div class="alternatives" data-bind="visible: alternatives().length, sortable: { foreach: alternatives, options: {group: path()+'alternatives', handle: '.alternative'} }">
                                                        <a role="button" class="list-group-item part alternative" data-bind="
                                                            click: $root.currentPart, 
                                                            css: {active: $data==$root.currentPart()}
                                                        ">
                                                            <strong data-bind="text: name"></strong>
                                                        </a>
                                                    </div>
                                                    <span class="list-group-item add alternative" data-bind="visible: canAddAlternative">
                                                        <button type="button" data-bind="click: addAlternative" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-plus"></span> Add an alternative answer</button>
                                                    </span>
                                                </div>
                                                <!-- /ko -->
                                            </div>
                                        </div>
                                        <span class="list-group-item add step" data-bind="visible: canAddStep">
                                            <button type="button" data-bind="click: startAddingStep" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-plus"></span> Add a step</button>
                                        </span>
                                    </div>
                                     <!-- /ko -->
                                </div>
                            </div>
                        </div>
                        {% if editable %}
                        <div class="panel-footer" data-bind="visible: parts().length>0">
                            <button type="button" class="btn btn-block btn-primary" data-bind="click: startAddingPart">
                                <span class="glyphicon glyphicon-plus"></span> <span data-bind="text: parts().length ? 'Add another part' : 'Add a part'"></span>
                            </button>
                        </div>
                        <div class="panel-footer" data-bind="visible: parts().length==0">
                            <p class="nothing-here">
                                There are no parts yet.
                            </p>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-12 col-md-8 col-lg-9 part">
                    <!-- ko if: partsTabMode()=='options' -->
                        {% include 'question/part_options.html' %}
                    <!-- /ko -->

                    <!-- ko if: partsTabMode()=='edit part' -->
                        {% include 'question/edit_part.html' %}
                    <!-- /ko -->

                    <!-- ko if: partsTabMode()=='add part' -->
                        {% include 'question/add_part.html' %}
                    <!-- /ko -->
                </div>

            </div>
        </div>
    </div>

    {% if editable %}
    <part-type-modal params="data: addPartTypeModal"></part-type-modal>
    {% endif %}

    {% if editable %}
    <editor-pager params="visible: !$root.published(), editor: $root, previousTab: 'statement', nextTab: 'variables', task_group: 'parts'"></editor-pager>
    {% endif %}
</section>
