{% load can_edit %}
{% load helplink %}
{% load editor_controls %}

<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($root.mainTabber.currentTab().id)=='resources'}">
    {% if editable %}
    <form method="POST" class="alert alert-info" data-bind="upload_resource: resources" action="{% url 'upload_resource' object.pk %}">
        {% csrf_token %}
        <label for="fileupload" class="control-label">Upload a file</label>
        <p><input id="fileupload" type="file" name="files[]"></p>
    </form>
    {% endif %}
    <ul class="media-list" data-bind="foreach: resources">
        <li class="media resource">
            {% if editable %}<button type="button" class="pull-left btn btn-lg btn-link text-warning delete" data-bind="click: $root.deleteResource" title="Delete this resource"><span class="glyphicon glyphicon-remove"></span></button>{% endif %}
            <div class="media-left">
                <div data-bind="visible: progress()<1" class="progress progress-striped active">
                    <div class="bar" data-bind="style: {width: progress()+'%'}"></div>
                </div>
                <div data-bind="visible: progress()==1">
                    <a data-bind="attr: {href: name}" target="_blank"><img class="thumbnail" data-bind="if: filetype()=='img', attr: {src: timestamped_url, title: name, alt: alt_text}"/></a>
                </div>
            </div>
            <div class="media-body">
                <form class="form" data-bind="submit: Editor.noop">
                    {% with form_label_class="" form_control_class="" %}
                        <div class="form-group">
                            <label class="control-label" data-bind="attr: { for: 'input-resource-url-'+$index() }">URL</label>
                            <div class="filename-input">
                                <code>resources/question-resources/</code>
                                {% text_input 'filename' monospace=True type='text' %}
                                <button type="button" data-bind="click: copy_url" title="Copy this resource's URL to the clipboard">📋</button>
                            </div>
                        </div>
                        <!-- ko if: filetype()=='img' -->
                        {% property 'alt_text' 'Text alternative' placeholder="'Describe this image for someone who can\'t see it'" id="'input-resource-alt_text-'+$index()" dynamic_id=True %}
                        <!-- /ko -->
                    {% endwith %}
                </form>
            </div>
        </li>
    </ul>

    {{resource_form}}
</section>
