{% load can_edit %}
{% load helplink %}
{% load editor_controls %}

<section class="tab-pane" data-bind="css: {active: ko.unwrap(mainTabber.currentTab().id)=='variabletesting'}, variableReferenceLandmark: {kind: 'tab', tab: 'variabletesting'}">
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                Condition to satisfy
                {% helplink 'question/reference.html#term-Condition-to-satisfy' %}
            </label>
            <div class="col-sm-9">
                <textarea {% if not editable %}disabled{% endif %} class="def" data-bind="codemirror: variablesTest.condition, codemirrorMode: 'jme', variableReferrer: {value: variablesTest.condition, description: 'Variable testing condition', kind: 'jme'}"></textarea>
                <p class="alert alert-danger" data-bind="visible: variablesTest.conditionError">Error: <span data-bind="html: variablesTest.conditionError" aria-live="polite"></span></p>
            </div>
        </div>
        {% with form_label_class="col-sm-3" form_control_class="col-sm-9" %}
        {% property 'variablesTest.maxRuns' 'Maximum number of runs' min=1 help_url='question/reference.html#term-Maximum-number-of-runs' %}
        {% endwith %}
        <div class="form-group form-inline">
            <div class="col-sm-offset-3">
                <p data-bind="visible: !variablesTest.running()"><button class="btn btn-primary" type="button" data-bind="click: testVariables" aria-live="polite">Test condition</button> for <input class="form-control" type="number" data-bind="textInput: variablesTest.running_time, autosize: {value:variablesTest.running_time, max:100, min: 20}"/> seconds</p>
                <p class="variable-test-running" data-bind="visible: variablesTest.running" aria-live="polite">Running for <span data-bind="text: variablesTest.time_remaining_display"></span>... <button type="button" class="btn btn-warning" data-bind="click: cancelVariablesTest">Cancel</button></p>
            </div>
        </div>
    </form>
    <div class="variable-test-advice alert alert-info" data-bind="visible: !variablesTest.running() && variablesTest.advice(), html: variablesTest.advice" aria-live="polite"></div>
</section>
