{% load can_edit %}
{% load links %}
{% load helplink %}
{% load editor_controls %}

<section class="tab-pane" data-bind="css: {active: ko.unwrap($root.mainTabber.currentTab().id)=='variables'}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-4">
                <div class="panel panel-info variable-groups">
                    <!-- ko foreach: allVariableGroups -->
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {% if editable %}<button type="button" class="pull-left btn btn-xs btn-link" data-bind="click: sort" title="Sort the variables in this group"><span class="glyphicon glyphicon-sort-by-alphabet"></span></button>{% endif %}
                            <input {% if not editable %}disabled{% endif %} class="transparent-input variable-group-name" type="text" data-bind="textInput: name, attr: {readonly: fixed}"/>
                            {% if editable %}<button type="button" class="pull-right btn btn-xs btn-link" data-bind="visible: !fixed, click: remove" title="Remove this variable group"><span class="glyphicon glyphicon-remove text-danger"></span></button>{% endif %}
                        </h3>
                    </div>
                    <table class="table variable-list table-hover" data-bind="css: {empty: variables().length==0}">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="name">Name</th>
                                <th class="type">Type</th>
                                <th class="value">Generated Value</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="css: {empty: variables().length==0}"></tbody>
                    </table>
                    <table class="table variable-list table-hover" data-bind="sortable: {
                            foreach: $data.variables,
                            options: {
                                group: 'variables'
                            },
                    }">
                        <tbody>
                            <!-- ko foreach: names -->
                            <tr data-bind="css: {noname: !name, active: $parent==$root.currentVariable(), dependency: $parent.isDependency, danger: $parent.anyError().length>0}, scrollIntoView: $root.currentVariable() && $root.currentVariable().names().contains($data)" class="variable-selector">
                                <td class="lock-cell">
                                    {% if editable %}
                                    <button type="button" class="btn btn-xs btn-link lock" data-bind="click: $parent.toggleLocked, css: {locked: $parent.locked}" title="Lock the value of this variable (editor only)">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </button>
                                    {% endif %}
                                </td>
                                <td class="testing-cell">
                                    <button type="button" class="btn btn-xs btn-link" title="This variable is used in the testing condition" data-bind="click: $root.mainTabber.setTab('variabletesting')">
                                        <span class="glyphicon glyphicon-flag" data-bind="visible: $parent.usedInTestCondition"></span>
                                    </button>
                                </td>
                                <td>
                                    <span title="This variable is a source of randomisation"  data-bind="visible: $parent.random(), click: $parent.makeCurrentVariable" class="glyphicon glyphicon-random is-random text-muted"></span>
                                </td>
                                <td class="name monospace" data-bind="click: $parent.makeCurrentVariable, text: name || 'Unnamed', css: {'name-error': $parent.nameError()!='','text-danger': $parent.nameError()!=''}"></td>
                                <td class="type" data-bind="click: $parent.makeCurrentVariable, text: type"></td>
                                <td class="value-cell" data-bind="click: $parent.makeCurrentVariable">
                                    <div class="value-wrapper">
                                        <div class="value jme-value" data-bind="jmevalue: value, error: $parent.anyError"></div>
                                    </div>
                                </td>
                                <td>
                                    {% if editable %}
                                    <button class="btn btn-xs btn-link" type="button" title="Remove this variable" data-bind="click:$parent.remove">
                                        <span class="glyphicon glyphicon-remove text-danger"></span>
                                    </button>
                                    {% endif %}
                                </td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                    <div class="panel-body empty-receiver" data-bind="visible: variables().length==0, sortable: {
                        foreach: $data.receivedVariables, 
                        options: {
                            group: 'variables'
                        }
                    }">
                        <span data-bind="text: $data.name"></span>
                    </div>
                    <div class="panel-footer">
                        {% if editable %}
                        <button id="add-variable-button" type="button" class="btn btn-default add-variable" data-bind="click: addVariable, attr: {title: (variables().length ? 'Add another variable' : 'Add a variable')+' to '+name()}">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add a variable
                        </button>
                        {% endif %}
                    </div>

                    <!-- /ko -->

                    <ul class="list-group">
                        <button type="button" class="list-group-item" data-bind="click: showVariableTesting, css: {active: variablesTabMode()=='testing'}"><span class="glyphicon glyphicon-dashboard"></span> Variable testing</button>
                    </ul>

                </div>
                <div class="alert alert-danger" data-bind="visible: variablesTest.conditionError" aria-live="polite">
                    <h4><strong>Error in variable testing condition</strong></h4>
                    <p>There's an error in the variable testing condition. Variable values can't be generated until it's fixed.</p>
                </div>
                <div class="fadeVisible: variables().length>0">
                    <button class="btn btn-info btn-lg btn-block" type="button" data-bind="click: generateVariablePreview"><span class="glyphicon glyphicon-refresh"></span> Regenerate values</button>
                    <div class="form-group">
                        <label class="form-block">Automatically regenerate variables? <input type="checkbox" data-bind="checked: autoCalculateVariables"></label>
                    </div>
                </div>
                {% if editable %}<button class="btn btn-primary btn-block" type="button" data-bind="click: addVariableGroup"><span class="glyphicon glyphicon-plus"></span> New variable group</button>{% endif %}
            </div>
            <!-- ko if: variablesTabMode()=='testing' -->
            <div class="col-sm-12 col-md-7 col-lg-8">
                <form class="form-horizontal" data-bind="submit: Editor.noop">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Condition to satisfy
                            {% helplink 'question/reference.html#term-Condition-to-satisfy' %}
                        </label>
                        <div class="col-sm-9">
                            <textarea {% if not editable %}disabled{% endif %} class="def" data-bind="codemirror: variablesTest.condition, codemirrorMode: 'jme', variableReferrer: {value: variablesTest.condition, description: 'Variable testing condition', kind: 'jme'}"></textarea>
                            <p class="alert alert-danger" data-bind="visible: variablesTest.conditionError">Error: <span data-bind="html: variablesTest.conditionError" aria-live="polite"></span></p>
                        </div>
                    </div>
                    {% with form_label_class="col-sm-3" form_control_class="col-sm-9" %}
                    {% property 'variablesTest.maxRuns' 'Maximum number of runs' min=1 help_url='question/reference.html#term-Maximum-number-of-runs' %}
                    {% endwith %}
                    <div class="form-group form-inline">
                        <div class="col-sm-offset-3">
                            <p data-bind="visible: !variablesTest.running()"><button class="btn btn-primary" type="button" data-bind="click: testVariables" aria-live="polite">Test condition</button> for <input class="form-control" type="number" data-bind="textInput: variablesTest.running_time, autosize: {value:variablesTest.running_time, max:100, min: 20}"/> seconds</p>
                            <p class="variable-test-running" data-bind="visible: variablesTest.running" aria-live="polite">Running for <span data-bind="text: variablesTest.time_remaining_display"></span>... <button type="button" class="btn btn-warning" data-bind="click: cancelVariablesTest">Cancel</button></p>
                        </div>
                    </div>
                </form>
                <div class="variable-test-advice alert alert-info" data-bind="visible: !variablesTest.running() && variablesTest.advice(), html: variablesTest.advice" aria-live="polite"></div>
            </div>
            <!-- /ko -->
            <!-- ko if: variablesTabMode()=='edit variables' -->
            <div class="col-sm-12 col-md-7 col-lg-8" data-bind="visible: variables().length==0">
                <p class="nothing-here">No variables have been defined in this question.</p>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-8 variable-definition" data-bind="with: currentVariable">
                <form data-bind="submit: Editor.noop">
                    <div class="form-group">
                        <label class="label-block">
                            <span class="label-text">Name</span>
                            <input {% if not editable %}disabled{% endif %} type="text" placeholder="Name" class="form-control name monospace" data-bind="textInput: _name"/>
                        </label>
                        <span class="name-error text-danger" data-bind="html: nameError, visible: nameError" aria-live="polite"></span>
                    </div>
                    <div class="form-group">
                        <label class="label-block">
                            <span class="label-text">Data type</span>
                            <select {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: templateTypes, value: templateType, optionsText: 'name'"></select>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="label-block" data-bind="with: templateType">
                            <span class="label-text">Value</span>
                            <div data-bind="if: id=='anything'">
                                <textarea {% if not editable %}disabled{% endif %} class="def" data-bind="codemirror: value.definition, codemirrorMode: 'jme'"></textarea>
                                <p class="help-block text-right">
                                    <a class="helplink text-info" href="{{HELP_URL}}jme-reference.html" target="_blank">JME function reference <span class="glyphicon glyphicon-question-sign"></span></a>
                                </p>
                            </div>
                            <div data-bind="if: id=='number'">
                                <input {% if not editable %}disabled{% endif %} class="form-control" type="text" data-bind="textInput: value.value, autosize: {max: 500, min: 30, padding: 30, value: value.value}"/> 
                                <p class="help-block">(a number)</p>
                            </div>
                            <div data-bind="if: id=='range'" class="form-inline">
                                Numbers between 
                                <input {% if not editable %}disabled{% endif %} class="form-control" type="text" data-bind="textInput: value.min, autosize: {max: 500, min: 30, padding: 10, value: value.min}"/>
                                and
                                <input {% if not editable %}disabled{% endif %} class="form-control" type="text" data-bind="textInput: value.max, autosize: {max: 500, min: 30, padding: 10, value: value.max}"/>
                                (inclusive) with step size
                                <input {% if not editable %}disabled{% endif %} class="form-control" type="text" data-bind="textInput: value.step, autosize: {max: 500, min: 30, padding: 10, value: value.step}"/>
                            </div>
                            <div data-bind="if: id=='randrange'" class="form-inline">
                                A random number between 
                                <input {% if not editable %}disabled{% endif %} class="form-control" type="text" data-bind="textInput: value.min, autosize: {max: 500, min: 30, padding: 10, value: value.min}"/>
                                and
                                <input {% if not editable %}disabled{% endif %} class="form-control" type="text" data-bind="textInput: value.max, autosize: {max: 500, min: 30, padding: 10, value: value.max}"/>
                                (inclusive) with step size
                                <input {% if not editable %}disabled{% endif %} class="form-control" type="text" data-bind="textInput: value.step, autosize: {max: 500, min: 30, padding: 10, value: value.step}"/>
                            </div>
                            <div data-bind="if: id=='string'">
                                <input {% if not editable %}disabled{% endif %} class="form-control" type="text" data-bind="textInput: value.value, autosize: {max: 500, min: 30, padding: 10, value: value.value}"/> 
                                <p class="help-block">(text string)</p>
                                <p><label><input type="checkbox" data-bind="checked: value.isTemplate" {% if not editable %}disabled{% endif %}> Is this a template?</p>
                            </div>
                            <div data-bind="if: id=='long plain string'">
                                <div {% if not editable %}disabled{% endif %} data-bind="codemirror: value.value"></div>
                            </div>
                            <div data-bind="if: id=='long string'">
                                <div {% if not editable %}disabled{% endif %} data-bind="writemaths: value.value, preambleCSS: $root.preamble.css,"></div>
                                <p><label><input type="checkbox" data-bind="checked: value.isTemplate" {% if not editable %}disabled{% endif %}> Is this a template?</p>
                            </div>
                            <div data-bind="if: id=='list of numbers'">
                                <ul class="list-unstyled" data-bind="foreach: value.values.edit">
                                    <li data-bind="css: {'has-error': value() && !Numbas.util.isNumber(value(),true)}">
                                        <input {% if not editable %}disabled{% endif %} class="form-control" type="text" data-bind="textInput: value, event: {blur: onBlur}, autosize: {max: 500, min: 30, padding: 10, value: value}"/>
                                    </li>
                                </ul>
                                <p class="help-block">(numbers)</p>
                            </div>
                            <div data-bind="if: id=='list of strings'">
                                <ul class="list-unstyled" data-bind="foreach: value.values.edit">
                                    <li>
                                        <input {% if not editable %}disabled{% endif %} class="form-control" type="text" data-bind="textInput: value, event: {blur: onBlur}, autosize: {max: 500, min: 30, padding: 10, value: value}"/>
                                    </li>
                                </ul>
                                <p class="help-block">(text strings)</p>
                            </div>
                            <div data-bind="if: id=='json'">
                                <textarea {% if not editable %}disabled{% endif %} class="def" data-bind="codemirror: value.value, codemirrorMode: 'json'"></textarea>
                                <button type="button" class="btn btn-default" data-bind="click: value.prettyPrint"><span class="glyphicon glyphicon-object-align-left"></span> Clean up formatting</button>
                            </div>
                            <div data-bind="if: id=='mathematical expression'">
                                {% jme_input 'value.value' %}
                            </div>
                            <!-- ko foreach: $parent.extra_template_types -->
                            <div data-bind="if: $parent.id==id">
                                <p>It's that thing <span data-bind="text: name"></p>
                                <div data-bind="variable_definition_template: $data"></div>
                            </div>
                            <!-- /ko -->
                        </label>
                    </div>
                    <div class="help-block">
                        <div class="alert alert-info" data-bind="visible: $data.added_because_missing && $data.definition()==''" aria-live="polite">
                            <p>This variable was automatically created because there's a reference to it somewhere in this question.</p>
                        </div>
                        <div class="value-error alert alert-danger" data-bind="visible: error() && error().length>0" aria-live="polite">
                            <h4>Error</h4>
                            <div data-bind="html: error"></div>
                        </div>
                        <div class="value-warning alert alert-warning" data-bind="visible: warnings().length" aria-live="polite">
                            <h4>Warning</h4>
                            <ul data-bind="foreach: warnings">
                                <li>
                                    When applying the function<code data-bind="text: fn.name"></code>, <span data-bind="html: message"></span>
                                    <!-- ko if: suggestions.length>0 -->
                                    <h5>Suggestions</h5>
                                    <ul data-bind="foreach: suggestions">
                                        <li>
                                        <!-- ko if: kind=='change signature' -->
                                        <p>Change the signature of parameter <code data-bind="text: parameter.name"></code> from <code data-bind="text: from"></code> to <code data-bind="text: to"></code>.</p>
                                        <button class="btn btn-sm btn-primary" type="button" data-bind="click: apply">Do it</button>
                                        <!-- /ko -->
                                        </li>
                                    </ul>
                                    <!-- /ko -->
                                </li>
                            </ul>
                        </div>
                        <div class="html-type-warning value-error alert alert-danger" data-bind="visible: isHTML">
                            <p>This variable is an HTML node. HTML nodes can not be relied upon to work correctly when resuming a session - for example, attached event callbacks will be lost, and mathematical notation will likely also break.</p>
                            <p>If this causes problems, try to create HTML nodes where you use them in content areas, instead of storing them in variables.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label-block">
                            <span class="label-text">Description</span>
                            <div {% if not editable %}disabled{% endif %} data-bind="writemaths: description"></div>
                        </label>
                        <p class="help-block">Describe what this variable represents, and list any assumptions made about its value.</p>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="label-block">
                                <span class="label-text">
                                    Can an exam override the value of this variable?
                                    {% helplink 'question/reference.html#term-Can-an-exam-override-the-value-of-this-variable' %}
                                </span>
                                <input type="checkbox" data-bind="checked: can_override">
                            </label>
                        </div>
                    </div>
                </form>
                <div class="value-preview well well-sm" data-bind="visible: !anyError()">
                    <h3>Generated value: <code class="monospace type" data-bind="text: type"></code></h3>
                    <div class="value jme-value" data-bind="jmevalue: value, error: anyError, abbreviate: false"></div>
                </div>
                <div data-bind="visible: dependencies().length>0" class="inline-names">
                    <strong>← Depends on:</strong>
                    <ul class="list-inline" data-bind="foreach: dependenciesObjects">
                        <li><span class="variable-reference btn btn-sm btn-info monospace" data-bind="click: setCurrent, text: name, css: {notdefined: notdefined}, attr: {title: title}"></span></li>
                    </ul>
                </div>
                <div data-bind="visible: usedIn().length>0 || unique_references().length>0">
                    <strong>→ Used by:</strong>
                    <ul class="list-inline" data-bind="foreach: usedIn">
                        <li><span class="variable-reference btn btn-sm btn-info monospace" data-bind="click: $root.currentVariable, text: name"></span></li>
                    </ul>
                    <ul class="list-inline" data-bind="foreach: unique_references">
                        <li>
                            <span class="variable-reference btn btn-sm btn-default" data-bind="click: go">
                                <!-- ko foreach: icons --><span data-bind="attr: {'class': 'glyphicon glyphicon-'+$data}"></span> <!-- /ko -->
                                <span data-bind="text: description"></span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div data-bind="visible: unused" class="alert alert-info">
                    <p>This variable doesn't seem to be used anywhere.</p>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    {% if editable %}
    <editor-pager params="visible: !$root.published(), editor: $root, previousTab: 'parts', nextTab: 'advice', task_group: 'variables'"></editor-pager>
    {% endif %}
</section>
