.placeholder {
	border: 1px dashed;
	height: 2.5em;
    list-style: none;
    background: #eee;
}
.panel-body ~ .question-group {
    border-top: 2px solid #ccc;
}
.question-group form {
    margin-bottom: 1em;
}
