.placeholder {
    border: 1px dashed;
    height: 2.5em;
    list-style: none;
    background: #eee;
}
.panel-body ~ .question-group {
    border-top: 2px solid #ccc;
}

.panel .panel {
  border: none;
}

.question-group .questions {
    min-height: 1em;
}

.question-groups .question-group .question.sortable-ghost .handle,
.question-groups .question-group .question.sortable-ghost .controls,
.question-groups .question-group .question.sortable-ghost .label,
.question-groups .question-group .question.sortable-ghost .title .number
{
  display: none;
}

.question-groups .question-group {
  display: grid;
  grid-template: 
    "name delete" "num-questions delete" / auto max-content;
}
.question-groups .question-group .delete {
    grid-area: delete;
}

.questions-tab .question {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: min-content 1fr max-content;
}
.questions-tab .question .description {
  grid-column: 2 / 4;
}
.questions-tab .question .controls {
  grid-column: 3;
}
.questions-tab .question .title, .question .details {
  grid-column: 2;
  grid-row: 1;
}
.questions-tab .question .handle {
  grid-row: 1/3;
}
.questions-tab .question > .title {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  grid-gap: 0.5em;
}

.questions-tab .question .variable-overrides {
    grid-column: 2 / 4;
}

.add-questions > .nav {
    margin-bottom: 1em;
}

.topic-link {
    margin-bottom: 0.5em;
}

.base-diagnostic-algorithm pre {
  max-height: 20em;
  overflow-y: auto;
  margin-bottom: 1em;
}

.question-result ~ .question-result {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 2px dashed var(--brand-color);
}

body:not(.dragging-question) .group-drop-question {
    display: none;
}

.group-drop-question {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
    opacity: 0.01;
    margin: 0;
    padding: 0;
}
.question-group.dropping {
    background: #449d44;
    color: white;
}
.group-drop-question > li {
    display: none;
}
.group-drop-question > .sortable-ghost {
    opacity: 0;
}
.group-drop-question > .sortable-ghost::before {
    width: 100%;
    height: 2em;
    background: black;
    color: black;
    content: '.';
}
.group-drop-question > .sortable-ghost > * {
    display: none;
}


@media screen and (max-width: 1490px) {
    .questions-tab .question {
        grid-template-columns: min-content 1fr;
    }
    .questions-tab .question .controls {
        grid-column: 2;
    }
    .questions-tab .question .description {
        grid-column: 2;
    }
}
