#exam-name {
	font-size: 2em;
	height: 1.5em;
}

.exam-author {
	font-weight: bold;
}

.editable-message {
	font-style: italic;
}


#content .question {
	line-height: 1.5em !important;
	padding: 0 2em 0.5em 44px !important;
	clear: both;
	background: #eee;
	min-height: 44px;
	margin-bottom: 0.5em;
	position: relative;
}

#content .question .details {
	margin-bottom: 1em;
}

#content .question .author {
    font-size: smaller;
    line-height: 1em;
}

#content .question .handle {
	margin-left: -44px;
	height: 100%;
	position: absolute;
	padding-top: 0;
	padding-bottom: 0;
}

#content .question .number {
	font-weight: bold;
}

#content .questions {
	padding-bottom: 1em;
    overflow-x: hidden;
}
#content .questions .questionList {
    width: 100%;
    display: inline-block;
    padding-left: 0;
    border: 1px dashed;
	list-style-type: none;
}

#content .question .controls {
	float: right;
	margin-top: 0.5em;
	margin-left: 1em;
	margin-right: -1em;
	width: 16px;
}
#content .question .controls .delete {
	margin: 0;
}

#content .question .title {
}

#content .question .number {
	font-weight: bold;
}

#content .question .description {
	line-height: 1.2em;
	font-size: 80%;
	padding-bottom: 0.5em;
	overflow-y: hidden;
}

#content .question .description p {
	margin: 0;
}

#content .questions .searchBox {
    display: inline-block;
    vertical-align: top;
}

#content .questions .results, #content .questions .questionList {
    padding: 0;
    height: 25em;
    overflow-y: auto;
}

.questionResult {
	margin-bottom: 0.5em;
}

.questionResult .handle {
	width: 16px;
    background-image: url(../../images/plus_alt_16x16.png);
	padding-left: 20px;
	cursor: pointer;
}

#content .question .preview {
	background-image: url(../../images/play_alt_16x16.png);
	width: 16px;
	height: 16px;
	display: inline-block;
}

#content .question .preview:hover {
	background-color: #06f;
	border-radius: 50%;
}

#content .question .copy {
	background-image: url(../../images/loop_alt1_16x12.png);
	width: 16px;
	height: 12px;
	display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

#content .question .copy:hover {
    background-color: #f90;
}

#content .question.ui-sortable-helper {
	background: white;
	opacity: 0.8;
}
#content .question.ui-sortable-helper .number {
	display: none;
}

li.questionResult.ui-draggable-dragging, li.question.ui-sortable-helper {
    border: 1px dashed black;
}

.placeholder {
	border: 1px dashed;
	height: 2.5em;
}

.upload-theme {
    font-size: small;
    text-align: right;
}
