#exam-list {
	width: 100%;
}

#exam-list td.delete {
	width: 20px;
}

#exam-list th {
    cursor: pointer;
}

.exam-list h3 a {
	color: inherit;
}

.exam-list ol {
    list-style: none;
	margin-bottom: 1em;
}

.favourites {
	margin-bottom: 2em;
}

.exam:not(:last-child) {
	border-bottom: 1px solid #eee;
}

.exam .admin {
	float: right;
}

.exam .name {
    font-weight: bold;
}
.exam .note {
    padding-left: 2em;
}
.exam .picked-by {
    font-style: italic;
    font-size: 0.9em;
    margin-left: -1.5em;
	display: block;
}
.exam .header {
    margin: 1em 0;
}
