{% load editor_controls %}
<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.currentTab().id)=='marking-settings'}">
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        {% include "question/generic_part_marking_settings.html" %}
        <div data-bind="fadeVisible: all_gaps_same_type">
            {% booleanproperty 'sortAnswers' 'Sort student\'s answers before marking?' help_url='question/parts/gapfill.html#term-sort-student-s-answers-before-marking' %}
        </div>
    </form>
</section>
