{% load editor_controls %}
{% load helplink %}

<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.tabber.currentTab().id)=='marking-settings'}">
<form class="form-horizontal" data-bind="submit: Editor.noop">
    <div class="main-settings">
        {% property '$parent.marks' 'Marks' min=0 help_url='question/parts/reference.html#term-Marks' %}

        {% jmeproperty 'answer' 'Correct answer' display_property='displayAnswer' help_url='question/parts/mathematical-expression.html#term-Correct-answer' rules='answerSimplification' %}
        <div data-bind="fadeVisible: answerIsEquation" class="alert alert-warning">
            <p>{% helplink 'question/parts/mathematical-expression.html#marking-an-equation' subject='marking equations' %} The correct answer is an equation. Use the <a href="#" data-bind="click: $parent.tabber.setTab('checking-accuracy')">accuracy tab</a> to generate variable values satisfying this equation so it can be marked accurately.</p>
        </div>
    </div>

    <hr>
    {% include "question/generic_part_marking_settings.html" %}

    <h4>Advanced settings</h4>
    <hr>
    {% property 'answerSimplification' 'Answer simplification rules' monospace=True help_url='question/parts/mathematical-expression.html#term-Answer-simplification-rules' %}
    {% booleanproperty 'showPreview' 'Show preview of student\'s answer?' help_url='question/parts/mathematical-expression.html#term-Show-preview-of-student-s-answer' %}
    {% booleanproperty 'caseSensitive' 'Expression is case-sensitive?' help_url='question/parts/mathematical-expression.html#term-Expression-is-case-sensitive' %}
</form>
</section>
<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.tabber.currentTab().id)=='checking-accuracy'}">
<form class="form-horizontal" data-bind="submit: Editor.noop">
    <h4>Checking accuracy</h4>
    <p class="help-block">
        {% helplink 'question/parts/mathematical-expression.html#string-restrictions' subject='the advice section' %}
        Define the range of points over which the student's answer will be compared with the correct answer, and the method used to compare them.
    </p>
    <div class="form-group">
        <label for="input-checkingType" class="{{form_label_class}} control-label">
            Checking type {% helplink 'question/parts/mathematical-expression.html#term-Checking-type' %}
        </label>
        <div class="{{form_control_class}}">
            <select id="input-checkingType" {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: checkingTypes, value: checkingType, optionsText:'niceName'"></select>
        </div>
    </div>
    {% property 'checkingType().accuracy' 'Checking accuracy' min=0 help_url='question/parts/mathematical-expression.html#term-Checking-accuracy' %}
    {% property 'vset.points' 'Points to check' help_url='question/parts/mathematical-expression.html#term-Points-to-check' %}
    {% property 'failureRate' 'Maximum no. of failures' min=0 max='vset.points' help_url='question/parts/mathematical-expression.html#term-Maximum-no.-of-failures' %}
    {% property 'vset.start' 'Checking range start' max='vset.end' help_url='question/parts/mathematical-expression.html#term-Checking-range-start' %}
    {% property 'vset.end' 'Checking range end' help_url='question/parts/mathematical-expression.html#term-Checking-range-end' %}

    <div data-bind="visible: valueGenerators().length">
        <h4>Variable value generators</h4>
        <p class="help-block">
            {% helplink 'question/parts/mathematical-expression.html#variable-value-generators' subject='the advice section' %}
            Give expressions which produce values for each of the variables in the expected answer. Leave blank to pick a random value from the range defined above, following the inferred type of the variable.
        </p>
        <div data-bind="foreach: valueGenerators">
            <div class="form-group">
                <label class="{{form_label_class}} control-label" data-bind="attr: {for: 'input-inferredType-'+$index()}">
                    <span><code data-bind="text: name"></code></span>
                </label>
                <div class="{{form_control_class}} jme-property">
                    {% jme_input 'value' id="'input-inferredType-'+$index()" dynamic_id=True %}
                    <span class="help-block help-block-inline" data-bind="visible: inferredType">(this might be a <span data-bind="text: inferredType"></span>)</span>
                </div>
            </div>
        </div>
    </div>
</form>
</section>
<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.tabber.currentTab().id)=='restrictions'}">
    <div class="main-settings">
    <h4>Pattern restriction</h4>
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        <div class="form-group">
            <label for="input-mustmatchpattern-pattern" class="col-sm-3 control-label">
                Pattern student's answer must match
                {% helplink 'question/parts/mathematical-expression.html#term-Pattern-student-s-answer-must-match' %}
            </label>
            <div class="col-sm-9">
                <textarea id="input-mustmatchpattern-pattern" {% if not editable %}disabled{% endif %} class="def" data-bind="codemirror: mustmatchpattern.pattern, codemirrorMode: 'jme'"></textarea>
                <output for="input-mustmatchpattern-pattern" data-bind="JME: mustmatchpattern.pattern, parser: Numbas.jme.rules.patternParser" class="jme-preview"></output>
            </div>
        </div>
        <div data-bind="fadeVisible: mustmatchpattern.pattern">
            <div class="form-group" data-bind="fadeVisible: mustmatchpattern.capturedNames().length>0">
                <label for="input-mustmatchpattern-nameToCompare" class="{{form_label_class}} control-label">
                    Part of expression to mark {% helplink 'question/parts/mathematical-expression.html#term-Part-of-expression-to-mark' %}
                </label>
                <div class="{{form_control_class}}">
                    <select id="input-mustmatchpattern-nameToCompare" {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: mustmatchpattern.capturedNameOptions, value: mustmatchpattern.nameToCompare, optionsValue: 'name', optionsText:'label'"></select>
                </div>
            </div>
            <div data-bind="fadeVisible: mustmatchpattern.nameToCompare()==''">
                {% percentproperty 'mustmatchpattern.partialCredit' 'Partial credit for not matching pattern' %}
            </div>

            <div class="form-group">
                <label for="input-mustmatchpattern-warningTime" class="{{form_label_class}} control-label">
                    When to warn the student if their answer does not match the pattern {% helplink 'question/parts/mathematical-expression.html#term-When-to-warn-the-student-if-their-answer-does-not-match-the-pattern' %}
                </label>
                <div class="{{form_control_class}}">
                    <select id="input-mustmatchpattern-warningTime" {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: mustmatchpattern.warningTime.options, value: mustmatchpattern.warningTime, optionsText: 'niceName'"></select>
                </div>
            </div>

            <div class="form-group">
                <label for="input-mustmatchpattern-message" class="{{form_label_class}} control-label">
                    Warning message
                </label>
                <div class="{{form_control_class}}">
                    <div {% if not editable %}disabled{% endif %} data-bind="writemaths: mustmatchpattern.message, wmPara: false, preambleCSS: $root.preamble.css, tinymce_plugins: ['jmevisible','jmepreview']"></div>
                </div>
            </div>
        </div>
    </form>

    <hr>

    <h4>Variables</h4>
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        {% booleanproperty 'checkVariableNames' 'Warn if student uses an unexpected variable name?' help_url='question/parts/mathematical-expression.html#term-Warn-if-student-uses-an-unexpected-variable-name' %}
        {% booleanproperty 'singleLetterVariables' 'Force single letter variable names?' help_url='question/parts/mathematical-expression.html#term-Force-single-letter-variable-names' %}
        {% booleanproperty 'allowUnknownFunctions' 'Allow unknown function names?' help_url='question/parts/mathematical-expression.html#term-Allow-unknown-function-names' %}
        {% booleanproperty 'implicitFunctionComposition' 'Use implicit function composition?' help_url='question/parts/mathematical-expression.html#term-Use-implicit-function-composition' %}
    </form>
    </div>

    <hr>

    <h4>Allowed functions</h4>
    <p class="help-block">Choose the functions and operations that students can use in their answers.</p>

    <p>
        <button type="button" class="btn btn-sm" data-bind="disable: used_functionSets().length==functionSets().length, click: select_all_functionSets">Select all</button>
        <button type="button" class="btn btn-sm" data-bind="disable: used_functionSets().length==0, click: deselect_all_functionSets">Deselect all</button>
        <label class="form-inline">
            Search
            <input class="form-control" type="search" data-bind="textInput: functionSetSearch" placeholder="Function or set name">
        </label>
    </p>
    <div class="well function-sets">
        <ul data-bind="foreach: shown_functionSets">
            <li>
                <input data-bind="attr: {id: 'function-set-'+set.name}, checked: used" type="checkbox">
                <label data-bind="attr: {for: 'function-set-'+set.name}, text: set.description"></label>
                <details class="functions-in-set">
                    <summary data-bind="text: function_names.length+Numbas.util.pluralise(function_names.length, ' function', ' functions')"></summary>
                    <ul data-bind="foreach: function_names" class="list-inline">
                        <li><a data-bind="attr: {href: $parent.help_url + '#' + $data}" target="numbasquickhelp"><code data-bind="text: $data"></code></a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>

    <div class="form-group clearfix">
        <label for="input-enabled-functions" class="{{form_label_class}} control-label">
            Individual allowed functions {% helplink 'question/parts/mathematical-expression.html#term-Individual-allowed-functions' %}
        </label>
        <div class="{{form_control_class}}">
            <listbox params="id: 'input-enabled-functions', items: enabledFunctions{% if not editable %}, disabled: true{% endif %}"></listbox>
        </div>
    </div>

    <div class="form-group clearfix">
        <label for="input-disabled-functions" class="{{form_label_class}} control-label">
            Individual forbidden functions {% helplink 'question/parts/mathematical-expression.html#term-Individual-forbidden-functions' %}
        </label>
        <div class="{{form_control_class}}">
            <listbox params="id: 'input-disabled-functions', items: disabledFunctions{% if not editable %}, disabled: true{% endif %}"></listbox>
        </div>
    </div>

    <hr>

    <h4>String restrictions</h4>
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        {% property 'minlength.length' 'Minimum length' min=0 help_url='question/parts/mathematical-expression.html#term-Minimum-length-restriction' %}
        <div data-bind="fadeVisible: minlength.length()>0">
            {% percentproperty 'minlength.partialCredit' 'Partial credit for short answer' %}
            <div class="form-group">
                <label for="input-minlength-message" class="{{form_label_class}} control-label">
                    Warning message
                </label>
                <div {% if not editable %}disabled{% endif %} class="{{form_control_class}}" data-bind="writemaths: minlength.message, wmPara: false, preambleCSS: $root.preamble.css, tinymce_plugins: ['jmevisible','jmepreview']"></div>
            </div>
        </div>
    </form>
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        {% property 'maxlength.length' 'Maximum length' min=0 help_url='question/parts/mathematical-expression.html#term-Maximum-length-restriction' zero_means='no maximum' %}
        <div data-bind="fadeVisible: maxlength.length()>0">
            {% percentproperty 'maxlength.partialCredit' 'Partial credit for long answer' %}
            <div class="form-group">
                <label for="inut-maxlength-message" class="{{form_label_class}} control-label">
                    Warning message
                </label>
                <div {% if not editable %}disabled{% endif %} class="{{form_control_class}}" data-bind="writemaths: maxlength.message, wmPara: false, preambleCSS: $root.preamble.css, tinymce_plugins: ['jmevisible','jmepreview']"></div>
            </div>
        </div>
    </form>

    <form class="form-horizontal" data-bind="submit: Editor.noop">
        <div class="form-group">
            <label for="input-musthave-strings" class="{{form_label_class}} control-label">
                Required strings {% helplink 'question/parts/mathematical-expression.html#term-Required-strings' %}
            </label>
            <div class="{{form_control_class}}">
                <listbox params="id: 'input-musthave-strings', items: musthave.strings{% if not editable %}, disabled: true{% endif %}"></listbox>
            </div>
        </div>
        <div data-bind="fadeVisible: musthave.strings().length>0">
            {% percentproperty 'musthave.partialCredit' 'Partial credit for not using all required strings' %}
            {% booleanproperty 'musthave.showStrings' 'Show required strings in warning?' %}
            <div class="form-group">
                <label for="input-musthave-message" class="{{form_label_class}} control-label">
                    Warning message
                </label>
                <div class="{{form_control_class}}">
                    <div {% if not editable %}disabled{% endif %} data-bind="writemaths: musthave.message, wmPara: false, preambleCSS: $root.preamble.css, tinymce_plugins: ['jmevisible','jmepreview']"></div>
                </div>
            </div>
        </div>
    </form>

    <form class="form-horizontal" data-bind="submit: Editor.noop">
        <div class="form-group">
            <label for="input-notallowed-strings" class="{{form_label_class}} control-label">
                Forbidden strings: {% helplink 'question/parts/mathematical-expression.html#term-Forbidden-strings' %}
            </label>
            <div class="{{form_control_class}}">
                <listbox params="id: 'input-notallowed-strings', items: notallowed.strings{% if not editable %}, disabled: true{% endif %}"></listbox>
            </div>
        </div>
        <div data-bind="fadeVisible: notallowed.strings().length>0">
            {% percentproperty 'notallowed.partialCredit' 'Partial credit for using any forbidden string' %}
            {% booleanproperty 'notallowed.showStrings' 'Show forbidden strings in warning?' %}
            <div class="form-group">
                <label for="input-notallowed-message" class="{{form_label_class}} control-label">
                    Warning message
                </label>
                <div class="{{form_control_class}}">
                    <div {% if not editable %}disabled{% endif %} data-bind="writemaths: notallowed.message, wmPara: false, preambleCSS: $root.preamble.css, tinymce_plugins: ['jmevisible','jmepreview']"></div>
                </div>
            </div>
        </div>
    </form>

</section>
