{% load editor_controls %}
{% load helplink %}
<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.tabber.currentTab().id)=='marking-settings'}">
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        <div class="main-settings">
            {% property 'minMarks' 'Minimum marks' help_url='question/parts/multiple-choice.html#term-Minimum-marks' %}
            {% property 'maxMarks' 'Maximum marks' min='minMarks' help_url='question/parts/multiple-choice.html#term-Maximum-marks' zero_means='no maximum' %}

        </div>

        <hr>
        {% include "question/generic_part_marking_settings.html" %}

        <h4>Advanced settings</h4>
        <hr>

        {% property 'minAnswers' 'Minimum answers' max='maxAnswers' help_url='question/parts/multiple-choice.html#term-Minimum-answers' %}
        {% property 'maxAnswers' 'Maximum answers' min=minAnswers help_url='question/parts/multiple-choice.html#term-Maximum-answers' zero_means='no maximum' %}
        <div class="form-group" data-bind="fadeVisible: minAnswers()!=0 || maxAnswers()!=0">
            <label for="input-warningType" class="{{form_label_class}} control-label">
                What to do if wrong number of answers selected: {% helplink 'question/parts/multiple-choice.html#term-What-to-do-if-wrong-number-of-answers-selected' %}
            </label>
            <div class="{{form_control_class}}">
                <select id="input-warningType" {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: warningTypes, value: warningType, optionsText: 'niceName'"></select>
            </div>
        </div>

        <div class="form-group">
            <label for="input-displayType" class="{{form_label_class}} control-label">
                Selection type {% helplink 'question/parts/multiple-choice.html#term-Selection-type' %}
            </label>
            <div class="{{form_control_class}}">
                <select id="input-displayType" {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: displayTypes, value: displayType, optionsText: 'niceName'"></select>
            </div>
        </div>

        <div class="form-group">
            <label for="input-layoutType" class="{{form_label_class}} control-label">
                Layout {% helplink 'question/parts/multiple-choice.html#term-Layout' %}
            </label>
            <div class="{{form_control_class}}">
                <select id="input-layoutType" {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: layoutTypes, value: layoutType, optionsText: 'niceName'"></select>
            </div>
        </div>

        <div data-bind="fadeVisible: layoutType().name=='expression'">
            {% property 'layoutExpression' 'Custom layout expression' monospace=True %}
        </div>

        <hr>

        {% booleanproperty 'showCellAnswerState' 'Show choice feedback state?' help_url='question/parts/multiple-choice.html#term-Show-choice-feedback-state' %}    
    </form>
</section>

<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.tabber.currentTab().id)=='choices'}">
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        {% booleanproperty 'customChoices' 'Variable list of choices?' help_url='question/parts/multiple-choice.html#term-Variable-list-of-choices' %}
        <div data-bind="fadeVisible: customChoices">
            {% property 'customChoicesExpression' 'List of choices' monospace=True help_url='question/parts/multiple-choice.html#term-List-of-choices' %}
        </div>
        {% booleanproperty 'shuffleChoices' 'Shuffle order of choices?' help_url='question/parts/multiple-choice.html#term-Shuffle-order-of-choices' %}

        {% property 'choicesHeader' 'Text before choices' help_url='question/parts/multiple-choice.html#term-Text-before-choices-match-choices-with-answers-only' %}
    </form>
    <ul class="choices list-unstyled list-group" data-bind="fadeVisible: !customChoices()">
        <!-- ko foreach: {data: choices, afterAdd: Editor.afterAdd} -->
        <li class="choice form-inline list-group-item clearfix">
            <div class="col-sm-9">
                <div {% if not editable %}disabled{% endif %} id="description" data-bind="writemaths: content, wmPara: false, wmHeight: 100, preambleCSS: $root.preamble.css, tinymce_plugins: ['jmevisible','jmepreview']"></div>
            </div>
            <div class="col-sm-3">
                {% if editable %}<button type="button" type="button" class="delete btn btn-sm btn-danger btn-block" data-bind="click:remove"><span class="glyphicon glyphicon-remove"></span> Delete this choice</button>{% endif %}
            </div>
        </li>
        <!-- /ko -->
    </ul>
    {% if editable %}<button type="button" class="btn btn-primary" data-bind="click:addChoice, fadeVisible: !customChoices()"><span class="glyphicon glyphicon-plus"></span> Add a choice</button>{% endif %}
</section>

<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.tabber.currentTab().id)=='answers'}">
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        {% booleanproperty 'customAnswers' 'Variable list of answers?' help_url='question/parts/multiple-choice.html#term-Variable-list-of-answers' %}
        <div data-bind="fadeVisible: customAnswers">
            {% property 'customAnswersExpression' 'List of answers' monospace=True help_url='question/parts/multiple-choice.html#term-List-of-answers' %}
        </div>
        {% booleanproperty 'shuffleAnswers' 'Shuffle order of answers?' help_url='question/parts/multiple-choice.html#term-Shuffle-order-of-answers' %}

        {% property 'answersHeader' 'Text above answers' help_url='question/parts/multiple-choice.html#term-Text-above-answers' %}
    </form>
    <ul class="answers list-unstyled list-group" data-bind="fadeVisible: !customAnswers()">
        <!-- ko foreach: {data: answers, afterAdd: Editor.afterAdd} -->
        <li class="answer form-inline list-group-item clearfix">
            <div class="col-sm-9">
                <div {% if not editable %}disabled{% endif %} id="description" data-bind="writemaths: content, wmPara: false, wmHeight: 100, preambleCSS: $root.preamble.css, tinymce_plugins: ['jmevisible','jmepreview']"></div>
            </div>
            <div class="col-sm-3">
                {% if editable %}<button type="button" type="button" class="delete btn btn-sm btn-danger btn-block" data-bind="click:remove"><span class="glyphicon glyphicon-remove"></span> Delete this answer</button>{% endif %}
            </div>
        </li>
        <!-- /ko -->
    </ul>
    {% if editable %}<button type="button" class="btn btn-primary" data-bind="click:addAnswer, fadeVisible: !customAnswers()"><span class="glyphicon glyphicon-plus"></span> Add an answer</button>{% endif %}
</section>

<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.tabber.currentTab().id)=='matrix'}">
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        <div class="form-group" data-bind="fadeVisible: displayType().name=='checkbox'">
            <label for="input-markingMethod" class="{{form_label_class}} control-label">
                Marking method {% helplink 'question/parts/multiple-choice.html#term-Marking-method' %}
            </label>
            <div class="{{form_control_class}}">
                <select id="input-markingMethod" {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: markingMethods, value: markingMethod, optionsText: 'niceName'"></select>
            </div>
        </div>

        <div class="alert alert-warning" data-bind="fadeVisible: displayType().name=='checkbox' && markingMethod().needsMaxMarks && !parseInt(maxMarks())">
            <p>You must set a <a href="#" data-bind="click: $parent.tabber.setTab('marking-settings')">maximum number of marks</a> in order to use this marking method.</p>
        </div>

        {% booleanproperty 'customMarking' 'Custom marking matrix?' help_url='question/parts/multiple-choice.html#term-Custom-marking-matrix' disable='customChoices() || customAnswers()' %}
        <div data-bind="fadeVisible: customMarking">
            {% property 'customMatrix' 'Custom matrix expression' monospace=True help_url='question/parts/multiple-choice.html#term-Custom-matrix-expression' %}
        </div>
    </form>

    <div class="help-block" data-bind="fadeVisible: displayType().name=='radiogroup' || markingMethod().name=='sum ticked cells'">
        <p>For each combination of answer and choice, specify the number of marks to add or subtract when the student picks it.</p>
    </div>
    <div class="help-block" data-bind="fadeVisible: displayType().name=='checkbox' && (markingMethod().name=='score per matched cell' || markingMethod().name=='all-or-nothing')">
        <p>For each combination of answer and choice, write 1 if the student should tick it, or 0 if they should leave it unticked.</p>
    </div>

    <div class="marking-matrix" data-bind="fadeVisible: showMarkingMatrix">
        <table class="table form-inline">
            <thead>
                <tr>
                    <td></td>
                    <!-- ko foreach: answers -->
                    <th data-bind="latex: content"></th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: matrix -->
                <tr>
                    <th data-bind="latex: $parent.choices()[$index()].content"></th>

                    <!-- ko foreach: $data -->
                    <td>
                        <input {% if not editable %}disabled{% endif %} class="form-control marks monospace" type="text" data-bind="textInput: marks, autosize: marks"/>
                    </td>
                    <!-- /ko -->
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
    <div class="nothing-here" data-bind="fadeVisible: !showMarkingMatrix() && !customMarking()">Both choices and answers must be defined for this part.</div>
</section>

