{% load editor_controls %}
{% load helplink %}
<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.tabber.currentTab().id)=='marking-settings'}">
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        <div class="main-settings">
            {% property 'minMarks' 'Minimum marks' help_url='question/parts/multiple-choice.html#term-minimum-marks' %}
            {% property 'maxMarks' 'Maximum marks' min='minMarks' help_url='question/parts/multiple-choice.html#term-maximum-marks' zero_means='no maximum' %}
        </div>

        <hr>
        {% include "question/generic_part_marking_settings.html" %}

        <h4>Advanced settings</h4>
        <hr>

        {% property 'displayColumns' 'Number of display columns' help_url='question/parts/multiple-choice.html#term-number-of-display-columns' zero_means='not displayed in columns' %}
        {% property 'minAnswers' 'Minimum answers' max='maxAnswers' help_url='question/parts/multiple-choice.html#term-minimum-answers' min=0 %}
        {% property 'maxAnswers' 'Maximum answers' min=minAnswers help_url='question/parts/multiple-choice.html#term-maximum-answers' zero_means='no maximum' %}
        <div class="form-group" data-bind="fadeVisible: minAnswers()!=0 || maxAnswers()!=0">
            <label class="{{form_label_class}} control-label">
                What to do if wrong number of answers selected: {% helplink 'question/parts/multiple-choice.html#term-what-to-do-if-wrong-number-of-answers-selected' %}
            </label>
            <div class="{{form_control_class}}">
                <select {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: warningTypes, value: warningType, optionsText: 'niceName'"></select>
            </div>
        </div>
        {% booleanproperty 'customMarking' 'Custom marking matrix?' help_url='question/parts/multiple-choice.html#term-custom-marking-matrix' disable='customChoices' %}
        <div data-bind="fadeVisible: customMarking">
            {% property 'customMatrix' 'Custom matrix expression' monospace=True help_url='question/parts/multiple-choice.html#term-custom-matrix-expression' %}
        </div>

        <hr>
        {% booleanproperty 'showCellAnswerState' 'Show choice feedback state?' help_url='question/parts/multiple-choice.html#term-show-choice-feedback-state' %}    
    </form>
</section>
<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.tabber.currentTab().id)=='choices'}">
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        <div class="form-group">
            <label class="{{form_label_class}} control-label">
                Marking method {% helplink 'question/parts/multiple-choice.html#term-marking-method' %}
            </label>
            <div class="{{form_control_class}}">
                <select {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: markingMethods, value: markingMethod, optionsText: 'niceName'"></select>
                <div class="help-block" data-bind="fadeVisible: markingMethod().name=='sum ticked cells'">
                    <p>For each choice, specify the number of marks to add or subtract when the student picks it.</p>
                </div>
                <div class="help-block" data-bind="fadeVisible: markingMethod().name=='score per matched cell' || markingMethod().name=='all-or-nothing'">
                    <p>For each choice, write 1 if the student should tick it, or 0 if they should leave it unticked.</p>
                </div>
            </div>
        </div>

        <div class="alert alert-warning" data-bind="fadeVisible: markingMethod().needsMaxMarks && !parseInt(maxMarks())">
            <p>You must set a <a href="#" data-bind="click: $parent.tabber.setTab('marking-settings')">maximum number of marks</a> in order to use this marking method.</p>
        </div>

        {% booleanproperty 'customChoices' 'Variable list of choices?' help_url='question/parts/multiple-choice.html#term-variable-list-of-choices' %}
        <div data-bind="fadeVisible: customChoices">
            {% property 'customChoicesExpression' 'List of choices' monospace=True help_url='question/parts/multiple-choice.html#term-list-of-choices' %}
        </div>
        {% booleanproperty 'shuffleChoices' 'Shuffle order of choices?' help_url='question/parts/multiple-choice.html#term-shuffle-order-of-choices' %}
    </form>

    <ul class="choices list-unstyled list-group" data-bind="fadeVisible: !customChoices()">
        <!-- ko foreach: {data: choices, afterAdd: Editor.afterAdd} -->
        <li class="choice form-inline list-group-item clearfix">
            <div class="col-sm-9">
                <div {% if not editable %}disabled{% endif %} id="description" data-bind="writemaths: content, wmPara: false, wmHeight: 100, preambleCSS: $root.preamble.css, tinymce_plugins: ['jmevisible','jmepreview']"></div>
            </div>
            <div class="col-sm-3">
                {% if editable %}<button type="button" type="button" class="delete btn btn-sm btn-danger btn-block" data-bind="click:remove"><span class="glyphicon glyphicon-remove"></span> Delete this choice</button>{% endif %}

                <label data-bind="visible: !$parent.customMarking()">
                    Marks:
                    <input {% if not editable %}disabled{% endif %} class="marks monospace form-control" type="text" data-bind="textInput:marks"/>
                </label>
                <label>
                    Distractor Message:
                    <input {% if not editable %}disabled{% endif %} class="form-control" type="text" data-bind="textInput:distractor"/>
                </label>
            </div>
        </li>
        <!-- /ko -->
    </ul>
    {% if editable %}<button type="button" class="btn btn-primary" data-bind="click:addChoice, fadeVisible: !customChoices()"><span class="glyphicon glyphicon-plus"></span> Add a choice</button>{% endif %}
</section>
