{% load editor_controls %}
{% load helplink %}
<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.currentTab().id)=='marking-settings'}">
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        <div class="main-settings">
            {% property 'minMarks' 'Minimum marks' help_url='question/parts/multiple-choice.html#term-minimum-marks' %}
            {% property 'maxMarks' 'Maximum marks' min='minMarks' help_url='question/parts/multiple-choice.html#term-maximum-marks' zero_means='no maximum' %}
            <div data-bind="visible: $parent.steps().length">
                {% property '$parent.stepsPenalty' 'Penalty for revealing steps' min=0 help_url='question/parts/reference.html#term-penalty-for-revealing-steps' %}
            </div>

            {% booleanproperty 'shuffleChoices' 'Shuffle order of choices?' help_url='question/parts/multiple-choice.html#term-shuffle-order-of-choices' %}
            {% booleanproperty 'shuffleAnswers' 'Shuffle order of answers?' help_url='question/parts/multiple-choice.html#term-shuffle-order-of-answers' %}
        </div>

        <h4>Advanced settings</h4>
        <hr>

        {% property 'minAnswers' 'Minimum answers' max='maxAnswers' help_url='question/parts/multiple-choice.html#term-minimum-answers' %}
        {% property 'maxAnswers' 'Maximum answers' min=minAnswers help_url='question/parts/multiple-choice.html#term-maximum-answers' zero_means='no maximum' %}
        <div class="form-group" data-bind="fadeVisible: minAnswers()!=0 || maxAnswers()!=0">
            <label class="{{form_label_class}} control-label">
                What to do if wrong number of answers selected: {% helplink 'question/parts/multiple-choice.html#term-what-to-do-if-wrong-number-of-answers-selected' %}
            </label>
            <div class="{{form_control_class}}">
                <select {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: warningTypes, value: warningType, optionsText: 'niceName'"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="{{form_label_class}} control-label">
                Selection type {% helplink 'question/parts/multiple-choice.html#term-selection-type' %}
            </label>
            <div class="{{form_control_class}}">
                <select {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: displayTypes, value: displayType, optionsText: 'niceName'"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="{{form_label_class}} control-label">
                Layout {% helplink 'question/parts/multiple-choice.html#term-layout-match-choices-with-answers-only' %}
            </label>
            <div class="{{form_control_class}}">
                <select {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: layoutTypes, value: layoutType, optionsText: 'niceName'"></select>
            </div>
        </div>

        <div data-bind="fadeVisible: layoutType().name=='expression'">
            {% property 'layoutExpression' 'Custom layout expression' monospace=True %}
        </div>

        <hr>

        {% booleanproperty '$parent.showCorrectAnswer' 'Show correct answer on reveal?' help_url='question/parts/reference.html#term-show-correct-answer-on-reveal' %}
        {% booleanproperty '$parent.showFeedbackIcon' 'Show score feedback icon?' help_url='question/parts/reference.html#term-show-score-feedback-icon' %}    
    </form>
</section>

<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.currentTab().id)=='choices'}">
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        {% booleanproperty 'customChoices' 'Variable list of choices?' help_url='question/parts/multiple-choice.html#term-variable-list-of-choices' %}
        <div data-bind="fadeVisible: customChoices">
            {% property 'customChoicesExpression' 'List of choices' monospace=True help_url='question/parts/multiple-choice.html#term-list-of-choices' %}
        </div>
    </form>
    <ul class="choices list-unstyled list-group" data-bind="fadeVisible: !customChoices()">
        <!-- ko foreach: {data: choices, afterAdd: Editor.afterAdd} -->
        <li class="choice form-inline list-group-item clearfix">
            <div class="col-sm-9">
                <div {% if not editable %}disabled{% endif %} id="description" data-bind="writemaths: content, wmPara: false, wmHeight: 100, preambleCSS: $root.preamble.css, tinymce_plugins: ['jmevisible','preview']"></div>
            </div>
            <div class="col-sm-3">
                {% if editable %}<button type="button" type="button" class="delete btn btn-sm btn-danger btn-block" data-bind="click:remove"><span class="glyphicon glyphicon-remove"></span> Delete this choice</button>{% endif %}
            </div>
        </li>
        <!-- /ko -->
    </ul>
    {% if editable %}<button type="button" class="btn btn-primary" data-bind="click:addChoice, fadeVisible: !customChoices()"><span class="glyphicon glyphicon-plus"></span> Add a choice</button>{% endif %}
</section>

<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.currentTab().id)=='answers'}">
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        {% booleanproperty 'customAnswers' 'Variable list of answers?' help_url='question/parts/multiple-choice.html#term-variable-list-of-answers' %}
        <div data-bind="fadeVisible: customAnswers">
            {% property 'customAnswersExpression' 'List of answers' monospace=True help_url='question/parts/multiple-choice.html#term-list-of-answers' %}
        </div>
    </form>
    <ul class="answers list-unstyled list-group" data-bind="fadeVisible: !customAnswers()">
        <!-- ko foreach: {data: answers, afterAdd: Editor.afterAdd} -->
        <li class="answer form-inline list-group-item clearfix">
            <div class="col-sm-9">
                <div {% if not editable %}disabled{% endif %} id="description" data-bind="writemaths: content, wmPara: false, wmHeight: 100, preambleCSS: $root.preamble.css, tinymce_plugins: ['jmevisible','preview']"></div>
            </div>
            <div class="col-sm-3">
                {% if editable %}<button type="button" type="button" class="delete btn btn-sm btn-danger btn-block" data-bind="click:remove"><span class="glyphicon glyphicon-remove"></span> Delete this answer</button>{% endif %}
            </div>
        </li>
        <!-- /ko -->
    </ul>
    {% if editable %}<button type="button" class="btn btn-primary" data-bind="click:addAnswer, fadeVisible: !customAnswers()"><span class="glyphicon glyphicon-plus"></span> Add an answer</button>{% endif %}
</section>

<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.currentTab().id)=='matrix'}">
    <form class="form-horizontal" data-bind="submit: Editor.noop">
        {% booleanproperty 'customMarking' 'Custom marking matrix?' help_url='question/parts/multiple-choice.html#term-custom-marking-matrix' disable='customChoices() || customAnswers()' %}
        <div data-bind="fadeVisible: customMarking">
            {% property 'customMatrix' 'Custom matrix expression' monospace=True help_url='question/parts/multiple-choice.html#term-custom-matrix-expression' %}
        </div>
    </form>

    <div class="matrix" data-bind="fadeVisible: showMarkingMatrix">
        <table class="marking-matrix table form-inline">
            <thead>
                <tr>
                    <td></td>
                    <th data-bind="attr: {colspan: answers().length}" class="answers">Answers</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: matrix -->
                <tr>
                    <!-- ko if: $index()==0 -->
                    <th data-bind="attr: {rowspan: $parent.choices().length}" class="choices">Choices</th>
                    <!-- /ko -->

                    <!-- ko foreach: $data -->
                    <td>
                        <input {% if not editable %}disabled{% endif %} class="form-control" type="text" class="marks monospace" data-bind="textInput: marks"/>
                    </td>
                    <!-- /ko -->
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
    <div class="nothing-here" data-bind="fadeVisible: !showMarkingMatrix() && !customMarking()">Both choices and answers must be defined for this part.</div>
</section>

