{% load editor_controls %}
{% load helplink %}
<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.currentTab().id)=='marking-settings'}">
<form class="form-horizontal" data-bind="submit: Editor.noop">
    <div class="main-settings">
        {% property '$parent.marks' 'Marks' min=0 help_url='question/parts/reference.html#term-marks' %}

        <div class="form-group">
            <label class="{{form_label_class}} control-label">
                Correct answer
            </label>
            <div class="{{form_control_class}}">
                <textarea {% if not editable %}disabled{% endif %} data-bind="codemirror: correctAnswer, codemirrorMode: 'jme'"></textarea>
            </div>
        </div>
    </div>

    <hr>
    {% include "question/generic_part_marking_settings.html" %}
    
    <h4>Advanced settings</h4>
    <hr>

    {% property 'numRows' 'Number of rows' min=1 help_url='question/parts/matrixentry.html#term-number-of-rows' %}
    {% property 'numColumns' 'Number of columns' min=1 help_url='question/parts/matrixentry.html#term-number-of-columns' %}
    {% booleanproperty 'allowResize' 'Allow student to change size of matrix?' help_url='question/parts/matrixentry.html#term-allow-student-to-change-size-of-matrix' %}
    <div data-bind="fadeVisible: allowResize">
        {% property 'minRows' 'Minimum number of rows' help_url='question/parts/matrixentry.html#term-minimum-number-of-rows' zero_means='No limit' %}
        {% property 'maxRows' 'Maximum number of rows' help_url='question/parts/matrixentry.html#term-maximum-number-of-rows' zero_means='No limit' %}
        {% property 'minColumns' 'Minimum number of columns' help_url='question/parts/matrixentry.html#term-minimum-number-of-columns' zero_means='No limit' %}
        {% property 'maxColumns' 'Maximum number of columns' help_url='question/parts/matrixentry.html#term-maximum-number-of-columns' zero_means='No limit' %}
    </div>

    <hr>

    {% property 'tolerance' 'Margin of error allowed in each cell' min=0 help_url='question/parts/matrixentry.html#term-margin-of-error-allowed-in-each-cell' %}
    {% booleanproperty 'markPerCell' 'Gain marks for each correct cell?' help_url='question/parts/matrixentry.html#term-gain-marks-for-each-correct-cell' %}

    <hr>
    <div class="form-group">
        <label class="{{form_label_class}} control-label">
            Precision restriction {% helplink 'question/parts/matrixentry.html#term-precision-restriction' %}
        </label>
        <div class="{{form_control_class}}">
            <select {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: precisionTypes, value: precisionType, optionsText: 'niceName'"></select>
        </div>
    </div>
    <div data-bind="fadeVisible: precisionType().name!='none'">
        {% property 'precision' 'precisionWord' dynamic_label=True %}
        {% booleanproperty 'strictPrecision' 'Require trailing zeros?' help_url='question/parts/matrixentry.html#term-require-trailing-zeros' %}
        {% percentproperty 'precisionPartialCredit' 'Partial credit for wrong precision' %}
        <div class="form-group">
            <label class="{{form_label_class}} control-label">
                Message if wrong precision
            </label>
            <div {% if not editable %}disabled{% endif %} class="{{form_control_class}}" data-bind="writemaths: precisionMessage, wmPara: false, preambleCSS: $root.preamble.css, tinymce_plugins: ['jmevisible','preview']"></div>
        </div>
    </div>

    <div data-bind="fadeVisible: fractionPossible">
        {% booleanproperty 'allowFractions' 'Allow the student to enter fractions?' help_url='question/parts/matrixentry.html#term-allow-the-student-to-enter-fractions' %}
        {% booleanproperty 'correctAnswerFractions' 'Display numbers in the correct answer as fractions?' help_url='question/parts/matrixentry.html#term-display-numbers-in-the-correct-answer-as-fractions' %}
    </div>

</form>
</section>
