{% load editor_controls %}
{% load helplink %}
<section class="tab-pane" data-bind="css: {active: ko.utils.unwrapObservable($parent.tabber.currentTab().id)=='marking-settings'}">
<form class="form-horizontal" data-bind="submit: Editor.noop">
    <div class="main-settings">
        {% property '$parent.marks' 'Marks' min=0 help_url='question/parts/reference.html#term-Marks' %}

        {% property 'minValue' 'Minimum accepted value' monospace=True help_url='question/parts/numberentry.html#term-Minimum-accepted-value' %}
        {% property 'maxValue' 'Maximum accepted value' monospace=True help_url='question/parts/numberentry.html#term-Maximum-accepted-value' %}
    </div>

    <hr>
    {% include "question/generic_part_marking_settings.html" %}

    <h4>Advanced settings</h4>
    <hr>
    <div class="form-group">
        <label class="label-block">
            <div class="{{form_label_class}} control-label">
                Display answer {% helplink 'question/parts/numberentry.html#term-Display-answer' %}
            </div>
            <div class="{{form_control_class}}">
                {% text_input 'displayAnswer' monospace=True %}
                <div class="help-block" data-bind="visible: ko.unwrap(displayAnswer)==''">(The midpoint of the minimum and maximum accepted values)</div>
            </div>
        </label>
    </div>
    <div class="form-group">
        <label class="{{form_label_class}} control-label">
            Precision restriction {% helplink 'question/parts/numberentry.html#term-Precision-restriction' %}
        </label>
        <div class="{{form_control_class}}">
            <select {% if not editable %}disabled{% endif %} class="form-control" data-bind="options: precisionTypes, value: precisionType, optionsText: 'niceName'"></select>
        </div>
    </div>
    <div data-bind="fadeVisible: fractionPossible">
        {% booleanproperty 'allowFractions' 'Allow the student to enter a fraction?' help_url='question/parts/numberentry.html#term-Allow-the-student-to-enter-a-fraction' %}
    </div>
    <div data-bind="fadeVisible: allowFractions">
        <div data-bind="fadeVisible: fractionPossible">
            {% booleanproperty 'mustBeReduced' 'Must the fraction be reduced?' help_url='question/parts/numberentry.html#term-must-the-fraction-be-reduced' %}
            {% booleanproperty 'showFractionHint' 'Show fraction input hint?' help_url='question/parts/numberentry.html#term-Show-fraction-input-hint' %}
        </div>
        <div data-bind="fadeVisible: mustBeReduced">
            {% percentproperty 'mustBeReducedPC' 'Partial credit for unreduced fraction' %}
        </div>
        <div data-bind="fadeVisible: fractionPossible">
            {% booleanproperty 'correctAnswerFraction' 'Display the correct answer as a fraction?' help_url='question/parts/numberentry.html#term-Display-the-correct-answer-as-a-fraction' %}
        </div>
    </div>
    <div class="form-group" data-bind="fadeVisible: precisionType().name!='none'">
        {% property 'precision' 'precisionWord' dynamic_label=True %}
        {% booleanproperty 'strictPrecision' 'Require trailing zeros?' help_url='question/parts/numberentry.html#term-Require-trailing-zeros' %}
        {% booleanproperty 'showPrecisionHint' 'Show precision restriction hint?' help_url='question/parts/numberentry.html#term-Show-precision-restriction-hint' %}
        {% percentproperty 'precisionPartialCredit' 'Partial credit for wrong precision' %}
        <div class="form-group">
            <label class="{{form_label_class}} control-label">
                Message if wrong precision
            </label>
            <div {% if not editable %}disabled{% endif %} class="{{form_control_class}}" data-bind="writemaths: precisionMessage, wmPara: false, preambleCSS: $root.preamble.css, tinymce_plugins: ['jmevisible','jmepreview']"></div>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label class="{{form_label_class}} control-label">Allowed notation {% helplink 'question/parts/numberentry.html#term-Allowed-notation' %}</label>
        <div class="{{form_control_class}}">
            <multi-select-checkboxes params="options: notationStyles, selectedOptions: allowedNotationStyles, labelProperty: 'name', helpProperty: 'description'"></muli-select-checkboxes>
        </div>
    </div>
    {% selectproperty 'correctAnswerStyle' 'Correct answer style' options_text='name' options='allowedNotationStyles' help_url='question/parts/numberentry.html#term-Correct-answer-style' %}
</form>
</section>
