@import url('fonts/source-sans-pro/source-sans-pro.css');

:root {
  /*****************************************************************************
  * Font size
  **/
  --pst-font-size-base: 16px; /* base font size - applied at body / html level */

  --pst-font-size-milli: 14px;

  --pst-sidebar-font-size: 1em;
  --pst-sidebar-caption-font-size: 1em;

  /*****************************************************************************
  * Font family
  **/
  --pst-font-family-base-system: "Source Sans Pro","Helvetica Neue",Arial,sans-serif;

  --pst-font-family-monospace-system: "SFMono-Regular", Menlo, Consolas, Monaco,
    Liberation Mono, Lucida Console, monospace;

  --numbas-color: hsl(203.8, 72.2%, 78.8%);

  /*****************************************************************************
  * Color
  *
  * Colors are defined in rgb string way, "red, green, blue"
  **/
  --pst-color-primary: 19, 6, 84;
  --pst-color-success: 40, 167, 69;
  --pst-color-info: 0, 123, 255; /*23, 162, 184;*/
  --pst-color-warning: 255, 193, 7;
  --pst-color-danger: 220, 53, 69;
  --pst-color-text-base: 51, 51, 51;

  --pst-color-link: 0, 91, 129;
  --pst-color-link-hover: 227, 46, 0;
  --pst-color-headerlink: 198, 15, 15;
  --pst-color-headerlink-hover: 255, 255, 255;
  --pst-color-preformatted-text: 34, 34, 34;
  --pst-color-preformatted-background: 250, 250, 250;
  --pst-color-inline-code: 232, 62, 140;

  --pst-color-active-navigation: 19, 6, 84;
  --pst-color-navbar-link: 77, 77, 77;
  --pst-color-sidebar-link: 77, 77, 77;
  --pst-color-sidebar-expander-background-hover: 244, 244, 244;
  --pst-color-sidebar-caption: 77, 77, 77;
  --pst-color-toc-link: 119, 117, 122;

}

#main-content a.reference {
    text-decoration: underline;
}

.toc-h2 {
 font-size: 1rem;
}
.toc-h3 {
 font-size: 1rem;
}
.toc-h4 {
 font-size: 1rem;
}

.rst-content .topic-title {
	font-size: 1.3em;
}

#main-content img {
	border: 1px solid #999;
    margin: 1em 0;
}

iframe {
    display: block;
    margin: 2em auto;
    max-width: 100%;
}

table.docutils td, table.docutils th {
    white-space: normal;
}


h1,h2,h3 {
	padding: 0.2rem 0;
	margin-left: -1rem;
	border-bottom-width: 0.2em;
	border-bottom-style: solid;
    border-bottom-color: var(--numbas-color);
}

.section * ~ .section {
	margin-top: 3em;
	padding-left: 1rem;
}

.glossary {
	padding: 0.5em 1em;
	border: 2px solid var(--numbas-color);
}


#main-content div.figure {
    padding: 1em 1em 0.5em 1em;
    border: 0.4em solid var(--numbas-color);
    background: hsl(0, 0%, 93%);
    text-align: center;
}

.toctree-wrapper > .caption {
    font-weight: bold;
    font-size: 1.5rem;
}

video {
    max-width: 100%;
}
