.parts > .part + .part.root {

    margin-top: 1em;
}

.part .part-controls {
    margin: 1em 0;
}
.part .part-controls > button {
    margin: 0.2em 0;
}
.part > .children-description {
    display: block;
}
.part.active > .children-description {
    color: #ddd;
}

.part > .panel-heading,
.unit-test > .panel-heading {
    cursor: s-resize;
}
.part.open > .panel-heading,
.unit-test.open > .panel-heading {
    cursor: n-resize;
}

.parts-tree > .list-group {
    max-height: 60vh;
    overflow-y: auto;
}
.parts-tree > .list-group > ol {
    margin-bottom: 1px;
}

.parts-tree .add {
    border-top: none;
    font-size: 0.8em;
    padding: 0.3em 0.3em 0.8em 0.3em;
}
.parts-tree .add .btn {
    vertical-align: baseline;
}

.parts-tree .part.adding {
    font-style: italic;
    padding: 0 1em;
}

.parts-tree .children {
    margin-left: 2em;
    border-left: 1px solid #ddd;
}

.parts-tree .children-header {
    font-size: 0.8em;
    padding: 0.2em 0em 0.2em 0.51em;
    font-weight: bold;
    margin: 0 0 0.5em 0;
    background-color: hsl(200, 65.2%, 91%);
}
.parts-tree .children .part {
    padding: 0.2em 0.5em;
}
.parts-tree .children .part:first-child {
    border-top: 0;
}
.parts-tree .children .part:last-child {
    border-bottom: 0;
}

.part-tabs {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.part-tabs li.more-important + li:not(.more-important) {
    margin-left: 1em;
}

.part-tabs > li:not(.in-use):not(.more-important):not(.active) > a {
    color: hsl(204, 40%, 55%);
}

.part-header-controls .btn {
    color: inherit;
}

.part .custom-name {
    border: none;
    border-bottom: 2px solid transparent;
    padding: 0;
    font-weight: bold;
    width: auto;
    display: inline-block;
    font-size: 1em;
    color: inherit;
    border-radius: 0;
    transition: border-bottom-color 0.2s;
}
.part .custom-name:hover {
    border-bottom-color: black;
}
.part .custom-name:focus {
    border-bottom-color: black;
}
.part .custom-name:not(:focus)::placeholder {
    color: inherit;
}

.part select.type {
    margin-left: 1em;
}

.part .form-horizontal .form-control {
    display: inline;
}

.part .form-group .label-block > :nth-child(2) {
    font-weight: normal;
}

table.variable-list > tbody > tr > td {
    padding: 8px 0;
}
.variable-list .name, .variable-list .value-cell {
    padding-left: 8px;
    padding-right: 8px;
}
table.variable-list .value-cell {
    width: 100%;
}
table.variable-list .value-cell .value-wrapper {
  max-width: 100%;
  height: 1.5em;
  position: relative;
}

.lock-cell button.lock.locked {
    color: black;
}

.panel.variable-groups {
    max-height: max(30em, calc(100svh - 16em));
    overflow-y: auto;
    position: relative;
}

.panel.variable-groups .panel-heading {
    position: sticky;
    top: 0;
    z-index: 1;
}
.panel.variable-groups .panel-footer {
    position: sticky;
    bottom: 0;
    z-index: calc(var(--total) - var(--n));
}

.extensions {
    list-style: none;
}

.extension.error label {
    text-decoration: line-through;
}

.function .parameters {
    list-style: disc;
}

.function .parameters li {
    margin-bottom: 0.5em;
}

.function .parameters .type .form-control {
    display: inline-block;
    width: auto;
}

.resource img.thumbnail {
    max-width: 200px;
    max-height: 200px;
}

.variable-group-name {
    font-weight: bold;
}

.variable-list tbody.ko_container.empty {
    display: block;
    min-height: 3em;
    background: #fefbfb;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 1em;
}
.variable-selector {
    cursor: pointer;
}
.variable-selector .name {
    width: 40%;
    word-break: break-all;
}
.variable-selector .type {
    padding-right: 2em;
    color: #555;
    font-family: monospace;
    font-size: 0.8em;
    line-height: 1.25em;
    vertical-align: middle;
}
.variable-selector .value {
    text-align: left;
    display: inline-block;
    max-height: 1.5em;
    overflow-y: hidden;
    overflow-x: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    position: absolute;
    background: inherit;
    white-space: nowrap;
    width: 100%;
}
.variable-selector.error .value {
    color: red;
    font-weight: bold;
    max-height: none;
}
.variable-selector .value img {
    height: 100%;
}

.variable-selector .is-random {
    line-height: 1em;
    font-size: 13px;
}

.variable-reference {
    margin: 0.2em;
}
.value-preview > .value {
    overflow: auto;
    max-height: 50vh;
    white-space: pre-wrap;
}
.value-preview > h3 {
    margin: 0 0 0.5em 0;
    font-size: 1.1em;
    font-weight: bold;
}
.value-preview > h3 .type,
.value-preview > dl > dt .type {
    font-weight: normal;
}
.value-preview > dl > dd {
    margin-left: 2em;
    margin-bottom: 1em;
}

.empty-receiver * {
    opacity: 0;
}

.main-settings {
    margin-bottom: 8rem;
}

.jme-value {
    font-family: monospace;
}
.jme-value[data-jme-value-display="description"] {
    font-family: inherit;
}

.base-marking-algorithm pre {
  max-height: 20em;
  overflow-y: auto;
  margin-bottom: 1em;
}

.marking-test .answer-input {
    margin: 1em 0;
}
.marking-test .answer-input .form-group ~ .form-group {
    margin-top: 1em;
}

.marking-test .nav-tabs,
.unit-test .nav-tabs {
    margin-bottom: 1em;
}
.unit-test .passing-status {
    margin-right: 0.5em;
}

.marking-test input[disabled] {
    cursor: not-allowed;
}

.marking-test .variables .variable .name {
    cursor: pointer;
}

.marking-test .note:not(.show-note) .only-when-shown > * {
    display: none;
}
.marking-test .note:not(.show-note) {
    color: #555;
}
.marking-test .note.invalid {
    color: red;
}
.marking-test .note.invalid .name {
    text-decoration: wavy underline;
}
.marking-test .note:not(.show-note) > td {
    padding-top: 0;
    padding-bottom: 0;
}

.marking-test .note.show-note .name {
    font-weight: bold;
}

.table.notes col.name {
    width: 13em;
}
.table.notes col.feedback {
    min-width: 13em;
}
.table.notes .note .value {
    max-height: 5em;
    overflow-y: auto;
    overflow-x: hidden;
}

.next-parts .variable-replacements col.name {
    width: 12em;
}
.next-parts .variable-replacements col.controls {
    width: 4em;
}

.part-types .part-type button.use {
  text-align: start;
  width: 15em;
  white-space: normal;
}

#previewModal .modal-content {
    display: flex;
    max-height: 90vh;
    flex-direction: column;
}
#previewModal .modal-body {
    flex-grow: 1;
    overflow-y: auto;
}

.feedbackMessage {
    display: flex;
    grid-gap: 0.5em;
    justify-content: flex-end;
}

.feedbackMessage > .message {
    max-width: 100%;
    overflow-x: auto;
}

.feedbackMessage ~ .feedbackMessage {
    margin-top: 0.5em;
}

[data-credit-change="neutral"] .feedback-icon {
    visibility: hidden;
    width: 1em;
}

.last-run-error h5 {
    font-weight: bold;
}

.last-run-feedback h5 {
    font-weight: bold;
    font-size: 1.1em;
}
.last-run-feedback {
    text-align: right;
}

.marking-matrix {
    width: 100%;
    overflow-x: auto;
}
.marking-matrix > table {
    width: auto;
}
    

.all-part-unit-tests {
    width: initial;
}
.all-part-unit-tests .btn-link {
    padding: 0;
    color: inherit;
    vertical-align: baseline;
}
.all-part-unit-tests .btn-link .indent {
    display: inline-block;
    width: 3em;
}

.part-type-search {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 1em;
}

.part-type-search label {
    margin: 0;
}

.part > h3 {
    margin-top: 0;
}

.filename-input {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
