#question-name {
	font-size: 2em;
	height: 1.5em;
}

.question-author {
	font-weight: bold;
}

.editable-message {
	font-style: italic;
}

#rulesets {
	margin-top: 30px;
}

.extensions {
	list-style-type: none;
	margin-left: 0;
}
.extension {
	padding: 4px 0;
}

.extension input[type="checkbox"] {
	margin-top: 0;
}

.upload-extension {
    font-size: small;
    margin-bottom: 2em;
}

.tags form {
	margin-bottom: 0;
}

.tags ul {
    list-style: none;
    margin-left: 0;
	line-height: 2em;
}

.tag {
    display: inline-block;
    padding: 4px;
    margin: 2px 0;
}

.parts.nav {
	background: #eee;
	padding-bottom: 1em;
}
.parts.nav .subparts {
	background: white;
}

.parts.nav .delete {
	float:right;
	border-radius: 50%;
	background-color: white;
	margin-top: 4px;
}

.parts.nav .part {
	margin-bottom: 1em;
	position: relative;
}

.parts.nav > .part:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

.parts.nav .part .reorder {
    position: absolute;
    right: -2.5em;
}

.parts.nav .part .reorder button {
	padding: 6px;
	border: none;
	background: none no-repeat;
	height: 12px;
}

.parts.nav .part .reorder .up {
	background-image: url(../../images/arrow_up_12x12.png);
}

.parts.nav .part .reorder .down {
	background-image: url(../../images/arrow_down_12x12.png);
}

.gaps .addgap, .steps .addstep {
	text-align: right;
}

.part-edit:not(:last-child) {
	padding-bottom: 2em;
	margin-bottom: 2em;
	border-bottom: 3px dashed #888;
}

.part-edit .header {
	background-color: #eee;
	padding: 0 6px;
	border-radius: 6px;
	margin: 0 0 6px 0;
}

.part-edit .header .type {
	font-size: 1em;
	width: auto;
	height: auto;
	border: none;
	padding: 0;
	margin: 4px 0;
}

.part-edit .choices {
	list-style-type: none;
	margin-left: 0;
}

.part-edit .multiplechoice .marks {
	text-align: center;
}

.jme-answer {
	display: inline-block;
	padding: 5px;
}

.variable-groups {
	margin-bottom: 1em;
	max-height: 35em;
	overflow-y: auto;
}

.variable-group {
	margin-bottom: 1em;
	padding-bottom: 1em;
}
.variable-group .group-name {
	height: 1.8em;
}
.variable-group .group-name, .variable-group .group-name input {
	text-align: center;
}
.variable-group .group-name h4 {
	padding: 0.4em;
	margin: 0;
}
.variable-group.editable .group-name h4:hover {
	background-color: #f90;
	cursor: pointer;
}
.variable-group form {
	margin: 0;
}

.variable-group .add-variable:hover {
	background-color: #f90;
}
.variable-group .add-variable {
	background: none;
	border: none;
	padding: 3px;
}
.variable-group .add-variable .icon {
	background: url(../../images/plus_16x16.png);
	display: inline-block;
	margin-right: 0.5em;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.variable-group .group-name button.sort {
	float: left;
	margin: 0.6em 0.5em;
	background: transparent url(../../images/sort-ascending-2x.png) no-repeat;
	width: 16px;
	height: 16px;
	border:none;
	padding: 0;
}
.variable-group .group-name button.delete {
	float: right;
	margin: 0.6em 0.5em;
}

.variable-list {
	width: 100%;
	margin: 1em 0;
	position: relative;
	min-height: 3em;
}

.variable-list th.name {
	text-align: left;
}

.variable-list th.value {
	text-align: right;
}

.variable-list tbody.ko_container.empty {
	display: block;
	min-height: 1.5em;
	border: 1px dashed #ccc;
	width: 100%;
	position: absolute;
    box-sizing: border-box;
}

.variable-list .placeholder {
	background-color: #eee;
	display: block;
}

.variable-list .delete-cell {
    text-align: right;
    padding: 0;
}
.variable-list .delete {
    margin-left: 0;
}

input.recalculate-checkbox {
	margin-right: 1em;
}


.variable-selector:hover, .variable-selector.current:hover, .variable-selector.dependency:hover, .variable-selector.ui-sortable-helper {
	background-color: #f90;
	cursor: pointer;
}

.variable-selector {
	border-bottom: 1px dashed #bbb;
}

.variable-selector.current {
	background-color: #08c;
	color: #fff;
}

/*
.variable-selector.dependency {
	background-color: #95dcff;
}
*/

.variable-selector td {
	padding: 0.3em 0.5em;
}

.variable-selector .name {
	font-family: monospace;
	word-break: break-all;
	width: 35%;
}

.variable-selector.current .name, .variable-selector.dependency .name {
	font-weight: bold;
}

.variable-selector .name-error {
	text-decoration: underline;
	color: red;
	font-style: italic;
	font-weight: bold;
}

.variable-selector.noname .name {
    font-family: inherit;
    font-weight: bold;
}

.variable-selector .value-cell {
	text-align: right;
    max-width: 8em;
    overflow-x: auto;
}

.variable-selector .value {
	text-align: left;
	display: inline-block;
	max-height: 5em;
	overflow-y: hidden;
	overflow-x: hidden;
}

.variable-selector.error .value {
	color: red;
	font-weight: bold;
	max-height: none;
}

.variable {
	padding-bottom: 1em;
}

.variable .control-label {
    width: 70px;
}
.variable .controls {
    margin-left: 90px;
}

.variable button.delete {
	float: right;
}

.variable .name-error {
	color: red;
	font-style: italic;
}

.variable .value-error {
	margin-top: 1em;
}

.variable .inline-names {
	margin: 1em 0;
}

.variable .inline-names ul {
    display: inline;
    margin: 0;
}
.variable .inline-names li {
    display: inline-block;
}
.variable .inline-names .variable {
    font-family: monospace;
    font-size: 1.3em;
    background-color: #eee;
    padding: 0 2px;
    border-radius: 3px;
    border: 1px solid #ddd;
}
.variable .inline-names .variable:hover {
    background-color: #f90;
    cursor: pointer;
}

.variables-test {
	margin: 1em 0;
}

.variables-test .error {
    color: red;
    background: #fcc;
    display: inline-block;
    padding: 0.3em 0.5em;
    vertical-align: middle;
	margin-bottom: 0.5em;
}


.function {
	margin-bottom: 1em;
}

.function .parameter .name {
	width: 50px;
}
.function .parameter .type {
	width: 120px;
}

.function .error {
    color: red;
    background: #fcc;
    display: inline-block;
    padding: 0.3em 0.5em;
    vertical-align: middle;
}

.ruleset .rules {
	display: inline-block;
}
.ruleset .control-label {
	padding-top: 0;
}

.variable.ui-sortable-helper {
	border: 1px solid #ccc;
	background: #f4f4ee;
}

.matrix {
	overflow:auto;
}

#imagePickModal .resource {
	cursor: pointer;
}
#imagePickModal .resource:hover {
	background: #acdeff;
}

.resource:not(:last-child) {
    margin-bottom: 1em
}

.resource .thumbnail {
    max-width: 100px;
    max-height: 100px;
    float: left;
    margin-right: 1em;
}

.resource .path {
    font-family: monospace;
}

.copy-part {
	float: right;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	margin-top: 0.25em;
}
.part-edit .header .helplink {
	margin-top: 0.5em;
}
