#admin {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 24px;
}

#question-name {
	font-size: 2em;
	height: 1.5em;
}

#rulesets {
	margin-top: 30px;
}

.parts .delete {
	float:right;
	border-radius: 50%;
	background-color: white;
	margin-top: 4px;
}

.part:not(:last-child) {
	padding-bottom: 2em;
	margin-bottom: 2em;
	border-bottom: 3px dashed #888;
}

.part .header {
	background-color: #eee;
	padding: 0 6px;
	border-radius: 6px;
	margin: 0 0 6px 0;
}

.part .header .type {
	font-size: 1em;
	width: auto;
	height: auto;
	border: none;
	padding: 0;
	margin: 4px 0;
}

.part .choices {
	list-style-type: none;
	margin-left: 0;
}

.jme-answer {
	display: inline-block;
	padding: 5px;
}

.variable button.delete {
	float: right;
}


/* OLD 
#admin #delete form {
	display: none;
}

.question > * > .fold {
	background: #f5f5ff;
	padding-right:1em;
}

.question > * > button.delete, .part > * > button.delete, .function > * > button.delete {
	position: absolute;
	left: -2em;
	top: 1em;
}

.part {
    position: relative;
}
.part .reorder {
    position: absolute;
    left: -2em;
    top: 3em;
}

.part .reorder button {
	padding: 6px;
	border: none;
	background: none no-repeat;
}

.part .reorder .up {
	background-image: url(../../images/arrow_up_12x12.png);
}

.part .reorder .down {
	background-image: url(../../images/arrow_down_12x12.png);
}

.part > * > .fold {
	background: #f5fff5;
}

.variables {
	width: 100%;
}

.variables th {
	text-align: center;
}

.variables tr.controls {
	text-align: center;
}

.variable.ui-sortable-helper {
	border: 1px solid #ccc;
	background: #f4f4ee;
}

.variable .value {
	overflow-x: auto;
}

.variable .handlecol {
	width: 50px;
}

.ruleset .name {
	width: 100px;
}

.function .parameters .list {
	float: right;
}

.function .parameters .addparameter {
	clear: both;
	float: right;
}

.function .definition {
	width: 40em;
}

.function .error {
    color: red;
    background: #fcc;
    display: inline-block;
    padding: 0.3em 0.5em;
    vertical-align: middle;
}

table.multiplechoice {
	width:auto;
	margin-left:2em;
}

.matrix {
	overflow:auto;
}

table.multiplechoice th {
	background: #c3d9ff;
}

.choice td, .choice th {
	text-align: center;
	padding: 0 0.5em 0 0.5em;
	border-bottom: #ccc 1px solid;
	overflow-x: auto;
    overflow-y: auto;
}

ul.choices {
	list-style:none;
}

.jme-answer {
	margin-bottom: 0.5em;
}

.definition code {
    background: white;
    display: block;
    clear: both;
    padding: 0.5em 1em;
    max-width: 700px;
    white-space: pre;
    overflow-x: auto;
}

input.marks {
	text-align: center;
}

.part.m_n_x input.marks {
	width: 100%;
}

.choice {
	margin-bottom: 0.5em;
}
*/
