.description {
}

.question-list h3 a {
	color: inherit;
}

.question-list ol {
    list-style: none;
	margin-bottom: 1em;
}

.favourites {
	margin-bottom: 2em;
}

.question:not(:last-child) {
	border-bottom: 1px solid #eee;
}

.question .admin {
	float: right;
}

.question .name {
    font-weight: bold;
}
.question .picked-by {
    font-style: italic;
    font-size: 0.9em;
    margin-left: 0.5em;
	display: block;
	text-align: right;
}
.question .header {
    margin: 1em 0;
}
