.variable .def {
	text-align: left;
    word-wrap: break-word;
    max-height: 8em;
	overflow-x: auto;
    overflow-y: auto;
}

.tags {
    display: inline;
   	list-style: none;
    padding: 0;
	margin: 0;
	background: inherit !important;
	line-height: 24px;
}

.tag {
    display: inline-block;
    margin-right: 0.4em;
	background: white;
	padding: 3px;
	font-family: monospace;
}

li.choice  {
    margin-right: 10px;
}

.function .definition .code {
    border: #ccc 1px solid;
}

.function .parameters .list {
	float: right;
	margin-bottom: 0.5em;
}

.function .parameters .list {
	margin-bottom: 0.5em;
    border-bottom: #ccc 1px solid;
}

.function .parameters .list th,td{
    padding: 0 0.5em 0 0.5em;
}

.function .parameters .list td.type {
    border-left: #ccc 1px dashed;
}

.editlist.normal > li {
	background-color: #eee;
	line-height: 1.5em;
	position: relative;
	padding-right: 2em;
}

.jmestrings {
    display: inline;
    list-style: none;
    padding: 0px;
}

.jmestrings li{
    display: inline;
    padding-right: 2em;
}

.part-edit ul.choices, .part-edit ul.answers {
	list-style-type: decimal;
	margin-left: 25px;
}
