.page-header {
    display: grid;
    grid-template: "name save-status" / 1fr 12em;
    align-items: baseline;
}
.name-header .glyphicon {
    margin-right: 0.2em;
}
choice-maker .form-group {
    display: flex;
}
choice-maker .form-group label {
    flex-grow: 1;
}
.marking-notes .list-group-item.danger {
    background: #ebcccc;
    color: #222;
}
