{% extends "editable_package/edit_base.html" %}
{% load editable_package %}

{% block package_edit_content %}
    <form action="{% package_url 'delete_file' object.pk %}" method="POST">
        {% csrf_token %}
        {{form}}
        <p>Are you sure you'd like to delete the file <code>{{filename}}</code>?</p>
        <p><strong>It will not be possible to recover this file after it is deleted.</strong></p>
        <div>
            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button>
            <a href="{% package_url 'edit_source' object.pk %}?filename={{filename}}">Cancel</a>
        </div>
    </form>
{% endblock %}

