{% extends "editable_package/edit_base.html" %}
{% load helplink %}
{% load editable_package %}
{% load sstatic %}

{% block body_classes %}fill-viewport{% endblock %}

{% block package_edit_content %}
{% if not path.is_dir %}
    <div id="toolbar">
        {% if editable %}
            {% if not is_image and not is_binary %}
                <button type="submit" class="btn btn-primary" id="save" form="save-file">
                    <span class="glyphicon glyphicon-save"></span>
                    Save
                </button>
                <button id="replace" type="button" class="btn btn-default"  data-toggle="modal" data-target="#replace-file-modal">
                    <span class="glyphicon glyphicon-upload"></span>
                    Replace
                </button>
            {% endif %}

            {% if exists %}
            <a id="download" class="btn btn-link" href="{{file_url}}" download="{{filename_without_directories}}"><span class="glyphicon glyphicon-download"></span> Download this file</a>
            {% endif %}

            <p id="file-info">
                <span class="filename">
                   {% if editable %}Editing {% endif %}<code>{{filename}}</code>
                    {% if not exists %} (new file){% endif %}.
                </span>
                {% if exists %}
                    <span class="last-modified">Last modified <time>{{last_modified}}</time></span>
                {% endif %}
                {% if filename == object.readme_filename %}
                    <span class="help-block help-block-inline">
                        This file contains the <a href="{% package_url 'documentation' object.pk %}">documentation for this {{object.package_noun}}</a>.
                    </span>
                {% endif %}
                {% if filename == object.main_filename and object.package_noun == 'extension' %}
                    <span class="help-block help-block-inline">
                        This is the main script file for this extension.
                    </span>
                {% endif %}
                {% if fileext == '.js' %}
                    <span class="help-block help-block-inline">
                        <a class="helplink text-info" target="numbasquickhelp" href="{{HELP_URL}}javascript-api.html"><span class="glyphicon glyphicon-question-sign"></span> Help with the JavaScript API</a>
                    </span>
                {% endif %}
            </p>
            <a id="delete" class="btn btn-danger pull-right" href="{% package_url 'delete_file' object.pk %}?filename={{filename}}">
                <span class="glyphicon glyphicon-remove"></span>
                Delete
            </a>
        {% else %}
            <p><strong>You may not edit this file.</strong></p>
        {% endif %}
    </div>

    <form action="{% package_url 'edit_source' form.instance.pk %}" method="POST" id="save-file">
    {% if is_image %}
        {% if exists %}
            <a href="{{file_url}}" download="{{filename_without_directories}}"><img class="image-file thumbnail" src="{{file_url}}"></a>
        {% endif %}
    {% else %}
        {% if not is_binary %}
            {% if form.errors %}
                {% for error_group in form.errors.values %}
                    {% for error in error_group %}
                        <div class="alert alert-danger">
                            <p>{{error}}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% csrf_token %}
            {% for field in form %}
                {{field}}
            {% endfor %}
        {% else %}
            <p>This is a binary file.</p>
        {% endif %}
    {% endif %}
    </form>
{% endif %}
{% endblock package_edit_content %}

{% block javascripts %}
    {{block.super}}

    {% if not path.is_dir %}
    <script>
        var filename = "{{filename}}";
        var editable = {% if editable %}true{% else %}false{% endif %};
    </script>
    <script src="{% sstatic 'js/editable_package/edit_source.js' %}"></script>
    {% endif %}
{% endblock %}

{% block modals %}
    {{ block.super }}
    <div class="modal fade" tabindex="-1" role="dialog" id="replace-file-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Replace this file</h4>
                </div>
                <div class="modal-body">
                    <form action="{% package_url 'replace_file' object.pk %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            {{replace_form.content}}
                        </div>
                        {{replace_form.filename}}
                        <button type="submit" class="btn btn-primary" id="save">
                            <span class="glyphicon glyphicon-upload"></span>
                            Replace this file
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock modals %}
