{% extends "editable_package/edit_base.html" %}
{% load helplink %}
{% load editable_package %}
{% load static %}

{% block package_edit_content %}
    <p class="file-info">
        {% if editable %}Editing {% endif %}<code>{{filename}}</code>
        {% if not exists %} (new file){% endif %}.
        {% if exists %}Last modified {{last_modified}}{% endif %}
        {% if filename == object.readme_filename %}
            <span class="help-block help-block-inline">
                This file contains the <a href="{% package_url 'documentation' object.pk %}">documentation for this {{object.package_noun}}</a>.
            </span>
        {% endif %}
        {% if filename == object.main_filename and object.package_noun == 'extension' %}
            <span class="help-block help-block-inline">
                This is the main script file for this extension.
            </span>
        {% endif %}
        {% if fileext == '.js' %}
            <span class="help-block help-block-inline">
                <a class="helplink text-info" target="numbasquickhelp" href="{{HELP_URL}}javascript-api.html"><span class="glyphicon glyphicon-question-sign"></span> Help with the JavaScript API</a>
            </span>
        {% endif %}
        {% if exists %}
        <a href="{{file_url}}" download="{{filename_without_directories}}">Download this file</a>.
        {% endif %}
    </p>

    {% if is_image %}
        {% if exists %}
            <a href="{{file_url}}" download="{{filename_without_directories}}"><img class="image-file thumbnail" src="{{file_url}}"></a>
        {% endif %}
    {% else %}
        {% if not is_binary %}
            <form action="{% package_url 'edit_source' form.instance.pk %}" method="POST">
                {% csrf_token %}
                {% if editable %}
                <div class="form-group">
                    <button type="submit" class="btn btn-default" id="save">
                        <span class="glyphicon glyphicon-save"></span>
                        Save
                    </button>
                    {% if exists %}
                    <a class="btn btn-danger pull-right" href="{% package_url 'delete_file' object.pk %}?filename={{filename}}">
                        <span class="glyphicon glyphicon-remove"></span>
                        Delete
                    </a>
                    {% endif %}
                </div>
                {% else %}
                <p>
                    <strong>You may not edit this file.</strong>
                </p>
                {% endif %}
                {% for field in form %}
                    <div class="form-group">
                        {{field}}
                    </div>
                {% endfor %}
            </form>
        {% else %}
            <p>This is a binary file.</p>
        {% endif %}

        <hr>
    {% endif %}

    <form action="{% package_url 'replace_file' form.instance.pk %}" method="POST" enctype="multipart/form-data">
        <h2>{% if exists %}Replace this file{% else %}Upload this file{% endif %}</h2>
        {% csrf_token %}
        <div class="form-group">
            {{replace_form.content}}
        </div>
        {{replace_form.filename}}
        <button type="submit" class="btn btn-primary" id="save">
            <span class="glyphicon glyphicon-save"></span>
            Save
        </button>
    </form>
{% endblock package_edit_content %}

{% block stylesheets %}
    {{block.super}}
    <style>
        .file-info .help-block {
            margin: 0 0 0 1em;
        }
        .image-file {
            max-height: 50vh;
        }
    </style>
{% endblock stylesheets %}

{% block javascripts %}
    {{block.super}}
    <script>

    var filename = "{{filename}}";
    var editable = {% if editable %}true{% else %}false{% endif %};

    window.addEventListener('DOMContentLoaded',function() {
        var source_element = document.getElementById('id_source');
        var extension = filename.match(/\.(.*)$/);
        extension = extension ? extension[1] : 'js';
        var modes = {
            'js': 'javascript',
            'jme': 'jme',
            'cpt': 'jme',
            'md': 'markdown',
            'html': 'htmlmixed',
            'css': 'css'
        }
        var mc = CodeMirror.fromTextArea(source_element,{
            lineNumbers: true,
            styleActiveLine: true,
            matchBrackets: true,
            mode: modes[extension] || 'javascript',
            indentWithTabs: false,
            indentUnit: 2,
            lineWrapping: Editor.wrapLines,
            readOnly: !editable
        });

        mc.on('change',function() {
            var save_button = document.getElementById('save');
            save_button.classList.remove('btn-default');
            save_button.classList.add('btn-primary');
        });
    });
    </script>
{% endblock %}
