import os, site, sys
site.addsitedir('/path/to/virtualenv/lib/python2.7/site-packages')
sys.path.append('/srv/www/numbas_editor')
os.environ['DJANGO_SETTINGS_MODULE'] = 'numbas.settings'

from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()
